{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="pt-4">{% translate "Hébergement" %}</h3>
<ul>
    <li>
        {% if access.accueil_chambre_nombre_accessibles %}
            {% if access.access.accueil_chambre_nombre_accessibles == 1 %}
                {% translate "Au moins une chambre accessible à une personne en fauteuil roulant" %}
            {% else %}
                {% blocktranslate with nb=access.accueil_chambre_nombre_accessibles %}
      {{ nb }} chambres accessibles à une personne en fauteuil roulant
    {% endblocktranslate %}
            {% endif %}
        {% else %}
            {{ "accueil_chambre_nombre_accessibles"|negative_text }}
        {% endif %}
    </li>
    {% if access.accueil_chambre_douche_plain_pied or access.accueil_chambre_douche_siege or access.accueil_chambre_douche_barre_appui %}
        <li>
            {% access_text "accueil_chambre_douche_plain_pied" access as plain_pied_text %}
            {% access_text "accueil_chambre_douche_siege" access as siege_text %}
            {% access_text "accueil_chambre_douche_barre_appui" access as appui_text %}
            {% blocktranslate with type=plain_pied_text siege=siege_text|lower appui=appui_text|lower %}
      {{ plain_pied_text }} {{ siege }} et {{ appui }}{% endblocktranslate %}
        </li>
    {% endif %}
    {% if access.accueil_chambre_sanitaires_barre_appui or access.accueil_chambre_sanitaires_espace_usage %}
        <li>
            {% access_text "accueil_chambre_sanitaires_espace_usage" access as espace_text %}
            {% access_text "accueil_chambre_sanitaires_barre_appui" access as appui_text %}
            {% blocktranslate with espace=espace_text|lower appui=appui_text|lower %}
      Toilettes {{ espace }} et {{ appui }}{% endblocktranslate %}
        </li>
    {% endif %}
    {% render_access_value "accueil_chambre_numero_visible" access %}
    {% render_access_value "accueil_chambre_equipement_alerte" access %}
    {% render_access_value "accueil_chambre_accompagnement" access %}
</ul>
