{% load a4a %}
{% load i18n %}
{% if reperage %}
    {% if main_courante_data %}
        {% blocktranslate trimmed with reperage_marches="cheminement_ext_reperage_marches"|positive_text main_courante="cheminement_ext_main_courante"|positive_text|lower %}
            {{ reperage_marches }} et {{ main_courante }}
        {% endblocktranslate %}
    {% else %}
        {% blocktranslate trimmed with reperage_marches="cheminement_ext_reperage_marches"|positive_text main_courante="cheminement_ext_main_courante"|negative_text|lower %}
            {{ reperage_marches }} et {{ main_courante }}
        {% endblocktranslate %}
    {% endif %}
{% else %}
    {% if main_courante_data %}
        {% blocktranslate trimmed with reperage_marches="cheminement_ext_reperage_marches"|negative_text main_courante="cheminement_ext_main_courante"|positive_text|lower %}
            {{ reperage_marches }} et {{ main_courante }}
        {% endblocktranslate %}
    {% else %}
        {% blocktranslate trimmed with reperage_marches="cheminement_ext_reperage_marches"|negative_text main_courante="cheminement_ext_main_courante"|negative_text|lower %}
            {{ reperage_marches }} et {{ main_courante }}
        {% endblocktranslate %}
    {% endif %}
{% endif %}
