{% load a4a %}
{% load i18n %}
{% if nb_marches %}
    {% if reperage is True %}
        {% blocktranslate trimmed count nb_marches=nb_marches asvar reperage_marches %}
            Marche sécurisée
        {% plural %}
            Marches sécurisées
        {% endblocktranslate %}
    {% elif reperage is False %}
        {% blocktranslate trimmed count nb_marches=nb_marches asvar reperage_marches %}
            Marche non sécurisée
        {% plural %}
            Marches non sécurisées
        {% endblocktranslate %}
    {% endif %}
    {% if main_courante_data is True %}
        {% blocktranslate trimmed count nb_marches=nb_marches asvar main_courante %}
            équipée d'une ou plusieurs mains courantes
        {% plural %}
            équipées d'une ou plusieurs mains courantes
        {% endblocktranslate %}
    {% elif main_courante_data is False %}
        {% blocktranslate trimmed count nb_marches=nb_marches asvar main_courante %}
            non équipée de main courante
        {% plural %}
            non équipées de main courante
        {% endblocktranslate %}
    {% endif %}
{% else %}
    {% if reperage is True %}
        {% blocktranslate trimmed asvar reperage_marches %}
            Marche(s) sécurisée(s)
        {% endblocktranslate %}
    {% elif reperage is False %}
        {% blocktranslate trimmed asvar reperage_marches %}
            Marche(s) non sécurisée(s)
        {% endblocktranslate %}
    {% endif %}
{% endif %}
{% if reperage_marches %}
    <li data-filters="visual,walking">
        {% if main_courante %}
            {% blocktranslate trimmed with main_courante=main_courante %}
                {{ reperage_marches }} et {{ main_courante }}
            {% endblocktranslate %}
        {% else %}
            {% blocktranslate trimmed %}
                {{ reperage_marches }}
            {% endblocktranslate %}
        {% endif %}
    </li>
{% endif %}
