{% load a4a %}
{% load static %}
{% load i18n %}
<h2 class="fr-accordion__title" data-filter-title="true">
    <button type="button"
            class="fr-accordion__btn"
            aria-expanded="false"
            aria-controls="access_parking_controls">{% translate "Transport et stationnement" %}</button>
</h2>
{% spaceless %}
    <div id="access_parking_controls"
         class="fr-collapse text--long-words fr-py-0">
        <ul>
            {% if access.transport_bureau_de_vote_accessibilite %}
                <li data-filters="walking">
                    {{ "transport_bureau_de_vote_accessibilite"|positive_text }}
                    {% if access.transport_information %}
                        :
                        <div class="a4a-comment-block">
                            <p>{{ access.transport_information|linebreaksbr }}</p>
                        </div>
                    {% endif %}
                </li>
            {% elif access.transport_bureau_de_vote_accessibilite is False %}
                <li data-filters="walking">{{ "transport_bureau_de_vote_accessibilite"|negative_text }}</li>
            {% endif %}
            {% if access.transport_station_presence %}
                <li data-filters="all">
                    {{ "transport_station_presence"|positive_text }}
                    {% if access.transport_information %}
                        :
                        <div class="a4a-comment-block">
                            <p>{{ access.transport_information|linebreaksbr }}</p>
                        </div>
                    {% endif %}
                </li>
            {% elif access.transport_station_presence is False %}
                <li data-filters="all">{{ "transport_station_presence"|negative_text }}</li>
            {% endif %}
            {% if access.stationnement_presence %}
                {% if access.stationnement_pmr %}
                    <li data-filters="all">{{ "stationnement_pmr"|positive_text }}</li>
                {% else %}
                    <li data-filters="all">{{ "stationnement_presence"|positive_text }}</li>
                {% endif %}
            {% elif access.stationnement_presence is False %}
                <li data-filters="all">{{ "stationnement_presence"|negative_text }}</li>
            {% endif %}
            {% if access.stationnement_ext_presence %}
                {% if access.stationnement_ext_pmr %}
                    <li data-filters="all">{{ "stationnement_ext_pmr"|positive_text }}</li>
                {% else %}
                    <li data-filters="all">{{ "stationnement_ext_presence"|positive_text }}</li>
                {% endif %}
            {% elif access.stationnement_ext_presence is False %}
                <li data-filters="all">{{ "stationnement_ext_presence"|negative_text }}</li>
            {% endif %}
        </ul>
    </div>
{% endspaceless %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => {
        dsfr(document.getElementById('access_parking_controls')).collapse.disclose()
    }, 0)
  })
</script>
