<!-- DEPRECATED_ERP_DETAIL_V2 -->
{% load a4a %}
{% load static %}
{% load i18n %}
{% if erp.metadata.centre_vaccination %}
    <section id="vaccination">
        {% include "erp/includes/vaccination.html" %}
    </section>
{% endif %}
{% if has_th %}
    <section id="tourisme_handicap" class="mb-5 row">
        <div class="col-3 pr-0" style="min-width: 120px;">
            <img src="{% static 'img/labels/th.jpg' %}"
                 width="120"
                 alt="Tourisme & Handicap">
        </div>
        <div class="col-8 pl-1 pt-4">
            {% translate "Ce bâtiment est labellisé Tourisme et handicap" %}
            {% if th_labels %}
                {% translate "pour les familles de handicap suivantes :" %} {{ th_labels|join:", " }}
            {% endif %}
            .
        </div>
    </section>
{% endif %}
{% for section, info in accessibilite_data.items %}
    {% if info.fields %}
        <section id="{{ info.tabid }}" class="mb-5">
            <h2 class="h5 mb-0 pb-1 border-bottom font-weight-bold">
                <i aria-hidden="true" class="icon icon-{{ info.icon }} mr-1"></i>
                {{ section }}
                <small class="text-muted">{{ info.description }}</small>
            </h2>
            {% include "erp/includes/fields.html" with fields=info.fields %}
        </section>
    {% endif %}
{% endfor %}
