{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="pt-2 fr-h6 mb-0" data-filter-title="true">
    <i aria-hidden="true" class="icon icon-bus mr-1 larger-font"></i>{% translate "Transport et stationnement" %}
</h3>
{% spaceless %}
    <ul>
        {% if access.transport_station_presence %}
            <li data-filters="all">
                {{ "transport_station_presence"|positive_text }}
                {% if access.transport_information %}
                    :
                    <div class="a4a-comment-block">
                        <p>{{ access.transport_information|linebreaksbr }}</p>
                    </div>
                {% endif %}
            </li>
        {% elif access.transport_station_presence is False %}
            <li data-filters="all">{{ "transport_station_presence"|negative_text }}</li>
        {% endif %}
        {% if access.stationnement_presence %}
            {% if access.stationnement_pmr %}
                <li data-filters="all">{{ "stationnement_pmr"|positive_text }}</li>
            {% else %}
                <li data-filters="all">{{ "stationnement_presence"|positive_text }}</li>
            {% endif %}
        {% elif access.stationnement_presence is False %}
            <li data-filters="all">{{ "stationnement_presence"|negative_text }}</li>
        {% endif %}
        {% if access.stationnement_ext_presence %}
            {% if access.stationnement_ext_pmr %}
                <li data-filters="all">{{ "stationnement_ext_pmr"|positive_text }}</li>
            {% else %}
                <li data-filters="all">{{ "stationnement_ext_presence"|positive_text }}</li>
            {% endif %}
        {% elif access.stationnement_ext_presence is False %}
            <li data-filters="all">{{ "stationnement_ext_presence"|negative_text }}</li>
        {% endif %}
    </ul>
{% endspaceless %}
