{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="pt-4">{% translate "Accueil" %}</h3>
<ul>
    {% render_access_value "accueil_visibilite" access %}
    <li>
        {% if access.accueil_cheminement_plain_pied %}
            {{ "accueil_cheminement_plain_pied"|positive_text }}
        {% else %}
            {% include "erp/includes/access_stairs.html" with steps_direction=access.accueil_cheminement_sens_marches nb_steps=access.accueil_cheminement_nombre_marches %}
        {% endif %}
    </li>
    <li>
        {% include "erp/includes/access_steps.html" with main_courante_data=access.accueil_cheminement_main_courante reperage=access.accueil_cheminement_reperage_marches %}
    </li>
    {% render_access_value "accueil_cheminement_rampe" access %}
    {% if access.accueil_cheminement_ascenseur %}<li>{{ "accueil_cheminement_ascenseur"|positive_text }}</li>{% endif %}
    {% render_access_value "accueil_retrecissement" access %}
    {% if access.accueil_personnels %}
        <li>{{ access.get_accueil_personnels_display }}</li>
        {% if access.accueil_audiodescription %}
            <li>{{ access.get_accueil_audiodescription_display }}</li>
        {% else %}
            <li>{{ "accueil_audiodescription_presence"|negative_text }}</li>
        {% endif %}
    {% endif %}
    {% if access.accueil_equipements_malentendants_presence %}
        {% if access.accueil_equipements_malentendants %}
            {% for equipment in access.accueil_equipements_malentendants %}<li>{{ equipment|title }}</li>{% endfor %}
        {% else %}
            <li>{{ "accueil_equipements_malentendants_presence"|positive_text }}</li>
        {% endif %}
    {% else %}
        <li>{{ "accueil_equipements_malentendants_presence"|negative_text }}</li>
    {% endif %}
    <li>
        {% if access.sanitaires_presence %}
            {% if access.sanitaires_adaptes %}
                {% translate "Toillettes PMR" %}
            {% else %}
                {% translate "Toillettes classiques" %}
            {% endif %}
        {% else %}
            {{ "sanitaires_presence"|negative_text }}
        {% endif %}
    </li>
</ul>
