{% load a4a %}
{% load static %}
{% load i18n %}
<h4 class="pt-2 h4" data-filter-title="true">
    <i aria-hidden="true" class="icon icon-paperclip mr-1 larger-font"></i>{% translate "Registre d'accessibilité et conformité" %}
</h4>
<ul>
    {% if access.registre_url %}
        <li data-filters="all">
            {% translate "Registre disponible" %} : <a href="{{ access.registre_url }}">{{ access.registre_url }}</a>
        </li>
    {% endif %}
    {% if access.conformite %}<li data-filters="all">{{ "conformite"|positive_text }}</li>{% endif %}
</ul>
