{% load a4a %}
{% load i18n %}
{% if nb_steps %}
    {% if steps_direction %}
        {% blocktranslate trimmed count nb=nb_steps with sens=steps_direction extra_context=extra_context %}
            Présence de {{ nb }} marche {{ sens }} {{ extra_context }}
        {% plural %}
            Présence de {{ nb }} marches {{ sens }} {{ extra_context }}
        {% endblocktranslate %}
    {% else %}
        {% blocktranslate trimmed count nb=nb_steps with extra_context=extra_context %}
            Présence de {{ nb }} marche {{ extra_context }}
        {% plural %}
            Présence de {{ nb }} marches {{ extra_context }}
        {% endblocktranslate %}
    {% endif %}
{% else %}
    {% if steps_direction %}
        {% blocktranslate trimmed with sens=steps_direction extra_context=extra_context %}
            Présence d'une ou plusieurs marches {{ sens }} {{ extra_context }}
        {% endblocktranslate %}
    {% else %}
        {% blocktranslate trimmed with extra_context=extra_context %}
            Présence d'une ou plusieurs marches {{ extra_context }}
        {% endblocktranslate %}
    {% endif %}
{% endif %}
