{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="fr-h5 fr-mb-1w" data-filter-title="true">{% translate "Registre d'accessibilité et conformité" %}</h3>
<div>
    <ul class="fr-pl-4w">
        {% if access.registre_url %}
            <li data-filters="all">
                {% translate "Registre disponible" %} : <a href="{{ access.registre_url }}">{{ access.registre_url }}</a>
            </li>
        {% endif %}
        {% if access.conformite %}<li data-filters="all">{{ "conformite"|positive_text }}</li>{% endif %}
    </ul>
</div>
