{% load a4a %}
{% load static %}
{% load i18n %}
<h2 class="fr-accordion__title" data-filter-title="true">
    <button type="button"
            class="fr-accordion__btn"
            aria-expanded="true"
            aria-controls="access_reception">{% translate "Accueil et équipement" %}</button>
</h2>
{% spaceless %}
    <div id="access_reception" class="fr-collapse">
        <ul>
            {% render_access_value "accueil_visibilite" access "all" %}
            {% if access.accueil_isoloir_accessibilite %}
                <li data-filters="walking">{{ "accueil_isoloir_accessibilite"|positive_text }}</li>
            {% elif access.accueil_isoloir_accessibilite is False %}
                <li data-filters="walking">{{ "accueil_isoloir_accessibilite"|negative_text }}</li>
            {% endif %}
            {% if access.accueil_urne_accessibilite %}
                <li data-filters="walking">{{ "accueil_urne_accessibilite"|positive_text }}</li>
            {% elif access.accueil_urne_accessibilite is False %}
                <li data-filters="walking">{{ "accueil_urne_accessibilite"|negative_text }}</li>
            {% endif %}
            {% if access.accueil_cheminement_plain_pied %}
                <li data-filters="walking,visual">{{ "accueil_cheminement_plain_pied"|positive_text }}</li>
            {% elif access.accueil_cheminement_plain_pied is False %}
                {% translate "pour atteindre l'accueil" as extra_context %}
                <li data-filters="walking,visual">
                    {% include "erp/includes/access_stairs.html" with steps_direction=access.get_reception_steps_direction_text nb_steps=access.accueil_cheminement_nombre_marches extra_context=extra_context %}
                </li>
            {% endif %}
            {% include "erp/includes/access_steps.html" with nb_marches=access.accueil_nombre_marches main_courante_data=access.accueil_cheminement_main_courante reperage=access.accueil_cheminement_reperage_marches %}
            {% if access.has_ramp_reception %}
                <li data-filters="walking">
                    {% blocktranslate trimmed with sentence="entree_marches_rampe"|positive_text rampe=access.accueil_cheminement_rampe %}
                        {{ sentence }} {{ rampe }}
                    {% endblocktranslate %}
                </li>
            {% elif access.accueil_cheminement_rampe == "aucune" %}
                <li data-filters="walking">{{ "accueil_cheminement_rampe"|negative_text }}</li>
            {% endif %}
            {% if access.accueil_cheminement_ascenseur_pmr %}
                <li data-filters="walking,understand">{{ "accueil_cheminement_ascenseur_pmr"|positive_text }}</li>
            {% elif access.accueil_cheminement_ascenseur_pmr is False %}
                <li data-filters="walking,understand">{{ "accueil_cheminement_ascenseur_pmr"|negative_text }}</li>
            {% else %}
                {% if access.accueil_cheminement_ascenseur %}
                    <li data-filters="walking,understand">{{ "accueil_cheminement_ascenseur"|positive_text }}</li>
                {% elif access.accueil_cheminement_ascenseur is False %}
                    <li data-filters="walking,understand">{{ "accueil_cheminement_ascenseur"|negative_text }}</li>
                {% endif %}
            {% endif %}
            {% render_access_value "accueil_retrecissement" access "walking" %}
            {% if access.accueil_personnels %}<li data-filters="all">{{ access.get_accueil_personnels_display }}</li>{% endif %}
            {% if access.accueil_audiodescription_presence %}
                <li data-filters="visual">
                    {% if access.accueil_audiodescription %}
                        {% blocktranslate trimmed with equipements=access.get_accueil_audiodescription_text %}
                            Audiodescription : {{ equipements }}
                        {% endblocktranslate %}
                    {% else %}
                        {{ "accueil_audiodescription_presence"|positive_text }}
                    {% endif %}
                </li>
            {% elif access.accueil_audiodescription_presence is False %}
                <li data-filters="visual">{{ "accueil_audiodescription_presence"|negative_text }}</li>
            {% endif %}
            {% if access.accueil_equipements_malentendants_presence %}
                {% if access.accueil_equipements_malentendants %}
                    <li data-filters="hearing">
                        {{ "accueil_equipements_malentendants_presence"|positive_text }} : {{ access.get_accueil_equipements_malentendants_text|join:", " }}
                    </li>
                {% else %}
                    <li data-filters="hearing">{{ "accueil_equipements_malentendants_presence"|positive_text }}</li>
                {% endif %}
            {% elif access.accueil_equipements_malentendants_presence is False %}
                <li data-filters="hearing">{{ "accueil_equipements_malentendants_presence"|negative_text }}</li>
            {% endif %}
            {% if access.sanitaires_presence %}
                {% if access.sanitaires_adaptes %}
                    <li data-filters="all">{% translate "Toilettes adaptées" %}</li>
                {% else %}
                    <li data-filters="all">{% translate "Toilettes classiques" %}</li>
                {% endif %}
            {% elif access.sanitaires_presence is False %}
                <li data-filters="all">{{ "sanitaires_presence"|negative_text }}</li>
            {% endif %}
            {% if should_display_floor_accessibility_details %}
                {% if access.accueil_ascenseur_etage and access.accueil_ascenseur_etage_pmr is None %}
                    <li data-filters="all">{{ "accueil_ascenseur_etage"|positive_text }}</li>
                {% elif access.accueil_ascenseur_etage is False and access.accueil_ascenseur_etage_pmr is None %}
                    <li data-filters="all">{{ "accueil_ascenseur_etage"|negative_text }}</li>
                {% endif %}
                {% if access.accueil_ascenseur_etage_pmr %}
                    <li data-filters="walking">{{ "accueil_ascenseur_etage_pmr"|positive_text }}</li>
                {% elif access.accueil_ascenseur_etage_pmr is False %}
                    <li data-filters="walking">{{ "accueil_ascenseur_etage_pmr"|negative_text }}</li>
                {% endif %}
            {% endif %}
            {% if should_display_education_accessibility_details %}
                {% if access.accueil_classes_accessibilite %}
                    <li data-filters="walking">{{ access.get_accueil_classes_accessibilite }}</li>
                {% elif access.accueil_classes_accessibilite is False %}
                    <li data-filters="walking">{{ "accueil_classes_accessibilite"|negative_text }}</li>
                {% endif %}
                {% if access.accueil_espaces_ouverts %}
                    <li data-filters="walking">
                        {{ "accueil_espaces_ouverts"|positive_text }}
                        <ul>
                            {% for espace_ouvert in access.get_accueil_espaces_ouverts %}<li>{{ espace_ouvert }}</li>{% endfor %}
                        </ul>
                    </li>
                {% elif not access.accueil_espaces_ouverts %}
                    <li data-filters="all">{{ "accueil_espaces_ouverts"|negative_text }}</li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endspaceless %}
