{% load a4a %}
{% load static %}
{% load i18n %}
<h3>Accès</h3>
<ul>
    {% if access.transport_station_presence %}<li>{{ "transport_station_presence"|positive_text }}</li>{% endif %}
    {#TODO missing Informations complémentaires#}
    {% if access.stationnement_presence %}
        {% if access.stationnement_pmr %}
            <li>{{ "stationnement_pmr"|positive_text }}</li>
        {% else %}
            <li>{{ "stationnement_presence"|positive_text }}</li>
        {% endif %}
    {% endif %}
    {#TODO missing neg case for Stationnement dans l'établissement#}
    {% if access.stationnement_ext_presence %}
        {% if access.stationnement_ext_pmr %}
            <li>{{ "stationnement_ext_pmr"|positive_text }}</li>
        {% else %}
            <li>{{ "stationnement_ext_presence"|positive_text }}</li>
        {% endif %}
    {% endif %}
    {## TODO missing neg case for Stationnement à proximité de l'établissement#}
</ul>
