{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="pt-4">{% translate "Chemin extérieur" %}</h3>
<ul>
    {% if access.has_outside_path_and_no_other_data %}<li>{{ "cheminement_ext_presence"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_bande_guidage %}<li>{{ "cheminement_ext_bande_guidage"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_plain_pied %}
        <li>{{ "cheminement_ext_plain_pied"|positive_text }}</li>
    {% else %}
        {% if access.cheminement_ext_nombre_marches %}
            {% if access.cheminement_ext_sens_marches %}
                <li>
                    Présence de {{ access.cheminement_ext_nombre_marches }} marche {{ access.cheminement_ext_sens_marches }} sur le chemin extérieur
                </li>
            {% else %}
                <li>Présence de {{ access.cheminement_ext_nombre_marches }} marche</li>
            {% endif %}
        {% else %}
            {% if access.cheminement_ext_sens_marches %}
                <li>Présence de marche {{ access.cheminement_ext_sens_marches }} sur le chemin extérieur</li>
            {% else %}
                <li>Présence de marche sur le chemin extérieur</li>
            {% endif %}
        {% endif %}
    {% endif %}
    <li>
        {% if access.cheminement_ext_reperage_marches %}
            {% if access.cheminement_ext_main_courante %}
                {% blocktranslate with cheminement="cheminement_ext_reperage_marches"|positive_text main_courante="cheminement_ext_main_courante"|positive_text %}
        {{ cheminement }} et {{ main_courante }}
        {% endblocktranslate %}
            {% else %}
                {% blocktranslate with cheminement="cheminement_ext_reperage_marches"|positive_text main_courante="cheminement_ext_main_courante"|negative_text %}
        {{ cheminement }} et {{ main_courante }}
        {% endblocktranslate %}
            {% endif %}
        {% else %}
            {% if access.cheminement_ext_main_courante %}
                {% blocktranslate with cheminement="cheminement_ext_reperage_marches"|negative_text main_courante="cheminement_ext_main_courante"|positive_text %}
        {{ cheminement }} et {{ main_courante }}
        {% endblocktranslate %}
            {% else %}
                {% blocktranslate with cheminement="cheminement_ext_reperage_marches"|negative_text main_courante="cheminement_ext_main_courante"|negative_text %}
        {{ cheminement }} et {{ main_courante }}
        {% endblocktranslate %}
            {% endif %}
        {% endif %}
    </li>
    {% render_access_value "cheminement_ext_rampe" access %}
    {% if access.cheminement_ext_ascenseur %}<li>{{ "cheminement_ext_ascenseur"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_pente_presence %}
        {% if access.cheminement_ext_pente_degre_difficulte %}
            {% if access.cheminement_ext_pente_longueur %}
                {% blocktranslate with longueur=access.cheminement_ext_pente_longueur difficulte=access.cheminement_ext_pente_degre_difficulte %}
            Pente {{ difficulte }} de longueur {{ longueur }}
          {% endblocktranslate %}
            {% else %}
                {% blocktranslate with difficulte=access.cheminement_ext_pente_degre_difficulte %}
            Pente {{ difficulte }}
          {% endblocktranslate %}
            {% endif %}
        {% else %}
            {% if access.cheminement_ext_pente_longueur %}
                {% blocktranslate with longueur=access.cheminement_ext_pente_longueur  %}
            Pente de longueur {{ longueur }}
          {% endblocktranslate %}
            {% else %}
                {#            TODO missing details from Sophie#}
            {% endif %}
        {% endif %}
    {% endif %}
    {#    TODO missing devers#}
    {% render_access_value "cheminement_ext_retrecissement" access %}
</ul>
