{% load a4a %}
{% load static %}
{% load i18n %}
<h3 class="pt-4">{% translate "Chemin extérieur" %}</h3>
<ul>
    {% if access.has_outside_path_and_no_other_data %}<li>{{ "cheminement_ext_presence"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_bande_guidage %}<li>{{ "cheminement_ext_bande_guidage"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_plain_pied %}
        <li>{{ "cheminement_ext_plain_pied"|positive_text }}</li>
    {% else %}
        <li>
            {% include "erp/includes/access_stairs.html" with steps_direction=access.cheminement_ext_sens_marches nb_steps=access.cheminement_ext_nombre_marches %}
        </li>
    {% endif %}
    <li>
        {% include "erp/includes/access_steps.html" with main_courante_data=access.cheminement_ext_main_courante reperage=access.cheminement_ext_reperage_marches %}
    </li>
    {% render_access_value "cheminement_ext_rampe" access %}
    {% if access.cheminement_ext_ascenseur %}<li>{{ "cheminement_ext_ascenseur"|positive_text }}</li>{% endif %}
    {% if access.cheminement_ext_pente_presence %}
        {% if access.cheminement_ext_pente_degre_difficulte %}
            {% if access.cheminement_ext_pente_longueur %}
                {% blocktranslate with longueur=access.cheminement_ext_pente_longueur difficulte=access.cheminement_ext_pente_degre_difficulte %}
            Pente {{ difficulte }} de longueur {{ longueur }}
          {% endblocktranslate %}
            {% else %}
                {% blocktranslate with difficulte=access.cheminement_ext_pente_degre_difficulte %}
            Pente {{ difficulte }}
          {% endblocktranslate %}
            {% endif %}
        {% else %}
            {% if access.cheminement_ext_pente_longueur %}
                {% blocktranslate with longueur=access.cheminement_ext_pente_longueur  %}
            Pente de longueur {{ longueur }}
          {% endblocktranslate %}
            {% else %}
                {#            TODO missing details from Sophie#}
            {% endif %}
        {% endif %}
    {% endif %}
    {#    TODO missing devers#}
    {% render_access_value "cheminement_ext_retrecissement" access %}
</ul>
