{% load a4a static %}
{% load i18n %}
<section class="fr-grid-row fr-grid-row--center">
    <div class="fr-grid-row fr-col-12 fr-col-md-10 fr-grid-row--center">
        <h2 class="text-center">{% translate "Voulez-vous améliorer la qualité des informations ?" %}</h2>
        <ul class="fr-btns-group fr-btns-group--inline-md">
            <li>
                <a class="fr-btn text-center"
                   href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">{% translate "Améliorer ou modifier ces informations" %}</a>
            </li>
            <li>
                <form method="post"
                      action="{% url 'confirm_up_to_date' erp_slug=erp.slug %}">
                    {% csrf_token %}
                    <button class="fr-btn fr-btn--secondary text-center" type="submit">
                        {% translate "Confirmer ces informations" %}
                    </button>
                </form>
            </li>
            <!-- <li>
                <a class="fr-btn fr-btn--secondary text-center" href="{% url 'claim' erp_slug=erp.slug %}">{% translate "Revendiquer l'établissement en tant que gestionnaire" %}</a>
            </li> -->
            <li>
                <a class="fr-btn fr-btn--secondary text-center"
                   href="{% url 'contact_topic_erp' topic='signalement' erp_slug=erp.slug %}">{% translate "Signaler un problème ou une erreur" %}</a>
            </li>
            {% if user.is_staff %}
                <li>
                    <a href="{% url "admin:erp_erp_change" object_id=erp.pk %}"
                       target="_blank"
                       class="fr-btn fr-btn--secondary text-center"
                       rel="noopener noreferrer">{% translate "Administrer cette fiche" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</section>
