{% load i18n %}
<p class="fr-mb-1v">{% translate "Filtrer par type de handicap :" %}</p>
<p class="fr-mb-2w">
    {% translate "Affichez uniquement les infos d'accessibilité qui vous concernent, en fonction de votre handicap" %}
</p>
<div class="fr-grid-row fr-mb-4w fr-mb-md-6w">
    {% translate "Difficulté à voir" as visual_text %}
    {% translate "Difficulté à marcher" as walking_text %}
    {% translate "En fauteuil roulant" as wheelchair_text %}
    {% translate "Difficulté à entendre" as deaf_text %}
    {% translate "Difficulté à comprendre" as understand_text %}
    {% include "search/tag_with_label.html" with slug="visual" input_name="erp_filter" eventType="filterClicked" name=visual_text icon="diff-vision" %}
    {% include "search/tag_with_label.html" with slug="walking" input_name="erp_filter" eventType="filterClicked" name=walking_text icon="diff-walking" %}
    {% include "search/tag_with_label.html" with slug="walking" input_name="erp_filter" eventType="filterClicked" name=wheelchair_text icon="wheelchair" %}
    {% include "search/tag_with_label.html" with slug="hearing" input_name="erp_filter" eventType="filterClicked" name=deaf_text icon="deaf" %}
    {% include "search/tag_with_label.html" with slug="understand" input_name="erp_filter" eventType="filterClicked" name=understand_text icon="diff-understand" %}
</div>
