{% load a4a %}
{% load static %}
{% load i18n %}
<header id="article-header" class="d-flex">
    {% if activite %}
        <img alt="" class="d-none d-md-block act-icon act-icon-erp act-icon-black" src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
    {% endif %}
    <div class="w-100">
        <h1 class="h2 d-flex align-items-start align-items-md-center font-weight-bold">
            {% if activite %}
                <img alt="" class="d-inline d-md-none act-icon act-icon-24 act-icon-black mr-1" src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
            {% endif %}
            {{ erp.nom }}
        </h1>
        <h2 class="h6 text-muted">{{ erp.activite.nom }}</h2>
        <div>
            <address class="d-inline font-weight-bold m-0 mb-2 p-0">{{ erp.adresse }}</address>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-start text-primary">
            {% if erp.site_internet %}
                <span class="mr-3 mt-2">
                    <i aria-hidden="true" class="icon icon-globe"></i>
                    <a href="{{ erp.site_internet }}"
                       target="_blank"
                       rel="noopener noreferrer">{% translate "Site internet" %}</a>
                </span>
            {% endif %}
            {% if erp.telephone %}
                <span class="mr-3 mt-2">
                    <i aria-hidden="true" class="icon icon-phone"></i>
                    <a href="tel:{{ erp.telephone }}">{{ erp.telephone|format_phone }}</a>
                </span>
            {% endif %}
            {% if erp.contact_url %}
                <span class="mr-3 mt-2">
                    <i aria-hidden="true" class="icon icon-mail"></i>
                    <a href="{{ erp.contact_url }}"
                       target="_blank"
                       rel="noopener noreferrer">{% translate "Écrire un message" %}</a>
                </span>
            {% elif erp.contact_email %}
                <span class="mr-3 mt-2">
                    <i aria-hidden="true" class="icon icon-mail"></i>
                    <a href="mailto:{{ erp.contact_email }}">{% translate "Écrire un message" %}</a>
                </span>
            {% endif %}
            <span class="ml-auto mt-2">
                <i aria-hidden="true" class="icon icon-zoom-in"></i>
                <a href="" id="map-height-toggle-link">{% translate "Agrandir la carte" %}</a>
            </span>
        </div>
    </div>
</header>
