{% load a4a %}
{% load static %}
{% load i18n %}
<header>
    <div class="fr-grid-row fr-grid-row--center">
        <h1 class="fr-mb-4v text-center">{{ erp.nom }}</h1>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-mb-4w fr-mb-md-6w">
        <p class="fr-mb-2w fr-text--xl">{{ erp.activite.nom }}</p>
    </div>
    <div class="fr-grid-row fr-grid-row--middle gap-2w">
        {% if erp.accessibilite.completion_rate %}
            <div>
                {% translate "Taux de remplissage des informations : " %}
                <span class="fr-badge fr-badge--purple-glycine">{{ erp.accessibilite.completion_rate }}%</span>
            </div>
        {% endif %}
        <div class="fr-col fr-hidden fr-unhidden-sm"></div>
        <div class="fr-hidden fr-unhidden-md">
            <a class="fr-btn"
               href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">{% translate "Améliorer ou modifier ces informations" %}</a>
        </div>
        <div class="fr-hidden-md">
            <a class="fr-btn text-center"
               href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">{% translate "Modifier ces informations" %}</a>
        </div>
    </div>
    <hr class="fr-hr fr-pb-md-3w fr-mt-bd-3w fr-pb-2w fr-mt-2w" />
    <div class="fr-grid-row fr-mb-3w">
        <div class="fr-follow__social">
            <p>{% translate "Partager sur les réseaux sociaux" %}</p>
            <ul class="fr-btns-group">
                {% if social_links.facebook %}
                    <li>
                        <a title="{% translate "Partager sur Facebook - nouvelle fenêtre" %}"
                           href="{{ social_links.facebook }}"
                           target="_blank"
                           rel="noopener external"
                           class="fr-btn--facebook fr-btn fr-icon-facebook-circle-fill">Facebook</a>
                    </li>
                {% endif %}
                {% if social_links.x %}
                    <li>
                        <a title="{% translate "Partager sur X - nouvelle fenêtre" %}"
                           href="{{ social_links.x }}"
                           target="_blank"
                           rel="noopener external"
                           class="fr-btn--twitter-x fr-btn fr-icon-twitter-x-fill">{% translate "X (anciennement Twitter)" %}</a>
                    </li>
                {% endif %}
                {% if social_links.linkedin %}
                    <li>
                        <a title="{% translate "Partager sur LinkedIn - nouvelle fenêtre" %}"
                           href="{{ social_links.linkedin }}"
                           target="_blank"
                           rel="noopener external"
                           class="fr-btn--linkedin fr-btn fr-icon-linkedin-box-fill">Linkedin</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="fr-grid-row address-container">
        <address class="fr-m-0 fr-col">
            <p class="fr-mb-3w word-break--all">
                <span class="fr-pr-1w fr-icon-map-pin-2-line " aria-hidden="true"></span>
                <span class="fr-ml-n1-5v">{{ erp.adresse }}</span>
            </p>
            {% if erp.telephone %}
                <p class="fr-mb-3w">
                    <span class="fr-pr-1w fr-icon-phone-line" aria-hidden="true"></span><a class="fr-link" href="tel:{{ erp.telephone }}">{{ erp.telephone|format_phone }}</a>
                </p>
            {% endif %}
            {% if erp.contact_url %}
                <p class="fr-mb-3w word-break--all">
                    <span class="fr-pr-1w fr-icon-mail-line" aria-hidden="true"></span>
                    <a class="fr-link fr-ml-n1v"
                       href="{{ erp.contact_url }}"
                       target="_blank"
                       title="{{ erp.contact_url }} - {% translate "Nouvelle fenêtre" %}"
                       rel="noopener noreferrer">{{ erp.contact_url }}</a>
                </p>
            {% endif %}
            {% if erp.site_internet %}
                <p class="fr-mb-3w">
                    <span class="fr-pr-1w fr-icon-global-line" aria-hidden="true"></span>
                    <a class="fr-link fr-ml-n1v"
                       href="{{ erp.site_internet }}"
                       target="_blank"
                       title="{{ erp.site_internet }}  - {% translate "Nouvelle fenêtre" %}"
                       rel="noopener noreferrer">{% translate "Site internet" %}</a>
                </p>
            {% endif %}
        </address>
        {% if erp.geom.x and erp.geom.y %}
            <div class="fr-mb-2w">
                <a class="fr-link"
                   href="https://www.google.com/maps/?q={{ erp.geom.y|comma_to_dot }},{{ erp.geom.x|comma_to_dot }}"
                   title="{% translate "Itinéraire" %} - {% translate "Nouvelle fenêtre" %}"
                   target="_blank">{% translate "Itinéraire" %}</a>
            </div>
        </div>
    {% endif %}
    {% if image_id %}
        <hr class="fr-hr fr-mt-2w" />
        <pnx-photo-viewer id="photo-viewer" endpoint="https://api.panoramax.xyz/api/" picture="{{ image_id }}" xyz="{{ xyz }}" widgets="false">
        <pnx-widget-legend slot="bottom-right" light="" focus="pic" picture="{{ image_id }}"></pnx-widget-legend>
        </pnx-photo-viewer>
        {% if request.user.is_staff %}
            <a href="{% url 'panoramax_remove' erp_slug=erp.slug %}"
               class="fr-btn fr-btn--secondary fr-mt-2w">{% translate "Supprimer l'image" %}</a>
        {% endif %}
        <hr class="fr-hr fr-mt-2w" />
    {% else %}
        <hr class="fr-hr fr-pb-0-5v" />
    {% endif %}
</header>
