{% load a4a %}
{% load i18n %}
<h3 class="fr-sr-only">{% translate "Historique des modifications" %}</h3>
<div class="list-group list-group-flush">
    {% for entry in erp.get_history %}
        <details class="list-group-item text-overlay">
            <summary>
                {% if entry.user %}
                    {% translate "par" %} <span class="fr-text--bold">{{ entry.user.username|format_username }}</span>
                {% endif %}
                {% comment %}Translators: "le" is followed by a date{% endcomment %}{% translate "le" %} {{ entry.date|date:"j/m/Y à H:i"|lower }}
            </summary>
            {% if entry.diff %}
                <div class="fr-table">
                    <table>
                        <thead>
                            <th>{% translate "Champ" %}</th>
                            <th>{% translate "Ancienne valeur" %}</th>
                            <th>{% translate "Nouvelle valeur" %}</th>
                        </thead>
                        {% for field in entry.diff %}
                            <tr>
                                <td>{{ field.label }}</td>
                                <td class="text-danger">{{ field.old }}</td>
                                <td class="text-success">{{ field.new }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </details>
    {% empty %}
        <p class="fr-alert fr-alert--info" role="status">
            {% blocktranslate%}Il n'y a pas encore d'historique de modifications pour les données d'accessibilité de cet établissement.{% endblocktranslate %}
        </p>
    {% endfor %}
</div>
