{% load a4a static %}

<div class="card shadow-sm">
  <div class="card-body pb-2">
    <h2 class="h4 text-center mb-3">
      <i aria-hidden="true" class="icon icon-pencil mr-1"></i>
      Contribuez&nbsp;!
    </h2>
    <p class="text-center">
      <a class="btn btn-primary text-wrap mx-auto" href="{% url "contrib_start" %}">
        <i aria-hidden="true" class="icon icon-plus-circle"></i>
        Ajoutez un établissement
      </a>
    </p>
    <p class="my-3">
      Si la description de l'accessibilité de cet établissement est incomplète ou inexacte,
      contribuez à l'améliorer.
    </p>
    <p class="text-center">
      <a class="btn btn-primary text-wrap mx-auto" href="{% url "contrib_localisation" erp_slug=erp.slug %}">
        <i aria-hidden="true" class="icon icon-pencil"></i>
        Améliorez ces informations
      </a>
    </p>
    <p class="text-center">
      <a href="{% url "contact_topic_erp" topic="signalement" erp_slug=erp.slug %}">Signaler un problème</a>
    </p>
    {% if not erp.user %}
    <p class="text-center mb-O">
      <a href="{% url "contrib_claim" erp_slug=erp.slug %}">Je gère cet établissement</a>
    </p>
    {% endif %}
    <p class="text-center mb-O">
    {% if user.is_authenticated %}
      {% if user_is_subscribed %}
      <a href="{% url "unsubscribe_erp" erp_slug=erp.slug %}"
        title="Recevoir des notifications par email lorsque cet établissement est mis à jour">
        <i aria-hidden="true" class="icon icon-bell-mute"></i>
        Se désabonner des mises à jour
      </a>
      {% else %}
      <a href="{% url "subscribe_erp" erp_slug=erp.slug %}"
        title="Ne plus recevoir de notification par email lorsque cet établissement est mis à jour">
        <i aria-hidden="true" class="icon icon-bell"></i>
        S'abonner aux mises à jour
      </a>
      {% endif %}
    {% endif %}
    </p>
    {% if user.is_superuser %}
    <p class="text-center mb-O">
      <a href="{% url "admin:erp_erp_change" object_id=erp.pk %}" target="_blank" rel="noopener noreferrer">
        <i aria-hidden="true" class="icon icon-lock"></i>
        Administrer cette fiche
      </a>
    </p>
    {% endif %}
  </div>
  <div class="card-footer">
    <div class="a4a-text-smaller">
      {% spaceless %}
      Informations initialement fournies
      {% if erp.user %}
        par <strong>{{ erp.user.username|format_username }}</strong>
      {% endif %}
      le {{ erp.get_global_timestamps.created_at|date:"j/m/Y" }}
      {% if erp.user_type == "gestionnaire" %}
        en tant que gestionnaire de l'établissement
      {% elif erp.user_type == "admin" %}
        en tant qu'administration
      {% elif erp.user_type == "public" %}
        en tant qu'usager de l'établissement
      {% endif %}
      {% if erp.get_global_timestamps.created_at != erp.get_global_timestamps.updated_at %}
        et mises à jour le {{ erp.get_global_timestamps.updated_at|date:"j/m/Y" }}
      {% endif %}
      {% endspaceless %}.
      <br>
      <details>
        <summary class="no-ouline text-primary mt-1">
          <i aria-hidden="true" class="icon icon-clock"></i>
          Historique des modifications
        </summary>
        <section id="history" class="mt-2">
          {% include "erp/includes/history.html" %}
        </section>
      </details>
    </div>
  </div>
</div>
<div class="card shadow-sm mt-5">
  <div class="card-body pb-2">
    <h2 class="h4 text-center mb-3">
      Affichez ces informations sur votre site
    </h2>
    <div class="Code__Wrapper-sc-1wllvkx-0 iOUfrb text-center">
      <p>En un copier-coller, affichez les informations principales de votre établissement.</p>
      <img alt="" class="img-thumbnail mb-3" src="{% static "img/widget-acceslibre.png" %}">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#widgetmodal">
        Comment faire ?
      </button>
      <!-- Modal -->
      <div class="modal fade" id="widgetmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Intégrez acceslibre sur votre site !</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-left" id="widget-code">
              <p class="Code__Explication-sc-1wllvkx-2 jzfvxW">Copiez ce code puis collez-le là où vous souhaitez qu'il s'affiche sur votre site web :</p>
              <div style="background-color: black; padding: 1rem;">
                  <code style="color:lightgrey;" class="Code__Text-sc-1wllvkx-1 dNGlgo" id="tocopy">{{ widget_tag|linebreaksbr }}</code>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" >Fermer</button>
              <button type="button" class="btn btn-primary js-copy" data-target="#tocopy">Copier</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    var btncopy = document.querySelector('.js-copy');
    if(btncopy) {
        btncopy.addEventListener('click', docopy);
    }

    function docopy() {
        var range = document.createRange();
        var target = this.dataset.target;
        var fromElement = document.querySelector(target);
        var selection = window.getSelection();

        range.selectNode(fromElement);
        selection.removeAllRanges();
        selection.addRange(range);

        try {
            var result = document.execCommand('copy');
            if (result) {
               var tag = document.createElement("p");
               tag.className = "text-center text-success"
               var text = document.createTextNode("Copié avec succès");
               tag.appendChild(text);
               var element = document.getElementById("widget-code");
               element.appendChild(tag);
            }
        }
        catch(err) {
            console.log(err);
            alert("Une erreur s'est produite lors de la copie.")
        }
        selection = window.getSelection();

        if (typeof selection.removeRange === 'function') {
            selection.removeRange(range);
        } else if (typeof selection.removeAllRanges === 'function') {
            selection.removeAllRanges();
        }
    }


</script>
