{% load a4a static %}
{% load i18n %}
<div class="card fr-mb-4v">
    <div class="card-body">
        <img src="{% static 'img/data_quality.jpeg' %}"
             alt="{% translate "Une personne inspectant des données à la loupe" %}"
             class="w-100 fr-px-5 d-none d-lg-block">
        <h3 class="fr-h6 text-center fr-mb-4">{% translate "Voulez-vous améliorer la qualité des informations ?" %}</h3>
        <div class="fr-btns-group">
            <a class="fr-btn"
               href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">{% translate "Améliorer ces informations" %}</a>
            <form method="post"
                  action="{% url 'confirm_up_to_date' erp_slug=erp.slug %}"
                  class="w-100">
                {% csrf_token %}
                <button class="fr-btn fr-btn--secondary" type="submit">
                    {% translate "Confirmer que les informations sont à jour" %}
                </button>
            </form>
            <a class="fr-btn fr-btn--secondary"
               href="{% url 'contact_topic_erp' topic='signalement' erp_slug=erp.slug %}">{% translate "Signaler un problème ou une erreur" %}</a>
            {% if user.is_staff %}
                <a href="{% url "admin:erp_erp_change" object_id=erp.pk %}"
                   target="_blank"
                   class="fr-btn fr-btn--secondary"
                   rel="noopener noreferrer">{% translate "Administrer cette fiche" %}</a>
            {% endif %}
        </div>
    </div>
</div>
