{% load a4a %}
{% load i18n %}
<section id="vaccination" class="mb-4">
    {% with erp.metadata.centre_vaccination as infos %}
        <h2 class="h5 mb-0 pb-1 border-bottom font-weight-bold">
            <i aria-hidden="true" class="icon icon-vaccin mr-1"></i>
            {% translate "Vaccination" %}
        </h3>
        {% if not infos.date_ouverture and not infos.date_fermeture and not infos.modalites and not infos.acces_sur_rdv and not infos.prevaccination and not infos.url_rdv and not erp.telephone %}
            <div class="alert alert-info">
                <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
                {% translate "Nous ne disposons d'aucune information sur les modalités de vaccination pour ce centre." %}
            </div>
        {% endif %}
        {% if infos.date_ouverture %}
            <div class="border-bottom m-0 py-1">
                {% translate "Centre ouvert depuis le" %} <strong>{{ infos.date_ouverture|format_isodate }}</strong>
            </div>
        {% endif %}
        {% if infos.date_fermeture %}
            <div class="border-bottom m-0 py-1">
                {% translate "Fermeture prévue à compter du" %} <strong>{{ infos.date_fermeture|format_isodate }}</strong>
            </div>
        {% endif %}
        {% if infos.modalites %}
            <div class="border-bottom m-0 py-1">
                {% translate "Modalités particulières :" %}
                <br>
                <i aria-hidden="true" class="icon icon-bubble"></i>
                &laquo;&nbsp;{{ infos.modalites }}&nbsp;&raquo;
            </div>
        {% endif %}
        {% if infos.acces_sur_rdv %}
            <div class="border-bottom m-0 py-1">
                {% translate "L'accès à ce centre de vaccination se fait <strong>sur rendez-vous</strong>" %}
            </div>
        {% endif %}
        {% if infos.prevaccination is True %}
            <div class="border-bottom m-0 py-1">
                {% translate "Ce centre propose également des consultations de <strong>prévaccination</strong>" %}
            </div>
        {% endif %}
        <div class="m-0 py-1">
            <span aria-hidden="true">&raquo;</span>
            <a href="https://www.sante.fr/cf/centres-vaccination-covid.html" title="{% translate "Le site s'ouvrira dans une nouvelle fenêtre" %}">{% translate "En savoir plus sur les conditions de vaccination" %}</a>
        </div>
    {% endwith %}
</section>
