{% load i18n %}
{% load static %}
{% load a4a %}
<div>
    {% with erp.get_global_timestamps as timestamps %}
        {% spaceless %}
            {% translate "Fiche créée" %}
            {% if erp.user %}
                {% translate " par " %} <strong>{{ erp.user.username|format_username }}</strong>,
            {% endif %}
            {% if erp.user_type == "gestionnaire" %}
                {% translate "en tant que gestionnaire" %}
            {% elif erp.user_type == "admin" %}
                {% translate "en tant qu'administration" %}
            {% elif erp.user_type == "public" %}
                {% translate "en tant qu'usager" %}
            {% endif %}
            {% comment %}Translators: "le" is followed by a date{% endcomment %}{% translate "le" %}
            {{ timestamps.created_at|date:"j/m/Y" }}
        {% endspaceless %}
        {% if timestamps.created_at != timestamps.updated_at %}
            <br />
            {% translate "Dernière modification le" %} {{ timestamps.updated_at|date:"j/m/Y" }}
        {% endif %}
        {#        todo: check with MLV if it's good enough #}
        {#                {% if erp.get_history and erp.get_history.0.user %}<p>{{ erp.get_history.0.user }}</p>{% endif %}#}
    {% endwith %}
    <details class="mb-4">
        <summary class="no-ouline text-primary fr-mt-1v">{% translate "Voir l'historique" %}</summary>
        <section id="history" class="mt-2">
            {% include "erp/includes/history.html" %}
        </section>
    </details>
    {% if user.is_authenticated %}
        <div class="fr-btns-group">
            {% if user_is_subscribed %}
                <a href="{% url 'unsubscribe_erp' erp_slug=erp.slug %}"
                   class="fr-btn fr-btn--secondary fr-btn--lg"
                   title="{% translate "Recevoir des notifications par email lorsque cet établissement est mis à jour" %}">
                    {% translate "Désabonnez vous des mises à jour" %}
                </a>
            {% else %}
                <a href="{% url 'subscribe_erp' erp_slug=erp.slug %}"
                   class="fr-btn fr-btn--secondary fr-btn--lg"
                   title="{% translate "Ne plus recevoir de notification par email lorsque cet établissement est mis à jour" %}">
                    {% translate "Abonnez vous aux mises à jour" %}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
