{% load i18n %}
{% load static %}
{% load a4a %}
<p class="fr-mb-0">
    {% spaceless %}
        {% translate "Fiche créée" %}
        {% if erp.user %}
            {% translate " par " %} <span class="fr-text--bold">{{ erp.user.username|format_username }}</span>,
        {% endif %}
        {% if erp.user_type == "gestionnaire" %}
            {% translate "en tant que gestionnaire" %}
        {% elif erp.user_type == "admin" %}
            {% translate "en tant qu'administration" %}
        {% elif erp.user_type == "public" %}
            {% translate "en tant qu'usager" %}
        {% endif %}
        {% comment %}Translators: "le" is followed by a date{% endcomment %}{% translate "le" %}
        <span class="fr-text--bold">{{ timestamps.created_at|date:"j/m/Y" }}</span>
    {% endspaceless %}
</p>
{% if erp.checked_up_to_date_at %}
    <p class="fr-mb-0">
        {% translate "Dernière confirmation le" %} <span class="fr-text--bold">{{ erp.checked_up_to_date_at|date:"j/m/Y" }}</span>
    </p>
{% endif %}
{% if timestamps.created_at != timestamps.updated_at %}
    <p class="fr-mb-0">
        {% translate "Dernière modification le" %} <span class="fr-text--bold">{{ timestamps.updated_at|date:"j/m/Y" }}</span>
    </p>
{% endif %}
<details class="mb-4">
    <summary class="no-ouline text-primary fr-mt-1v">{% translate "Voir l'historique" %}</summary>
    <section id="history" class="mt-2">
        {% include "erp/includes/history.html" %}
    </section>
</details>
{% if user.is_authenticated %}
    <div class="fr-btns-group">
        {% if user_is_subscribed %}
            <a href="{% url 'unsubscribe_erp' erp_slug=erp.slug %}"
               class="fr-btn fr-btn--secondary fr-btn--lg"
               title="{% translate "Recevoir des notifications par email lorsque cet établissement est mis à jour" %}">
                {% translate "Désabonnez vous des mises à jour" %}
            </a>
        {% else %}
            <a href="{% url 'subscribe_erp' erp_slug=erp.slug %}"
               class="fr-btn fr-btn--secondary fr-btn--lg"
               title="{% translate "Ne plus recevoir de notification par email lorsque cet établissement est mis à jour" %}">
                {% translate "Abonnez vous aux mises à jour" %}
            </a>
        {% endif %}
    </div>
{% endif %}
