{% load i18n %}
{% load static %}
<div id="widget-a11y-container"
     data-pk="{{ erp.uuid }}"
     data-baseurl="{{ root_url }}"></div>
<script src="{{ url_widget_js }}"
        nonce="{{request.csp_nonce }}"
        id="demo-widget"
        type="text/javascript"></script>
<div class="widget-card fr-p-4w fr-grid-row gap-4w">
    <div class="fr-col-12 fr-col-md">
        <img class="fr-responsive-img"
             alt=""
             height="200px"
             src="{% static 'img/widget-acceslibre.png' %}">
    </div>
    <div class="fr-col-12 fr-col-md">
        <h2>{% translate "Vous êtes le gérant de l’établissement, partagez ces informations sur votre site" %}</h2>
        <p>{% translate "En un copier-coller, affichez les informations principales de votre établissement." %}</p>
        <div class="Code__Wrapper-sc-1wllvkx-0 iOUfrb">
            <button type="button"
                    data-fr-opened="false"
                    class="fr-btn fr-btn--secondary"
                    aria-controls="widgetmodal">{% translate "Comment faire ?" %}</button>
        </div>
    </div>
    <dialog id="widgetmodal"
            class="fr-modal"
            aria-labelledby="widgetmodal-title"
            data-fr-concealing-backdrop="true">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="widgetmodal"
                                    title="{% translate "Fermer la fenêtre" %}"
                                    data-bs-dismiss="modal"
                                    type="button"
                                    class="fr-btn--close fr-btn">{% translate "Fermer" %}</button>
                        </div>
                        <div class="fr-modal__content">
                            <h2 id="widgetmodal-title" class="fr-modal__title">
                                <span class="fr-icon-info-line fr-icon--lg" aria-hidden="true"></span>
                                {% translate "Intégrez acceslibre sur votre site !" %}
                            </h2>
                            <p>
                                {% blocktranslate %}
                                Le bloc ci-dessous contient le code HTML à copier et coller sur votre site web :
                                {% endblocktranslate %}
                            </p>
                            <div id="widget-code">
                                <div>
                                    <code id="tocopy">{{ widget_tag }}</code>
                                </div>
                            </div>
                            <div id="copy-message-information"
                                 class="fr-alert fr-alert--info fr-hidden fr-mt-2w fr-mb-0"
                                 role="alert"></div>
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group">
                                <li>
                                    <a id="test-widget-btn"
                                       class="fr-btn fr-btn--primary"
                                       data-track-event="widget,widget_demo,demo,{{ erp.slug }}"
                                       href="#"
                                       aria-haspopup="dialog"
                                       aria-controls="dialog"
                                       data-owner="acceslibre">{% translate "Tester le widget" %}</a>
                                </li>
                                <li>
                                    <button type="button"
                                            class="fr-btn fr-btn--secondary js-copy"
                                            data-target="#tocopy">{% translate "Copier" %}</button>
                                </li>
                                <li>
                                    <button type="button"
                                            class="fr-btn fr-btn--secondary"
                                            data-bs-dismiss="modal"
                                            aria-controls="widgetmodal">{% translate "Fermer" %}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</div>
<script nonce="{{ request.csp_nonce }}">
    let btncopy = document.querySelector('.js-copy');
    let testWidgetBtn = document.querySelector('#test-widget-btn')

    if (btncopy) {
        btncopy.addEventListener('click', docopy);
    }

    if(testWidgetBtn && dsfr) {
      const el = document.getElementById('widgetmodal');

      el?.addEventListener('dsfr.conceal', () => {
          let copyMessageInfoEl = document.querySelector('#copy-message-information');

          if(!copyMessageInfoEl) return;

          copyMessageInfoEl.classList.add('fr-hidden')
          copyMessageInfoEl.textContent = '';
      })

      const handleCloseModal = () => {
        const modalEl = dsfr(document.getElementById('widgetmodal'));
            if (modalEl) {
                modalEl.modal?.conceal();
            }
        };

        testWidgetBtn.addEventListener('click', handleCloseModal);
        testWidgetBtn.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                handleCloseModal();
            }
        });
    }

    function docopy() {
        let range = document.createRange();
        let target = this.dataset.target;
        let fromElement = document.querySelector(target);
        let selection = window.getSelection();

        range.selectNode(fromElement);
        selection.removeAllRanges();
        selection.addRange(range);

        try {
            let result = document.execCommand('copy');
            if (result) {
                let copyMessageInfoEl = document.querySelector('#copy-message-information');

                if(!copyMessageInfoEl) return;

                copyMessageInfoEl.classList.remove('fr-hidden')
                copyMessageInfoEl.textContent = '{% translate "Copié avec succès" %}';
            }
        }
        catch (err) {
            alert('{% translate "Une erreur s’est produite lors de la copie." %}')
        }
        selection = window.getSelection();

        if (typeof selection.removeRange === 'function') {
            selection.removeRange(range);
        } else if (typeof selection.removeAllRanges === 'function') {
            selection.removeAllRanges();
        }
    }
</script>
