{% load i18n %}
{% load static %}
<div id="widget-a11y-container"
     data-pk="{{ erp.uuid }}"
     data-baseurl="{{ root_url }}"></div>
<script src="{{ url_widget_js }}"
        nonce="{{request.csp_nonce }}"
        id="demo-widget"
        type="text/javascript"></script>
<div class="widget-card fr-p-4w fr-grid-row gap-4w">
    <div class="fr-col-12 fr-col-md">
        <img class="fr-responsive-img"
             alt=""
             height="200px"
             src="{% static 'img/widget-acceslibre.png' %}">
    </div>
    <div class="fr-col-12 fr-col-md">
        <h2>{% translate "Vous êtes le gérant de l’établissement, partagez ces informations sur votre site" %}</h2>
        <p>{% translate "En un copier-coller, affichez les informations principales de votre établissement." %}</p>
        <div class="Code__Wrapper-sc-1wllvkx-0 iOUfrb">
            <button type="button"
                    data-fr-opened="false"
                    class="fr-btn fr-btn--secondary"
                    aria-controls="widgetmodal">{% translate "Comment faire ?" %}</button>
        </div>
    </div>
    <dialog id="widgetmodal"
            class="fr-modal"
            aria-labelledby="widgetmodal-title"
            data-fr-concealing-backdrop="true">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="widgetmodal"
                                    title="{% translate "Fermer la fenêtre" %}"
                                    type="button"
                                    class="fr-btn--close fr-btn">{% translate "Fermer" %}</button>
                        </div>
                        <div class="fr-modal__content">
                            <h2 id="widgetmodal-title" class="fr-modal__title">
                                <span class="fr-icon-info-line fr-icon--lg" aria-hidden="true"></span>
                                {% translate "Intégrez acceslibre sur votre site !" %}
                            </h2>
                            <p>
                                {% blocktranslate %}
                                Le bloc ci-dessous contient le code HTML à copier et coller sur votre site web :
                                {% endblocktranslate %}
                            </p>
                            <div class="fr-highlight" id="widget-code">
                                <div>
                                    <pre><code id="tocopy">{{ widget_tag }}</code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse">
                                <li>
                                    <a data-track-event="widget,widget_demo,demo,{{ erp.slug }}"
                                       href="#"
                                       data-bs-dismiss="modal"
                                       aria-haspopup="dialog"
                                       aria-controls="dialog"
                                       data-owner="acceslibre">{% translate "Tester le widget" %}</a>
                                </li>
                                <li>
                                    <button type="button"
                                            class="fr-btn fr-btn--secondary"
                                            aria-controls="widgetmodal">{% translate "Fermer" %}</button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn js-copy" data-target="#tocopy">{% translate "Copier" %}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</div>
<script nonce="{{ request.csp_nonce }}">
    var btncopy = document.querySelector('.js-copy');
    if (btncopy) {
        btncopy.addEventListener('click', docopy);
    }

    function docopy() {
        var range = document.createRange();
        var target = this.dataset.target;
        var fromElement = document.querySelector(target);
        var selection = window.getSelection();

        range.selectNode(fromElement);
        selection.removeAllRanges();
        selection.addRange(range);

        try {
            var result = document.execCommand('copy');
            if (result) {
                var tag = document.createElement("p");
                tag.className = "text-center text-success"
                var text = document.createTextNode('{% translate "Copié avec succès" %}');
                tag.appendChild(text);
                var element = document.getElementById("widget-code");
                element.appendChild(tag);
            }
        }
        catch (err) {
            alert('{% translate "Une erreur s’est produite lors de la copie." %}')
        }
        selection = window.getSelection();

        if (typeof selection.removeRange === 'function') {
            selection.removeRange(range);
        } else if (typeof selection.removeAllRanges === 'function') {
            selection.removeAllRanges();
        }
    }
</script>
