{% load i18n %}
{% load static %}
<div id="widget-a11y-container"
     data-pk="{{ erp.uuid }}"
     data-baseurl="{{ root_url }}"></div>
<script src="{{ url_widget_js }}"
        nonce="{{request.csp_nonce }}"
        id="demo-widget"
        type="text/javascript"></script>
<div class="widget-card fr-p-4w fr-grid-row gap-4w">
    <div class="fr-col-12 fr-col-md">
        <img class="fr-responsive-img"
             alt=""
             height="200px"
             src="{% static 'img/widget-acceslibre.png' %}">
    </div>
    <div class="fr-col-12 fr-col-md">
        <h2>{% translate "Vous êtes le gérant de l’établissement, partagez ces informations sur votre site" %}</h2>
        <p>{% translate "En un copier-coller, affichez les informations principales de votre établissement." %}</p>
        <div class="Code__Wrapper-sc-1wllvkx-0 iOUfrb">
            <button type="button"
                    class="fr-btn fr-btn--secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#widgetmodal">{% translate "Comment faire ?" %}</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="widgetmodal"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="fr-h5 modal-title">{% translate "Intégrez acceslibre sur votre site !" %}</h3>
                    <button type="button"
                            title="{% translate "Fermer la fenêtre" %}"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="{% translate "Fermer" %}"></button>
                </div>
                <div class="modal-body text-start" id="widget-code">
                    <p>{% translate "Le bloc ci-dessous contient le code HTML à copier et coller sur votre site web :" %}</p>
                    <div>
                        <code class="Code__Text-sc-1wllvkx-1 dNGlgo" id="tocopy">{{ widget_tag }}</code>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-track-event="widget,widget_demo,demo,{{ erp.slug }}"
                       href="#"
                       data-bs-dismiss="modal"
                       aria-haspopup="dialog"
                       aria-controls="dialog"
                       data-owner="acceslibre">{% translate "Tester le widget" %}</a>
                    <button type="button"
                            class="fr-btn fr-btn--secondary"
                            data-bs-dismiss="modal">{% translate "Fermer" %}</button>
                    <button type="button" class="fr-btn js-copy" data-bs-target="#tocopy">{% translate "Copier" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script nonce="{{ request.csp_nonce }}">
    var btncopy = document.querySelector('.js-copy');
    if(btncopy) {
        btncopy.addEventListener('click', docopy);
    }

    function docopy() {
        var range = document.createRange();
        var target = this.dataset.bsTarget;
        var fromElement = document.querySelector(target);
        var selection = window.getSelection();

        range.selectNode(fromElement);
        selection.removeAllRanges();
        selection.addRange(range);

        try {
            var result = document.execCommand('copy');
            if (result) {
               var tag = document.createElement("p");
               tag.className = "text-center text-success"
               var text = document.createTextNode('{% translate "Copié avec succès" %}');
               tag.appendChild(text);
               var element = document.getElementById("widget-code");
               element.appendChild(tag);
            }
        }
        catch(err) {
            alert('{% translate "Une erreur s’est produite lors de la copie." %}')
        }
        selection = window.getSelection();

        if (typeof selection.removeRange === 'function') {
            selection.removeRange(range);
        } else if (typeof selection.removeAllRanges === 'function') {
            selection.removeAllRanges();
        }
    }

</script>
