@charset "UTF-8";

@font-face {
  font-family: "access4all";
  src:url("fonts/access4all.eot");
  src:url("fonts/access4all.eot?#iefix") format("embedded-opentype"),
    url("fonts/access4all.woff") format("woff"),
    url("fonts/access4all.ttf") format("truetype"),
    url("fonts/access4all.svg#access4all") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "access4all" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "access4all" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-target:before {
  content: "\61";
}
.icon-check-circle:before {
  content: "\62";
}
.icon-times-circle:before {
  content: "\63";
}
.icon-car:before {
  content: "\64";
}
.icon-entrance:before {
  content: "\65";
}
.icon-users:before {
  content: "\66";
}
.icon-handicap-moteur:before {
  content: "\67";
}
.icon-phone-square:before {
  content: "\68";
}
.icon-star-o:before {
  content: "\69";
}
.icon-toilets:before {
  content: "\6a";
}
.icon-street-view:before {
  content: "\6b";
}
.icon-disabled-circled:before {
  content: "\6c";
}
.icon-parking:before {
  content: "\6d";
}
.icon-magnifying-glass:before {
  content: "\6e";
}
.icon-path:before {
  content: "\6f";
}
.icon-whatsapp:before {
  content: "\70";
}
.icon-torso-business:before {
  content: "\71";
}
.icon-male-female:before {
  content: "\72";
}
.icon-link:before {
  content: "\73";
}
.icon-phone:before {
  content: "\74";
}
.icon-commercial:before {
  content: "\75";
}
.icon-size-width:before {
  content: "\76";
}
.icon-info-circled:before {
  content: "\77";
}
.icon-checklist:before {
  content: "\78";
}
.icon-road:before {
  content: "\79";
}
.icon-bus:before {
  content: "\41";
}
.icon-mail:before {
  content: "\7a";
}
.icon-exclamation-circle:before {
  content: "\42";
}
.icon-like:before {
  content: "\43";
}
.icon-check:before {
  content: "\44";
}
.icon-certificate:before {
  content: "\45";
}
.icon-trophy:before {
  content: "\46";
}
.icon-handicap-auditif:before {
  content: "\48";
}
.icon-handicap-mental:before {
  content: "\49";
}
.icon-handicap-visuel:before {
  content: "\4a";
}
.icon-orientation:before {
  content: "\47";
}
.icon-exterieur-flag:before {
  content: "\4b";
}
.icon-exterieur-target:before {
  content: "\4c";
}
.icon-exterieur-trees:before {
  content: "\4e";
}
.icon-exterieur-target2:before {
  content: "\4d";
}
.icon-globe:before {
  content: "\4f";
}
.icon-pencil:before {
  content: "\50";
}
.icon-plus:before {
  content: "\51";
}
.icon-bulb:before {
  content: "\52";
}
.icon-plus-circle:before {
  content: "\53";
}
.icon-registre:before {
  content: "\56";
}
.icon-paperclip:before {
  content: "\54";
}
.icon-conformite:before {
  content: "\55";
}
.icon-downvote:before {
  content: "\57";
}
.icon-upvote:before {
  content: "\58";
}
.icon-arrow-left:before {
  content: "\59";
}
.icon-key:before {
  content: "\5a";
}
.icon-identity:before {
  content: "\30";
}
.icon-house:before {
  content: "\31";
}
.icon-user:before {
  content: "\32";
}
.icon-unlock:before {
  content: "\33";
}
.icon-lock:before {
  content: "\34";
}
