{% load a4a %}
{% load i18n %}
{% if field %}
    <div class="field-{{ field.name }} fr-mb-3v">
        {% if field.label and key|should_display_label %}
            {% if heading_level == 4 %}
                <h4 id="group-{{ field.name }}"
                    class="fr-text--xl fr-text--bold fr-mb-1w">{{ field.label }}</h4>
            {% else %}
                <h3 id="group-{{ field.name }}"
                    class="fr-text--xl fr-text--bold fr-mb-1w">{{ field.label }}</h3>
            {% endif %}
            {% if field.id_for_label and field.field.required %}
                <label for="{{ field.id_for_label }}" class="mb-0">
                    <small>({% translate "requis" %})</small>
                </label>
            {% endif %}
        {% endif %}
        <div class="fr-mb-1v">
            <fieldset class="fr-fieldset"
                      {% if field.label and key|should_display_label %}aria-labelledby="group-{{ field.name }}{% if field.help_text %} legend-{{ field.name }}{% endif %}
                      "
                      {% endif %}
                      {% if disabled %}disabled{% endif %}
                      {% if describedby %}aria-describedby="{{ describedby }}"{% endif %}>
                <legend id="legend-{{ field.name }}"
                        class="fr-fieldset__legend fr-fieldset__legend--regular{% if not field.help_text %} fr-sr-only{% endif %}">
                    {% if field.help_text %}
                        {{ field.help_text|safe }}
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </legend>
                {% for choice in field %}
                    <div class="fr-fieldset__element">
                        <div class="fr-grid-row fr-grid-row--middle">
                            {% with key|field_image_url:forloop.counter0 as image_url %}
                                {% if image_url %}<img src="{{ image_url }}" class="contrib-input-image fr-mr-3v" alt="">{% endif %}
                            {% endwith %}
                            <div class="fr-radio-group fr-col">
                                {{ choice.tag }}
                                <label class="fr-label" for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label|capfirst }}</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if field.errors %}
                    <div class="fr-messages-group"
                         id="{{ field.name }}-error"
                         aria-live="polite">
                        {% for error in field.errors %}<p class="fr-message fr-message--error" role="alert">{{ error }}</p>{% endfor %}
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </div>
{% endif %}
