{% load a4a %}
{% load i18n %}
{% if field %}
    <div class="a4a-form-field field-{{ field.name }} fr-mb-3v">
        {% if field.id_for_label %}
            <label for="{{ field.id_for_label }}" class="mb-0">
                <strong tabindex="0">{{ field.label }}
                    {% if field.field.required %}
                        <small>({% translate "requis" %})</small>
                    {% endif %}
                </strong>
                <br>
            </label>
        {% else %}
            <span class="mb-0">
                <strong tabindex="0">{{ field.label }}</strong>
                <br>
            </span>
        {% endif %}
        <div class="fr-form-group fr-mb-1v">
            <p tabindex="0">{{ field.help_text|safe }}</p>
            <fieldset class="fr-fieldset">
                <div class="fr-fieldset__content">
                    {% for choice in field %}
                        <div class="fr-radio-group fr-radio-group--sm">
                            {{ choice.tag }}
                            <label class="fr-label" for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            {% for error in field.errors %}<div class="form-text text-danger" role="alert">{{ error }}</div>{% endfor %}
        </div>
    </div>
{% endif %}
