{% load a4a %}
{% load i18n %}
{% if field %}
    <div class="field-{{ field.name }}"
         {% if extraid %}id="{{ extraid }}"{% endif %}>
        {% if field.id_for_label and key|should_display_label %}
            <label for="{{ field.id_for_label }}" class="mb-0">
                <h3 class="fr-text--xl fr-text--bold fr-mb-1w">{{ field.label }}</h3>
                {% if field.field.required %}
                    <small>({% translate "requis" %})</small>
                {% endif %}
            </label>
        {% elif field.label and key|should_display_label %}
            <h3 class="fr-text--xl fr-text--bold fr-mb-1w">{{ field.label }}</h3>
        {% endif %}
        <div class="fr-mb-1v">
            <fieldset class="fr-fieldset">
                {% if field.help_text %}
                    <legend class="fr-fieldset__legend fr-fieldset__legend--regular">{{ field.help_text|safe }}</legend>
                {% endif %}
                {% for choice in field %}
                    <div class="fr-fieldset__element">
                        <div class="fr-grid-row fr-grid-row--middle">
                            {% with key|field_image_url:forloop.counter0 as image_url %}
                                {% if image_url %}<img src="{{ image_url }}" class="contrib-input-image fr-mr-3v" alt="">{% endif %}
                            {% endwith %}
                            <div class="fr-checkbox-group fr-checkbox-group">
                                {{ choice.tag }}
                                <label class="fr-label" for="id_{{ field.name }}_{{ forloop.counter0 }}">{{ choice.choice_label|capfirst }}</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            {% for error in field.errors %}<div class="form-text text-danger" role="alert">{{ error }}</div>{% endfor %}
        </div>
    </div>
{% endif %}
