{% load a4a %}
{% if field %}
    <div class="field-{{ field.name }} fr-mb-3v a4a-form-field">
        <label for="{{ field.id_for_label }}" class="mb-0">
            <strong tabindex="0">{{ field.label }}</strong>
            <br>
        </label>
        <div class="form-group">
            <p tabindex="0">{{ field.help_text|safe }}</p>
            {{ field|addclass:"form-control a4a-form-input-number" }}
            {% for error in field.errors %}<div class="form-text text-danger" role="alert">{{ error }}</div>{% endfor %}
        </div>
    </div>
{% endif %}
