DJANGO_SETTINGS_MODULE=core.settings_prod
SECRET_KEY=<une chaine de caractère arbitraire ici>
DATABASE_URL=postgres://access4all:access4all@localhost/access4all
SENTRY_DSN=<le DSN Sentry ici>
EMAIL_HOST=<host du serveur smtp>
EMAIL_PORT=<port du serveur smtp>
EMAIL_HOST_USER=<nom d'utilisateur smtp>
EMAIL_HOST_PASSWORD=<mot de passe smtp>
INSEE_API_CLIENT_KEY=<consumer insee api ici>
INSEE_API_SECRET_KEY=<secret insee api ici>
PAGESJAUNES_API_CLIENT_KEY=<client pagesjaunes api ici>
PAGESJAUNES_API_SECRET_KEY=<secret pagesjaunes api ici>
SCALINGO_APP=access4all
