[flake8]
ignore =
    E231,
    E501,
    W503
exclude =
    .git,
    .venv,
    __pycache__,
    data,
    docs,
    erp/migrations
max-line-length = 88
max-complexity = 10
per-file-ignores =
    test_*.py: F401,F811
