[flake8]
ignore =
    E231, # Space after comma
    E501, # Line too long
    E731, # Allow inline lambda assignments
    W503  # Line break occurred before a binary operator
exclude =
    .git,
    .venv,
    __pycache__,
    data,
    docs,
    erp/migrations,
    node_modules
max-line-length = 88
max-complexity = 10
per-file-ignores =
    test_*.py: F401,F811
