[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
ipdb = "*"
pylint = "*"
pytest-mock = "*"
splinter = {extras = [ "django",], version = "*"}

[packages]
Django = "==3.1.5"
requests = "*"
django-reset-migrations = "*"
django-import-export = "*"
psycopg2 = "*"
django-toolbelt = "*"
ipython = "*"
django-extensions = "*"
django-nested-admin = "*"
django-admin-list-filter-dropdown = "*"
django-logentry-admin = "*"
django-autoslug = "*"
django-debug-toolbar = "*"
sentry-sdk = "==0.14.1"
django-better-admin-arrayfield = "*"
django-cors-headers = "*"
django-rest-framework = "*"
djangorestframework-gis = "*"
uritemplate = "*"
PyYAML = "*"
coreapi = "*"
Markdown = "*"
Pygments = "*"
pytest-django = "*"
pyparsing = "*"
pydot = "*"
django-registration = "*"
django-crispy-forms = "*"
python-stdnum = "*"
api-insee = "*"
schedule = "*"
django-reversion = "*"
django-admin-autocomplete-filter = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
