[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ruff = "*"
ipdb = "*"
pre-commit = "*"
pytest-mock = "*"
splinter = {extras = [ "django",], version = "*"}
pytest-circleci-parallelized = "*"
django-debug-toolbar = "*"
pytest-xdist = "*"
django-rosetta = "*"
djlint = "*"
pytest-factoryboy = "*"
faker = "*"
django-webtest = "*"
django-deep-translator = "*"
pytest-socket = "*"

[packages]
coreapi = "*"
Django = "==4.2.18"
django-admin-autocomplete-filter = "*"
django-admin-list-filter-dropdown = "*"
django-autoslug = "*"
django-better-admin-arrayfield = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-extensions = "*"
django-import-export = "*"
django-logentry-admin = "*"
django-registration = "*"
django-reversion = "==5.1.0"
djangorestframework = "*"
djangorestframework-gis = "*"
django-waffle = "*"
frictionless = "==5.17.0"
fuzzywuzzy = "*"
ipython = "*"
Markdown = "*"
phonenumbers = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytest-django = "*"
python-levenshtein = "*"
python-stdnum = "*"
PyYAML = "*"
requests = "*"
sentry-sdk = "*"
uuid = "*"
ijson = "*"
gunicorn = "*"
dj-static = "*"
image = "*"
redis = "===5.2.1"
async_timeout = "*"
sib-api-v3-sdk = "*"
celery = "*"
pandas = "*"
django-maintenance-mode = "*"
djangorestframework-api-key = "*"
django-modeltranslation = "*"
django-environ = "*"
deepl = "*"
django-filter = "*"
geopy = "*"
outscraper = "*"
scrapfly-sdk = "*"
parsel = "*"
schedule = "*"
inflection = "*"  # Used by DRF but not in its dependencies
django-admin-two-factor = "*"
django-csp = "*"
colorama = "*"
boto3 = "1.37.9" # 1.36.x is breaking the clean_s3_export_bucket management command
magic-profanity = "*"
django-summernote = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
