[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
pylint = "*"

[packages]
Django = "==3.0.7"
requests = "*"
django-reset-migrations = "*"
django-import-export = "*"
psycopg2 = "*"
django-toolbelt = "*"
ipython = "*"
django-extensions = "*"
django-nested-admin = "*"
django-admin-list-filter-dropdown = "*"
django-logentry-admin = "*"
django-autoslug = "*"
django-debug-toolbar = "*"
sentry-sdk = "==0.14.1"
django-better-admin-arrayfield = "*"
django-cors-headers = "*"
django-rest-framework = "*"
djangorestframework-gis = "*"
uritemplate = "*"
PyYAML = "*"
coreapi = "*"
Markdown = "*"
Pygments = "*"
pytest-django = "*"
pyparsing = "*"
pydot = "*"
django-registration = "*"
django-contact-form = "*"
django-crispy-forms = "*"
python-stdnum = "*"
api-insee = "*"
django-sass = "*"
schedule = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.splinter]
extras = [ "django",]
version = "*"
