{% load i18n %}
<div class="fr-col-12 fr-col-md-6">
    <h1>{% translate "Connexion à acceslibre" %}</h1>
    <div>
        <form action="." method="post" novalidate class="login-form">
            <input type="hidden" name="next" value="{{ next }}">
            {% csrf_token %}
            <fieldset class="fr-fieldset"
                      aria-labelledby="login-1760-fieldset-legend login-1760-fieldset-messages">
                <legend class="fr-fieldset__legend" id="login-1760-fieldset-legend">
                    <h2>{% translate "Se connecter avec son compte" %}</h2>
                </legend>
                {% for error in form.non_field_errors %}<p class="form-text text-danger" role="alert">{{ error }}</p>{% endfor %}
                <div class="fr-fieldset__element">
                    <fieldset class="fr-fieldset"
                              id="credentials"
                              aria-labelledby="credentials-messages">
                        <div class="fr-fieldset__element">
                            <div class="fr-input-group">
                                <label class="fr-label" for="username-1757">
                                    {% translate "Adresse e-mail" %}
                                    <span class="fr-hint-text">{% translate "Format attendu : nom@domaine.fr" %}</span>
                                </label>
                                <input class="fr-input"
                                       autocomplete="username"
                                       aria-required="true"
                                       aria-describedby="username-1757-messages"
                                       name="username"
                                       id="username-1757"
                                       type="text">
                                <div class="fr-messages-group"
                                     id="username-1757-messages"
                                     aria-live="assertive"></div>
                            </div>
                        </div>
                        <div class="fr-fieldset__element">
                            <div class="fr-password" id="password-1758">
                                <label class="fr-label" for="password-1758-input">{% translate "Mot de passe" %}</label>
                                <div class="fr-input-wrap">
                                    <input class="fr-password__input fr-input"
                                           aria-describedby="password-1758-input-messages"
                                           aria-required="true"
                                           name="password"
                                           autocomplete="current-password"
                                           id="password-1758-input"
                                           type="password">
                                </div>
                                <div class="fr-messages-group"
                                     id="password-1758-input-messages"
                                     aria-live="assertive"></div>
                                <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                                    <input aria-label="{% translate 'Afficher le mot de passe' %}"
                                           id="password-1758-show"
                                           type="checkbox"
                                           aria-describedby="password-1758-show-messages">
                                    <label class="fr-password__checkbox fr-label" for="password-1758-show">{% translate "Afficher" %}</label>
                                    <div class="fr-messages-group"
                                         id="password-1758-show-messages"
                                         aria-live="assertive"></div>
                                </div>
                                <p>
                                    <a href="{% url "password_reset" %}" class="fr-link">{% translate "Mot de passe oublié ?" %}</a>
                                </p>
                            </div>
                        </div>
                        <div class="fr-messages-group"
                             id="credentials-messages"
                             aria-live="assertive"></div>
                    </fieldset>
                </div>
                <div class="fr-fieldset__element">
                    <ul class="fr-btns-group">
                        <li>
                            <button class="fr-mt-2v fr-btn">{% translate "Se connecter" %}</button>
                        </li>
                    </ul>
                </div>
                <div class="fr-messages-group"
                     id="login-1760-fieldset-messages"
                     aria-live="assertive"></div>
            </fieldset>
        </form>
    </div>
    <hr>
    <h2>{% translate "Vous n’avez pas de compte ?" %}</h2>
    <ul class="fr-btns-group">
        <li>
            <a href="{% url "django_registration_register" %}?next={{ next|urlencode:'' }}"
               class="fr-btn fr-btn--secondary">{% translate "S'inscrire" %}</a>
        </li>
    </ul>
</div>
