{% extends "editorial/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Connexion" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block top_fluid_content %}
    {% if 'contrib/publication/' in next %}
        <div class="fr-follow fr-p-3v bg-alt-blue-france-975">
            <div class="fr-container">
                <div class="fr-follow__newsletter">
                    <div>
                        <h5 class="fr-h5 fr-follow__title">{% retrieve_erp next %}</h5>
                        <p class="fr-text--md">{% translate "Publication" %}</p>
                    </div>
                    <div>
                        <a href="javascript:history.back()"
                           class="fr-btn fr-text--heavy"
                           title="{% translate "Retour à la fiche" %}">
                            <i class="icon-arrow-left"></i>&nbsp;{% translate "Retour" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock top_fluid_content %}
{% block editorial_content %}
    {% if user.is_authenticated %}
        <p class="alert alert-warning">
            {% url 'logout' as url_logout %}
            {% url 'home' as url_home %}
            {% blocktranslate %}
        Vous êtes déjà authentifié en tant que <strong>{{ user.username }}</strong>,
        vous ne pouvez donc pas vous authentifier avec un nouveau compte.
        Veuillez <a href="{{ url_logout }}">d'abord vous déconnecter</a>
        ou revenir à la <a href="{{ url_home }}">page d'accueil</a>.
      {% endblocktranslate %}
        </p>
    {% else %}
        <main role="main" id="content">
            <div class="fr-container fr-container--fluid fr-mb-md-14v">
                <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                    {% include "registration/_login_form.html" %}
                    <div class="fr-col-5 fr-col-offset-1 fr-mt-32v">
                        <figure class="fr-content-media d-none d-sm-block">
                            <div class="fr-content-media__img ">
                                <img class="auto-height"
                                     src="{% static 'img/login.jpg' %}"
                                     alt=""
                                     aria-hidden="true">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </main>
{% endif %}
{% endblock editorial_content %}
