{% extends "editorial/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load a4a %}

{% block page_title %}Connexion{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
{% if user.is_authenticated %}
<p class="alert alert-warning">
  Vous êtes déjà authentifié en tant que <strong>{{ user.username }}</strong>,
  vous ne pouvez donc pas vous authentifier avec un nouveau compte.
  Veuillez <a href="{% url "logout" %}">d'abord vous déconnecter</a>
  ou revenir à la <a href="{% url "home" %}">page d'accueil</a>.
</p>
{% else %}
<h2 class="h3 text-center mb-4">Je me connecte</h2>
<div class="row justify-content-md-center">
  <form action="" method="POST" class="col-md-6 col-lg-5 mb-4">
    <input type="hidden" name="next" value="{{ next }}">
    {% csrf_token %}

    <p><small class="text-muted">
      <i aria-hidden="true" class="icon icon-info-circled"></i>
      Les champs marqué d'une astérique (*) sont obligatoires.
    </small></p>

    {% for error in form.non_field_errors %}
      <p class="form-text text-danger">{{ error }}</p>
    {% endfor %}

      {{ form.username|as_crispy_field }}
      {{ form.password|as_crispy_field }}

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Connexion</button>
      </div>

      <div class="text-center">
        <a href="{% url "password_reset" %}">J'ai oublié mon mot de passe !</a>
      </div>
  </form>
  <div class="col-md-6 col-lg-5">
    <div class="card p-4">
      <h3 class="h5">
        <i aria-hidden="true" class="icon icon-info-circled"></i>
        Pourquoi créer un compte&nbsp;?
      </h3>
      <p>Créer son compte ne prend que quelques minutes et vous <strong>permet de contribuer au site</strong>.</p>
      <a href="{% url "django_registration_register" %}?next={{ next }}" class="btn btn-primary btn-block">
        <i aria-hidden="true" class="icon icon-user"></i>
        Je crée mon compte
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
