{% extends "editorial/base.html" %}
{% load crispy_forms_tags %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Réinitialisation de mot de passe" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Réinitialisation de mot de passe" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <h1>{% translate "Réinitialisez votre mot de passe" %}</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-10 col-lg-8 col-xl-6 fr-mb-4v">
            <p>
                {% blocktranslate %}
                    Mot de passe perdu&nbsp;? Saisissez votre adresse électronique ci-dessous et
                    nous vous enverrons les instructions pour en créer un nouveau.
                {% endblocktranslate %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="fr-alert fr-alert--error" role="alert">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="fr-input-group">
                    <label class="fr-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    <div class="fr-messages-group" id="input-messages" aria-live="polite"></div>
                </div>
                {% url "contact_topic" topic="connection" as url_contact_connection %}
                <p>
                    {% blocktranslate %}Merci de fournir l'adresse email que vous
                        avez initialement utilisée pour créer votre compte. Si vous ne vous souvenez
                        pas de cette adresse, ou qu'elle est devenue inaccessible, merci de
                        <a href="{{ url_contact_connection }}" class="fr-link" aria-label="Prendre contact via le formulaire de contact">prendre contact</a> avec notre
                        équipe.{% endblocktranslate %}
                </p>
                <button type="submit" class="fr-btn">{% translate "Réinitialiser mon mot de passe" %}</button>
            </form>
        </div>
    </div>
{% endblock editorial_content %}
