{% extends "compte/base.html" %}

{% load a4a %}

{% block compte_content %}
<h3>Modifiez votre mot de passe</h3>

<p>Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau
  mot de passe à deux reprises afin de vérifier qu’il est correctement saisi.</p>

<form action="" method="POST">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <div class="form-group">
    {{ form.old_password.label_tag }}
    {{ form.old_password|addclass:"form-control" }}
    {% for error in form.old_password.errors %}
      <div class="form-text text-danger">{{ error }}</div>
    {% endfor %}
    <span class="form-text text-muted">{{ form.old_password.help_text }}</span>
  </div>

  <div class="form-group">
    {{ form.new_password1.label_tag }}
    {{ form.new_password1|addclass:"form-control" }}
    {% for error in form.new_password1.errors %}
      <div class="form-text text-danger">{{ error }}</div>
    {% endfor %}
    <span class="form-text text-muted">{{ form.new_password1.help_text }}</span>
  </div>

  <div class="form-group">
    {{ form.new_password2.label_tag }}
    {{ form.new_password2|addclass:"form-control" }}
    {% for error in form.new_password2.errors %}
      <div class="form-text text-danger">{{ error }}</div>
    {% endfor %}
    <span class="form-text text-muted">{{ form.new_password2.help_text }}</span>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Modifier mon mot de passe</button>
</form>
{% endblock %}
