{% extends "editorial/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Changement en cours" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Réinitialisation de mot de passe" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <h1 class="fr-mb-2w">{% translate "Réinitialisation de votre mot de passe" %}</h1>
    <div class="fr-alert fr-alert--info fr-mb-2w" role="status">
        {% blocktranslate %}
Si l’email saisi existe bien dans notre base, nous venons d’envoyer un message à cette adresse vous permettant de modifier votre mot de passe.
    {% endblocktranslate %}
    </div>
    {% url "contact_topic" topic="connection" as url_contact_connection %}
    {% url "faq" as url_faq %}
    <p>{% translate "Si vous ne recevez pas d'email d'ici quelques minutes :" %}</p>
    <ol>
        <li>
            {% translate "Vérifiez votre dossier <em>Spam</em> ou <em>Pourriels</em> dans votre client de messagerie électronique." %}
        </li>
        <li>
            {% blocktranslate %}Vérifiez que vous avez bien un compte dans acceslibre. Consultez la <a href="{{ url_faq }}" class="fr-link">FAQ</a> pour plus d'information.{% endblocktranslate %}
        </li>
        <li>
            {% blocktranslate %}Si malgré tout vous n'arrivez pas à vous connecter, veuillez <a class="fr-link" href="{{ url_contact_connection }}" aria-label="Ouvrir le formulaire de contact pour nous contacter">nous contacter</a>.{% endblocktranslate %}
        </li>
    </ol>
    <p>
        <a class="fr-link" href="{% url 'home' %}">{% translate "Retour à l'accueil" %}</a>
    </p>
{% endblock editorial_content %}
