{% extends "editorial/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Réinitialisation effectuée" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Réinitialisation de mot de passe" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <h1>{% translate "Votre mot de passe a été modifié" %}</h1>
    <p class="fr-alert fr-alert--success">
        {% translate "La modification de votre mot de passe a bien été prise en compte." %}
    </p>
    <p>
        <a class="fr-link" href="{% url 'login' %}">{% translate "Identifiez-vous" %}</a> {% translate "ou" %}
        <a class="fr-link" href="{% url 'home' %}">{% translate "retournez à l'accueil" %}</a>.
    </p>
{% endblock editorial_content %}
