{% extends "editorial/base.html" %}

{% load static %}
{% load a4a %}

{% block editorial_content %}
<h3 class="mb-4">Réinitialisation de votre mot de passe</h3>
<div class="alert alert-success">
  <p>
    <i class="icon icon-check"></i>
    Nous vous avons envoyé un email à l'adresse que vous avez indiqué afin de vous permettre de
    modifier le mot de passe du compte qui y est associé.
  </p>
  <p>
    <p>
      <i class="icon icon-info-circled"></i>
      Si vous ne recevez pas d'email d'ici quelques minutes :
    </p>
    <ol>
      <li>Vérifiez votre dossier <em>Spam</em> ou <em>Pourriels</em> dans votre client de messagerie électronique</li>
      <li>Vérifiez que vous avez entré la bonne adresse email correspondant à votre compte Access4all</li>
      <li>Si malgré tout vous n'arrivez pas à vous connecter, veuillez <a href="{% url "contact" %}">nous contacter</a>
    </ol>
  </p>
</div>
<p><a href="{% url "home" %}">Retour à l'accueil</a></p>
{% endblock %}
