{% extends "editorial/base.html" %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Confirmation" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    {% if not form %}
        <h3 class="text-center fr-mb-4v">{% translate "Réinitialisation impossible" %}</h3>
        <p>
            <strong>
                {% translate "La réinitialisation de votre mot de passe est impossible, les paramètres d'identification ne sont pas cohérents." %}
            </strong>
        </p>
        <p class="alert alert-info">
            <i aria-hidden="true" class="icon icon-bulb"></i>
            {% url 'login' as url_login}
            {% blocktranslate %}
    Il se peut que votre mot de passe ait <strong>déjà été réinitialisé</strong>&nbsp;auquel cas, pas de panique&nbsp;!
    Il suffit de <strong><a href="{{ url_login }}">vous identifier</a></strong> au moyen du mot de passe que
    vous avez précédemment redéfini.
    {% endblocktranslate %}
        </p>
        <p>{% translate "Si ce n'est pas le cas&nbsp;:" %}</p>
        <ul class="mb-0">
            <li>
                Si vous avez copier-collé le lien de réinitialisation depuis le courriel qui vous a été envoyé,
                assurez-vous qu'il est <strong>strictement conforme</strong> et <strong>sans erreur de recopie</strong>.
            </li>
            <li>
                {% blocktranslate %}
      Si vous utilisez un client de messagerie susceptible de tronquer ou modifier les liens hypertextes
      d'un courriel, assurez-vous de <strong>désactiver cette fonctionnalité</strong> ou d'utiliser un
      <strong><a href="https://fr.wikipedia.org/wiki/Client_de_messagerie">client de messagerie alternatif</a></strong>.
      {% endblocktranslate %}
            </li>
            <li>
                {% url "contact_topic" topic="connection" as url_contact_connection %}
                {% blocktranslate %}
      Si aucune de ces pistes ne solutionnent le problème, <strong><a href="{{ url_contact_connection }}">veuillez nous contacter</a></strong>.
      {% endblocktranslate %}
            </li>
        </ul>
    {% else %}
        <h3 class="text-center fr-mb-4v">{% translate "Réinitialisation de votre mot de passe" %}</h3>
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6 fr-mb-4v">
                <p>
                    {% translate "Pour des raisons de sécurité, saisissez votre nouveau mot de passe à deux reprises afin de vérifier qu’il est correctement saisi." %}
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1|addclass:"form-control" }}
                        <span class="form-text text-muted">{{ form.new_password1.help_text }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2|addclass:"form-control" }}
                        <span class="form-text text-muted">{{ form.new_password2.help_text }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">{% translate "Enregistrer mon nouveau mot de passe" %}</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock editorial_content %}
