{% extends "editorial/base.html" %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Confirmation" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Réinitialisation de mot de passe" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    {% if not form %}
        <h1 class="fr-mb-2w">{% translate "Réinitialisation impossible" %}</h1>
        <p>
            <strong>
                {% translate "La réinitialisation de votre mot de passe est impossible, les paramètres d'identification ne sont pas cohérents." %}
            </strong>
        </p>
        <p class="fr-alert fr-alert--error">
            {% url 'login' as url_login %}
            {% blocktranslate %}
    Il se peut que votre mot de passe ait <strong>déjà été réinitialisé</strong>&nbsp;auquel cas, pas de panique&nbsp;!
    Il suffit de <a class="fr-link" href="{{ url_login }}">vous identifier</a> au moyen du mot de passe que
    vous avez précédemment redéfini.
    {% endblocktranslate %}
        </p>
        <p>{% translate "Si ce n'est pas le cas&nbsp;:" %}</p>
        <ul class="mb-0">
            <li>
                Si vous avez copier-collé le lien de réinitialisation depuis le courriel qui vous a été envoyé,
                assurez-vous qu'il est <strong>strictement conforme</strong> et <strong>sans erreur de recopie</strong>.
            </li>
            <li>
                {% blocktranslate %}
      Si vous utilisez un client de messagerie susceptible de tronquer ou modifier les liens hypertextes
      d'un courriel, assurez-vous de <strong>désactiver cette fonctionnalité</strong> ou d'utiliser un
     <a class="fr-link" href="https://fr.wikipedia.org/wiki/Client_de_messagerie">client de messagerie alternatif</a>.
      {% endblocktranslate %}
            </li>
            <li>
                {% url "contact_topic" topic="connection" as url_contact_connection %}
                {% blocktranslate %}
      Si aucune de ces pistes ne solutionnent le problème, <a class="fr-link" href="{{ url_contact_connection }}">veuillez nous contacter</a>.
      {% endblocktranslate %}
            </li>
        </ul>
    {% else %}
        <h3 class="text-center fr-mb-4v">{% translate "Réinitialisation de votre mot de passe" %}</h3>
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6 fr-mb-4v">
                <p>
                    {% translate "Pour des raisons de sécurité, saisissez votre nouveau mot de passe à deux reprises afin de vérifier qu’il est correctement saisi." %}
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}<div class="fr-alert fr-alert--error">{{ form.non_field_errors }}</div>{% endif %}
                    <div class="fr-input-group">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1|addclass:"form-control" }}
                        <span class="form-text text-muted">{{ form.new_password1.help_text }}</span>
                    </div>
                    <div class="fr-input-group">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2|addclass:"form-control" }}
                        <span class="form-text text-muted">{{ form.new_password2.help_text }}</span>
                    </div>
                    <button type="submit" class="fr-btn">{% translate "Enregistrer mon nouveau mot de passe" %}</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock editorial_content %}
