{% autoescape off %}
    Bonjour,
    Nous avons reçu une demande de réinitialisation de votre mot de passe sur le site {{ SITE_NAME.title }}.
    Si vous n'êtes pas à l'origine de cette demande, vous pouvez simplement ignorer cet email.
    Si vous êtes bien à l'origine de cette demande, veuillez cliquer sur le lien de confirmation ci-dessous
    pour confirmer la modification de votre mot de passe :
    {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
    Votre nom d'utilisateur, si vous l'avez oublié : {{ user.get_username }}
    --
    L'équipe {{ SITE_NAME.title }}
    {{ SITE_ROOT_URL }}
{% endautoescape %}
