{% extends "editorial/base.html" %}
{% load crispy_forms_tags %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Réinitialisation de mot de passe" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <h1 class="text-center fr-mb-4v">{% translate "Réinitialisez votre mot de passe" %}</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-10 col-lg-8 col-xl-6 fr-mb-4v">
            <p>
                {% blocktranslate %}
          Mot de passe perdu&nbsp;? Saisissez votre adresse électronique ci-dessous et
          nous vous enverrons les instructions pour en créer un nouveau.
        {% endblocktranslate %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <small class="text-muted">
                        <i aria-hidden="true" class="icon icon-info-circled"></i>
                        {% translate "Les champs marqués d'une astérique (*) sont obligatoires." %}
                    </small>
                </p>
                {{ form.non_field_errors }}
                {{ form.email|as_crispy_field }}
                {% url "contact_topic" topic="connection" as url_contact_connection %}
                <p>
                    <span class="form-text text-muted">{% blocktranslate %}Merci de fournir l'adresse email que vous
          avez initialement utilisée pour créer votre compte. Si vous ne vous souvenez
          pas de cette adresse, ou qu'elle est devenue inaccessible, merci de
          <a href="{{ url_contact_connection }}">prendre contact</a> avec notre équipe.{% endblocktranslate %}
                </span>
            </p>
            <button type="submit" class="btn btn-primary btn-block">{% translate "Réinitialiser mon mot de passe" %}</button>
        </form>
    </div>
</div>
{% endblock editorial_content %}
