{% extends "editorial/base.html" %}

{% block page_title %}Changement en cours{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
<main role="main" id="content">
  <h3 class="mb-4">Réinitialisation de votre mot de passe</h3>
  <div class="alert alert-info">
    <i aria-hidden="true" class="icon icon-info-circled"></i>
    Nous avons envoyé un email à l'adresse que vous avez indiqué, pour peu que
    <strong>celui-ci existe dans notre base de données</strong>, afin de vous
    permettre de modifier le mot de passe du compte qui y est associé.
  </div>

  <p>Si vous ne recevez pas d'email d'ici quelques minutes :</p>
  <ol>
    <li>Vérifiez votre dossier <em>Spam</em> ou <em>Pourriels</em> dans votre client de messagerie électronique</li>
    <li>Vérifiez que vous avez entré la bonne adresse email correspondant à votre compte {{ SITE_NAME }}</li>
    <li>Si malgré tout vous n'arrivez pas à vous connecter, veuillez <a href="{% url "contact_topic" topic="support" %}">nous contacter</a>
  </ol>

  <p><a href="{% url "home" %}">Retour à l'accueil</a></p>
</main>
{% endblock %}
