{% extends "contrib/base.html" %}

{% load a4a %}

{% block page_title %}Ajouter un établissement{% endblock%}

{% block contrib_content %}
  {% if public_erp_results or name_search_results %}
  <h2 class="h3 mb-3">Sélectionner mon établissement</h2>
  <div class="row">
    <div class="col-lg-8">
      {% if public_erp_results %}
        {% include "contrib/results/public_erp.html" with results=public_erp_results %}
      {% elif name_search_results %}
        {% include "contrib/results/sirene.html" with results=name_search_results %}
      {% endif %}
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="h5">
            <i aria-hidden="true" class="icon icon-info-circled"></i>
            Votre établissement ne figure pas dans la liste&nbsp;?
          </h2>
          <div class="d-flex flex-column mt-3">
            <a class="btn btn-primary mb-2" href="{% url "contrib_start" %}">Nouvelle recherche</a>
            <a class="btn btn-link mb-2" href="{% url "contrib_admin_infos" %}">Saisie manuelle</a>
            <a class="btn btn-link" href="javascript:history.go(-1)">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h2 class="h3">Rechercher un Établissement Recevant du Public</h2>
  <p><small class="text-muted">
    <i aria-hidden="true" class="icon icon-info-circled"></i>
    La recherche se faisant sur les serveurs des services numériques de l'État,
    une certaine latence de réponse peut être parfois constatée. Les champs marqués
    d'une astérisque (<code>*</code>) sont obligatoires.
  </small></p>
  <p class="text-center mb-0">
    <a class="btn btn-outline-primary btn-lg w-100" href="{% url "contrib_admin_infos" %}">
      Je remplis les données de l'établissement manuellement
    </a>
  </p>
  <p class="text-center text-muted my-2">ou</p>
  <div class="row">
    <div class="col-lg-6">
      {% include "contrib/forms/business_form.html" %}
    </div>
    <div class="col-lg-6">
      {% include "contrib/forms/public_erp_form.html" %}
    </div>
  </div>
  {% include "contrib/forms/siret_form.html" %}
  {% endif %}
{% endblock %}
