{% extends "contrib/base.html" %}

{% load a4a %}

{% block page_title %}Ajouter un établissement{% endblock%}

{% block contrib_content %}
  {% if public_erp_results or name_search_results %}
  <h2 class="h3 mb-3">Sélectionner mon établissement</h2>
  <div class="row">
    <div class="col-lg-8">
      {% if public_erp_results %}
        {% for result in public_erp_results %}
          <div class="card mb-3">
            <div class="card-body row">
              <div class="col-sm-8">
                <strong>{{ result.nom }}</strong>
                {% if result.exists %}
                <span class="badge badge-danger">Existe dans la base</span>
                {% endif %}
                <br>
                <small>
                  {{ result.numero|default_if_none:"" }} {{ result.voie|default_if_none:"" }}<br>
                  {% if result.lieu_dit %}{{ result.lieu_dit|default_if_none:"" }}<br>{% endif %}
                  {{ result.code_postal|default_if_none:"" }} {{ result.commune|default_if_none:"" }}
                </small>
              </div>
              <div class="col-sm-4">
                {% if not result.exists %}
                <a class="btn btn-primary btn-sm btn-block"
                  href="{% url "contrib_admin_infos" %}?data={{ result|encode_public_erp_data }}">
                  Sélectionner cet établissement public
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% elif name_search_results %}
        {% for result in name_search_results %}
        <div class="card mb-3">
          <div class="card-body row">
            <div class="col-sm-8">
              <strong>{{ result.nom }}</strong>
              {% if result.exists %}
              <span class="badge badge-danger">Existe dans la base</span>
              {% elif result.actif %}
              <span class="badge badge-success">En activité</span>
              {% else %}
              <span class="badge badge-warning">Fermé</span>
              {% endif %}
              <br>
              <small>
                SIRET: {{ result.siret }}{% if result.naf %}{% endif %}<br>
                {% if result.naf %}{{ result.naf }}: {{ result.naf|get_naf_label }}<br>{% endif %}
                {{ result.numero|default_if_none:"" }} {{ result.voie|default_if_none:"" }}<br>
                {% if result.lieu_dit %}{{ result.lieu_dit|default_if_none:"" }}<br>{% endif %}
                {{ result.code_postal|default_if_none:"" }} {{ result.commune|default_if_none:"" }}
              </small>
            </div>
            <div class="col-sm-4">
              {% if result.actif and not result.exists %}
              <a class="btn btn-primary btn-sm btn-block"
                href="{% url "contrib_admin_infos" %}?data={{ result|encode_etablissement_data }}">
                Sélectionner cet établissement
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="h5">
            <i aria-hidden="true" class="icon icon-info-circled"></i>
            Votre établissement ne figure pas dans la liste&nbsp;?
          </h2>
          <div class="d-flex flex-column mt-3">
            <a class="btn btn-primary mb-2" href="{% url "contrib_admin_infos" %}">Saisie manuelle</a>
            <a class="btn btn-primary mb-2" href="{% url "contrib_start" %}">Nouvelle recherche</a>
            <a class="btn btn-link" href="javascript:history.go(-1)">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <h2 class="h3">Rechercher un Établissement Recevant du Public</h2>
  <p><small class="text-muted">
    <i aria-hidden="true" class="icon icon-info-circled"></i> La recherche se faisant sur les serveurs de l'INSEE,
    une certaine latence de réponse peut être parfois constatée. Les champs marqués d'une astérisque (<code>*</code>)
    sont obligatoires.
  </small></p>
  <div class="row">
    <div class="col-sm-6">
      {% include "contrib/forms/business_form.html" %}

      <div class="text-center mt-4">
        <a class="btn btn-info w-100" href="{% url "contrib_admin_infos" %}">
          <i aria-hidden="true" class="icon icon-bulb"></i>
          Je préfère saisir les données<br>de mon établissement manuellement
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      {% include "contrib/forms/public_erp_form.html" %}

      {% include "contrib/forms/siret_form.html" %}
    </div>
  </div>
  {% endif %}
{% endblock %}
