{% extends "contrib/base.html" %}
{% load a4a %}
{% load crispy_forms_tags static %}
{% load i18n %}
{% block page_title %}
    {% if erp %}
        {% translate "Modifier un établissement" %}
    {% else %}
        {% translate "Ajouter un établissement" %}
    {% endif %}
{% endblock page_title %}
{% block contrib_title %}
    {% translate "Ajouter les données d'accessibilité d'un établissement" %}
{% endblock contrib_title %}
{% block contrib_step %}
    <small>{% translate "Étape 1 sur 7" %}</small>
{% endblock contrib_step %}
{% block contrib_subtitle %}
    {% translate "L'établissement" %}
{% endblock contrib_subtitle %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block contrib_content %}
    <div class="fr-col-md-9">
        <h3 class="h3 fr-mb-3v">{% translate "Adresse de l'établissement" %}</h3>
        <form id="contrib-edit-form"
              action=""
              method="post"
              class="mb-4"
              novalidate>
            {% csrf_token %}
            {{ form.geom|as_crispy_field }}
            {{ form.source|as_crispy_field }}
            {{ form.source_id|as_crispy_field }}
            {{ form.asp_id|as_crispy_field }}
            {{ form.user_type|as_crispy_field }}
            {% if form.non_field_errors %}
                <div class="alert alert-warning" role="alert">
                    <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
                    {% translate "Attention, des erreurs ont été rencontrées." %}
                    <ul class="my-1">
                        {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if data_error %}<div class="alert alert-danger">{{ data_error }}</div>{% endif %}
            {% if existing_matches or duplicated %}
                {% if existing_matches %}
                    <div class="alert alert-warning">
                        <p>
                            <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
                            {% translate "Des établissements correspondant à votre saisie sont déjà présents sur acceslibre. Assurez vous que l'établissement que vous souhaitez ajouter ne figure pas dans la liste ci-dessous avant de poursuivre la saisie." %}
                        </p>
                    </div>
                {% endif %}
                <div class="list-group list-group-flush">
                    {% if existing_matches %}
                        <div class="row">
                            <div class="fr-col-md-12">
                                {% for erp in existing_matches %}
                                    <div class="d-flex justify-content-between align-items-center fr-pt-2v fr-pr-2v fr-pb-1v fr-pl-0">
                                        <div>
                                            <div class="d-flex w-100 justify-content-between">
                                                <h2 class="h6 font-weight-bold w-100 mb-0 fr-pb-0">
                                                    <!-- rank: {{ erp.rank }} -->
                                                    <a href="{{ erp.get_absolute_url }}">
                                                        <img alt="{% if erp.activite %}{{ erp.activite }}{% endif %}" class="act-icon act-icon-20 fr-mb-1v" src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
                                                        {% if where|startswith:"Autour de moi" and erp.distance %}
                                                            <small class="text-muted"><em>{{ erp.distance|format_distance }}</em></small>
                                                        {% endif %}
                                                        {{ erp.nom }}
                                                    </a>
                                                </h2>
                                                <span class="fr-sr-only">{{ erp.adresse }}</span>
                                            </div>
                                            <div aria-hidden="true">
                                                {% if erp.activite %}<small class="font-weight-bold text-muted">{{ erp.activite }}</small>{% endif %}
                                                <address class="d-inline mb-0">
                                                    <small>{{ erp.adresse }}</small>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-start">
                                        <a class="btn btn-outline-primary text-wrap mx-auto"
                                           href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">
                                            <i aria-hidden="true" class="icon icon-pencil"></i>
                                            {% translate "Améliorez ces informations" %}
                                        </a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if duplicated or existing_matches %}
                        <hr class="my-5 full-width">
                        <p class="mb-0">
                            <button class="btn btn-primary" type="submit" name="force" value="1">
                                <i aria-hidden="true" class="icon icon-pencil"></i>
                                {% translate "Continuer ma saisie d'un nouvel établissement" %}
                            </button>
                        </p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="row fr-mt-4v">
                <div class="fr-col-sm-6">{{ form.nom|as_crispy_field }}</div>
                <div class="fr-col-sm-6">
                    <label for="activite">
                        <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Activité" %}</strong></span>
                        <br>
                        <span class="fr-sr-only">{% translate "Sélectionner dans la liste" %}</span>
                    </label>
                    <div id="autocomplete-activity" class="autocomplete">
                        {{ form.activite }}
                        <ul class="list-group">
                        </ul>
                    </div>
                    {% if form.errors.activite %}
                        <p id="select-error-desc-error" class="fr-error-text">{{ form.errors.activite.0 }}</p>
                    {% endif %}
                    <a href="#"
                       class="small fr-ml-2v {% if request.GET.new_activity %}hidden{% endif %}"
                       id="no_activity">{% translate "Je ne trouve pas l'activité" %}</a>
                    <span class="small {% if not request.GET.new_activity %}hidden{% endif %}"
                          id="activity_suggested">{% translate "Votre suggestion :" %}<span>{{ request.GET.new_activity }}</span></span>
                    {{ form.nouvelle_activite|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="fr-col-sm-3">{{ form.numero|as_crispy_field }}</div>
                <div class="fr-col-sm-9">{{ form.voie|as_crispy_field }}</div>
            </div>
            {{ form.lieu_dit|as_crispy_field }}
            <div class="row">
                <div class="fr-col-sm-4">{{ form.code_postal|as_crispy_field }}</div>
                <div class="fr-col-sm-8">{{ form.commune|as_crispy_field }}</div>
            </div>
            <hr>
            <h2 class="h3">Contact</h2>
            <div class="row">
                <div class="fr-col-lg-4">{{ form.site_internet|as_crispy_field }}</div>
                <div class="fr-col-lg-4">{{ form.telephone|as_crispy_field }}</div>
                <div class="fr-col-lg-4">{{ form.contact_email|as_crispy_field }}</div>
            </div>
            {{ form.contact_url|as_crispy_field }}
            <h3 class="h3 fr-mb-3v">
                {% translate "Emplacement de l'établissement" %} <span class="fr-sr-only">{% translate "cette étape de vérification de l'emplacement n'est pas obligatoire" %}</span>
            </h3>
            {# djlint:off #}
            {% translate "Vous pouvez déplacer le curseur pour qu'il corresponde exactement à l'entrée exacte de l'établissement." %}
            {# djlint:on #}
            <p>{% translate "Si vous êtes sur mobile ou smartphone, utilisez deux doigts pour déplacer la carte." %}</p>
            {% if erp or external_erp %}
                <h2 class="h5 fr-mb-3v">
                    {% if erp %}
                        {{ erp.nom }}
                    {% elif external_erp %}
                        {{ external_erp.nom }}
                    {% endif %}
                    <small class="text-muted">
                        {% if erp.activite %}- {{ erp.activite.nom }}{% endif %}
                        - <em><span id="erp-address"
      data-input-names="numero,voie,lieu_dit,code_postal,commune">
                        {% if erp %}
                            {{ erp.adresse }}
                        {% elif external_erp %}
                            {{ external_erp.adresse }}
                        {% endif %}
                    </span>
                </em>
            </small>
        </h2>
    {% endif %}
    <div id="localisation-map" aria-hidden="true">
        <div class="a4a-localisation-map"></div>
        {{ form.lat }}
        {{ form.lon }}
        <script id="map-options" type="application/json">
        {% if map_options %}{{ map_options | safe }}{% else %}null{% endif %}
        </script>
    </div>
    {% if not existing_matches %}
        {% include "contrib/includes/prevnext.html" %}
    {% endif %}
</form>
</div>
{% endblock contrib_content %}
