{% extends "contrib/base_access_form.html" %}

{% load a4a %}
{% load crispy_forms_tags %}

{% block page_title %}Publication{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block javascript_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
{{ block.super }}
{% endblock %}


{% block fields_content %}
  {% if empty_a11y %}
  <div class="alert alert-danger">
    Vous n'avez rempli aucune donnée d'accessibilité lors des étapes précédentes. La publication est impossible.
  </div>
  {% endif %}

  {% include "fields/boolradio.html" with field=form.user_type inline=False %}
  {% include "fields/textarea.html" with field=form.registre_url %}
  {% include "fields/boolradio.html" with field=form.conformite_type inline=False %}
  {% include "fields/textarea.html" with field=form.conformite_adap_fin %}
  {{ form.commentaire|as_crispy_field }}
  {{ form.certif|as_crispy_field }}
  <script>
  $(document).ready(function() {
    $('#id_conformite_adap_fin').datepicker({
        autoclose: true,
        clearBtn: true,
        format: "yyyy-mm-dd",
        language: "fr"
    });
  });
  </script>
{% endblock %}
