{% extends "contrib/base_access_form.html" %}

{% load a4a %}
{% load crispy_forms_tags %}

{% block page_title %}Publication{% endblock%}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.user_type inline=False %}
  {% include "fields/textarea.html" with field=form.registre_url %}
  {% include "fields/boolradio.html" with field=form.conformite_type inline=False %}
  {% include "fields/textarea.html" with field=form.conformite_adap_fin %}
  {{ form.commentaire|as_crispy_field }}
  {{ form.certif|as_crispy_field }}
{% endblock %}
