{% extends "contrib/base_access_form.html" %}

{% load a4a %}
{% load crispy_forms_tags %}

{% block page_title %}Publication{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  {% if empty_a11y %}
  <div class="alert alert-danger" role="alert">
    Vous n'avez rempli aucune donnée d'accessibilité lors des étapes précédentes. La publication est impossible.
  </div>
  {% endif %}

  {% include "fields/boolradio.html" with field=form.user_type inline=False %}
  {% include "fields/textarea.html" with field=form.registre_url %}
  {% include "fields/boolradio.html" with field=form.conformite inline=True %}

  {{ form.subscribe|as_crispy_field }}
  {{ form.published|as_crispy_field }}
  {{ form.certif|as_crispy_field }}
{% endblock %}
