{% extends "contrib/base.html" %}

{% load a4a %}
{% load crispy_forms_tags %}

{% block page_title %}Localiser un établissement{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block javascript_extras %}
<script src="https://unpkg.com/leaflet-center-cross@0.0.8/dist/leaflet.CenterCross.js"></script>
{% endblock %}

{% block contrib_content %}
  <h2 class="h3 mb-3">Localiser précisément un établissement</h2>

  <div class="alert alert-info">
    <i aria-hidden="true" class="icon icon-info-circled"></i>
    Merci de bien vérifier la bonne géolocalisation de votre établissement sur
    la carte ci-dessous. <strong>Vous pouvez affiner l'emplacement en déplaçant la carte
    pour faire correspondre le pointeur central sur sa position précise.</strong>
  </div>

  <form action="" method="POST" class="mb-4">
    {% csrf_token %}

    <h3 class="h5 mb-3">
      {{ erp.nom }}
      <small class="text-muted">
        {% if erp.activite %} - {{ erp.activite.nom }}{% endif %}
        - <em>{{ erp.adresse }}</em>
      </small>
    </h3>

    <div id="erpmap" style="width:100%;height:400px"></div>

    {{ form.lat|as_crispy_field }}
    {{ form.lon|as_crispy_field }}

    <p><button type="submit" class="btn btn-primary mt-3">Suivant</button></p>
  </form>

  <script>
  window.addEventListener("DOMContentLoaded", function() {
    const erpmap = L.map("erpmap", { scrollWheelZoom: false }).setView({
      lat: {{ form.lat.value }},
      lon: {{ form.lon.value }}
    }, 18);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(erpmap);
    const control = L.control.centerCross({show: true, position: "topright"});
    erpmap.addControl(control);
    erpmap.on("move", function(event) {
      const coords = event.target.getCenter();
      document.querySelector("[name=lat]").value = coords.lat;
      document.querySelector("[name=lon]").value = coords.lng;

    });
  });
  </script>
{% endblock %}
