{% extends "contrib/base_access_form.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Venir dans l'établissement" %}
{% endblock page_title %}
{% block full_infos %}
{% endblock full_infos %}
{% block contrib_title %}
    {% blocktranslate with erp_nom=erp.nom erp_commune=erp.commune_ext %}{{ erp_nom }} de
        {{ erp_commune }}{% endblocktranslate %}
{% endblock contrib_title %}
{% block contrib_step %}
    {% translate "Transport et stationnement" as step_name %}
    {% if erp.published %}
        {% include "contrib/includes/contrib-edit-block.html" with step_name=step_name current_step="3" %}
    {% else %}
        {% include "contrib/includes/stepper.html" with step_name=step_name current_step="3" total_steps="7" %}
    {% endif %}
{% endblock contrib_step %}
{% block contrib_modal %}
    {% if erp.published %}
        {% include "contrib/includes/contrib-edit-modal.html" %}
    {% endif %}
{% endblock contrib_modal %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block fields_content %}
    <div class="contrib-inputs-section-wrapper">
        <div class="contrib-inputs-section fr-py-3w fr-px-4w">
            {% include "fields/boolradio.html" with field=form.transport_station_presence key="transport_station_presence" inline=True %}
            {% translate "Informations complémentaires" as transport_information_label %}
            <div class="contrib-inputs-section">
                {% include "fields/textarea.html" with field=form.transport_information label=transport_information_label key="transport_information" %}
            </div>
        </div>
        <div class="contrib-inputs-section fr-py-3w fr-px-4w">
            {% include "fields/boolradio.html" with field=form.stationnement_presence key="stationnement_presence" inline=True %}
            <div class="contrib-inputs-section">
                <hr class="fr-hr" />
                {% include "fields/boolradio.html" with field=form.stationnement_pmr key="stationnement_pmr" inline=True %}
            </div>
        </div>
        <div class="contrib-inputs-section fr-py-3w fr-px-4w">
            {% include "fields/boolradio.html" with field=form.stationnement_ext_presence key="stationnement_ext_presence" inline=True %}
            <div class="contrib-inputs-section">
                <hr class="fr-hr" />
                {% include "fields/boolradio.html" with field=form.stationnement_ext_pmr key="stationnement_ext_pmr" inline=True %}
            </div>
        </div>
    </div>
{% endblock fields_content %}
