{% extends "contrib/base_access_form.html" %}
{% load i18n %}

{% block page_title %}{% translate "Espace et chemin extérieur" %}{% endblock %}
{% block full_infos %}{% endblock %}
{% block contrib_title %}{% blocktranslate with erp_nom=erp.nom erp_commune=erp.commune_ext %}{{ erp_nom }} de {{ erp_commune }}{% endblocktranslate %}{% endblock %}
{% block contrib_step %}<small>{% translate "Étape 4 sur 7" %}</small>{% endblock %}
{% block contrib_subtitle %}{% translate "Informations d'accessibilité" %}{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  <h3 class="h4">{% translate "Extérieur" %}</h3>
  {% include "fields/boolradio.html" with field=form.cheminement_ext_presence inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_terrain_stable inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_plain_pied inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_ascenseur inline=True %}
  {% include "fields/number.html" with field=form.cheminement_ext_nombre_marches %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_sens_marches inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_reperage_marches inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_main_courante inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_rampe inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_pente_presence inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_pente_degre_difficulte inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_pente_longueur inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_devers inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_bande_guidage inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_retrecissement inline=True %}
{% endblock %}
