{% extends "contrib/base_access_form.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "L'entrée de l'établissement" %}
{% endblock page_title %}
{% block full_infos %}
{% endblock full_infos %}
{% block contrib_title %}
    {% blocktranslate with erp_nom=erp.nom erp_commune=erp.commune_ext %}{{ erp_nom }} de {{ erp_commune }}{% endblocktranslate %}
{% endblock contrib_title %}
{% block contrib_step %}
    <small>{% translate "Étape 5 sur 7" %}</small>
{% endblock contrib_step %}
{% block contrib_subtitle %}
    {% translate "Informations d'accessibilité" %}
{% endblock contrib_subtitle %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block fields_content %}
    <h3 class="h4">{% translate "Entrée" %}</h3>
    {% include "fields/boolradio.html" with field=form.entree_reperage inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_porte_presence inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_porte_manoeuvre inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_porte_type inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_vitree inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_vitree_vitrophanie inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_dispositif_appel inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_dispositif_appel_type inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_plain_pied inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_ascenseur inline=True %}
    {% include "fields/number.html" with field=form.entree_marches %}
    {% include "fields/boolradio.html" with field=form.entree_marches_sens inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_marches_reperage inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_marches_main_courante inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_marches_rampe inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_balise_sonore inline=True %}
    {% include "fields/boolradio.html" with field=form.entree_aide_humaine inline=True %}
    {% include "fields/number.html" with field=form.entree_largeur_mini %}
    {% include "fields/boolradio.html" with field=form.entree_pmr inline=True %}
    {% include "fields/textarea.html" with field=form.entree_pmr_informations %}
{% endblock fields_content %}
