{% extends "contrib/base_access_form.html" %}

{% load a4a %}
{% load crispy_forms_tags %}

{% block page_title %}Venir dans l'établissement{% endblock%}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_presence %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_terrain_accidente %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_plain_pied %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_ascenseur %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_nombre_marches %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_reperage_marches %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_main_courante %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_rampe %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_pente %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_devers %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_bande_guidage %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_retrecissement %}
{% endblock %}
