{% extends "contrib/base_access_form.html" %}

{% block page_title %}Espace et cheminement extérieur{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_presence inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_terrain_accidente inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_plain_pied inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_ascenseur inline=True %}
  {% include "fields/number.html" with field=form.cheminement_ext_nombre_marches %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_sens_marches inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_reperage_marches inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_main_courante inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_rampe inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_pente inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_devers inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_bande_guidage inline=True %}
  {% include "fields/boolradio.html" with field=form.cheminement_ext_retrecissement inline=True %}
{% endblock %}
