{% extends "contrib/base_access_form.html" %}

{% block page_title %}L'entrée de l'établissement{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.entree_reperage inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_vitree inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_vitree_vitrophanie inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_plain_pied inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_ascenseur inline=True %}
  {% include "fields/number.html" with field=form.entree_marches %}
  {% include "fields/boolradio.html" with field=form.entree_marches_reperage inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_marches_main_courante inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_marches_rampe inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_balise_sonore inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_dispositif_appel inline=True %}
  {% include "fields/boolradio.html" with field=form.entree_aide_humaine inline=True %}
  {% include "fields/number.html" with field=form.entree_largeur_mini %}
  {% include "fields/boolradio.html" with field=form.entree_pmr inline=True %}
  {% include "fields/textarea.html" with field=form.entree_pmr_informations %}
{% endblock %}
