{% extends "contrib/base_access_form.html" %}

{% block page_title %}L'accueil de l'établissement{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.accueil_visibilite inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_personnels inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_equipements_malentendants_presence inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_equipements_malentendants inline=False %}
  {% include "fields/boolradio.html" with field=form.accueil_cheminement_plain_pied inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_cheminement_ascenseur inline=True %}
  {% include "fields/number.html" with field=form.accueil_cheminement_nombre_marches %}
  {% include "fields/boolradio.html" with field=form.accueil_cheminement_reperage_marches inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_cheminement_main_courante inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_cheminement_rampe inline=True %}
  {% include "fields/boolradio.html" with field=form.accueil_retrecissement inline=True %}
  {% include "fields/textarea.html" with field=form.accueil_prestations %}
{% endblock %}
