{% extends "contrib/base_access_form.html" %}
{% load a4a %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}
    {% translate "Commentaire et informations complémentaires" %}
{% endblock page_title %}
{% block full_infos %}
{% endblock full_infos %}
{% block contrib_title %}
    {% blocktranslate with erp_nom=erp.nom erp_commune=erp.commune_ext %}{{ erp_nom }} de {{ erp_commune }}{% endblocktranslate %}
{% endblock contrib_title %}
{% block contrib_step %}
    <small>{% translate "Étape 7 sur 7" %}</small>
{% endblock contrib_step %}
{% block contrib_subtitle %}
    {% translate "Informations d'accessibilité" %}
{% endblock contrib_subtitle %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block fields_content %}
    <h3 class="h4">{% translate "Informations complémentaires" %}</h3>
    {% include "fields/checkbox.html" with field=form.labels inline=True %}
    {% include "fields/textarea.html" with field=form.labels_autre extraclasses="hidden" extraid="field-labels_autre" %}
    {% include "fields/checkbox.html" with field=form.labels_familles_handicap inline=True extraclasses="hidden" extraid="field-labels_familles_handicap" %}
    <script>
     document.addEventListener("DOMContentLoaded", function () {
      const fieldFamilles = document.querySelector("#field-labels_familles_handicap");
      const fieldAutre = document.querySelector("#field-labels_autre");
      const otherInput = document.querySelector("#id_labels_autre");

      function getCheckedLabels() {
        const checkedCheckboxes = document.querySelectorAll("input[name=labels]:checked");
        const valuesArray = [];

        checkedCheckboxes.forEach(function (checkbox) {
          valuesArray.push(checkbox.value);
        });

        return valuesArray;
      }

      function checkDisplay() {
        const checkedLabels = getCheckedLabels();
        if (checkedLabels.includes("autre") || checkedLabels.includes("other")) {
          fieldAutre.classList.remove("hidden");
          otherInput.setAttribute("required", "required");
        } else {
          fieldAutre.classList.add("hidden");
          otherInput.value = "";
          otherInput.removeAttribute("required");
        }

        if (checkedLabels.includes("th")) {
          fieldFamilles.classList.remove("hidden");
        } else {
          fieldFamilles.classList.add("hidden");
          const checkboxes = fieldFamilles.querySelectorAll("input[type=checkbox]");
          checkboxes.forEach(function (input) {
            input.checked = false;
          });
        }
      }

      document.querySelectorAll("input[name=labels]").forEach(function (input) {
        input.addEventListener("change", checkDisplay);
      });

      checkDisplay();
    });

    </script>
    {{ form.commentaire|as_crispy_field }}
{% endblock fields_content %}
