{% extends "contrib/base_access_form.html" %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Commentaire et informations complémentaires" %}
{% endblock page_title %}
{% block full_infos %}
{% endblock full_infos %}
{% block contrib_title %}
    {% blocktranslate with erp_nom=erp.nom erp_commune=erp.commune_ext %}{{ erp_nom }} de
        {{ erp_commune }}{% endblocktranslate %}
{% endblock contrib_title %}
{% block contrib_step %}
    {% translate "Informations complémentaires" as step_name %}
    {% if erp.published %}
        {% include "contrib/includes/contrib-edit-block.html" with step_name=step_name current_step="7" %}
    {% else %}
        {% include "contrib/includes/stepper.html" with step_name=step_name current_step="7" total_steps="7" %}
    {% endif %}
{% endblock contrib_step %}
{% block contrib_modal %}
    {% if erp.published %}
        {% include "contrib/includes/contrib-edit-modal.html" %}
    {% endif %}
{% endblock contrib_modal %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block fields_content %}
    <div class="contrib-inputs-section-wrapper">
        {% if should_display_group_labels %}
            <div class="contrib-inputs-section fr-py-3w fr-px-4w">
                {% if form.labels %}
                    {% include "fields/checkbox.html" with field=form.labels inline=True %}
                {% endif %}
                {% if form.labels_autre %}
                    <div class="contrib-inputs-section">
                        <hr class="fr-hr" />
                        {% include "fields/textarea.html" with field=form.labels_autre extraid="field-labels_autre" %}
                    </div>
                {% endif %}
                {% if form.labels_familles_handicap %}
                    <div class="contrib-inputs-section">
                        <hr class="fr-hr" />
                        {% include "fields/checkbox.html" with field=form.labels_familles_handicap inline=True extraid="field-labels_familles_handicap" key="labels_familles_handicap" %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="contrib-inputs-section fr-py-3w fr-px-4w">
            <h2 class="fr-text--xl fr-text--bold fr-mb-1w">
                {% translate "Informations complémentaires et prestations spécifiques" %}
            </h2>
            {% include "fields/textarea.html" with field=form.commentaire %}
        </div>
    </div>
    {% if should_display_group_labels %}
        <script nonce="{{ request.csp_nonce }}">
      document.addEventListener('DOMContentLoaded', function() {

        const fieldFamilles = document.querySelector('#field-labels_familles_handicap')
        const fieldAutre = document.querySelector('#field-labels_autre')
        const otherInput = document.querySelector('#id_labels_autre')

        function getCheckedLabels() {
          const checkedCheckboxes = document.querySelectorAll('input[name=labels]:checked')
          const valuesArray = []

          checkedCheckboxes.forEach(function(checkbox) {
            valuesArray.push(checkbox.value)
          })

          return valuesArray
        }

        function checkDisplay() {
          const checkedLabels = getCheckedLabels()

          if (checkedLabels.includes('autre') || checkedLabels.includes('other')) {
            fieldAutre.closest('.contrib-inputs-section').classList.remove('hidden')
            otherInput.setAttribute('required', 'required')
          } else {
            fieldAutre.closest('.contrib-inputs-section').classList.add('hidden')
            otherInput.value = ''
            otherInput.removeAttribute('required')
          }

          if (checkedLabels.includes('th')) {
            fieldFamilles.closest('.contrib-inputs-section').classList.remove('hidden')
          } else {
            fieldFamilles.closest('.contrib-inputs-section').classList.add('hidden')
            const checkboxes = fieldFamilles.querySelectorAll('input[type=checkbox]')
            checkboxes.forEach(function(input) {
              input.checked = false
            })
          }
        }

        document.querySelectorAll('input[name=labels]').forEach(function(input) {
          input.addEventListener('change', checkDisplay)
        })

        checkDisplay()
      })

        </script>
    {% endif %}
{% endblock fields_content %}
