{% extends "contrib/base_access_form.html" %}

{% load a4a %}

{% block page_title %}Labellisation{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block fields_content %}
  {% include "fields/boolradio.html" with field=form.labels inline=True %}
  {% include "fields/textarea.html" with field=form.labels_autre %}
  {% include "fields/boolradio.html" with field=form.labels_familles_handicap inline=True %}
  <script>
  $(document).ready(function() {
    const $fieldFamilles = $(".field-labels_familles_handicap");
    $fieldFamilles.hide();

    const $fieldAutre = $(".field-labels_autre")
    $fieldAutre.hide();

    const $labelsInputs = $("ul#id_labels input[type=checkbox");

    function getCheckedLabels() {
      return $labelsInputs.get().reduce(function(acc, input) {
        if (input.checked) {
          acc.push(input.value)
        }
        return acc;
      }, []);
    }

    function checkDisplay() {
      const checkedLabels = getCheckedLabels();
      if (checkedLabels.indexOf("autre") !== -1) {
        $fieldAutre.show();
        $fieldAutre.find("input[type=text").attr("required", "required");
      } else {
        $fieldAutre.hide();
        $fieldAutre.find("input[type=text").val("");
        $fieldAutre.find("input[type=text").removeAttr("required");
      }
      if (checkedLabels.length > 0) {
        $fieldFamilles.show();
      } else {
        $fieldFamilles.hide();
        $fieldFamilles.find("input[type=checkbox").each(function(i, input) {
          input.checked = false;
        });
      }
    }

    $labelsInputs.each(function(i, input) {
      $(input).on("change", checkDisplay);
    });

    checkDisplay();
  });
  </script>
{% endblock %}
