{% extends "editorial/base.html" %}

{% load static %}

{% block top_fluid_content %}{% comment %}Disable search form in the whole contrib section{% endcomment %}{% endblock %}

{% block editorial_content %}
<div class="row">
  <div class="col-md-9 order-last" id="content">
    {% block contrib_content %}{% endblock %}
  </div>
  <nav class="col-md-3 mb-3" aria-label="Étapes d'ajout d'un établissement" role="navigation">
    <div class="d-md-none" id="step-navigation">
      <label for="step-select" class="font-weight-bold">Navigation</label>
      <select id="step-select" class="form-control" onchange="location=$(this).val()+'#step-navigation'">
        <option {% if erp %}value="{% url "contrib_edit_infos" erp_slug=erp.slug %}"{% else %}value="{% url "contrib_start" %}"{% endif %}
          {% if step == 1 %}selected{% endif %}>
          {% if step > 1 %}[ok]{% endif %}
          Informations
        </option>
        <option {% if erp %}value="{% url "contrib_transport" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 2 %}selected{% endif %}>
          {% if step > 2 %}[ok]{% endif %}
          Venir dans l'établissement
        </option>
        <option {% if erp %}value="{% url "contrib_exterieur" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 3 %}selected{% endif %}>
          {% if step > 3 %}[ok]{% endif %}
          Atteindre l'entrée
        </option>
        <option {% if erp %}value="{% url "contrib_entree" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 4 %}selected{% endif %}>
          {% if step > 4 %}[ok]{% endif %}
          Entrée
        </option>
        <option {% if erp %}value="{% url "contrib_accueil" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 5 %}selected{% endif %}>
          {% if step > 5 %}[ok]{% endif %}
          Accueil
        </option>
        <option {% if erp %}value="{% url "contrib_sanitaires" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 6 %}selected{% endif %}>
          {% if step > 6 %}[ok]{% endif %}
          Sanitaires
        </option>
        <option {% if erp %}value="{% url "contrib_labellisation" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 7 %}selected{% endif %}>
          {% if step > 7 %}[ok]{% endif %}
          Labellisation
        </option>
        <option {% if erp %}value="{% url "contrib_commentaire" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 8 %}selected{% endif %}>
          {% if step > 8 %}[ok]{% endif %}
          Commentaire
        </option>
        <option {% if erp and erp.user == request.user %}value="{% url "contrib_publication" erp_slug=erp.slug %}"{% else %}disabled{% endif %}
          {% if step == 9 %}selected{% endif %}>
          Publication
        </option>
      </select>
    </div>
    <ul class="d-none d-md-block StepProgress">
      <li class="StepProgress-item{% if step == 1 %} current{% endif %}{% if step > 1 %} is-done{% endif %}"
        aria-label="{% if step == 1 %}en cours{% endif %}{% if step > 1 %} validé{% endif %}"
      >
        {% if erp %}
        <a title="Informations ({% if step == 1 %}en cours{% endif %}{% if step > 1 %} validé{% endif %})" href="{% url "contrib_edit_infos" erp_slug=erp.slug %}">Informations</a>
        {% else %}
        <a title="Trouver un établissement {% if step == 1 %}(Étape en cours){% endif %}{% if step > 1 %}(Étapevalidée){% endif %}" href="{% url "contrib_start" %}">Trouver un établissement</a>
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 2 %} current{% endif %}{% if step > 2 %} is-done{% endif %}"
        aria-label="{% if step == 2 %}en cours{% endif %}{% if step > 2 %} validé{% endif %}">
        {% if erp %}
        <a title="Venir dans l'établissement {% if step == 2 %}(Étape en cours){% endif %}{% if step > 2 %}(Étape validée){% endif %}" href="{% url "contrib_transport" erp_slug=erp.slug %}">Venir dans l'établissement</a>
        {% else %}
        Venir dans l'établissement
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 3 %} current{% endif %}{% if step > 3 %} is-done{% endif %}"
        aria-label="{% if step == 3 %}en cours{% endif %}{% if step > 3 %} validé{% endif %}">
        {% if erp %}
        <a title="Atteindre l'entrée {% if step == 3 %}(Étape en cours){% endif %}{% if step > 3 %}(Étape validée){% endif %}" href="{% url "contrib_exterieur" erp_slug=erp.slug %}">Atteindre l'entrée</a>
        {% else %}
        Atteindre l'entrée
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 4 %} current{% endif %}{% if step > 4 %} is-done{% endif %}"
        aria-label="{% if step == 4 %}en cours{% endif %}{% if step > 4 %} validé{% endif %}">
        {% if erp %}
        <a title="Entrée {% if step == 4 %}(Étape en cours){% endif %}{% if step > 4 %}(Étape validée){% endif %}" href="{% url "contrib_entree" erp_slug=erp.slug %}">Entrée</a>
        {% else %}
        Entrée
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 5 %} current{% endif %}{% if step > 5 %} is-done{% endif %}"
        aria-label="{% if step == 5 %}en cours{% endif %}{% if step > 5 %} validé{% endif %}">
        {% if erp %}
        <a title="Accueil {% if step == 5 %}(Étape en cours){% endif %}{% if step > 5 %}(Étape validée){% endif %}" href="{% url "contrib_accueil" erp_slug=erp.slug %}">Accueil</a>
        {% else %}
        Accueil
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 6 %} current{% endif %}{% if step > 6 %} is-done{% endif %}"
        aria-label="{% if step == 6 %}en cours{% endif %}{% if step > 6 %} validé{% endif %}">
        {% if erp %}
        <a title="Sanitaires {% if step == 6 %}(Étape en cours){% endif %}{% if step > 6 %}(Étape validée){% endif %}" href="{% url "contrib_sanitaires" erp_slug=erp.slug %}">Sanitaires</a>
        {% else %}
        Sanitaires
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 7 %} current{% endif %}{% if step > 7 %} is-done{% endif %}"
        aria-label="{% if step == 7 %}en cours{% endif %}{% if step > 7 %} validé{% endif %}">
        {% if erp %}
        <a title="Labellisation {% if step == 7 %}(Étape en cours){% endif %}{% if step > 7 %}(Étape validée){% endif %}" href="{% url "contrib_labellisation" erp_slug=erp.slug %}">Labellisation</a>
        {% else %}
        Labellisation
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 8 %} current{% endif %}{% if step > 8 %} is-done{% endif %}"
        aria-label="{% if step == 8 %}en cours{% endif %}{% if step > 8 %} validé{% endif %}">
        {% if erp %}
        <a title="Commentaire {% if step == 8 %}(Étape en cours){% endif %}{% if step > 8 %}(Étape validée){% endif %}" href="{% url "contrib_commentaire" erp_slug=erp.slug %}">Commentaire</a>
        {% else %}
        Commentaire
        {% endif %}
      </li>
      <li class="StepProgress-item{% if step == 9 %} current{% endif %}"
        aria-label="{% if step == 9 %}en cours{% endif %}">
        {% if erp and erp.user == request.user %}
        <a title="Publication {% if step == 9 %}(Étape en cours){% endif %}{% if step > 9 %}(Étape validée){% endif %}" href="{% url "contrib_publication" erp_slug=erp.slug %}">Publication</a>
        {% else %}
        <span class="text-muted">Publication</span>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
