{% extends "contrib/base.html" %}
{% load a4a %}
{% load static %}
{% load i18n %}
{% block contrib_content %}
    <div class="fr-col-md-9">
        <form action=""
              method="post"
              class="a4a-form a4a-conditional-form fr-mb-4v"
              novalidate>
            {% csrf_token %}
            {% block full_infos %}
                <h1 class="h3 fr-mb-3v" tabindex="0">
                    {% block page_title %}
                    {% endblock page_title %}
                </h1>
                <h2 class="h5 mb-0">
                    {% if erp.published %}
                        <a href="{{ erp.get_absolute_url }}">{{ erp.nom }}</a>
                    {% else %}
                        {{ erp.nom }}
                    {% endif %}
                    {% if erp.activite %}<small class="text-muted">{{ erp.activite.nom }}</small>{% endif %}
                </h2>
                <address class="text-muted fr-mb-2v">
                    <em>{{ erp.adresse }}</em>
                </address>
                {% if erp.user != user %}
                    <div class="alert alert-info" role="status">
                        <i aria-hidden="true" class="icon icon-info-circled"></i>
                        {% if erp.user %}
                            {% blocktranslate %}Vous vous apprêtez à modifier les informations initialement fournies par <strong>{{ erp.user }}</strong>{% endblocktranslate %}
                        {% else %}
                            {% translate "Vous vous apprêtez à modifier les informations existantes pour cet établissement" %}
                        {% endif %}
                        .
                        {% translate "Veuillez vous assurer de la fiabilité des informations que vous contribuez." %}
                    </div>
                {% endif %}
                {% if step == 1 or step == 2 %}
                    <p>
                        <small class="text-muted">
                            <i aria-hidden="true" class="icon icon-info-circled"></i>
                            {% translate "Les champs marqué d'une astérique (*) sont obligatoires." %}
                        </small>
                    </p>
                {% else %}
                    <p>
                        <small class="text-muted">
                            <i aria-hidden="true" class="icon icon-info-circled"></i> {% blocktranslate %}Aucun champ n'est obligatoire. Si
                            vous ne disposez pas des informations demandées, cliquez sur <em>Suivant</em>.{% endblocktranslate %}
                        </small>
                    </p>
                {% endif %}
            {% endblock full_infos %}
            {% if form.errors %}
                <div class="alert alert-warning" role="alert">
                    <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
                    {% translate "Attention, des erreurs ont été rencontrées." %}
                    <ul class="my-1">
                        {% for field_name, message in form.errors.items %}<li>{{ field_name|get_field_label }}: {{ message }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block fields_content %}
            {% endblock fields_content %}
            {% include "contrib/includes/prevnext.html" %}
        </form>
    </div>
{% endblock contrib_content %}
