{% extends "contrib/base.html" %}

{% load a4a %}
{% load static %}

{% block javascript_extras %}
<script src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block contrib_content %}
  {# <div class="alert alert-success"><pre>{{ accessibilite.to_debug }}</pre></div> #}
  <form action="" method="POST" class="a4a-form mb-4">
    <h3>{% block page_title %}{% endblock%}</h3>

    <h5 class="mb-3">
      {{ erp.nom }}
      <small class="text-muted">
        {% if erp.activite %} - {{ erp.activite.nom }}{% endif %}
        - <em>{{ erp.adresse }}</em>
      </small>
    </h5>

    {% csrf_token %}

    {% if step == 8 %}
    <p><small class="text-muted">
      <i class="icon icon-info-circled"></i>
      Les champs marqué d'une astérique (*) sont obligatoires.
    </small></p>
    {% else %}
    <p><small class="text-muted">
      <i class="icon icon-info-circled"></i> Aucun champ n'est obligatoire. Si
      vous ne disposez pas des informations demandées, cliquez sur <em>Suivant</em>.
    </small></p>
    {% endif %}

    {% if form.non_field_errors %}
    <div class="alert alert-warning">
      <i class="icon icon-exclamation-circle"></i>
      Attention, des erreurs ont été rencontrées.
      <ul class="my-1">
        {% for field_name, message in form.non_field_errors.items %}
        <li>{{ field_name }}: {{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block fields_content %}{% endblock %}

    <button type="submit" class="btn btn-primary mr-2">Suivant</button>
  </form>
  <script>
  window.addEventListener("DOMContentLoaded", function() {
    window.a4aForms.run({
      fieldSelectorPrefix: ".field-",
      inputNamePrefix: ""
    });
  });
  </script>
{% endblock %}
