{% extends "editorial/base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Revendiquer un établissement{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
<main>
  <h1 class="h3 mb-3">Revendiquer un établissement</h1>

  <p class="font-weight-bold">Vous déclarez être gestionnaire de l'établissement suivant&nbsp;:</p>

  <div class="card shadow-m mb-3">
    <div class="card-header">
      <h2 class="h5 mb-0">
        {{ erp.nom }}
        {% if erp.activite %}<small class="text-muted">{{ erp.activite.nom }}</small>{% endif %}
      </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="h6">Adresse&nbsp;:</h3>
          <address class="mb-2 font-italic">{{ erp.adresse }}</adresse>
        </div>
        <div class="col-sm-6">
          <div id="claim-map" style="height:200px"></div>
        </div>
      </div>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", function() {
        const map = a4a.geo.createMap("claim-map", { scrollWheelZoom: false }).setView({
          lat: {{ erp.geom.coords.1 }},
          lon: {{ erp.geom.coords.0 }}
        }, 17);
        map.dragging.disable();
        const control = L.control.centerCross({show: true, position: "topright"});
        map.addControl(control);
      });
      </script>
  </div>

  <form action="" method="POST" class="a4a-form" novalidate>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
      <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
      Attention, des erreurs ont été rencontrées.
      <ul class="my-1">
        {% for field_name, message in form.non_field_errors.items %}
        <li>{{ field_name }}: {{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="ml-2">
      {{ form.ok|as_crispy_field }}
    </div>

    <button class="btn btn-primary">Accepter et continuer</button>
  </form>
</main>
{% endblock %}
