{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block top_fluid_content %}
    <div class="fr-follow bg-alt-blue-france-975">
        <div class="fr-container">
            <div class="fr-follow__newsletter">
                <div>
                    <h1 class="fr-h2 fr-follow__title">
                        {% blocktranslate with erp_nom=erp.nom.title erp_commune=erp.commune_ext %}{{ erp_nom }} de {{ erp_commune }}{% endblocktranslate %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock top_fluid_content %}
{% block editorial_content %}
    <div class="fr-stepper">
        <span class="fr-stepper__state">{% blocktranslate with step=step total=nb_step %}Étape {{ step }} sur {{ total }}{% endblocktranslate %}</span>
        <progress max="{{ nb_step }}" value="{{ step }}">
            {% blocktranslate with step=step total=nb_step %}Étape {{ step }} sur {{ total }}{% endblocktranslate %}
        </progress>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.field.widget.input_type == "radio" %}
                {% include "contrib/forms/dsfr-radio.html" %}
            {% elif field.field.widget.input_type == "int_or_radio" %}
                {% include "contrib/forms/dsfr-int-or-unique.html" %}
            {% endif %}
        {% endfor %}
        <button class="fr-btn" type="submit">{% translate "Valider" %}</button>
    </form>
{% endblock editorial_content %}
{#TODO bouton suivant précedent ? #}
{#TODO utiliser composant du bouton de radio riche#}
