{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block top_fluid_content %}
    <div class="fr-container fr-mt-8v fr-mt-md-8v fr-mb-2v fr-mb-md-4v">
        <h6>{% translate "Ajoutez des informations d'accessibilité" %}</h6>
        <div class="fr-stepper" id="stepper">
            <h2 class="fr-stepper__title">
                <span class="fr-stepper__state">{% blocktranslate with step=step total=nb_sections %}Étape {{ step }} sur {{ total }}{% endblocktranslate %}</span>
                {{ step_name }}
            </h2>
            <div class="fr-stepper__steps"
                 data-fr-current-step="{{ step }}"
                 data-fr-steps="{{ nb_sections }}"></div>
        </div>
    </div>
{% endblock top_fluid_content %}
{% block editorial_content %}
    <form method="post" id="contribution-form" class="contribution-form">
        {% csrf_token %}
        {% for field in form %}
            {% if form.easy_skip_for_screen_readers %}
                <div class="fr-sr-only sr-only-focusable">
                    <button id="unsure-and-submit" data-answer-to-pick="{{ unsure_answer }}">
                        {{ field.label }} - {% translate "Je ne suis par sûr et continuer" %}
                    </button>
                </div>
            {% endif %}
            {% if field.field.widget.input_type == "radio" %}
                {% include "contrib/forms/dsfr-radio.html" %}
            {% elif field.field.widget.input_type == "int_or_radio" %}
                {% include "contrib/forms/dsfr-int-or-unique.html" %}
            {% elif field.field.widget.input_type == "checkbox" %}
                {% include "contrib/forms/dsfr-checkbox.html" %}
            {% elif field.field.widget.input_type == "text" %}
                {% include "contrib/forms/dsfr-textarea.html" %}
            {% endif %}
        {% endfor %}
        <div class="fr-btns-group">
            <a class="fr-link fr-icon-arrow-left-line fr-link--icon-left"
               href="{{ previous_url }}#content">{% translate "Précédent" %}</a>
            <button class="fr-btn">{% translate "Continuer" %}</button>
        </div>
    </form>
{% endblock editorial_content %}
