{% extends "editorial/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}
    {% translate "Documentation des champs d'accessibilité" %}
{% endblock page_title %}
{% block editorial_content %}
    <h2 class="h3 mb-3">{% translate "Documentation des champs d'accessibilité" %}</h2>
    <div class="alert alert-info mb-3">
        {% translate "Vous souhaitez étudier ces entités au format tableur&nbsp;?" %} <a href="{% url 'contact_form' %}">{% translate "Demandez le nous" %}</a>&nbsp;!
    </div>
    <table class="table table-responsive">
        <tbody>
            <tr class="table-light">
                <th>{% translate "Entité" %}</th>
                <th>{% translate "Description" %}</th>
                <th>{% translate "Type de données" %}</th>
                <th>{% translate "Attributs" %}</th>
            </tr>
            {% for section, fields in sections.items %}
                <tr class="table-light mt-2">
                    <th colspan="4">
                        <h3 class="h4 m-0">{{ section }}</h3>
                    </th>
                </tr>
                {% for field in fields %}
                    <tr>
                        <th class="pl-5">{{ field.label }}</th>
                        <td>
                            {% if field.help_text_ui %}
                                {{ field.help_text_ui }}
                            {% else %}
                                {{ field.help_text }}
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if field.type == "boolean" %}
                                {% translate "Booléen optionnel" %}
                            {% elif field.type == "number" %}
                                {% translate "Nombre entier positif" %}
                            {% elif field.type == "array" %}
                                {% translate "Choix multiple" %}
                            {% elif field.type == "string" %}
                                {% if field.choices %}
                                    {% translate "Choix simple" %}
                                {% else %}
                                    {% translate "Texte libre" %}
                                {% endif %}
                            {% else %}
                                {% translate "N/A" %}
                            {% endif %}
                        </td>
                        <td>
                            {% if field.choices %}
                                <ul class="p-0 pl-3 m-0">
                                    {% for choice in field.choices %}<li>{{ choice.1 }}</li>{% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock editorial_content %}
