{% extends "base.html" %}

{% block content %}

  <h2>Commune de <a href="{% url "commune" commune.slug %}">{{ commune.nom}}</a></h2>

  <h3>Activités</h3>
  {% if activites %}
  <p>
    {% for activite in activites %}
    <a href="{% url 'commune_activite' commune=commune.slug activite=activite.nom %}">{{ activite.nom }} ({{ activite.count }})</a>
    {% endfor %}
  </p>
  {% endif %}

  {% comment %}
  <h3>ERP</h3>
  {% if object_list %}
  <ul>
    {% for erp in object_list %}
    <li>{{ erp.nom }} : {{ erp.commune }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endcomment %}

  <div id="map"></div>

  <script>
    window.addEventListener("DOMContentLoaded", function() {
      initMap({{ commune_json | safe }}, {{ geojson_list | safe }});
    });
  </script>
{% endblock %}
