{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col">
      <h2 class="display-4" style="font-size:32px">Commune de <a href="{% url "commune" commune.slug %}">{{ commune.nom}}</a></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h3>Activités</h3>
      <div class="list-group">
        {% for activite in activites %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            href="{% url 'commune_activite' commune=commune.slug activite=activite.pk %}">
              {{ activite.nom }}
              <span class="badge badge-primary badge-pill">{{ activite.count }}</span>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="col">
      <h3>ERP</h3>
      <div class="list-group">
        {% for erp in object_list %}
        <a class="list-group-item list-group-item-action"
            href="{{ erp.get_absolute_url }}">{{ erp.nom }}</a>
        {% endfor %}
      </div>
    </div>

    {% if erp %}
    <div class="col">
      <h3>{{ erp.nom }}</h3>
      <p>{{ erp.adresse }}</p>
    </div>
    {% endif %}

    <div class="col-6">
      <div id="map"></div>
    </div>
  </div>

  <script>
    window.addEventListener("DOMContentLoaded", function() {
      initMap({{ commune_json | safe }}, {{ geojson_list | safe }});
    });
  </script>
{% endblock %}
