{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container-fluid p-0 m-0">
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" id="content">Access4all</h1>
        <p class="lead">La plateforme collaborative pour l’accessibilité</p>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="row">
    {% for _, commune in communes.items %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="{% url 'commune' commune.slug %}">
            <img class="card-img-top" alt="{{ commune.nom }}" src="{% static "img/communes/" %}{{ commune.slug }}.jpg">
          </a>
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'commune' commune.slug %}">{{ commune.nom }}</a></h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
