{% extends "editorial/base.html" %}

{% load a4a %}
{% load i18n %}

{% block editorial_content %}
<div class="row">
  <nav class="col-md-4 col-lg-3 mb-4">
    <ul class="nav flex-column nav-pills" aria-label="{% translate 'Menu' %}">
      <li class="nav-item">
        <a class="nav-link text-nowrap" href="{% url 'home' %}">
          <i aria-hidden="true" class="icon icon-arrow-left mr-1"></i>
          {% translate "Retour à l'accueil" %}
        </a>
      </li>

    </ul>
  </nav>
  <main class="col-md-8 col-lg-9 order-last">
    {% block annuaire_content %}{% endblock %}
  </main>
</div>
{% endblock %}
