{% extends "editorial/base.html" %}
{% load a4a %}
{% load i18n %}
{% block editorial_content %}
    <div class="row">
        <nav class="fr-col-md-4 fr-col-lg-3 fr-mb-4v">
            <ul class="nav flex-column nav-pills" aria-label='{% translate "Menu" %}'>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href='{% url "home" %}'>
                        <i aria-hidden="true" class="icon icon-arrow-left fr-mr-1v"></i>
                        {% translate "Retour à l'accueil" %}
                    </a>
                </li>
            </ul>
        </nav>
        <main class="fr-col-md-8 fr-col-lg-9 order-last">
            {% block annuaire_content %}
            {% endblock annuaire_content %}
        </main>
    </div>
{% endblock editorial_content %}
