{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Annuaire" %}
{% endblock page_title %}
{% block editorial_content %}
    <h1 class="fr-mb-3v">
        <a href="{% url 'annuaire_home' %}">{% translate "Annuaire" %}</a>
    </h1>
    <div class="row">
        <div class="fr-col-md-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action text-truncate{% if not current_departement.code %} active{% endif %}"
                   href="{% url "annuaire_home" %}">{% translate "Tous les départements" %}</a>
                {% for code, departement in departements.items %}
                    <a class="list-group-item list-group-item-action text-truncate{% if current_departement.code == code %} active{% endif %}"
                       href="{% url 'annuaire_departement' departement=code %}">{{ code }} - {{ departement.nom }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="fr-col-md-9">
            {% if not current_departement %}
                <p class="fr-alert fr-alert--info" role="status">
                    {% translate "Sélectionnez un département dans la liste pour en afficher les communes disposant d'établissements renseignés." %}
                </p>
            {% else %}
                <h2 class="fr-mt-2v fr-mb-3v">
                    {{ current_departement.code }} - {{ current_departement.nom }}
                    <small class="text-muted">{{ current_departement_erp_count }} {% blocktranslate count counter=current_departement_erp_count %}établissement{% plural %}établissements{% endblocktranslate %}</small>
                </h2>
                {% for commune in communes %}
                    <p>
                        {{ commune.code_postaux|join:", " }} -
                        <a href="{{ commune.get_absolute_url }}">{{ commune.nom }}</a>
                        <small class="text-muted">({{ commune.erp_access_count }} {% blocktranslate count counter=commune.erp_access_count %}établissement{% plural %}établissements{% endblocktranslate %})</small>
                    </p>
                {% empty %}
                    <p>{% translate "Il n'y a pas encore de commune disposant d'établissements renseignés dans ce département." %}</p>
                    <p>
                        <a class="fr-btn fr-btn--sm" href="{% url 'contrib_start' %}">{% translate "Ajouter un établissement" %}</a>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock editorial_content %}
