{% extends "editorial/base.html" %}

{% load a4a %}
{% load static %}

{% block page_title %}{% if erp %}{{ erp.nom }}, {% endif %}{% if current_activite %}{{ current_activite.nom }}, {% endif %}{{ commune.nom }}, Accessibilité{% endblock%}

{% block page_description %}{% spaceless %}
{% if erp %}
Découvrez l'accessibilité de l'établissement {{ erp.nom }} à {{ commune.nom }} - {{ commune.departement_nom}}
{% else %}
Découvrez l'accessibilité des établissements de la ville de {{ commune.nom }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block skiplinks %}
  <a class="skippy sr-only sr-only-focusable" href="#content">
    <span class="skippy-text">Aller à la liste des établissements</span>
  </a>
  <a class="skippy sr-only sr-only-focusable" href="#activites">
    <span class="skippy-text">Aller à la liste des activités</span>
  </a>
  <a class="skippy sr-only sr-only-focusable" href="#app-map">
    <span class="skippy-text">Aller à la carte</span>
  </a>
{% endblock skiplinks %}

{% block editorial_content %}
<main role="main" id="content">
  <article>
    <header class="d-flex">
      {% if erp.activite %}
      <img alt="{{ erp.activite.nom }}" title="{{ erp.activite.nom }}"
        class="act-icon act-icon-erp act-icon-black"
        src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
      {% endif %}
      <div>
        <h1 class="h2 font-weight-bold">
          {{ erp.nom }}
          <span class="sr-only">{% if erp.activite %}{{ erp.activite.nom }}{% endif %}</span>
        </h1>
        <address class="font-weight-bold m-0 mb-2 p-0">{{ erp.adresse }}</address>

        {% with erp.metadata.centre_vaccination as cv %}
          {% if cv %}
          <div class="alert alert-warning d-flex align-items-center" role="alert" aria-live="assertive" style="font-size:.9em">
            <i aria-hidden="true" class="icon icon-warning text-bigger mr-2"></i>
            Cet établissement est centre de vaccination dans le cadre de la campagne nationale de
            vaccination contre la COVID-19.
          </div>
          {% endif %}
        {% endwith %}

        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-start text-primary mb-2">
          {% with erp.metadata.centre_vaccination as cv %}
            {% if cv and cv.url_rdv %}
              <a class="btn btn-outline-primary mr-3" href="{{ cv.url_rdv }}" target="_blank">
                <i aria-hidden="true" class="icon icon-clock"></i>
                <span>Prendre rendez-vous {{ cv.url_rdv|cv_provider_name }}</span>
              </a>
            {% endif %}
          {% endwith %}
          {% if erp.site_internet %}
          <span class="mr-3">
            <i aria-hidden="true" class="icon icon-globe"></i>
            <a href="{{ erp.site_internet }}" target="_blank">Site internet</a>
          </span>
          {% endif %}
          {% if erp.telephone %}
          <span class="mr-3">
            <i aria-hidden="true" class="icon icon-phone"></i>
            <a href="tel:{{ erp.telephone }}">{{ erp.telephone|format_phone}}</a>
          </span>
          {% endif %}
          {% if erp.contact_url %}
          <span class="mr-3">
            <i aria-hidden="true" class="icon icon-mail"></i>
            <a href="{{ erp.contact_url }}" target="_blank">Écrire un message</a>
          </span>
          {% elif erp.contact_email %}
          <span class="mr-3">
            <i aria-hidden="true" class="icon icon-mail"></i>
            <a href="mailto:{{ erp.contact_email }}">Écrire un message</a>
          </span>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="d-flex flex-column">
      <div class="row order-2">
        <section class="col-md-8">
          {% include "erps/revamped/accessibilite.html" %}
          <aside class="text-center">
            {% include "erps/revamped/vote-form.html" %}
          </aside>
        </section>
        <aside class="col-md-4">
          {% include "erps/revamped/sidebar.html" %}
        </aside>
      </div>
      <aside class="mt-2 mb-4 order-1">
        {% include "common/map.html" with map_classes="a4a-app-erp-map rounded shadow-sm" %}
      </aside>
  </article>
</main>
{% endblock %}

{% block bottom_fluid_content %}
<aside id="proximite" class="container-fluid bg-light mt-4 py-4">
  <div class="container">
    {% include "erps/revamped/proximite.html" %}
  </div>
</aside>
{% endblock %}
