<form action="{% url "erp_vote" erp_slug=erp.slug %}" method="POST">
  <h4 class="h5">Ces informations sont-elles fiables&nbsp;?</h4>
  <span class="text-nowrap">
    {% csrf_token %}
    <button type="submit" name="action" value="UP" class="btn btn-link"
      data-track-event="vote,up,{{ erp.slug }}"
      {% if not user.is_authenticated %} disabled title="Vous devez vous connecter pour voter"{% else %}title="Oui"{% endif %}>
      <i aria-hidden="true" class="icon icon-thumbs-up{% if user_vote and user_vote.value == 1 %} text-primary{% endif %}"></i>
      {{ erp.count_positives|default_if_none:"0" }} oui
    </button>
    {% if user.is_authenticated and user_vote and user_vote.value == -1 %}
    <button type="submit" name="action" value="DOWN" class="btn btn-link" title="Non">
      <i aria-hidden="true" class="icon icon-thumbs-down text-primary"></i>
      {{ erp.count_negatives|default_if_none:"0" }} non
    </button>
    {% else %}
    <button type="button" name="action" value="DOWN" class="btn btn-link btn-vote-no"
      {% if user.is_authenticated %}title="Non"{% else %}disabled title="Vous devez vous connecter pour voter"{% endif %}>
      <i aria-hidden="true" class="icon icon-thumbs-down{% if user_vote and user_vote.value == -1 %} text-primary{% endif %}"></i>
      {{ erp.count_negatives|default_if_none:"0" }} non
    </button>
    {% endif %}
  </span>
  <div class="form-group" id="vote_comment" style="display: none">
    <label for="vote_comment_input" class="sr-only">Commentaire</label>
    <textarea class="form-control mt-2" id="vote_comment_input" name="comment" rows="3"
      placeholder="Veuillez nous expliquer la raison de votre insatisfaction afin que nous puissions nous améliorer."></textarea>
    <div class="mt-2">
      <button type="submit" name="action" value="DOWN" class="btn btn-primary"
        data-track-event="vote,down,{{ erp.slug }}">
        Envoyer
      </button>
      <button type="button" class="btn btn-link btn-vote-no-cancel">Annuler</button>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $(".btn-vote-no").on("click", function() {
        $('#vote_comment').toggle();
      });
      $(".btn-vote-no-cancel").on("click", function() {
        $('#vote_comment').hide();
      });
    });
  </script>
  {% if not user.is_authenticated %}
  <p class="d-block text-muted">
    <a href="{% url "login" %}?next={{ request.path }}">Connectez-vous pour pouvoir voter</a>
  </p>
  {% endif %}
</form>
