{% load i18n %}
<dialog aria-labelledby="fr-modal-title-modal"
        id="fr-modal-disabilities-filters"
        class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn"
                                title="Fermer la fenêtre modale"
                                aria-controls="fr-modal-disabilities-filters">{% translate "Fermer" %}</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal" class="fr-modal__title">{% translate "Personnaliser le site à votre image" %}</h1>
                        <p class="fr-text--lg fr-text--bold">
                            {% translate "Filtrer par type de handicap et afficher uniquement les infos d'accessibilité qui vous concernent." %}
                        </p>
                        {% include "search/includes/handicap_filters.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
