version: 2.1

env_vars: &shared_env_vars
  VIRTUAL_ENV: .venv
  PYTHONDONTWRITEBYTECODE: 1
  PYTHONUNBUFFERED: 1
  DJANGO_SETTINGS_MODULE: core.settings_test
  SECRET_KEY: secret-key
  DATABASE_URL: postgres://root:password@localhost/circle_test
  EMAIL_HOST: host
  EMAIL_PORT: 587
  EMAIL_HOST_USER: xxx
  EMAIL_HOST_PASSWORD: xxx
  SCALINGO_APP: access4all
  BREVO_API_KEY: xxx
  OUTSCRAPER_API_KEY: xxx
  SCALINGO_REDIS_URL: redis://default:access4allpwd@127.0.0.1:6379/1
  S3_EXPORT_BUCKET_NAME: xxx
  S3_EXPORT_BUCKET_ENDPOINT_URL: xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
  AWS_DEFAULT_REGION: xxx

executors:
  for_tests:
    docker:
      - image: cimg/python:3.13.9-node
        environment:
          <<: *shared_env_vars
      - image: cimg/postgres:15.8-postgis
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: password
          POSTGRES_DB: circle_test
      - image: cimg/redis:7.0

  for_checks:
    docker:
      - image: cimg/python:3.13.9-node
        environment:
          <<: *shared_env_vars
jobs:
  checks:
    executor:
      name: for_checks
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: |
            sudo apt update
            sudo apt install -y gdal-bin gettext
      - restore_cache:
          name: Restore Python cache
          keys:
            - uv-{{ .Branch }}-{{ checksum "uv.lock" }}
      - run:
          name: Install uv
          command: |
            python -m pip install --user uv
      - run:
          name: Install Python dependencies
          command: |
            uv sync --dev
      - save_cache:
          key: uv-{{ .Branch }}-{{ checksum "uv.lock" }}
          paths:
            - .venv
      - run:
          name: Install pnpm
          command: curl -fsSL https://get.pnpm.io/install.sh | SHELL="$(which bash)" bash -
      - restore_cache:
          name: Restore pnpm store
          keys:
            - pnpm-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install Node dependencies
          command: |
            pnpm install --frozen-lockfile --ignore-scripts
      - save_cache:
          key: pnpm-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - ~/.local/share/pnpm/store
            - node_modules
      - run:
          name: Check production security
          command: |
            DJANGO_SETTINGS_MODULE=core.settings_prod uv run ./manage.py check --deploy
      - run:
          name: Check SASS stylesheets
          command: |
            pnpm build:prod
      - run:
          name: Check Django templates
          command: |
            uv run ./manage.py validate_templates
      - run:
          name: Check Django templates linting
          command: |
            uv run djlint templates \
              --profile=django \
              --custom-blocks=switch,flag,sample \
              --ignore="H006,H021,H019"
      - run:
          name: Check translations
          command: |
            uv run ./bin/check_translations.sh
      - run:
          name: Check FE prettier
          command: |
            pnpm prettier --check .
  tests:
    executor:
      name: for_tests
    parallelism: 4
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: |
            sudo apt update
            sudo apt install -y gdal-bin
      - restore_cache:
          name: Restore Python cache
          keys:
            - uv-{{ .Branch }}-{{ checksum "uv.lock" }}
      - run:
          name: Install uv
          command: |
            python -m pip install --user uv
      - run:
          name: Install Python dependencies
          command: |
            uv sync --dev
      - save_cache:
          key: uv-{{ .Branch }}-{{ checksum "uv.lock" }}
          paths:
            - .venv
      - run:
          name: Wait for Postgres & Redis
          command: |
            dockerize \
              -wait tcp://localhost:5432 \
              -wait tcp://localhost:6379 \
              -timeout 10s
      - run:
          name: Run database migrations
          command: |
            uv run ./manage.py migrate
      - run:
          name: Run tests
          command: |
            mkdir -p test-results
            uv run pytest \
              --circleci-parallelize \
              --junitxml=test-results/junit.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1

workflows:
  version: 2
  workflow:
    jobs:
      - checks
      - tests
