version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.8.2-node
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DATABASE_URL: postgres://root:password@localhost/circle_test
          DJANGO_SETTINGS_MODULE: core.settings_test
          INSEE_API_CLIENT_KEY: fake-insee-api-client-key
          INSEE_API_SECRET_KEY: fake-insee-api-secret-key
          PAGESJAUNES_API_CLIENT_KEY: fake-pj-api-client-key
          PAGESJAUNES_API_SECRET_KEY: fake-pj-api-secret-key
          SECRET_KEY: secret-key
          EMAIL_HOST: host
          EMAIL_PORT: 587
          EMAIL_HOST_USER: xxx
          EMAIL_HOST_PASSWORD: xxx
          SCALINGO_APP: access4all
      - image: circleci/postgres:12.2-postgis
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: password
          POSTGRES_DB: circle_test
    steps:
      - checkout
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install dependencies
          command: |
            sudo apt update
            sudo apt install -y gdal-bin
            pipenv sync --dev
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "venv"
      - run:
          name: Wait for Postgres server
          command: dockerize -wait tcp://localhost:5432 -timeout 10s
      - run:
          name: Run database migrations
          command: |
            pipenv run ./manage.py migrate
      - run:
          name: Run Flake8
          command: |
            pipenv run flake8
      - run:
          name: Check production security
          command: |
            DJANGO_SETTINGS_MODULE=core.settings_prod pipenv run ./manage.py check --deploy
      - run:
          name: Check SASS stylesheets
          command: |
            npm ci
            npm run build:prod
      - run:
          name: Check Django templates
          command: |
            pipenv run ./manage.py validate_templates --ignore-app nested_admin
      - run:
          name: Run tests
          command: |
            mkdir test-results
            pipenv run pytest
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1
