{% extends "base.html" %}

{% load static %}

{% block page_title %}{% if erp %}{{ erp.nom }} | {% endif %}{% if current_activite %}{{ current_activite.nom }} | {% endif %}{{ commune.nom }}{% endblock%}

{% block page_description %}{% spaceless %}
{% if erp %}
Découvrez l'accessibilité de l'établissement {{ erp.nom }} à {{ commune.nom }} - {{ commune.departement_nom}}
{% else %}
Découvrez l'accessibilité des établissements recevant du public de la ville de {{ commune.nom }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark a4a-navbar">
  <h1 class="h3">
    <a class="navbar-brand" href="{% url "home" %}" title="Accès libre">acces<strong>libre</strong></a>
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "contact_form" %}">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-1 flex-fill" action="{% url "commune" commune=commune.slug %}"
      method="get">
      <div class="input-group w-100">
        <label for="q" class="sr-only">Rechercher</label>
        <input class="input-group-prepend form-control w-50 rounded-left" name="q" id="q" type="search" data-commune="{{ commune.nom }}"
          data-commune-slug="{{ commune.slug }}" data-lat="{{ commune.geom.coords.1 }}" data-lon="{{ commune.geom.coords.0 }}"
          data-code-insee="{{ commune.code_insee }}" placeholder="Rue, restaurant, café, poste, pharmacie..."
          value="{{ search_terms|default_if_none:"" }}" title="Rechercher" autocomplete="off">
        <select class="custom-select" name="scope" aria-label="Étendue de la recherche" title="Étendue de la recherche">
          <option value="city" selected>À {{ commune.nom }}</option>
          <option value="country">France entière</option>
        </select>
        <button type="submit" class="btn btn-outline-light input-group-append a4a-inline-submit-end">Rechercher</button>
      </div>
    </form>
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "mon_compte" %}">Mon compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "logout" %}?next={{ request.path }}">Déconnexion</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "login" %}?next={{ request.path }}">Connexion</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container-fluid p-0 m-0">
  <aside class="row p-0 m-0">
    <div class="col-md-8 px-3 py-2">
      <div class="display-4 a4a-large-breadcrumb">
        <a href="{% url "commune" commune.slug %}">{{ commune.nom }}</a>
        {% if current_activite %}
        <small class="text-muted">
          &raquo; <a
            href="{% url 'commune_activite' commune=commune.slug activite_slug=current_activite.slug %}">{{ current_activite.nom }}</a>
        </small>
        {% endif %}
        {% if search_terms %}
        <small class="text-muted">&raquo; Recherche de <em>{{ search_terms }}</em></small>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4 px-3 py-2">
      <a class="btn btn-outline-primary w-100" href="{% url "contrib_start" %}">
        Ajouter un établissement
      </a>
    </div>
  </aside>

  <div class="row p-0 m-0">
    {% if erp %}
    <main id="content" class="a4a-app-main col-lg-6 col-md-8 col-sm-12 erp-list p-0 m-0 border-top overflow-auto">
      <div class="px-3">
        {% include "erps/commune/erp.html" with erp=erp %}
      </div>
    </main>
    <div class="a4a-app-map col-lg-6 col-md-4 d-none d-md-block map-area p-0 m-0">
      {% include "common/map.html" %}
    </div>

    {% else %}

    <main id="content" class="a4a-app-main col-lg-5 col-md-5 col-sm-8 erp-list p-0 m-0 border-top overflow-auto">
      <h2 class="sr-only">Liste des établissements à {{ commune.nom }}</h2>
      <div class="list-group list-group-flush">
        {% if object_list %}
        {% for erp in object_list %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center a4a-erp-list-item"
          href="{{ erp.get_absolute_url }}">
          <div class="flex-fill">
            <h3 class="h6 m-0">
              <img alt="" class="act-icon act-icon-20 mb-1"
                src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
              {{ erp.nom }}
            </h3>
            <small class="text-muted">
              {% if erp.activite %}<strong>{{ erp.activite.nom }}</strong> &raquo; {% endif %}
              {{ erp.numero|default_if_none:"" }}
              {{ erp.voie|default_if_none:"" }}
              {{ erp.lieu_dit|default_if_none:"" }}
            </small>
          </div>
          <div class="btn btn-sm btn-outline-primary d-none d-sm-none d-md-block a4a-icon-btn a4a-geo-link ml-2"
            title="Localiser sur la carte" data-erp-id="{{ erp.pk }}">
            <i aria-hidden="true" class="icon icon-target"></i>
          </div>
        </a>
        {% endfor %}
        {% elif search_terms %}
        <p class="p-2 m-2">Votre recherche pour <q>{{ search_terms }}</q> n'a retourné aucun résultat.</p>
        {% else %}
        <p class="p-2 m-2">Aucun établissement correspondant.</p>
        {% endif %}
      </div>
    </main>

    <nav class="a4a-app-nav col-lg-2 col-md-3 col-sm-4 order-first bg-light activites-list p-0 m-0 border-top overflow-auto">
      <h2 class="sr-only">Domaines d'activité à {{ commune.nom }}</h2>
      <div class="d-block d-sm-none d-xl-none">
        <label class="sr-only" for="select_activite">Sélectionnez une activité</label>
        <select id="select_activite" class="form-control w-100 rounded-0 border-0" onchange="location.href=this.value">
          <option value="{% url "commune" commune=commune.slug %}">Sélectionnez une activité</option>
          {% for activite in activites %}
          <option value="{% url "commune_activite" commune=commune.slug activite_slug=activite.slug %}"{% if current_activite and current_activite.pk == activite.pk %} selected="selected"{% endif %}>
            {{ activite.nom }} ({{ activite.count }})
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="list-group list-group-flush border-right d-none d-sm-block">
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if not current_activite and activite_slug != "non-categorises" %} active{% endif %}"
          title="Toutes les activités"
          href="{% url "commune" commune=commune.slug %}">
          <span class="w-100 text-truncate">Toutes les activités</span>
        </a>
        {% for activite in activites %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if current_activite and current_activite.pk == activite.pk %} active{% endif %}"
          title="{{ activite.nom }}"
          href="{% url "commune_activite" commune=commune.slug activite_slug=activite.slug %}">
          <img alt="" class="act-icon act-icon-20 mb-1 mr-1"
            src="{% static "img/mapicons.svg" %}#{{ activite.vector_icon }}">
          <span class="w-100 text-truncate">{{ activite.nom }}</span>
          <span class="badge badge-primary badge-pill">{{ activite.count }}</span>
        </a>
        {% endfor %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if activite_slug == "non-categorises" %} active{% endif %}"
          title="Activité indéterminée"
          href="{% url "commune_activite" commune=commune.slug activite_slug="non-categorises" %}">
          <span class="w-100 text-truncate">Activité indéterminée</span>
        </a>
      </div>
    </nav>

    <aside class="a4a-app-map col-lg-5 col-md-4 order-last d-none d-md-block map-area p-0 m-0">
      {% include "common/map.html" %}
    </aside>
    {% endif %}
  </div>
</div>

<script>
  a4a.initAppMap({{ commune_json | safe }}, {% if erp %}{{ erp.pk }}{% else %}null{% endif %}, {{ around | default_if_none:"null" }}, {{ geojson_list | safe }});
</script>
{% endblock %}
