{% extends "base.html" %}

{% load static %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark a4a-navbar">
    <a class="navbar-brand" href="{% url "home" %}">access4all</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for _, commune_entry in communes.items %}
        <li class="nav-item{% if commune_entry.slug == commune.slug %} active{% endif %}">
          <a class="nav-link" href="{% url "commune" commune=commune_entry.slug %}">{{ commune_entry.nom }}</a>
        </li>
        {% endfor %}
      </ul>
      <form class="form-inline my-2 my-lg-0 ml-1 flex-fill" action="{% url "commune" commune=commune.slug %}" method="get">
        <input class="form-control mr-sm-2 w-100" name="q" id="q" type="search"
            data-commune="{{ commune.nom }}"
            data-commune-slug="{{ commune.slug }}"
            data-lat="{{ commune.center.1 }}"
            data-lon="{{ commune.center.0 }}"
            placeholder="Rue, restaurant, café, poste, pharmacie... à {{ commune.nom }}"
            value="{{ search_terms|default_if_none:"" }}" aria-label="Rechercher" autocomplete="off">
      </form>
    </div>
  </nav>

  <div class="container-fluid p-0 m-0 a4a-app-content">
    <header class="a4a-app-title row p-0 m-0">
      <div class="col pt-2 pb-1">
        <h2 id="content" class="display-4" style="font-size:32px">
          Commune de <a href="{% url "commune" commune.slug %}">{{ commune.nom}}</a>
          {% if current_activite %}
          <small class="text-muted">
            &raquo; <a href="{% url 'commune_activite' commune=commune.slug activite_slug=current_activite.slug %}">{{ current_activite.nom }}</a>
          </small>
          {% endif %}
          {% if search_terms %}
          <small class="text-muted">&raquo; Recherche de <em>{{ search_terms }}</em></small>
          {% endif %}
        </h2>
      </div>
    </header>

    <div class="row p-0 m-0">
      {% if erp %}
      <main class="a4a-app-main col-lg-6 col-md-8 col-sm-12 erp-list p-0 m-0 border-top overflow-auto">
        <div class="px-3">
          <p class="row py-2 a4a-backlink">
            {% if erp.activite %}
            <a href="{% url 'commune_activite' commune=commune.slug activite_slug=current_activite.slug %}">
                &laquo; Retour à la liste des établissements de type <em>{{ current_activite.nom }}</em>
            </a>
            {% else %}
            <a href="{% url 'commune_activite' commune=commune.slug activite_slug="non-categorises" %}">
                &laquo; Retour à la liste des établissements
            </a>
            {% endif %}
          </p>
          {% include "erps/commune/erp.html" with erp=erp %}
        </div>
      </main>
      <div class="a4a-app-map col-lg-6 col-md-4 d-none d-md-block map-area p-0 m-0">
        <div id="app-map" class="a4a-app-map"></div>
      </div>
      {% else %}
      <nav class="a4a-app-nav col-lg-2 col-md-3 col-sm-4 d-none d-sm-block bg-light activites-list p-0 m-0 border-top overflow-auto" role="navigation">
        <h3 class="sr-only">Liste des domaines d'activité</h3>
        <div class="list-group list-group-flush border-right">
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if current_activite and current_activite.pk == activite.pk %} active{% endif %}"
              href="{% url 'commune_activite' commune=commune.slug activite_slug="non-categorises" %}">
            Activité indéterminée
          </a>
          {% for activite in activites %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if current_activite and current_activite.pk == activite.pk %} active{% endif %}"
              href="{% url 'commune_activite' commune=commune.slug activite_slug=activite.slug %}">
            {{ activite.nom }}
            <span class="badge badge-primary badge-pill">{{ activite.count }}</span>
          </a>
          {% endfor %}
        </div>
      </nav>
      <main class="a4a-app-main col-lg-5 col-md-5 col-sm-8 erp-list p-0 m-0 border-top overflow-auto">
        <div class="list-group list-group-flush">
          {% if object_list %}
          {% for erp in object_list %}
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center a4a-erp-list-item"
              href="{{ erp.get_absolute_url }}">
            <span class="flex-fill">
              {{ erp.nom }}<br>
              <small class="text-muted">
                {% if erp.activite %}<strong>{{ erp.activite.nom }}</strong> &raquo; {% endif %}
                {{ erp.numero|default_if_none:"" }}
                {{ erp.voie|default_if_none:"" }}
                {{ erp.lieu_dit|default_if_none:"" }}
              </small>
            </span>
            {% if erp.accessibilite %}
            <button class="btn btn-sm btn-outline-success mr-2 a4a-icon-btn" title="Les informations d'accessibilités sont disponibles">
              <i class="icon icon-checklist"></i>
              <span class="sr-only">Les informations d'accessibilités sont disponibles</span>
            </button>
            {% endif %}
            <button class="btn btn-sm btn-outline-primary d-none d-sm-none d-md-block a4a-icon-btn a4a-geo-link"
                title="Localiser sur la carte" data-erp-id="{{ erp.pk }}">
              <i class="icon icon-target"></i>
            </button>
          </a>
          {% endfor %}
          {% elif search_terms %}
          <p class="p-2 m-2">Votre recherche pour <q>{{ search_terms }}</q> n'a retourné aucun résultat.</p>
          {% else %}
          <p class="p-2 m-2">Aucun établissement correspondant.</p>
          {% endif %}
        </div>
      </main>
      <div class="a4a-app-map col-lg-5 col-md-4 d-none d-md-block map-area p-0 m-0">
        <div id="app-map" class="a4a-app-map"></div>
      </div>
      {% endif %}
    </div>
  </div>

  <script>
    initAppMap({{ commune_json | safe }}, {% if erp %}{{ erp.pk }}{% else %}null{% endif %}, {{ around|default_if_none:"null" }}, {{ geojson_list | safe }});
  </script>
{% endblock %}
