{% extends "erp/widget/base.html" %}
{% load static %}
{% load i18n %}
{% block modal_content %}
    <div class="fr-modal__content">
        <h1 class="fr-h4 modal__title">{% translate "Accessibilité" %}</h1>
        <h2 class="modal__subtitle fr-text--lg">{{ erp.nom }}</h2>
        {% if accessibilite_data %}
            <ul class="p-0">
                {% for item, data in accessibilite_data.items %}
                    <li class="modal__item fr-grid-row">
                        <div class="fr-col-md-2 modal__icon">
                            <img aria-hidden="true"
                                 width="40"
                                 height="40"
                                 src="{{ data.icon }}"
                                 alt="{{ data.label }}">
                        </div>
                        <div class="fr-col-md-10 modal__text">
                            <span class="fr-text--heavy">{{ item|capfirst }}</span>
                            <br>
                            <span class="label">{{ data.label|linebreaks }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <p class="modal__footer_link">
            <a id="btn_acceslibre"
               href="{{ erp.get_absolute_uri }}"
               rel="noopener"
               class="fr-text--md btn_acceslibre">
                <span>{% translate "Voir plus sur" %}</span>
                <img src="{{ base_url }}{% static 'img/logo-acceslibre-widget.png' %}"
                     alt=""
                     width="140"
                     height="50">
            </a>
        </p>
    </div>
{% endblock modal_content %}
