{% extends "erp/widget/base.html" %}
{% load static %}
{% load i18n %}
{% block modal_content %}
    <div class="fr-modal__content">
        <h1 class="fr-h4 fr-col-offset-1">{% translate "Accessibilité" %}</h1>
        <h2 class="fr-col-offset-1 modal__subtitle fr-text--lg">{{ erp.nom }}</h2>
        {% if accessibilite_data %}
            <ul style="padding:0px">
                {% for item, data in accessibilite_data.items %}
                    <li class="modal__item fr-grid-row">
                        <div class="fr-col-md-2 modal__icon">
                            <img aria-hidden="true"
                                 src="{{ data.icon }}"
                                 style="width:40px"
                                 alt="{{ data.label }}">
                        </div>
                        <div class="fr-col-md-10 modal__text">
                            <span class="fr-text--heavy">{{ item|capfirst }}</span>
                            <br>
                            <span style="color: #3A3A3A;">{{ data.label|linebreaks }}</span>
                        </div>
                    </li>
                    {% if not forloop.last %}<hr class="modal__hr" aria-hidden="true">{% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <p class="modal__footer_link">
            <a id="btn_acceslibre"
               href="{{ erp.get_absolute_uri }}"
               target="_blank"
               rel="noopener"
               class="fr-btn fr-btn--secondary fr-text--md btn_acceslibre">
                <span>{% translate "Voir plus sur" %}</span>
                <img src="{{ base_url }}{% static 'img/logo-acceslibre-widget.png' %}"
                     alt="acceslibre"
                     style="height:50px;
                            vertical-align: text-bottom">
            </a>
        </p>
    </div>
{% endblock modal_content %}
