/* Access4all styles
   Blue color: #4493ce
*/
body {
  color: #333;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.form-text.text-muted {
  font-size: 0.8em;
}

.a4a-jumbotron {
  background: url(/static/img/undraw_coming_home.svg);
  background-clip: content-box;
  background-origin: content-box;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.a4a-marianne {
  background: #fff;
  height: 30px;
  width: 50px;
}

.a4a-editorial {
  font-size: 16px;
}

.a4a-home-map {
  width: 100%;
  height: 700px;
}

.a4a-navbar {
  background-color: #4493ce;
}

.a4a-app-nav,
.a4a-app-main,
.a4a-app-map {
  height: calc(100vh - 58px - 57px);
}

.a4a-erp-list-inner.loading {
  opacity: 0.65;
}

.a4a-backlink {
  border-bottom: 1px solid #ddd;
  background: #fafafa;
  margin-bottom: 1em;
  padding-left: 15px;
}

.a4a-cluster-icon {
  background-color: #13629a;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  height: 34px;
  line-height: 34px;
  margin-left: -20px;
  margin-top: -20px;
  text-align: center;
  width: 34px;
}

.a4a-erp-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.a4a-label-logo {
  border-radius: 8px;
  float: right;
  margin-left: 2px;
  width: 80px;
  height: 80px;
}

.a4a-app-title {
  max-height: 58px;
}
.a4a-app-title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a4a-icon-btn {
  display: inline;
  padding-bottom: 1px;
  padding-right: 8px;
}

.icon {
  vertical-align: middle;
}
.a4a-locate-icon::before {
  line-height: inherit !important;
}

.a4a-center-icon {
  color: red;
  font-size: 1rem;
  opacity: 0.5;
}

.a4a-warn-icon {
  color: #aaa;
  display: inline-block;
}

/* Autocomplete */

.a4a-autocomplete {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 2000;
}
.a4a-autocomplete-items {
  background: #fff;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  left: 0;
  margin: 0; /* overrides bootstrap row margins */
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

/* Notifs */

.a4a-notifs {
  position: fixed;
  right: 10px;
  top: 60px;
  z-index: 1999;
}

.a4a-notif {
  max-width: 600px;
  min-width: 350px;
}

/* Loader from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
}
.lds-ring div {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid #fff;
  border-color: #4493ce transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 64px;
  margin: 8px;
  position: absolute;
  width: 64px;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.autocomplete-suggestions {
  background: #fff;
  border: 1px solid #4493ce;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  cursor: pointer;
  overflow: auto;
  padding: 2px 0;
}
.autocomplete-suggestion {
  overflow: hidden;
  padding: 3px 12px;
  white-space: nowrap;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  color: #3399ff;
  font-weight: normal;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  border-bottom: 1px solid #000;
  display: block;
}

.a4a-badge-group {
  white-space: nowrap;
}

.a4a-badge {
  font-size: 12px;
  padding: 4px 8px;
}

.a4a-badge-lg {
  font-size: 14px;
  padding: 6px 10px;
}

.a4a-contact-btn-group .btn {
  white-space: nowrap;
  text-align: left;
}
