/* Access4all styles
   Blue color: #4493ce
*/
body {
  color: #333;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.a4a-jumbotron {
  background: url(/static/img/undraw_coming_home.svg);
  background-size: contain;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position-x: right;
  background-position-y: center;
}

.a4a-marianne {
  background: #fff;
  width: 50px;
  height: 30px;
}

.a4a-editorial {
  font-size: 16px;
}

.a4a-navbar {
  background-color: #4493ce;
}

.a4a-app-nav,
.a4a-app-main,
.a4a-map {
  height: calc(100vh - 58px - 57px);
}

.a4a-erp-list-inner.loading {
  opacity: 0.65;
}

.a4a-cluster-icon {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #13629a;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 34px;
  margin-top: -20px;
  margin-left: -20px;
}

.a4a-geo-link {
}

.a4a-app-title {
  max-height: 58px;
}
.a4a-app-title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.a4a-icon-btn {
  display: inline;
  padding-bottom: 1px;
  padding-right: 8px;
}

.icon {
  vertical-align: middle;
}
.a4a-locate-icon::before {
  line-height: inherit !important;
}

.a4a-center-icon {
  color: red;
  font-size: 1rem;
  opacity: 0.5;
}

/* Autocomplete */

.a4a-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 2000;
}
.a4a-autocomplete-items {
  position: absolute;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0; /* overrides bootstrap row margins */
}

/* Notifs */

.a4a-notifs {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 1999;
}

.a4a-notif {
  min-width: 350px;
  max-width: 600px;
}

/* Loader from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4493ce transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
