body {
  color: #333s;
  font-size: 14px;
}

.a4a-navbar {
  background-color: #4493ce;
}

.a4a-app-nav,
.a4a-app-main,
.a4a-map {
  height: calc(100vh - 115px);
}

.a4a-geo-link {

}

.a4a-icon-btn {
  display: inline;
  padding-bottom: 1px;
  padding-right: 8px;
}

.icon {
  vertical-align: middle;
}
