body {
  color: #333;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.a4a-marianne {
  background: #fff;
  width: 50px;
  height: 30px;
}

.a4a-editorial {
  font-size: 16px;
}

.a4a-navbar {
  background-color: #4493ce;
}

.a4a-app-nav,
.a4a-app-main,
.a4a-map {
  height: calc(100vh - 58px - 57px);
}

.a4a-cluster-icon {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: rgba(68, 147, 206, .9);
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 34px;
  margin-top: -20px;
  margin-left: -20px;
}

.a4a-geo-link {
}

.a4a-app-title {
  max-height: 58px;
}
  .a4a-app-title h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.a4a-icon-btn {
  display: inline;
  padding-bottom: 1px;
  padding-right: 8px;
}

.icon {
  vertical-align: middle;
}
.a4a-locate-icon::before {
  line-height: inherit !important; 
}
