.widget-modale{
  background: #E5E5E5;
}

.widget-modale .widget-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;

  position: static;
  width: 600px;
  height: 844.01px;
  left: 16px;
  top: 64px;


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;

}

.widget-modale .widget-content .widget-title{
  position: static;
  width: 568px;
  height: 32px;
  left: 0px;
  top: 0px;

  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #161616;

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 8px;
}



.widget-modale .widget-content .widget-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 568px;
  height: 700.01px;
  left: 16px;
  top: 80px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.widget-modale .widget-content .widget-list li{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 568px;
  height: 100px;
  left: 0px;
  top: 600.01px;

  background: #FFFFFF;

  border: 1px solid #E5E5E5;
  box-sizing: border-box;

  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.widget-modale .widget-content .widget-list li.widget-access-icon {
  position: static;
  width: 48px;
  height: 48px;
  left: 24px;
  top: 24px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

.widget-modale .widget-content .widget-list li.widget-access-title {
  position: static;
  width: 448px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* 2.Corps de texte/MD - Texte standard/Desktop & Mobile - Bold */
  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* light/text/title-neutral */
  color: #161616;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.widget-modale .widget-content .widget-list li.widget-access-description {
  position: static;
  width: 448px;
  height: 24px;
  left: 0px;
  top: 28px;

  /* 2.Corps de texte/MD - Texte standard/Desktop & Mobile - Regular */
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* light/text/default-neutral */
  color: #3A3A3A;


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}
