{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Access4all</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="></script>
    <script src="{% static "js/app.js" %}"></script>
    <style>
    #map { height: 580px; }
    </style>
  </head>

  <body>
    <h1><a href="{% url "app" %}">Access4all</a></h1>
    {% block content %}{% endblock %}
  </body>
</html>
