{% load i18n %}
<ul class="list-style-type--none fr-p-0">
    {% for erp in pager %}
        <li class="fr-mb-1w">
            <div class="fr-card fr-card">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h2 class="fr-card__title fr-h3">{{ erp.nom }}</h2>
                        <div class="fr-card__desc">
                            <p class="fr-mb-0">{{ erp.activite }}</p>
                            <address class="fr-mb-0">{{ erp.adresse }}</address>
                        </div>
                        <div class="fr-card__start">
                            <ul class="fr-badges-group gap-1w align-self--center justify-content--end">
                                {% if erp.published %}
                                    <li>
                                        <p class="fr-badge fr-badge--success fr-badge--no-icon fr-badge--sm fr-mb-0">{% translate "Publié" %}</p>
                                    </li>
                                {% else %}
                                    <li>
                                        <p class="fr-badge fr-badge--warning fr-badge--no-icon fr-badge--sm fr-mb-0">{% translate "Non publié" %}</p>
                                    </li>
                                {% endif %}
                                <li>
                                    <p class="fr-badge fr-badge--info fr-badge--no-icon fr-badge--sm fr-mb-0">
                                        {% translate "Remplissage" %} {{ erp.accessibilite.completion_rate }}%
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fr-card__footer">
                        <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                            <li>
                                <a class="fr-btn fr-btn--sm btn-outline-primary"
                                   href="{% url 'contrib_edit_infos' erp_slug=erp.slug %}">{% translate "Modifier" %}</a>
                            </li>
                            {% if user.is_staff %}
                                <li>
                                    <a class="fr-btn fr-btn--sm btn-outline-primary"
                                       href="{% url 'admin:erp_erp_change' object_id=erp.pk %}">{% translate "Admin" %}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="fr-btn fr-btn--sm fr-btn--secondary"
                                   href="{% url 'contrib_delete' erp_slug=erp.slug %}">{% translate "Supprimer" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    {% empty %}
        <p class="fr-mb-0">{% translate "La liste est vide." %}</p>
    {% endfor %}
</ul>
