{% extends "editorial/base.html" %}
{% load a4a %}
{% load i18n %}
{% block editorial_content %}
    <div class="row">
        <main class="fr-col-md-8 fr-col-lg-9 order-last">
            {% block compte_content %}
            {% endblock compte_content %}
        </main>
        <nav class="fr-col-md-4 fr-col-lg-3 fr-mb-4v">
            <ul class="nav flex-column nav-pills" aria-label='{% translate "Menu" %}'>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="{% url 'home' %}">
                        <i aria-hidden="true" class="icon icon-arrow-left fr-mr-1v"></i>
                        {% translate "Retour à l'accueil" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap {{ request.path|active_compte_section:'my_profile' }}"
                       href="{% url 'my_profile' %}">
                        <i aria-hidden="true" class="icon icon-identity fr-mr-1v"></i>
                        {% translate "Profil et préférences" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap {{ request.path|active_compte_section:'mes_erps' }}"
                       href="{% url 'mes_erps' %}">
                        <i aria-hidden="true" class="icon icon-commercial fr-mr-1v"></i>
                        {% translate "Mes établissements" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap {{ request.path|active_compte_section:'mes_contributions' }}"
                       href="{% url 'mes_contributions' %}">
                        <i aria-hidden="true" class="icon icon-users fr-mr-1v"></i>
                        {% translate "Mes contributions" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap {{ request.path|active_compte_section:'mes_challenges' }}"
                       href="{% url 'mes_challenges' %}">
                        <i aria-hidden="true" class="icon icon-trophy fr-mr-1v"></i>
                        {% translate "Mes challenges" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap {{ request.path|active_compte_section:'mes_abonnements' }}"
                       href="{% url 'mes_abonnements' %}">
                        <i aria-hidden="true" class="icon icon-bell fr-mr-1v"></i>
                        {% translate "Mes abonnements" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="{% url 'admin:index' %}">
                        <i aria-hidden="true" class="icon icon-lock fr-mr-1v"></i>
                        {% translate "Admin" %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock editorial_content %}
