{% extends "editorial/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Supprimer mon compte" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Supprimer mon compte" %}</h1>
    <div class="alert alert-danger">
        {% translate "Souhaitez vous confirmer la suppression de votre compte ?" %}
        <br>
        {% translate "Toutes vos contributions sont conservées, en revanche, votre identifiant n'apparaîtra plus sur le site." %}
    </div>
    <form action="" method="post" class="a4a-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-warning">
                <i aria-hidden="true" class="icon icon-exclamation-circle"></i>
                {% translate "Attention, des erreurs ont été rencontrées." %}
                <ul class="my-1">
                    {% for field_name, message in form.non_field_errors.items %}<li>{{ field_name }}: {{ message }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="ml-2">{{ form.confirm | as_crispy_field }}</div>
        <div class="d-flex justify-content-between">
            <span>
                <a class="btn btn btn-outline-info text-nowrap"
                   href="{% url 'mon_compte' %}">{% translate "Annuler" %}</a>
            </span>
            <button class="btn btn-danger">{% translate "Confirmer la suppression" %}</button>
        </div>
    </form>
{% endblock editorial_content %}
