{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Activation échouée{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
  {% if activation_error %}
    <div class="alert alert-warning">
      Une erreur est survenue: {{ activation_error }}
    </div>
  {% else %}
    <p>
      Nous sommes désolés, nous n'avons pas pu déterminer la cause technique de l'échec d'activation.
      Merci de <a href="{% url "contact_topic" topic="bug" %}">nous contacter</a>.
    </p>
  {% endif %}
{% endblock %}
