{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Activation échouée" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    {% if activation_error %}
        <div class="fr-alert fr-alert--warning" role="alert">
            {% translate "Une erreur est survenue :" %} {{ activation_error }}
        </div>
    {% else %}
        <p>
            {% url 'contact_topic' topic='bug' as url_contact_topic_bug %}
            {% blocktranslate %}
      Nous sommes désolés, nous n'avons pas pu déterminer la cause technique de l'échec d'activation.
      Merci de <a href="{{ url_contact_topic_bug }}">nous contacter</a>.
      {% endblocktranslate %}
        </p>
    {% endif %}
{% endblock editorial_content %}
