{% load static %}
{% load i18n %}
{% if not erp %}
    {% translate "L'établissement a été supprimé." %}
{% else %}
    {% if not erp.published or not erp.geom or not erp.accessibilite %}
        <img alt="" class="act-icon act-icon-20 fr-mb-1v" src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
        {{ erp.nom }}
    {% else %}
        <a href="{{ erp.get_absolute_url }}#history">
            <img alt="" class="act-icon act-icon-20 fr-mb-1v" src="{% static "img/mapicons.svg" %}#{{ erp.get_activite_vector_icon }}">
            {{ erp.nom }}
        </a>
    {% endif %}
    {% if erp.activite %}<small class="text-muted">({{ erp.activite.nom }})</small>{% endif %}
    <br>
    <address class="mb-0">{{ erp.adresse }}</address>
{% endif %}
