{% extends "compte/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Mon compte" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Mon compte" %}</h1>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Mon nom d'utilisateur (identifiant) :" %}</span>
            <span>
                <strong>{{ user.username }}</strong> (<a href="{% url 'mon_identifiant' %}">{% translate "changer" %}</a>)
            </span>
        </li>
        {% if user.first_name and user.last_name %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{% translate "Mon identité :" %}</span>
                <strong>{{ user.first_name }} {{ user.last_name }}</strong>
            </li>
        {% endif %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Mon adresse email :" %}</span>
            <span>
                <strong>{{ user.email }}</strong> (<a href="{% url 'mon_email' %}">{% translate "changer" %}</a>)
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Date d'inscription :" %}</span>
            <strong>le {{ user.date_joined|date:"j F Y à H:i"|lower }}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Dernière connexion :" %}</span>
            <strong>le {{ user.last_login|date:"j F Y à H:i"|lower }}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Déconnexion" %}</span>
            <span>
                <a class="btn btn-sm btn-warning text-nowrap" href="{% url 'logout' %}">{% translate "Se déconnecter" %}</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{% translate "Suppression du compte" %}</span>
            <span>
                <a class="btn btn-sm btn-danger text-nowrap"
                   href="{% url 'delete_account' %}">{% translate "Supprimer mon compte" %}</a>
            </span>
        </li>
        {% if user.is_staff %}
            <li class="list-group-item d-flex justify-content-between align-items-center text-success">
                <span>
                    <i aria-hidden="true" class="icon icon-check"></i> {% translate "L'accès à la console d'administration vous est accordé" %}
                </span>
                <span>
                    <a class="btn btn-sm btn-success text-nowrap"
                       target="_blank"
                       rel="noopener noreferrer"
                       href="{% url 'admin:index' %}">
                        <i aria-hidden="true" class="icon icon-unlock"></i>
                        {% translate "Accéder à l'admin" %}
                    </a>
                </span>
            </li>
        {% endif %}
    </ul>
{% endblock compte_content %}
