{% extends "compte/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes abonnements" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Mes abonnements" %}</h1>
    <p>
        <i aria-hidden="true" class="icon icon-info-circled"></i>
        {% translate "Les établissements pour lesquels vous êtes abonné aux notifications par email de mise à jour." %}
    </p>
    <ul class="list-group">
        {% for subscription in pager %}
            <li class="list-group-item d-lg-flex justify-content-between align-items-center shadow-sm">
                <div class="flex-fill">
                    <div class="font-weight-bold">
                        <a href="{{ subscription.erp.get_absolute_url }}">
                            <img alt=""
                                 class="act-icon act-icon-20 fr-mb-1v"
                                 src="{% static 'img/mapicons.svg' %}#{{ subscription.erp.get_activite_vector_icon }}">
                            {{ subscription.erp.nom }}
                        </a>
                        {% if subscription.erp.activite %}<small class="text-muted">({{ subscription.erp.activite.nom }})</small>{% endif %}
                    </div>
                    <address class="mb-0">
                        <small class="text-muted">{{ subscription.erp.adresse }}</small>
                    </address>
                    <div>
                        <small class="text-muted">
                            {% if request.user == subscription.erp.user %}
                                {% translate "<strong>Vous</strong> avez créé cette fiche" %}
                            {% else %}
                                {% translate "Fiche créée par" %} <strong>{{ subscription.erp.user }}</strong>
                            {% endif %}
                        </small>
                    </div>
                </div>
                <div class="btn-group d-flex justify-content-between fr-mt-1v"
                     role="group"
                     aria-label='{% translate "Actions" %}'>
                    <a class="btn btn-sm btn-outline-primary"
                       href="{% url 'unsubscribe_erp' erp_slug=subscription.erp.slug %}?redir=account">
                        <i aria-hidden="true" class="icon icon-bell-mute"></i>
                        {% translate "Se désabonner" %}
                    </a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">{% translate "La liste est vide." %}</li>
        {% endfor %}
    </ul>
    {% include "common/pager.html" with pager=pager pager_base_url=pager_base_url %}
{% endblock compte_content %}
