{% extends "compte/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes abonnements" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb_current_page %}
    <li>
        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Mes abonnements" %}</a>
    </li>
{% endblock breadcrumb_current_page %}
{% block compte_content %}
    <h1 class="fr-h2 fr-mt-2w fr-mb-3v">{% translate "Mes abonnements" %}</h1>
    <p>{% translate "Les établissements pour lesquels vous êtes abonné aux notifications par email de mise à jour." %}</p>
    <ul class="list-style-type--none fr-p-0">
        {% for subscription in pager %}
            <li class="fr-mb-1w">
                <div class="fr-card fr-card--sm">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h2 class="fr-card__title fr-h3">{{ subscription.erp.nom }}</h2>
                            <div class="fr-card__desc">
                                <address class="fr-mb-0">{{ subscription.erp.adresse }}</address>
                                <p class="fr-mb-0 fr-text--sm">{{ subscription.erp.activite }}</p>
                            </div>
                            <div class="fr-card__start">
                                <ul class="fr-badges-group gap-1w align-self--center justify-content--end">
                                    <li>
                                        <p class="fr-badge fr-badge--info fr-badge--no-icon fr-badge--sm fr-mb-0">
                                            {% translate "Remplissage" %} {{ subscription.erp.accessibilite.completion_rate }}%
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fr-card__footer align-self--end">
                            <a class="fr-btn fr-btn--sm fr-btn--secondary"
                               href="{% url 'unsubscribe_erp' erp_slug=subscription.erp.slug %}?redir=account">{% translate "Se désabonner" %}</a>
                        </div>
                    </div>
                </div>
            </li>
        {% empty %}
            <p class="fr-mb-0">{% translate "La liste est vide." %}</p>
        {% endfor %}
    </ul>
    {% include "common/pager.html" with pager=pager pager_base_url=pager_base_url %}
{% endblock compte_content %}
