{% extends "compte/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes challenges" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Mes challenges" %}</h1>
    <p>
        <i aria-hidden="true" class="icon icon-info-circled"></i>
        {% translate "Les challenges sur lesquels vous êtes inscrit." %}
    </p>
    <ul class="list-group">
        {% for challenge in pager %}
            <li class="list-group-item d-lg-flex justify-content-between align-items-center shadow-sm">
                <div class="flex-fill">
                    <div class="font-weight-bold">
                        <a href="{{ challenge.get_absolute_url }}">{{ challenge.nom }}</a>
                    </div>
                    <address class="mb-0">
                        <small class="text-muted">{% blocktranslate with start=challenge.start_date|date:"d F Y" end=challenge.end_date|date:"d F Y" %}Du {{ start }} au {{ end }} inclus{% endblocktranslate %}</small>
                    </address>
                    <div>
                        <small class="text-success">
                            {% translate "Inscrit depuis le" %} {{ request.user.inscriptions.last.inscription_date|date:"d F Y" }}
                        </small>
                    </div>
                </div>
                <div class="flex-fill text-right">
                    <a class="fr-btn btn-outline-primary fr-my-2v"
                       target="_blank"
                       rel="noopener noreferrer"
                       href="{{ challenge.get_absolute_url }}">{% translate "Voir le classement" %}</a>
                    <form action="{% url 'challenge-unsubscription' challenge_slug=challenge.slug %}"
                          method="post">
                        {% csrf_token %}
                        <button type="submit" class="fr-btn fr-btn--secondary">{% translate "Se désinscrire" %}</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">
                {% translate "La liste est vide." %}
                {% translate "Inscrivez vous sans attendre à un challenge et gagner de nombreux lots." %} <a class="btn btn-outline-primary" href="{% url 'challenges' %}">{% translate "Voir les challenges" %}</a>
            </li>
        {% endfor %}
    </ul>
    {% include "common/pager.html" with pager=pager pager_base_url=pager_base_url %}
{% endblock compte_content %}
