{% extends "compte/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes contributions" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb_current_page %}
    <li>
        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Mes contributions" %}</a>
    </li>
{% endblock breadcrumb_current_page %}
{% block compte_content %}
    <h1 class="fr-h3 fr-mb-3v">{% translate "Mes contributions" %}</h1>
    {#    <nav class="nav nav-tabs nav-fill">#}
    {#        <a class="nav-item nav-link{% if not recues %} active{% endif %}"#}
    {#           href="{% url 'mes_contributions' %}">#}
    {#            <i aria-hidden="true" class="icon icon-contribute-out"></i>#}
    {#            {% translate "Contributions effectuées" %}#}
    {#        </a>#}
    {#        <a class="nav-item nav-link{% if recues %} active{% endif %}"#}
    {#           href="{% url 'mes_contributions_recues' %}">#}
    {#            <i aria-hidden="true" class="icon icon-contribute-in"></i>#}
    {#            {% translate "Contributions reçues" %}#}
    {#        </a>#}
    {#    </nav>#}
    <div class="fr-tabs">
        <ul class="fr-tabs__list"
            role="tablist"
            aria-label="{% translate "Onglet contributions effectuées" %}">
            <li role="presentation">
                <a href="{% url 'mes_contributions' %}"
                   id="tabpanel-contributions"
                   class="fr-tabs__tab"
                   tabindex="0"
                   role="tab"
                   aria-controls="tabpanel-contributions-controls"
                   {% if not recues %}aria-selected="true"{% endif %}>{% translate "Contributions effectuées" %} ({{ nb_contributions_done|default:"0" }}) </a>
            </li>
            <li role="presentation">
                <a href="{% url 'mes_contributions_recues' %}"
                   id="tabpanel-published-erps"
                   tabindex="0"
                   role="tab"
                   aria-controls="tabpanel-published-erps-controls"
                   class="fr-tabs__tab {% if erp_published_count == 0 %}disabled{% endif %}"
                   {% if recues %}aria-selected="true"{% endif %}
                   {% if erp_published_count == 0 %}tabindex="-1" aria-disabled="true"{% endif %}>
                    {% translate "Contributions reçues" %} ({{ nb_contributions_received|default:"0" }})
                </a>
            </li>
        </ul>
        <div id="tabpanel-contributions-controls"
             class="fr-tabs__panel fr-tabs__panel--selected"
             role="tabpanel"
             aria-labelledby="tabpanel-contributions"
             tabindex="0">
            <div class="fr-table fr-table--bordered" id="table-bordered-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="table-bordered">
                                <caption>{% translate "Contributions effectuées" %}</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">{% translate "Date" %}</th>
                                        <th scope="col">{% translate "Modifications" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for version in pager %}
                                        <tr id="table-bordered-row-key-1" data-row-key="1">
                                            <td>
                                                {% if recues %}
                                                    {% translate "Par" %} <strong>{{ version.revision.user }}</strong>
                                                    <br>
                                                {% endif %}
                                                {% translate "le" %} {{ version.revision.date_created|date:"j F Y"|lower }}
                                                <br>
                                                {{ version.revision.date_created|date:"à H:i"|lower }}
                                            </td>
                                            <td>
                                                {% if version.content_type.model == "accessibilite" %}
                                                    <strong>{% translate "Informations d'accessibilité" %}</strong>
                                                    <br>
                                                    {% include "compte/erp_info.html" with erp=version.object.erp %}
                                                {% elif version.content_type.model == "erp" %}
                                                    <strong>{% translate "Informations administratives" %}</strong>
                                                    <br>
                                                    {% include "compte/erp_info.html" with erp=version.object %}
                                                {% else %}
                                                    <strong>{{ version }}</strong>
                                                    <br>
                                                    <span class="text-danger">{% translate "La ressource n'existe plus dans la base de données." %}</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabpanel-published-erps-controls"
             class="fr-tabs__panel"
             role="tabpanel"
             aria-labelledby="tabpanel-published-erps"
             tabindex="0">
            <p>test</p>
        </div>
    </div>
    {% include "common/pager.html" with pager=pager pager_base_url="?1" %}
{% endblock compte_content %}
