{% extends "compte/base.html" %}

{% block page_title %}Mes établissements{% endblock%}

{% block compte_content %}
  <div class="row mb-3">
    <h3 class="col-sm-6">Mes établissements</h3>
    <div class="col-sm-6 text-right">
      <a class="btn btn-primary" href="{% url "contrib_start" %}" style="padding-bottom: 3px">
        <i class="icon icon-plus-circle" style="vertical-align:text-top"></i>
        Ajouter un nouvel établissement
      </a>
    </div>
  </div>

  {% if erp_total_count > 0 %}
  <nav class="nav nav-tabs nav-fill">
    <a class="nav-item nav-link{% if not filter_published and not filter_filled %} active{% endif %}" href=".">
      Tous <span class="badge badge-pill badge-primary">{{ erp_total_count }}</span>
    </a>
    <a class="nav-item nav-link{% if filter_published == "1" %} active{% endif %}{% if erp_published_count == 0 %} disabled{% endif %}"
      href="./?published=1"{% if erp_published_count == 0 %} tabindex="-1" aria-disabled="true"{% endif %}>
      Publiés <span class="badge badge-pill badge-primary">{{ erp_published_count }}</span>
    </a>
    <a class="nav-item nav-link{% if filter_published == "0" %} active{% endif %}{% if erp_non_published_count == 0 %} disabled{% endif %}"
      href="./?published=0"{% if erp_non_published_count == 0 %} tabindex="-1" aria-disabled="true"{% endif %}>
      Non-publiés <span class="badge badge-pill badge-primary">{{ erp_non_published_count }}</span>
    </a>
    <a class="nav-item nav-link{% if filter_filled == "1" %} active{% endif %}{% if erp_filled_count == 0 %} disabled{% endif %}"
      href="./?filled=1"{% if erp_filled_count == 0 %} tabindex="-1" aria-disabled="true"{% endif %}>
      Renseignés <span class="badge badge-pill badge-primary">{{ erp_filled_count }}</span>
    </a>
    <a class="nav-item nav-link{% if filter_filled == "0" %} active{% endif %}{% if erp_non_filled_count == 0 %} disabled{% endif %}"
      href="./?filled=0"{% if erp_non_filled_count == 0 %} tabindex="-1" aria-disabled="true"{% endif %}>
      Non-renseignés <span class="badge badge-pill badge-primary">{{ erp_non_filled_count }}</span>
    </a>
  </nav>

  <ul class="list-group">
    {% for erp in pager %}
    <li class="list-group-item d-flex justify-content-between align-items-center border-top-0 rounded-0">
      <div class="flex-fill">
        {% if not erp.published %}
        {{ erp.nom }}
        {% else %}
        <a href="{{ erp.get_absolute_url }}" target="_blank">{{ erp.nom }}</a>
        {% endif %}
        {% if erp.activite %}
          <small class="text-muted">({{ erp.activite.nom }})</small>
        {% endif %}
        <br>
        {% if not erp.published %}
        <small class="text-warning">
          <i class="icon icon-exclamation-circle"></i> La fiche n'est pas publiée
        </small>
        {% else %}
        <small class="text-success">
          <i class="icon icon-check"></i> La fiche est publiée
        </small>
        {% endif %}
        {% if not erp.accessibilite %}
          <br>
          <small class="text-info">
            <i class="icon icon-exclamation-circle"></i> Les informations d'accessibilité ne sont pas renseignées
          </small>
        {% endif %}
        <br>
        <address class="mb-0">{{ erp.adresse }}</address>
      </div>
      <div>
        <a class="btn btn-sm btn-success" href="{% url "contrib_edit_infos" erp_slug=erp.slug %}">Éditer</a>
        {% if user.is_staff %}
          <a class="btn btn-sm btn-primary" target="_blank" href="{% url "admin:erp_erp_change" object_id=erp.pk %}">Admin</a>
        {% endif %}
      </div>
    </li>
    {% empty %}
    <li class="list-group-item border-top-0 rounded-0">La liste est vide.</li>
    {% endfor %}
  </ul>
  {% include "common/pager.html" with pager=pager pager_base_url=pager_base_url %}
  {% else %}
  <p class="alert alert-info">Vous n'avez renseigné aucun établissement pour le moment.</p>
  {% endif %}
{% endblock %}
