{% extends "compte/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes préférences" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Mes préférences" %}</h1>
    <form action="{% url 'mes_preferences' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit" class="fr-btn w-100">{% translate "Mettre à jour mes préférences" %}</button>
        </p>
    </form>
{% endblock compte_content %}
