{% extends "compte/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Mes établissements" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block breadcrumb_current_page %}
    <li>
        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Mes établissements" %}</a>
    </li>
{% endblock breadcrumb_current_page %}
{% block compte_content %}
    <div class="account-erps flex direction--column gap-5w">
        <h1 class="fr-mb-0">{% translate "Mes établissements" %} ({{ erp_total_count }})</h1>
        <form action="{% url 'mes_erps' %}" method="get">
            <div class="fr-col-12">
                <div class="fr-search-bar" id="header-search" role="search">
                    <label class="fr-label" for="erp-search-input">{% translate "Recherche" %}</label>
                    <input class="fr-input"
                           placeholder="{% translate "Rechercher un nom, une activité, une enseigne" %}"
                           type="search"
                           id="erp-search-input"
                           name="q">
                    <button class="fr-btn" type="submit">{% translate "Rechercher" %}</button>
                </div>
            </div>
        </form>
        <div class="fr-tabs">
            <ul class="fr-tabs__list"
                role="tablist"
                aria-label="{% translate "Onglet d'établissements" %}">
                <li role="presentation">
                    <a href="."
                       id="tabpanel-all-erps"
                       class="fr-tabs__tab"
                       tabindex="0"
                       role="tab"
                       aria-controls="tabpanel-all-erps-controls"
                       {% if not filter_published and not filter_filled %}aria-selected="true"{% endif %}>{% translate "Tous" %}
                    ({{ erp_total_count }})</a>
                </li>
                <li role="presentation">
                    <a href="./?published=1"
                       id="tabpanel-published-erps"
                       tabindex="0"
                       role="tab"
                       aria-controls="tabpanel-published-erps-controls"
                       class="fr-tabs__tab {% if erp_published_count == 0 %}disabled{% endif %}"
                       {% if filter_published == '1' %}aria-selected="true"{% endif %}
                       {% if erp_published_count == 0 %}tabindex="-1" aria-disabled="true"{% endif %}>
                        {% translate "Publiés" %} ({{ erp_published_count }})
                    </a>
                </li>
                <li role="presentation">
                    <a id="tabpanel-unpublished-erps"
                       tabindex="0"
                       href="./?published=0"
                       class="fr-tabs__tab"
                       role="tab"
                       aria-controls="tabpanel-unpublished-erps-controls"
                       {% if filter_published == '0' %}aria-selected="true"{% endif %}
                       {% if erp_non_published_count == 0 %}tabindex="-1" disabled="true"{% endif %}>
                    {% translate "Non-publiés" %} ({{ erp_non_published_count }})</a>
                </li>
            </ul>
            <div id="tabpanel-all-erps-controls"
                 class="fr-tabs__panel fr-tabs__panel--selected"
                 role="tabpanel"
                 aria-labelledby="tabpanel-all-erps"
                 tabindex="0">{% include "compte/includes/mes_erps_cards_list.html" %}</div>
            <div id="tabpanel-published-erps-controls"
                 class="fr-tabs__panel"
                 role="tabpanel"
                 aria-labelledby="tabpanel-published-erps"
                 tabindex="0">{% include "compte/includes/mes_erps_cards_list.html" %}</div>
            <div id="tabpanel-unpublished-erps-controls"
                 class="fr-tabs__panel"
                 role="tabpanel"
                 aria-labelledby="tabpanel-unpublished-erps"
                 tabindex="0">{% include "compte/includes/mes_erps_cards_list.html" %}</div>
        </div>
        <div class="fr-grid-row fr-grid-row--center">
            {% include "common/pager.html" with pager=pager pager_base_url=pager_base_url %}
        </div>
    </div>
{% endblock compte_content %}
