{% extends "compte/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Identifiant" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">
        {% translate "Changer mon identifiant" %} <small class="text-muted">({% translate "nom d'utilisateur" %})</small>
    </h1>
    <form action="{% url 'mon_identifiant' %}" method="post">
        <p>
            {% blocktranslate with username=request.user.username %}
      Votre identifiant (ou nom d'utilisateur) actuel est <strong>{{ username }}</strong>.
      {% endblocktranslate %}
        </p>
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit" class="btn btn-primary w-100">{% translate "Changer mon identifiant" %}</button>
        </p>
    </form>
{% endblock compte_content %}
