{% extends "compte/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Changer mon adresse email" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="h3 fr-mb-3v">{% translate "Changer mon adresse email" %}</h1>
    <form action="{% url 'mon_email' %}" method="post">
        <p>
            {% blocktranslate with email=request.user.email %}
      Utilisez le formulaire ci-dessous pour modifier votre adresse email actuelle (<strong>{{ email }}</strong>)<br>
      Nous vous enverrons un mail à la nouvelle adresse comportant un lien d'activation
      qu'il faudra cliquer pour confirmer ce changement.
      {% endblocktranslate %}
        </p>
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit" class="btn btn-primary w-100">{% translate "Mettre à jour mon adresse email" %}</button>
        </p>
    </form>
{% endblock compte_content %}
