{% extends "compte/base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}Changer mon adresse email{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block compte_content %}
  <h3 class="mb-3">
    Changer mon adresse email
  </h3>

  <form action="{% url "mon_email" %}" method="post">
    <p>Votre adresse email actuelle est <strong>{{ request.user.email }}</strong>.</p>
    {% csrf_token %}
    {{ form|crispy }}

    <p><button type="submit" class="btn btn-primary w-100">
      Mettre à jour mon adresse email
    </button></p>
  </form>
{% endblock %}
