{% extends "compte/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Profil et préférences" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block compte_content %}
    <h1 class="fr-h2 fr-mb-4w">{% translate "Profil et préférénces" %}</h1>
    <div class="display--flex direction--column gap-5w">
        <section>
            <h2 class="fr-h4">{% translate "Mon profil" %}</h2>
            <form action="{% url 'my_profile' %}" method="post" class="parent-toggle">
                {% csrf_token %}
                <div class="grid-row-3">
                    <span class="fr-col">{% translate "Mon identifiant" %}</span>
                    <span class="fr-col fr-text--bold">{{ user.username }}</span>
                    <button class="fr-btn fr-btn--sm fr-btn--secondary toggle-open" type="button">
                        {% translate "Modifier mon identifiant" %}
                    </button>
                </div>
                <div class="edit-block fr-hidden children-content">
                    <div class="fr-input-group">
                        <label class="fr-label" for="{{ form_login.username.id_for_label }}">
                            {% translate "Nom d’utilisateur (obligatoire)" %}
                        </label>
                        <input class="fr-input"
                               name="{{ form_login.username.name }}"
                               autocomplete="username"
                               id="{{ form_login.username.id_for_label }}">
                    </div>
                    <div class="display--flex gap-2w justify-self--end flex--wrap">
                        <button class="fr-btn fr-btn--secondary toggle-close" type="button">{% translate "Annuler" %}</button>
                        <button class="fr-btn toggle-close" type="submit">{% translate "Enregistrer mon identifiant" %}</button>
                    </div>
                </div>
                {% for hidden in form_login.hidden_fields %}{{ hidden }}{% endfor %}
            </form>
            <form action="{% url 'my_profile' %}" method="post" class="parent-toggle">
                {% csrf_token %}
                <div class="grid-row-3">
                    <span class="fr-col">{% translate "Mon adresse email" %}</span>
                    <span class="fr-col fr-text--bold word-break--word">{{ request.user.email }}</span>
                    <button class="fr-btn fr-btn--sm fr-btn--secondary toggle-open" type="button">
                        {% translate "Modifier mon adresse email" %}
                    </button>
                </div>
                <div class="edit-block fr-hidden children-content">
                    <p>
                        {% blocktranslate %}Nous vous enverrons un mail à la nouvelle adresse comportant un lien d'activation qu'il faudra cliquer pour confirmer ce changement.{% endblocktranslate %}
                    </p>
                    <div class="fr-input-group">
                        <label class="fr-label" for="{{ form_email.email1.id_for_label }}">
                            {% translate "Nouvelle adresse email (obligatoire)" %}
                            <span class="fr-hint-text">{% translate "Format attendu : nom@domaine.fr" %}</span>
                        </label>
                        <input class="fr-input"
                               name="{{ form_email.email1.name }}"
                               autocomplete="on"
                               id="{{ form_email.email1.id_for_label }}"
                               type="email">
                    </div>
                    <div class="fr-input-group">
                        <label class="fr-label" for="{{ form_email.email2.id_for_label }}">
                            {% translate "Confirmation de la nouvelle adresse email (obligatoire)" %}
                            <span class="fr-hint-text">{% translate "Format attendu : nom@domaine.fr" %}</span>
                        </label>
                        <input class="fr-input"
                               name="{{ form_email.email2.name }}"
                               autocomplete="on"
                               id="{{ form_email.email2.id_for_label }}"
                               type="email">
                    </div>
                    <div class="display--flex gap-2w justify-self--end flex--wrap">
                        <button class="fr-btn fr-btn--secondary toggle-close" type="button">{% translate "Annuler" %}</button>
                        <button class="fr-btn" type="submit">{% translate "Enregistrer mon adresse email" %}</button>
                    </div>
                </div>
                {% for hidden in form_email.hidden_fields %}{{ hidden }}{% endfor %}
            </form>
            <form action="{% url 'my_profile' %}" method="post" class="parent-toggle">
                {% csrf_token %}
                <div class="grid-row-2">
                    <span>{% translate "Mot de passe" %}</span>
                    <button class="fr-btn fr-btn--sm fr-btn--secondary toggle-open" type="button">
                        {% translate "Modifier mon mot de passe" %}
                    </button>
                </div>
                <div class="edit-block fr-hidden children-content display--flex direction--column gap-3w">
                    <p class="fr-mb-0">
                        {% translate "Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises afin de vérifier qu’il est correctement saisi." %}
                    </p>
                    <!-- Old password field -->
                    <div class="fr-password" id="password-1">
                        <label class="fr-label"
                               for="{{ form_password_change.old_password.id_for_label }}">
                            {% translate "Ancien mot de passe" %}
                        </label>
                        <div class="fr-input-wrap">
                            <input class="fr-password__input fr-input"
                                   aria-describedby="password-1-input-messages"
                                   aria-required="true"
                                   name="{{ form_password_change.old_password.name }}"
                                   autocomplete="current-password"
                                   id="{{ form_password_change.old_password.id_for_label }}"
                                   type="password">
                        </div>
                        <div class="fr-messages-group"
                             id="password-1-input-messages"
                             aria-live="assertive"></div>
                        <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                            <input aria-label="{% translate "Afficher le mot de passe" %}"
                                   id="password-1-show"
                                   type="checkbox"
                                   aria-describedby="password-1-show-messages">
                            <label class="fr-password__checkbox fr-label" for="password-1-show">{% translate "Afficher" %}</label>
                        </div>
                    </div>
                    <!-- New password field -->
                    <div class="fr-password" id="password-2">
                        <label class="fr-label"
                               for="{{ form_password_change.new_password1.id_for_label }}">
                            {% translate "Nouveau mot de passe" %}
                        </label>
                        <div class="fr-input-wrap">
                            <input class="fr-password__input fr-input"
                                   aria-describedby="password-2-input-messages"
                                   aria-required="true"
                                   name="{{ form_password_change.new_password1.name }}"
                                   autocomplete="new-password"
                                   id="{{ form_password_change.new_password1.id_for_label }}"
                                   minlength="12"
                                   type="password">
                        </div>
                        <div class="fr-messages-group"
                             id="password-2-input-messages"
                             aria-live="assertive">
                            <p class="fr-message" id="password-2-input-message">{% translate "Votre mot de passe doit contenir :" %}</p>
                            <p class="fr-message fr-message--info"
                               id="password-2-input-message-info">{% translate "12 caractères minimum" %}</p>
                        </div>
                        <div class="fr-messages-group"
                             id="password-2-input-messages"
                             aria-live="assertive"></div>
                        <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                            <input aria-label="{% translate "Afficher le mot de passe" %}"
                                   id="password-2-show"
                                   type="checkbox"
                                   aria-describedby="password-2-show-messages">
                            <label class="fr-password__checkbox fr-label" for="password-2-show">{% translate "Afficher" %}</label>
                        </div>
                    </div>
                    <!-- New password confirmation field -->
                    <div class="fr-password" id="password-3">
                        <label class="fr-label"
                               for="{{ form_password_change.new_password2.id_for_label }}">
                            {% translate "Confirmation du nouveau mot de passe" %}
                        </label>
                        <div class="fr-input-wrap">
                            <input class="fr-password__input fr-input"
                                   aria-describedby="password-3-input-messages"
                                   aria-required="true"
                                   name="{{ form_password_change.new_password2.name }}"
                                   autocomplete="new-password"
                                   id="{{ form_password_change.new_password2.id_for_label }}"
                                   minlength="12"
                                   type="password">
                        </div>
                        <div class="fr-messages-group"
                             id="password-3-input-messages"
                             aria-live="assertive"></div>
                        <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm">
                            <input aria-label="{% translate "Afficher le mot de passe" %}"
                                   id="password-3-show"
                                   type="checkbox"
                                   aria-describedby="password-3-show-messages">
                            <label class="fr-password__checkbox fr-label" for="password-3-show">{% translate "Afficher" %}</label>
                        </div>
                    </div>
                    <div class="display--flex gap-2w align-self--end flex--wrap">
                        <button class="fr-btn fr-btn--secondary toggle-close" type="button">{% translate "Annuler" %}</button>
                        <button class="fr-btn" type="submit">{% translate "Enregistrer mon mot de passe" %}</button>
                    </div>
                </div>
                {% for hidden in form_password_change.hidden_fields %}{{ hidden }}{% endfor %}
            </form>
            <div class="grid-row-3">
                <span class="fr-col">{% translate "Date d'inscription" %}</span>
                <span class="fr-col fr-text--bold">{{ user.date_joined|date:"j F Y à H:i"|lower }}</span>
                <span class="fr-hidden"></span>
            </div>
            <div class="grid-row-3">
                <span class="fr-col">{% translate "Dernière connexion" %}</span>
                <span class="fr-col fr-text--bold">{{ user.last_login|date:"j F Y à H:i"|lower }}</span>
                <span class="fr-hidden"></span>
            </div>
        </section>
        <section>
            <h2 class="fr-h4">{% translate "Mes préférences" %}</h2>
            <form action="{% url 'my_profile' %}" method="post">
                {% csrf_token %}
                <div class="fr-checkbox-group display--flex direction--column gap-3w">
                    <input id="{{ form_preferences.notify_on_unpublished_erps.id_for_label }}"
                           name="{{ form_preferences.notify_on_unpublished_erps.name }}"
                           {% if form_preferences.notify_on_unpublished_erps.value %}checked{% endif %}
                           type="checkbox">
                    <label class="fr-label"
                           for="{{ form_preferences.notify_on_unpublished_erps.id_for_label }}">
                        {{ form_preferences.notify_on_unpublished_erps.label }}
                    </label>
                    <input id="{{ form_preferences.newsletter_opt_in.id_for_label }}"
                           name="{{ form_preferences.newsletter_opt_in.name }}"
                           {% if form_preferences.newsletter_opt_in.value %}checked{% endif %}
                           type="checkbox">
                    <label class="fr-label"
                           for="{{ form_preferences.newsletter_opt_in.id_for_label }}">
                        {{ form_preferences.newsletter_opt_in.label }}
                    </label>
                    <button type="submit" class="fr-btn">{% translate "Enregistrer mes préférences" %}</button>
                </div>
                {% for hidden in form_preferences.hidden_fields %}{{ hidden }}{% endfor %}
            </form>
        </section>
        <section>
            <h2 class="fr-h4">{% translate "Compte" %}</h2>
            <div class="grid-row-2">
                <span>{% translate "Déconnexion" %}</span>
                <button class="fr-btn fr-btn--secondary" type="button">{% translate "Déconnexion" %}</button>
            </div>
            <div class="grid-row-2">
                <span>{% translate "Supprimer mon compte" %}</span>
                <button class="fr-btn fr-btn--secondary" type="button">{% translate "Supprimer mon compte" %}</button>
            </div>
        </section>
    </div>
{% endblock compte_content %}
