{% extends "editorial/base.html" %}
{% load static %}
{% load a4a %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block page_title %}
    {% translate "Contact" %}
    {% if erp %}
        - {% translate "Signaler une malveillance pour l'établissement" %} "{{ erp.nom }}"
    {% endif %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <h1 class="h3 text-center fr-mb-4v">{% translate "Contactez-nous" %}</h1>
    <div class="row justify-content-md-center fr-p-2v">
        <form id="contact-form"
              action="."
              method="post"
              novalidate
              autocomplete
              class="fr-col-md-12 fr-mb-4v">
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
            <div class="row fr-m-0 fr-mb-2v">
                <div class="fr-col-12 fr-col-lg-6 fr-pl-1v fr-pr-1v">{{ form.email|as_crispy_field }}</div>
                <div class="fr-col-12 fr-col-lg-6 fr-pl-1v fr-pr-1v">{{ form.name|as_crispy_field }}</div>
            </div>
            <div class="fr-select-group fr-col-lg-6">
                <select class="fr-select" id="topic" name="topic">
                    {% for value, name in form.fields.topic.choices %}
                        <option value="{{ value }}"
                                {% if form.topic.value == value %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ form.erp|as_crispy_field }}
            {% if erp %}
                <div class="fr-highlight fr-m-2v fr-mb-4v">
                    <span>{% translate "Établissement :" %} {{ erp.nom }} ({{ erp.commune_ext.nom }})</span>
                    <span><a class="bold" href="{{ erp.get_absolute_url }}">» {% translate "Retour à la fiche" %}</a></span>
                </div>
                {% if erp.activite %}
                    <div class="fr-alert fr-alert--info fr-mb-2v">
                        <p>
                            {% blocktranslate %}
                        Votre message sera transmis à l'équipe d'acceslibre qui gère les informations d'<a class="bold" href="https://fr.wikipedia.org/wiki/Accessibilit%C3%A9" target="_blank" rel="noopener noreferrer">accessibilité de cet établissement</a>. Toute demande ne portant pas sur les informations d'accessibilité ne pourra pas être traitée.{% endblocktranslate %}
                            <br>
                        </p>
                    </div>
                {% endif %}
            {% endif %}
            {{ form.body|as_crispy_field }}
            {{ form.user|as_crispy_field }}
            {{ form.next|as_crispy_field }}
            {{ form.robot|as_crispy_field }}
            <div class="form-group">
                <button type="submit"
                        class="fr-btn fr-btn-primary d-block w-100 text-center fr-mt-2v">
                    {% translate "Envoyer" %}
                </button>
            </div>
        </form>
    </div>
{% endblock editorial_content %}
