<div>
    <input type="checkbox"
           id="{{ slug }}-clone"
           {% if slug in params %}checked{% endif %}
           autocomplete="off">
    <label class="ml-0 a4a-clone-filter"
           for="{{ slug }}-clone"
           data-event-type="{{ eventType }}">{{ name }}</label>
</div>
<!--TODO-->
<!--When this is clicked just store the data-->
<!--Listen to when the submit button is click and re-emit all the events-->
<!--TODO handle link when we click outsite of the modal, this has to be clicked too-->
<!--TODO rename this template-->
