{% load static %}
{% load i18n %}
{% load a4a %}
<form class="a4a-search-form"
      id="search-form"
      role="search"
      action="{% if search_action %}{{ search_action }}{% else %}{% url 'search' %}{% endif %}">
    <div class="fr-mx-0">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4 fr-input-group input-form text-left fr-pr-1">
                <label for="what-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}">{% translate "<strong>Quoi</strong> (activité, enseigne)" %}</span>
                    <br>
                </label>
                {% comment %}Translators: please do not translate "Mairie, café" as we are searching into french contents{% endcomment %}
                <input type="search"
                       id="what-input"
                       name="what"
                       class="fr-input "
                       placeholder="Mairie, café..."
                       aria-label='{% translate "Rechercher un établissement, une activité. Exemple : Mairie, Café" %}'
                       autocomplete="off"
                       {% if "what" in request.GET %} value="{{ what|default:request.GET.what }}" {% else %} value="{{ what }}" {% endif %}>
            </div>
            <div class="fr-col-10 fr-col-lg-6 fr-input-group input-form search-where-field text-left px-1">
                <label for="where-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}">{% translate "<strong>Où</strong> (adresse, ville)" %}</span>
                    <br>
                    <span class="fr-sr-only">{% translate "Commencer la saisie puis sélectionner dans la liste" %}</span>
                </label>
                <input id="where-input"
                       class="autocomplete-input fr-input"
                       type="search"
                       dir="ltr"
                       spellcheck="false"
                       autocomplete="off"
                       autocapitalize="off"
                       data-autocomplete-departments="on"
                       {% if "where" in request.GET %} value="{{ where|default:request.GET.where }}" {% else %} value="{{ where }}" {% endif %}
                       name="where"
                       placeholder="12 rue des prés, Nantes">
                <ul class="list-group autocomplete-result-list rounded-only-bottom">
                </ul>
                <input type="hidden"
                       name="lat"
                       {% if "lat" in request.GET %} value="{{ lat|default:request.GET.lat }}" {% else %} value="{{ lat }}" {% endif %}>
                <input type="hidden"
                       name="lon"
                       {% if "lon" in request.GET %} value="{{ lon|default:request.GET.lon }}" {% else %} value="{{ lon }}" {% endif %}>
                <input type="hidden"
                       name="code"
                       {% if "code" in request.GET %} value="{{ code|default:request.GET.code }}" {% else %} value="{{ code }}" {% endif %}>
                <input type="hidden"
                       name="ban_id"
                       {% if "ban_id" in request.GET %} value="{{ ban_id|default:request.GET.ban_id }}" {% else %} value="{{ ban_id }}" {% endif %}>
                <input type="hidden"
                       name="postcode"
                       {% if "postcode" in request.GET %} value="{{ postcode|default:request.GET.postcode }}" {% else %} value="{{ postcode }}" {% endif %}>
                <input type="hidden"
                       name="search_type"
                       {% if "search_type" in request.GET %} value="{{ search_type|default:request.GET.search_type }}" {% else %} value="{{ search_type }}" {% endif %}>
                <input type="hidden"
                       name="street_name"
                       {% if "street_name" in request.GET %} value="{{ street_name|default:request.GET.street_name }}" {% else %} value="{{ street_name }}" {% endif %}>
                <input type="hidden"
                       name="municipality"
                       {% if "municipality" in request.GET %} value="{{ municipality|default:request.GET.municipality }}" {% else %} value="{{ municipality }}" {% endif %}>
            </div>
            <div class="fr-col-2 fr-input-group input-form fr-search-bar fr-search-bar--lg text-left fr-mt-4v pl-1">
                <button type="submit"
                        class="fr-text--sm fr-btn"
                        title="{% translate "Rechercher" %}">{% translate "Rechercher" %}</button>
                <button type="button" class="fr-sr-only get-geoloc-btn" tabindex="-1">
                    {% translate "Autoriser l'obtention de ma localisation géographique" %}
                </button>
            </div>
        </div>
        {% if equipments_shortcuts or equipments %}
            <div>
                <div class="fr-checkbox-group row equipments equipments-shortcuts">
                    <span class="fr-mr-2v fr-mt-1v fr-p-0 section-text">{% translate "Adaptés pour" %}</span>
                    {% with request.GET|get_list:"equipments_shortcuts" as params %}
                        {% for shortcut in equipments_shortcuts %}
                            {% include "search/filter_tag.html" with slug=shortcut.slug icon=shortcut.icon params=params name=shortcut.name eventType="shortcutClicked" input_name="equipments_shortcuts" children_list=shortcut.equipments_as_list suggestions_list=shortcut.suggestions_as_list %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="fr-checkbox-group row equipments equipments-selected">
                    <span class="mr-2 fr-mt-1v section-text">{% translate "Filtres" %}</span>
                    {% with request.GET|get_list:"equipments" as equipment_params %}
                        {% for label_slug, label in equipments.items %}
                            {% include "search/filter_tag.html" with slug=label_slug params=equipment_params input_name="equipments" eventType="equipmentClicked" name=label.name is_default_suggestion=label.is_default_suggestion %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="row equipments">
                    <span class="fr-mr-2v fr-mt-1v fr-p-0 section-text"></span>
                    <button type="button"
                            class="fr-btn--tertiary"
                            data-toggle="modal"
                            data-target="#equipmentsmodal">
                        <span aria-hidden="true">+&nbsp;</span>{% translate "Voir tous les filtres" %}
                    </button>
                    <button type="button"
                            class="fr-btn--tertiary fr-ml-2v"
                            id="remove-all-filters">
                        <span aria-hidden="true">x&nbsp;</span>{% translate "Supprimer tous les filtres" %}
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal" id="equipmentsmodal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="fr-h5 modal-title">{% translate "Tous les équipements" %}</h3>
                    <button type="button"
                            title="{% translate "Fermer la fenêtre" %}"
                            class="close"
                            data-dismiss="modal"
                            aria-label="{% translate "Fermer" %}">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div class="equipments">
                        {% with request.GET|get_list:"equipments" as equipment_params %}
                            {% regroup equipments.values|dictsort:"group" by group as equipments_by_group %}
                            {% for group in equipments_by_group %}
                                <h3 class="{% if not forloop.first %}mt-4{% endif %} fr-mb-2v w-100">{{ group.grouper }}</h3>
                                {% for equipement in group.list %}
                                    {% include "search/filter_clone.html" with slug=equipement.slug params=equipment_params eventType="equipmentClicked" name=equipement.name %}
                                {% endfor %}
                            {% endfor %}
                        {% endwith %}
                        <button class="fr-btn fr-mt-4v"
                                type="button"
                                id="clone-filter-submit"
                                data-dismiss="modal">{% trans "Rechercher" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
