<span>
    <input type="checkbox"
           id="{{ slug }}"
           name="{{ input_name }}"
           class="hidden"
           autocomplete="off"
           value="{{ slug }}">
    <label class="fr-label ml-0" for="{{ slug }}"></label>
    <button class="fr-tag a4a-label-tag fr-mb-1v fr-mr-2v {% if icon %}tag-picto tag-picto-{{ icon }}{% endif %} fr-tag--icon-left"
            aria-pressed="{% if slug in params %}true{% else %}false{% endif %}"
            data-fr-js-toggle="true"
            type="button"
            data-event-type="{{ eventType }}">{{ name }}</button>
</span>
