{% load a4a %}
{% load static %}

<div class="row py-2 pl-2 a4a-backlink">
  <a href="javascript:history.go(-1)">
    &laquo; Retour à la page précédente
  </a>
</div>
<div class="a4a-erp-details">
  <header class="d-flex justify-content-between">
    <div>
      <h2>
        <img alt="" title="{{ erp.activite.nom }}" class="mb-2"
          src="{% static "/img/activites/png/" %}{{ erp.get_activite_icon }}.n.32.png">
        {{ erp.nom }}
        {% if erp.activite %}
        <small class="text-muted">{{ erp.activite.nom }}</small>
        {% endif %}
      </h2>
      <address class="m-0 p-0 mb-2"><em>{{ erp.adresse }}</em></address>
      <div>
        {% if erp.siret %}
        <span class="d-inline-block mr-2" title="Numéro SIRET de l'établissement">
          <i aria-hidden="true" class="icon icon-commercial"></i> {{ erp.siret|format_siret }}
        </span>
        {% endif %}
        {% if erp.contact_email %}
        <a class="d-inline-block mr-2" href="mailto:{{ erp.contact_email }}" target="_blank">
          <i aria-hidden="true" class="icon icon-mail"></i> Contacter cet ERP
        </a>
        {% endif %}
        {% if erp.site_internet %}
        <a class="d-inline-block mr-2" href="{{ erp.site_internet }}" target="_blank">
          <i aria-hidden="true" class="icon icon-globe"></i> Site internet
        </a>
        {% endif %}
        {% if erp.telephone %}
        <a class="d-inline-block mr-2" href="tel:{{ erp.telephone }}">
          <i aria-hidden="true" class="icon icon-phone"></i> {{ erp.telephone }}
        </a>
        {% endif %}
        {% if erp.user and user.id == erp.user.id %}
        <a class="d-inline-block mr-2" href="{% url "contrib_edit_infos" erp_slug=erp.slug %}" target="_blank">
          <i aria-hidden="true" class="icon icon-pencil"></i> Modifier ces informations
        </a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="d-inline-block mr-2" href="{% url "admin:erp_erp_change" object_id=erp.pk %}" target="_blank">
          <i aria-hidden="true" class="icon icon-pencil"></i> Admin
        </a>
        {% endif %}
      </div>
    </div>
    <div class="a4a-accessibility-group d-flex justify-content-end align-center">
      {% for label in erp.accessibilite.labels.all %}
      {% if label.nom != "Aucun" and label.nom != "Autre" %}
      <div class="a4a-accessibility-label">
        <img class="a4a-accessibility-label-logo" src="{% static "img/labels" %}/{{ label.slug }}.jpg"
          alt="{{ label.nom }}" title="Cet établissement a obtenu le label {{ label.nom }}"
          aria-label="Cet établissement a obtenu le label {{ label.nom }}" />
        <div class="text-center">
          {% if "auditif" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap auditif">
            <img class="a4a-handicap-icon" src="{% static "img/handicap/auditif.svg" %}" alt="Handicap auditif" />
          </span>
          {% endif %}
          {% if "mental" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap mental">
            <img class="a4a-handicap-icon" src="{% static "img/handicap/mental.svg" %}" alt="Handicap mental" />
          </span>
          {% endif %}
          {% if "moteur" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap moteur">
            <img class="a4a-handicap-icon" src="{% static "img/handicap/moteur.svg" %}" alt="Handicap moteur" />
          </span>
          {% endif %}
          {% if "visuel" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap visuel">
            <img class="a4a-handicap-icon" src="{% static "img/handicap/visuel.svg" %}" alt="Handicap visuel" />
          </span>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </header>

  {% if accessibilite_data %}
  <hr noshade="noshade">

  <form class="" action="{% url "erp_vote" erp_slug=erp.slug %}" method="POST">
    <span>Ces informations sont-elles utiles&nbsp;?</span>
    <span class="text-nowrap">
      {% csrf_token %}
      <button type="submit" name="action" value="UP" arial-label="Oui" title="Oui"
        class="btn btn-sm btn-light"{% if not user.is_authenticated %} disabled title="Vous devez vous connecter pour voter"{% endif %}>
        <i aria-hidden="true"
          class="icon icon-upvote{% if user_vote and user_vote.value == 1 %} text-primary{% endif %}"></i>
        <small><span class="sr-only">Votes positifs: </span>{{ erp.count_positives|default_if_none:"0" }}</small>
      </button>
      <button type="button" name="action" value="DOWN" arial-label="Non" title="Non" class="btn btn-sm btn-light"
        {% if user.is_authenticated %}onclick="$('#vote_comment').toggle();return false"{% else %}disabled title="Vous devez vous connecter pour voter"{% endif %}>
        <i aria-hidden="true"
          class="icon icon-downvote{% if user_vote and user_vote.value == -1 %} text-primary{% endif %}"></i>
        <small><span class="sr-only">Votes négatifs: </span>{{ erp.count_negatives|default_if_none:"0" }}</small>
      </button>
    </span>
    {% if not user.is_authenticated %}
    <small class="text-muted">
      <a href="{% url "login" %}">Connectez-vous</a> ou
      <a href="{% url "django_registration_register" %}">créez un compte</a>
      pour pouvoir évaluer ces informations
    </small>
    {% endif %}
    <div class="form-group" id="vote_comment" style="display:none">
      <label for="vote_comment_input" class="sr-only">Commentaire</label>
      <textarea class="form-control mt-2" id="vote_comment_input" name="comment" rows="3"
        placeholder="Veuillez nous expliquer la raison de votre insatisfaction afin que nous puissions nous améliorer."></textarea>
      <div class="mt-2">
        <button type="submit" name="action" value="DOWN" class="btn btn-sm btn-primary">Envoyer</button>
        <button type="button" class="btn btn-sm btn-link" onclick="$('#vote_comment').hide()">Annuler</button>
      </div>
    </div>
  </form>
  {% endif %}

  <hr noshade="noshade">

  {% if not accessibilite_data %}
  <div class="alert alert-info mb-3">
    Les données d'accessibilité pour cet établissement ne sont pas encore disponibles.
  </div>
  {% if not erp.user %}
  <p class="text-center">
    <a class="btn btn-primary" href="{% url "contrib_claim" erp_slug=erp.slug %}">
      Je souhaite renseigner les informations d'accessibilité pour cet établissement
    </a>
  </p>
  {% elif erp.user and erp.user.username != user.username %}
  <div class="alert alert-info">
    Si vous assurez la gestion de cet établissement et que vous souhaitez apporter des corrections
    aux informations mentionnées, merci de <a href="{% url "contact_form" %}">nous contacter</a>.
  </div>
  {% endif %}
  {% else %}
  <h3 class="h4 font-weight-normal">Accessibilité</h3>

  <div class="row">
    <div class="col-md-4">
      <nav class="nav flex-column nav-pills a4a-nav-pills" role="tablist" aria-label="Sections">
        {% for section, info in accessibilite_data.items %}
        <a class="nav-link text-nowrap {% if forloop.first %} active{% endif %}" href="#{{ info.tabid }}"
          title="{{ info.description }}" role="tab" aria-controls="{{ info.tabid }}"
          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" id="{{ info.tabid }}-tab"
          data-toggle="tab">
          <i aria-hidden="true" class="icon icon-{{ info.icon }} mr-2"></i>{{ section }}
        </a>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-8 tab-content">
      {% for section, info in accessibilite_data.items %}
      <section class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ info.tabid }}" role="tabpanel"
        aria-labelledby="{{ info.tabid }}-tab">
        {% if info.fields %}
        <h3 class="sr-only">{{ info.description }}</h3>
        {% include "erps/commune/fields.html" with fields=info.fields %}
        {% elif info.sections %}
        {% for subsection, subinfo in info.sections.items %}
        <div class="card mb-3">
          <div class="card-header border-bottom-0 p-2">
            <h6 class="m-0">
              <i aria-hidden="true" class="icon icon-{{ subinfo.icon }} mr-2"></i>{{ subsection }}
            </h6>
          </div>
          <div class="card-body p-0">
            {% include "erps/commune/fields.html" with fields=subinfo.fields %}
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </section>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% if object_list|length > 1 %}
<hr noshade="noshade">
<section class="mt-3">
  <h3 class="h4 mb-3">À proximité <small class="text-muted">(moins de 20 km)</small></h3>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
    {% for nearest_erp in object_list %}
    {% if nearest_erp.id != erp.id %}
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body px-3 py-2">
          <div class="card-title m-0 h-100 d-flex flex-column">
            <small class="text-muted mb-1">{{ nearest_erp.distance|format_distance }}{% if nearest_erp.activite %},
              {{ nearest_erp.activite.nom }}{% endif %}</small>
            <h4 class="h6">
              <img alt="" title="{{ nearest_erp.activite.nom }}" class="mb-1"
                src="{% static "/img/activites/png/" %}{{ nearest_erp.get_activite_icon }}.n.16.png">
              <a href="{{ nearest_erp.get_absolute_url }}">{{ nearest_erp.nom }}</a>
            </h4>
            <adress class="mt-auto"><small class="text-muted"><em>{{ nearest_erp.adresse }}</em></small></adress>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
