{% load static %}

<div class="a4a-erp-details">
  <div class="a4a-erp-header">
    {% for label in erp.accessibilite.labels.all %}
      {% if label.nom != "Aucun" and label.nom != "Autre" %}
      <img class="a4a-label-logo" src="{% static "img/labels" %}/{{ label.slug }}.jpg"
        alt="{{ label.nom }}" title="Cet établissement a obtenu le label {{ label.nom }}"
        aria-label="Cet établissement a obtenu le label {{ label.nom }}" />
      {% endif %}
    {% endfor %}
    <h3>
      {{ erp.nom }}
      {% if erp.activite %}
      <small class="text-muted">{{ erp.activite.nom }}</small>
      {% endif %}
    </h3>
    <address class="m-0 p-0 mb-2"><em>{{ erp.adresse }}</em></address>
    <div>
      {% if erp.contact_email %}
        <a class="d-inline-block mr-2" href="mailto:{{ erp.contact_email }}" target="_blank">
          <i class="icon icon-mail"></i> Contacter cet ERP
        </a>
      {% endif %}
      {% if erp.site_internet %}
        <a class="d-inline-block mr-2" href="{{ erp.site_internet }}" target="_blank">
          <i class="icon icon-globe"></i> Site internet
        </a>
      {% endif %}
      {% if erp.telephone %}
        <a class="d-inline-block mr-2" href="tel:{{ erp.telephone }}">
          <i class="icon icon-phone"></i> {{ erp.telephone }}
        </a>
      {% endif %}
      {% if user.is_superuser %}
        <a class="d-inline-block mr-2" href="{% url "admin:erp_erp_change" object_id=erp.pk %}" target="_blank">
          <i class="icon icon-pencil"></i> Éditer dans l'admin
        </a>
      {% endif %}
    </div>
  </div>

  {% if not accessibilite_data %}
    <div class="alert alert-info">
      Les données d'accessibilité pour cet établissement ne sont pas encore disponibles.
    </div>
  {% else %}
    <div class="d-flex justify-content-between align-items-top">
      <h4>Accessibilité</h4>
      <span class="text-right">
      {% for label in erp.accessibilite.labels.all %}
        {% if label.nom != "Aucun" %}
        <span class="badge badge-light ml-2 a4a-badge-lg"
          title="Cet établissement est labellisé {{ label.nom }}">
          {{ label.nom }}
          {% if "auditif" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap auditif">
            <i class="icon icon-handicap-auditif" style="font-size:120%"></i>
            <span class="sr-only">Handicap auditif</span>
          </span>
          {% endif %}
          {% if "mental" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap mental">
            <i class="icon icon-handicap-mental"></i>
            <span class="sr-only">Handicap mental</span>
          </span>
          {% endif %}
          {% if "moteur" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap moteur">
            <i class="icon icon-handicap-moteur" style="font-size:105%"></i>
            <span class="sr-only">Handicap moteur</span>
          </span>
          {% endif %}
          {% if "visuel" in erp.accessibilite.labels_familles_handicap %}
          <span title="Handicap visuel">
            <i class="icon icon-handicap-visuel"></i>
            <span class="sr-only">Handicap visuel</span>
          </span>
          {% endif %}
        </span>
        {% endif %}
      {% endfor %}
      </span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <ul class="nav flex-column nav-pills a4a-nav-pills" role="tablist" aria-label="Sections">
        {% for section, info in accessibilite_data.items %}
          <li class="nav-item">
            <a class="nav-link text-nowrap {% if forloop.first %} active{% endif %}"
                href="#{{ info.tabid }}"
                title="{{ info.description }}"
                role="tab"
                aria-controls="{{ info.tabid }}"
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                id="{{ info.tabid }}-tab"
                data-toggle="tab">
              <i class="icon icon-{{ info.icon }} mr-2"></i>{{ section }}
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-8 tab-content">
      {% for section, info in accessibilite_data.items %}
        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ info.tabid }}"
            role="tabpanel" aria-labelledby="{{ info.tabid }}-tab">
          {% if info.fields %}
            {% include "erps/commune/fields.html" with fields=info.fields %}
          {% elif info.sections %}
            {% for subsection, subinfo in info.sections.items %}
              <div class="card mb-3">
                <div class="card-header border-bottom-0 p-2">
                  <h6 class="m-0">
                    <i class="icon icon-{{ subinfo.icon }} mr-2"></i>{{ subsection }}
                  </h6>
                </div>
                <div class="card-body p-0">
                  {% include "erps/commune/fields.html" with fields=subinfo.fields %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
