{% load a4a %}

<div>
  {% if erp.contact_email %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="mailto:{{ erp.contact_email }}" target="_blank"
    title="Ouverture dans une nouvelle fenêtre">
    <i aria-hidden="true" class="icon icon-mail"></i>
    <span>Contacter par email</span>
  </a>
  {% endif %}
{% if erp.contact_url %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="{{ erp.contact_url }}" target="_blank"
    title="Ouverture dans une nouvelle fenêtre">
    <i aria-hidden="true" class="icon icon-dialog"></i>
    <span>Formulaire de contact</span>
  </a>
  {% endif %}
  {% if erp.site_internet %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="{{ erp.site_internet }}" target="_blank"
    title="Ouverture dans une nouvelle fenêtre">
    <i aria-hidden="true" class="icon icon-globe"></i>
    <span>Site internet</span>
  </a>
  {% endif %}
  {% if erp.telephone %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="tel:{{ erp.telephone }}">
    <i aria-hidden="true" class="icon icon-phone"></i>
    <span>{{ erp.telephone|format_phone }}</span>
  </a>
  {% endif %}
</div>
