<div>
  {% if erp.contact_email %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="mailto:{{ erp.contact_email }}" target="_blank">
    <i aria-hidden="true" class="icon icon-mail"></i>
    <span>Contacter cet ERP</span>
  </a>
  {% endif %}
  {% if erp.site_internet %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="{{ erp.site_internet }}" target="_blank">
    <i aria-hidden="true" class="icon icon-globe"></i>
    <span>Site internet</span>
  </a>
  {% endif %}
  {% if erp.telephone %}
  <a class="a4a-erp-details-link btn btn-sm btn-light d-inline-block mr-1 mb-1" href="tel:{{ erp.telephone }}">
    <i aria-hidden="true" class="icon icon-phone"></i>
    <span>{{ erp.telephone }}</span>
  </a>
  {% endif %}
</div>
