{% load a4a %}

{% if fields %}
<ul class="list-group list-group-flush">
  {% for field in fields %}
  {% if field.value != "" and field.value is not None %}
  <li class="list-group-item d-flex justify-content-between align-items-center p-2">
    {% if field.template_name == "django/forms/widgets/textarea.html" %}
    <div>
      <div>
        <h4 class="h6 m-0 p-0 font-weight-normal">{{ field.label }}</h4>
        {% if field.help_text_ui %}
        <small class="text-muted">{{ field.help_text_ui }}</small>
        {% endif %}
      </div>
      <blockquote class="lead mb-0 my-1">
        {{ field.value|urlizetrunc:25|linebreaks }}
      </blockquote>
    </div>
    {% else %}
    <span>
      <!-- {{ field.name }} -->
      <h4 class="h6 m-0 p-0 font-weight-normal">{{ field.label }}</h4>
      {% if field.help_text_ui %}
      <small class="text-muted">{{ field.help_text_ui }}</small>
      {% endif %}
    </span>
    <span class="a4a-badge-group pl-2">
      {% if field.name == "accueil_equipements_malentendants" %}
      {% for equipement in erp.accessibilite.accueil_equipements_malentendants %}
      {% if equipement == "aucun" %}
      <span class="badge a4a-badge">Aucun</span>
      {% else %}
      <span class="badge badge-success a4a-badge" title="{{ equipement|get_equipement_description }}" style="cursor:help">
        <i aria-hidden="true" class="icon icon-check"></i>
        {{ equipement|get_equipement_label }}
      </span>
      {% endif %}
      {% endfor %}
      {% else %}
      <span class="badge {% if field.warning is False %}badge-success{% else %}text-dark{% endif %} a4a-badge">
        {% if field.warning is False %}
        <i aria-hidden="true" class="icon icon-check"></i>
        {% elif field.warning is True %}
        <strong>
          {% endif %}
          {% if field.value is True %}
          Oui
          {% elif field.value is False %}
          Non
          {% elif field.value == "aucun" %}
          Aucun
          {% elif field.value == "aucune" %}
          Aucune
          {% elif field.value == "important" %}
          Important
          {% elif field.value == "importante" %}
          Importante
          {% elif field.name == "accueil_personnels" %}
          {{ erp.accessibilite.get_accueil_personnels_display }}
          {% elif field.name == "entree_largeur_mini" %}
          {{ field.value }}&nbsp;cm
          {% elif field.name == "cheminement_ext_nombre_marches" or field.name == "accueil_cheminement_nombre_marches" or field.name == "entree_marches" %}
            {% if field.value == 0 %}
            Aucune marche
            {% else %}
            {{ field.value }}&nbsp;marche{{ field.value|pluralize:"s" }}
            {% endif %}
          {% elif field.name == "registre_url" %}
          <a class="text-white" href="{{ field.value }}" target="_blank">Consulter</a>
          {% else %}
          {{ field.value }}
          {% endif %}
          {% if field.warning is True %}
        </strong>
        {% endif %}
      </span>
      {% endif %}
    </span>
    {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>Aucune information.</p>
{% endif %}
