{% if fields %}
<ul class="list-group list-group-flush">
{% for field in fields %}
  {% if field.value != "" and field.value != None %}
  <li class="list-group-item d-flex justify-content-between align-items-center p-2">
    {% if field.template_name == "django/forms/widgets/textarea.html" %}
    <div>
      <div>{{ field.label }}<br><small class="text-muted">{{ field.help_text }}</small></div>
      <p class="lead mb-0 my-1">{{ field.value }}</p>
    </div>
    {% else %}
    <span>
      {{ field.label }}<br><small class="text-muted">{{ field.help_text }}</small>
    </span>
    <span class="a4a-badge-group">
      {% if field.value is True or field.value is False %}
        {% if field.value is True %}
          <span class="badge badge-info a4a-badge"><strong>Oui</strong></span>
        {% else %}
          <span class="badge badge-light font-weight-normal a4a-badge">Non</span>
        {% endif %}
      {% elif field.value == "aucun" or field.value == "aucune" %}
        <span>
          <span class="badge badge-warning a4a-badge">Aucun</span>
        </span>
      {% elif field.name == "accueil_personnels" %}
        {{ erp.accessibilite.get_accueil_personnels_display }}
      {% elif field.name == "largeur_mini" %}
        {{ field.value }}cm
      {% elif field.name == "accueil_equipements_malentendants" %}
        {% for label in erp.accessibilite.accueil_equipements_malentendants.all %}
          <span class="badge badge-info a4a-badge">{{ label.nom }}</span>
        {% endfor %}
      {% else %}
        {{ field.value }}
      {% endif %}
    </span>
    {% endif %}
  </li>
  {% endif %}
{% endfor %}
</ul>
{% else %}
<p>Aucune information.</p>
{% endif %}
