<div class="a4a-erp-details">
  <h3>
    {{ erp.nom }}
    {% if erp.activite %}
    <br><small class="text-muted">{{ erp.activite.nom }}</small>
    {% endif %}
  </h3>
  <address>{{ erp.adresse }}</address>

  {% if accessibilite_data %}
  <h4>Accessibilité</h4>

  {% for section, info in accessibilite_data.items %}
  <div class="card mb-3">
    <div class="card-header border-bottom-0 p-2">
      <h6 class="m-0"><i class="icon icon-{{ info.icon }} mr-2"></i>{{ section }}</h6>
    </div>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush">
        {% for field in info.fields %}
        {% if field.value != "" and field.value != None %}
        <li class="list-group-item d-flex justify-content-between align-items-center p-2">
          <span>
            {{ field.label }}
            <br><small class="text-muted">{{ field.help_text }}</small>
          </span>
          <span>
            {% if field.value == True %}
            <span>
              <i class="icon icon-check-circle text-success" style="font-size:1.2rem"></i>
              <span class="sr-only">Oui</span>
            </span>
            {% elif field.value == False %}
            <span>
              <i class="icon icon-times-circle text-danger" style="font-size:1.2rem"></i>
              <span class="sr-only">Non</span>
            </span>
            {% elif field.value == "aucun" or field.value == "aucune" %}
            <span>
              <i class="icon icon-times-circle text-danger" style="font-size:1.2rem"></i>
              <span class="sr-only">Aucun</span>
            </span>
            {% elif field.name == "largeur_mini" %}
            {{ field.value }}cm
            {% elif field.name == "accueil_equipements_malentendants" %}
            {% for label in erp.accessibilite.accueil_equipements_malentendants.all %}
              <span class="badge badge-info">{{ label.nom }}</span>
            {% endfor %}
            {% elif field.name == "labels" %}
            {% for label in erp.accessibilite.labels.all %}
              <span class="badge badge-info">{{ label.nom }}</span>
            {% endfor %}
            {% else %}
            {{ field.value }}
            {% endif %}
          </span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="alert alert-info">
    Les données d'accessibilité pour cet établissement ne sont pas encore disponibles.
  </div>
  {% endif %}
</div>
