{% load i18n %}
<section>
    <ul class="completed-challenges-list">
        {% for challenge in challenges %}
            <li>
                <div class="fr-card fr-enlarge-link">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h2 class="fr-h3 fr-card__title">
                                <a href="{{ challenge.get_absolute_url }}">{{ challenge }}</a>
                            </h2>
                            <div class="fr-card__desc">
                                <p>
                                    {% blocktranslate with start=challenge.start_date|date:"d F Y" end=challenge.end_date|date:"d F Y" %}
              {{ start }} au {{ end }} inclus
              {% endblocktranslate %}
                                </p>
                                <p>
                                    {% if challenge.text_reserve %}
                                        {{ challenge.text_reserve }}
                                        <br>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
