<div class="fr-container ">
    <div class="fr-grid-row fr-grid-row--gutters fr-ml-1w">
        <ul class="row" style="list-style-type: none">
        {% for challenge in challenges %}
            <li><a class="btn-link fr-text--bold" href="{{ challenge.get_absolute_url }}">{{ challenge }}</a>: {{ challenge.start_date|date:"d F Y" }} au {{ challenge.end_date|date:"d F Y" }} inclus</li>
            {% if request.user in challenge.players.all %}
              <a class="btn btn-outline-primary disabled" href="{% url 'challenge-inscription' challenge_slug=challenge.slug %}">Déja inscrit</a>
            {% elif challenge.has_open_inscription %}
              <a class="btn btn-outline-primary" href="{% url 'challenge-inscription' challenge_slug=challenge.slug %}">S'inscrire à <b>{{ challenge }}</b></a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
