<div id="app-map" class="a4a-app-map"{% if commune %}style="background-size:cover;background-image:url('https://api.mapbox.com/styles/v1/mapbox/light-v10/static/{{ commune.geom.coords.0 }},{{ commune.geom.coords.1 }},11,0,50/300x400@2x?access_token=pk.eyJ1IjoibjFrMCIsImEiOiJjazdkOTVncDMweHc2M2xyd2Nhd3BueTJ5In0.-Mbvg6EfocL5NqjFbzlOSw')"{% endif %}>
  <noscript>
    <div class="p-3">
      <div class="alert alert-warning">
        <i class="icon icon-exclamation-circle"></i>
        JavaScript doit être activé pour utiliser la cartographie interactive.
      </div>
    </div>
  </noscript>
</div>
