{% load i18n %}
<div aria-hidden="true"
     id="app-map"
     class="{% if map_classes %}{{ map_classes }}{% else %}a4a-app-map{% endif %}"
     data-label="{{ where|default_if_none:'' }}"
     data-lat="{{ lat|default:'' }}"
     data-lon="{{ lon|default:'' }}"
     data-refresh-api-url="{% url "erp-list" %}"
     data-should-refresh="{{ dynamic_map|default:'False' }}"
     data-erp-identifier="{{ erp.uuid }}"
     data-should-refresh-on-map-load="{{ should_refresh_map_on_load|default:'True' }}"
     {% if where and search_type %}data-sort-type="{{ search_type }}" data-where="{{ where_keyword }}"{% endif %}
     data-default-zoom="{% if zoom_level %}{{ zoom_level }}{% elif not lat and not lon %}{{ MAP_DEFAULT_ZOOM }}{% else %}{{ MAP_DEFAULT_ZOOM_LARGE_CITY }}{% endif %}">
    {{ commune_json|json_script:"commune-data" }}
    {{ departement_json|json_script:"departement-data" }}
    {{ geojson_list|json_script:"erps-data" }}
    {% if map_options %}{{ map_options|json_script:"map-options" }}{% endif %}
    <noscript>
        <div class="p-3">
            <div class="fr-alert fr-alert--warning bg--white" role="alert">
                {% translate "JavaScript doit être activé pour utiliser la cartographie interactive." %}
            </div>
        </div>
    </noscript>
</div>
