{% load i18n %}
<aside class="fr-follow newsletter-banner">
    <div class="fr-container">
        <div class="fr-grid-row">
            {% if user.is_authenticated %}
                <div class="fr-col-12 fr-col-md-8">
                    <div class="fr-follow__newsletter">
                        <div>
                            <h1 class="fr-h5">{% translate "Abonnez-vous à notre lettre d’information" %}</h1>
                        </div>
                        <div class="fr-btns-group fr-btns-group--inline-md">
                            <a href="{% url 'my_profile' %}#id_newsletter_opt_in" class="fr-btn">{% translate "S'abonner à la newsletter" %}</a>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <div class="fr-follow__social">
                        <h1 class="fr-h5">{% translate "Suivez-nous" %}</h1>
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn--linkedin fr-btn"
                                   title="{% translate "Acceslibre sur LinkedIn - nouvelle fenêtre" %}"
                                   rel="noopener external"
                                   href="https://www.linkedin.com/company/acceslibre/"
                                   target="_blank">{% translate "LinkedIn" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="fr-ml-auto">
                    <div class="fr-follow__social">
                        <h1 class="fr-h5">{% translate "Suivez-nous" %}</h1>
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn--linkedin fr-btn"
                                   title="{% translate "Acceslibre sur LinkedIn - nouvelle fenêtre" %}"
                                   rel="noopener external"
                                   href="https://www.linkedin.com/company/acceslibre/"
                                   target="_blank">{% translate "LinkedIn" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</aside>
