{% load i18n %}
{% load a4a %}
<div class="a4a-notifications">
    {% for message in messages %}
        <div class="fr-alert fr-alert--{{ message.tags|get_alert_level }}"
             role="alert"
             aria-live="polite"
             aria-atomic="true">
            <h3 class="fr-alert__title">
                {% if messages.tags == "debug" %}
                    {% translate "Debug" %}
                {% elif message.tags == "info" %}
                    {% translate "Information" %}
                {% elif message.tags == "success" %}
                    {% translate "Succès" %}
                {% elif message.tags == "warning" %}
                    {% translate "Avertissement" %}
                {% elif message.tags == "danger" %}
                    {% translate "Erreur" %}
                {% endif %}
            </h3>
            <p>{{ message }}</p>
            <button title="{% translate "Fermer" %}"
                    onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)"
                    type="button"
                    class="fr-btn--close fr-btn">{% translate "Fermer" %}</button>
        </div>
    {% endfor %}
</div>
