{% load i18n %}
<div class="a4a-notifications">
    {% for message in messages %}
        <div class="a4a-notifications-item alert alert-dismissible p-0 m-0 card text-white bg-{{ message.tags }} shadow-sm fr-mb-2v"
             role="alert"
             aria-live="polite"
             aria-atomic="true">
            <div class="card-header font-weight-bold px-3 py-2">
                {% if messages.tags == "debug" %}
                    {% translate "Debug" %}
                {% elif message.tags == "info" %}
                    {% translate "Information" %}
                {% elif message.tags == "success" %}
                    {% translate "Succès" %}
                {% elif message.tags == "warning" %}
                    {% translate "Avertissement" %}
                {% elif message.tags == "danger" %}
                    {% translate "Erreur" %}
                {% endif %}
            </div>
            <div class="card-body px-3 py-2">
                <p class="card-text mb-0">{{ message }}</p>
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label='{% translate "Fermer" %}'>
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </div>
    {% endfor %}
</div>
