{% load i18n %}
{% if pager and pager.has_other_pages %}
    <nav aria-label="Pagination des résultats">
        <ul class="pagination {% if css_classes %}{{ css_classes }}{% else %}justify-content-end fr-mt-3v{% endif %}">
            {% if pager.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ pager_base_url }}&page={{ pager.previous_page_number }}">«&nbsp;{% translate "Page précédente" %}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">«&nbsp;{% translate "Page précédente" %}</a>
                </li>
            {% endif %}
            {% if not no_page_links %}
                {% if pager.paginator.num_pages > 5 %}
                    <li class="page-item disabled">
                        <span class="page-link">{% translate "page" %} {{ pager.number }}/{{ pager.paginator.num_pages }}</span>
                    </li>
                {% else %}
                    {% for i in pager.paginator.page_range %}
                        <li class="page-item{% if pager.number == i %} active{% endif %}">
                            <a class="page-link" href="{{ pager_base_url }}&page={{ i }}">
                                {% if pager.number == i %}
                                    <span class="fr-sr-only">{% translate "(page courante)" %}</span>
                                {% endif %}
                                {{ i }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if pager.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ pager_base_url }}&page={{ pager.next_page_number }}">{% translate "Page suivante" %}&nbsp;»</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">{% translate "Page suivante" %}&nbsp;»</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
