{% if pager and pager.has_other_pages %}
<nav aria-label="Pagination des résultats">
  <ul class="pagination justify-content-end mt-3">
    {% if pager.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?published={{ filter_published }}&filled={{ filter_filled }}&page={{ pager.previous_page_number }}">&laquo; Page précédente</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo; Page précédente</a>
    </li>
    {% endif %}
    {% for i in pager.paginator.page_range %}
    <li class="page-item{% if pager.number == i %} active{% endif %}">
      <a class="page-link" href="?published={{ filter_published }}&filled={{ filter_filled }}&page={{ i }}">{{ i }}</a>
    </li>
    {% endfor %}
    {% if pager.has_next %}
    <li class="page-item">
      <a class="page-link" href="?published={{ filter_published }}&filled={{ filter_filled }}&page={{ pager.next_page_number }}">Page suivante &raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">Page suivante &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
