{% load i18n static %}
<details class="panoramax-shortcuts fr-mb-2w">
    <summary>{% translate "Liste des raccourcis pour l'utilisation de la carte intéractive" %}</summary>
    <ul>
        <li>{% translate "Flèches (ou 2/4/8/6 du pavé numérique) : se déplacer dans l’image ou sur la carte" %}</li>
        <li>
            {% translate "Page haut/bas (ou 3/9 du pavé numérique) : passer à l’image suivante ou précédente dans la séquence" %}
        </li>
        <li>{% translate "/ - : zoomer ou dézoomer l’image ou la carte" %}</li>
        <li>{% translate "(ou 5 du pavé numérique) : recentrer l’image ou la carte" %}</li>
        <li>
            {% translate "Accueil / ↖️ (ou 7 du pavé numérique) : basculer la carte et l’image comme élément principal affiché" %}
        </li>
        <li>{% translate "Fin (ou 1 du pavé numérique) : masquer la carte ou l’image réduite" %}</li>
        <li>{% translate "Espace : lire ou mettre en pause la séquence en cours" %}</li>
    </ul>
</details>
