{% if not debug and SENTRY_DSN %}
  <!-- Sentry -->
  <script>
  (function(Sentry, Integrations) {
    if (!Sentry) {
      return;
    }
    Sentry.init({
      dsn: "{{ SENTRY_DSN }}",
      environment: "{% if STAGING %}recette{% else %}production{% endif %}",
      integrations: [new Integrations.BrowserTracing()],
    });
    Sentry.configureScope(function(scope) {
      {% if user.is_authenticated %}scope.setUser({ username: "{{ user.username }}" }){% endif %}
    });
  })(window.Sentry, window.SentryIntegrations);
  </script>
  <!-- End Sentry Code -->
{% endif %}
