<fieldset class="fr-fieldset"
          id="checkboxes-inline"
          aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
    <legend class="fr-fieldset__legend--regular fr-fieldset__legend"
            id="checkboxes-inline-legend">{{ field.label }}</legend>
    <div class="fr-container--fluid w-100">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for choice in field %}
                <div class="fr-fieldset__element fr-fieldset__element--inline fr-col-6 fr-col-sm-3">
                    <div class="fr-radio-group fr-radio-rich">
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</fieldset>
