{% load crispy_forms_tags %}

<form action="{% url "contrib_search_entreprise" %}#content" method="get" class="card mb-4">
  <div class="card-header">
    <h3 class="h6 mb-0">Je recherche <strong>une entreprise</strong></h3>
  </div>
  <div class="card-body">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary w-100">
      <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
      Rechercher une entreprise
    </button>
  </div>
</form>
