{% load a4a %}
{% load crispy_forms_tags %}
{% load i18n %}
<form action="{% url 'contrib_start' %}"
      id="search-form"
      method="get"
      novalidate
      class="card mb-4">
    <div class="card-header">
        <h2 class="h6 mb-0 text-center">{% translate "Saisie automatique" %}</h2>
    </div>
    <div class="card-body">
        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
        {{ form.search|as_crispy_field }}
        <div class="search-where-field" style="position:inherit !important">
            {{ form.where|as_crispy_field }}
            <ul class="list-group autocomplete-result-list rounded-only-bottom">
            </ul>
            <input type="hidden" name="lat" value="{{ lat|default_if_none:'' }}">
            <input type="hidden" name="lon" value="{{ lon|default_if_none:'' }}">
            <input type="hidden" name="code" value="{{ code|default_if_none:'' }}">
            <button type="submit" class="btn btn-primary mt-2 w-100">
                <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
                {% translate "Trouver l'établissement" %}
            </button>
        </div>
    </div>
</form>
