{% load a4a %}
{% load crispy_forms_tags %}

<form action="{% url "contrib_search_public" %}#content" method="get" class="card mb-4">
  <div class="card-header">
    <h3 class="h6 mb-0">Je recherche <strong>un établissement administratif</strong></h3>
  </div>
  <div class="card-body">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary w-100">
      <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
      Rechercher un établissement public
    </button>
  </div>
  <script>
  $(document).ready(function() {
    $("#id_type").select2({
      allowClear: true,
      theme: "bootstrap4",
      placeholder: "Rechercher un type d'établissement"
    });
  });

  const arrondissementsData = {% arrondissements_json_data %};
  function addArrondissements(results) {
    let arrondissements = [];
    if (results.some(function(r) { return r.nom === "Lyon" })) {
      arrondissements = arrondissementsData["lyon"];
    } else if (results.some(function(r) { return r.nom === "Marseille" })) {
      arrondissements = arrondissementsData["marseille"];
    } else if (results.some(function(r) { return r.nom === "Paris" })) {
      arrondissements = arrondissementsData["paris"];
    }
    // Insert results AFTER the found entry
    results.splice.apply(results, [1, 0].concat(arrondissements));
    return results;
  }

  $("#id_commune").autocomplete({
    deferRequestBy: 100,
    minChars: 1,
    onSelect: function(suggestion) {
      $(this).val(suggestion.value);
      $("#id_code_insee").val(suggestion.data.code);
    },
    lookup: function (query, done) {
      const req = $.ajax({
        url: "https://geo.api.gouv.fr/communes",
        data: {
          nom: query,
          fields: "departement",
          boost: "population",
          limit: 5
        }
      })
        .then(function(results) {
          done({
            suggestions: addArrondissements(results).map(function(result) {
              return {
                value: result.nom + " (" + result.departement.code + ", " + result.departement.nom + ")",
                data: {
                  code: result.code
                }
              };
            })
          });
        })
        .fail(function (err) {
          console.error(err);
        });
    }
  });
  </script>
  <datalist id="public_erp_types">
    {% for type, label in public_erp_types.items %}
    <option value="{{ type }}">{{ label }}</option>
    {% endfor %}
  </datalist>
</form>
