{% load a4a %}
{% load crispy_forms_tags %}

<form action="{% url "contrib_search_public" %}#content" method="get" class="card mb-4">
  <div class="card-header">
    <h3 class="h6 mb-0">Je recherche <strong>un établissement administratif</strong></h3>
  </div>
  <div class="card-body">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary w-100">
      <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
      Rechercher un établissement public
    </button>
  </div>
  <script>
  $(document).ready(function() {
    // Type d'établissement
    $("#id_type").select2({
      allowClear: true,
      language: "fr",
      placeholder: "Rechercher un type d'établissement",
      theme: "bootstrap4"
    });

    // Commune & arrondissements
    const arrondissementsData = {% arrondissements_json_data %};
    function addArrondissements(results) {
      if (results.length === 0) {
        return results;
      }

      let arrondissements = [], atIndex = -1;

      for (let i=0; i<results.length; i++) {
        let result = results[i];
        if (result.nom in arrondissementsData) {
          arrondissements = arrondissementsData[result.nom];
          atIndex = i;
          break;
        }
      }

      // Insert results AFTER the found entry
      results.splice.apply(results, [atIndex + 1, 0].concat(arrondissements));
      return results;
    }

    const codeInseeSelect = $("#id_code_insee");

    codeInseeSelect.select2({
      language: "fr",
      placeholder: "Rechercher une commune",
      theme: "bootstrap4",
      ajax: {
        cache: true,
        delay: 100,
        url: "https://geo.api.gouv.fr/communes",
        dataType: "json",
        data: function (params) {
          return {
            nom: params.term,
            fields: "departement",
            boost: "population",
            limit: 5
          };
        },
        processResults: function (results) {
          return {
            results: addArrondissements(results).map(function(result) {
              return {
                id: result.code,
                text: result.nom + " (" + result.departement.code + ", " + result.departement.nom + ")",
              };
            })
          };
        }
      }
    });

    codeInseeSelect.on("select2:select", function(event) {
      try {
        const communeSearch = event.params.data.text;
        $("#id_commune_search").val(communeSearch);
      } catch(err) {
        console.warn("Impossible de récupérer le nom de la commune : " + err);
      }
    });

    // Initialisation et vérification de la présence d'une valeur pré-sélectionnée
    const commune_search = $("#id_commune_search").val();
    const code_insee = "{{ form.code_insee.value }}";
    if (commune_search && code_insee) {
      let option = new Option(commune_search, code_insee, false, false);
      $('#id_code_insee').append(option).trigger("change");
    }
  });
  </script>
</form>
