{% load static %}
{% load i18n %}
{% load a4a %}
<form class="fr-col-12 a4a-search-form fr-search-bar fr-search-bar--lg"
      id="search-form"
      role="search"
      action="{% if search_action %}{{ search_action }}{% else %}{% url 'search' %}{% endif %}">
    <div class="fr-mx-0 w-100">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-sm-3 fr-input-group input-form text-left fr-pr-1">
                <label for="what-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Nom de l'établissement" %}</strong></span>
                    <br>
                </label>
                {% comment %}Translators: please do not translate "Le Louvre, Café de la gare" as we are searching into french contents{% endcomment %}
                <input type="search" id="what-input" name="what" class="fr-input" placeholder="Le Louvre, Café de la gare..." aria-label="{% translate "Saisir le nom de l'établissement. Exemple : Le Louvre, Café de la gare" %}" autocomplete="off" required {% if "what" in request.GET %} value="{{ what|default:request.GET.what }}" {% else %} value="{{ what }}" {% endif %}>
                <div>
                    {% if form.errors.what %}
                        <p id="text-input-error-desc-error" class="fr-error-text">{{ form.errors.what.0 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="fr-col-12 fr-col-sm-3 fr-input-group input-form text-left px-1">
                <label for="activite">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Activité" %}</strong></span>
                </label>
                <input type="text" class="fr-input hidden" id="new_activity" name="new_activity" placeholder="{% translate "Entrez votre activité" %}" value="{{ request.GET.new_activity }}" aria-label="{% translate "Commencer la saisie puis sélectionner l'activité dans la liste." %}">
                <div id="autocomplete-activity" class="autocomplete">
                    {{ form.activite }}
                    <ul class="list-group">
                    </ul>
                </div>
                <div>
                    {% if form.errors.activite %}
                        <p id="select-error-desc-error" class="fr-error-text">{{ form.errors.activite.0 }}</p>
                    {% endif %}
                    <a href="#"
                       class="small fr-ml-2v {% if request.GET.new_activity %}hidden{% endif %}"
                       id="no_activity">{% translate "Je ne trouve pas l'activité" %}</a>
                    <span class="small {% if not request.GET.new_activity %}hidden{% endif %}"
                          id="activity_suggested">{% translate "Votre suggestion :" %} <span>{{ request.GET.new_activity }}</span></span>
                </div>
            </div>
            <div class="fr-col-10 fr-col-sm-4 fr-input-group input-form search-where-field px-1">
                <label for="where-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Adresse ou commune" %}</strong></span>
                </label>
                <input id="where-input"
                       class="autocomplete-input fr-input"
                       type="search"
                       dir="ltr"
                       spellcheck="false"
                       autocomplete="off"
                       autocapitalize="off"
                       data-autocomplete-departments="off"
                       {% if "where" in request.GET %} value="{{ where|default:request.GET.where }}" {% else %} value="{{ where }}" {% endif %}
                       name="where"
                       placeholder="Lyon, 12 rue des prés Nantes"
                       aria-label="{% translate "Commencer la saisie puis sélectionner la ville ou adresse dans la liste" %}">
                <ul class="list-group autocomplete-result-list rounded-only-bottom">
                </ul>
                <input type="hidden"
                       name="lat"
                       {% if "lat" in request.GET %} value="{{ lat|default:request.GET.lat }}" {% else %} value="{{ lat }}" {% endif %}>
                <input type="hidden"
                       name="lon"
                       {% if "lon" in request.GET %} value="{{ lon|default:request.GET.lon }}" {% else %} value="{{ lon }}" {% endif %}>
                <input type="hidden"
                       name="code"
                       {% if "code" in request.GET %} value="{{ code|default:request.GET.code }}" {% else %} value="{{ code }}" {% endif %}>
                <input type="hidden"
                       name="ban_id"
                       {% if "ban_id" in request.GET %} value="{{ ban_id|default:request.GET.ban_id }}" {% else %} value="{{ ban_id }}" {% endif %}>
                <input type="hidden"
                       name="postcode"
                       {% if "postcode" in request.GET %} value="{{ postcode|default:request.GET.postcode }}" {% else %} value="{{ postcode }}" {% endif %}>
                <input type="hidden"
                       name="search_type"
                       {% if "search_type" in request.GET %} value="{{ search_type|default:request.GET.search_type }}" {% else %} value="{{ search_type }}" {% endif %}>
                <input type="hidden"
                       name="street_name"
                       {% if "street_name" in request.GET %} value="{{ street_name|default:request.GET.street_name }}" {% else %} value="{{ street_name }}" {% endif %}>
                <input type="hidden"
                       name="municipality"
                       {% if "municipality" in request.GET %} value="{{ municipality|default:request.GET.municipality }}" {% else %} value="{{ municipality }}" {% endif %}>
            </div>
            <div class="fr-col-2 fr-input-group input-form fr-search-bar fr-search-bar--lg text-left fr-mt-4v pl-1">
                <button type="submit"
                        disabled
                        class="fr-text--sm fr-btn"
                        title="{% translate "Rechercher" %}">{% translate "Rechercher" %}</button>
                <button type="button" class="fr-sr-only get-geoloc-btn" tabindex="-1">
                    {% translate "Autoriser l'obtention de ma localisation géographique" %}
                </button>
            </div>
        </div>
        {% if equipments_shortcuts or equipments %}
            <div class="fr-checkbox-group fr-row equipments">
                {% with request.GET|get_list:"equipments" as equipment_params %}
                    {% for label_slug, label in equipments.items %}
                        <input type="checkbox"
                               id="{{ label_slug }}"
                               name="equipments"
                               class="hidden"
                               value="{{ label_slug }}"
                               {% if label_slug in equipment_params %}checked{% endif %}>
                        <label class="fr-label invisible fr-ml-0" for="{{ label_slug }}"></label>
                        <button class="fr-tag a4a-label-tag fr-mb-1v"
                                aria-pressed="{% if label_slug in equipment_params %}true{% else %}false{% endif %}"
                                data-fr-js-toggle="true"
                                type="button">{{ label.name }}</button>
                    {% endfor %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
</form>
