{% load static %}
{% load i18n %}
{% load a4a %}
<form class="fr-col-12 "
      id="search-form"
      role="search"
      action="{% if search_action %}{{ search_action }}{% else %}{% url 'search' %}{% endif %}">
    <div class="fr-mx-0 w-100">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
                <label for="what-input">
                    {% translate "Quel nom ?" %}
                    <span class="fr-hint-text">{% translate "Quel est le nom de l’établissement ?" %}</span>
                </label>
                {% comment %}Translators: please do not translate "Le Louvre, Café de la gare" as we are searching into french contents{% endcomment %}
                <input type="search"  class="fr-input" id="what-input" name="what" placeholder="Le Louvre, Café de la gare..." aria-label="{% translate "Saisir le nom de l'établissement. Exemple : Le Louvre, Café de la gare" %}" autocomplete="off" {% if "what" in request.GET %} value="{{ what|default:request.GET.what }}" {% else %} value="{{ what }}" {% endif %}>
                <div>
                    {% if form.errors.what %}
                        <p id="text-input-error-desc-error" class="fr-error-text">{{ form.errors.what.0 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                <input type="hidden"
                       name="activity_slug"
                       id="activity_slug"
                       {% if "activity_slug" in request.GET %}value="{{ request.GET.activity_slug }}"{% endif %}>
                <div id="autocomplete-activity" class="autocomplete">
                    <label for="id_activite">
                        {% translate "Quelle activité ?" %} <span class="fr-hint-text">{% translate "Par exemple : cinéma, pharmacie..." %}</span>
                    </label>
                    {{ form.activite }}
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="fr-mt-1w">
                    {% if form.errors.activite %}
                        <p id="select-error-desc-error" class="fr-error-text">{{ form.errors.activite.0 }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-4 search-where-field">
                <label for="where-input">
                    {% translate "Où ?" %}<span class="asteriskField"></span>
                    <span class="fr-hint-text">{% translate "Adresse, département ou commune" %}</span>
                </label>
                <div class="position--relative fr-input-group">
                    <input id="where-input"
                           class="autocomplete-input fr-input"
                           type="search"
                           dir="ltr"
                           spellcheck="false"
                           autocomplete="off"
                           autocapitalize="off"
                           data-autocomplete-departments="off"
                           {% if "where" in request.GET %} value="{{ where|default:request.GET.where }}" {% else %} value="{{ where }}" {% endif %}
                           name="where"
                           placeholder="Lyon, 12 rue des prés Nantes">
                    <ul class="list-group autocomplete-result-list rounded-only-bottom">
                    </ul>
                    <div class="fr-messages-group fr-hidden"
                         id="where-input-messages"
                         aria-live="polite">
                        <p class="fr-message fr-message--error" id="where-input-message-error">
                            {% translate "Veuillez renseigner une adresse." %}
                        </p>
                    </div>
                </div>
                <input type="hidden"
                       name="lat"
                       {% if "lat" in request.GET %} value="{{ lat|default:request.GET.lat }}" {% else %} value="{{ lat }}" {% endif %}>
                <input type="hidden"
                       name="lon"
                       {% if "lon" in request.GET %} value="{{ lon|default:request.GET.lon }}" {% else %} value="{{ lon }}" {% endif %}>
                <input type="hidden"
                       name="code"
                       {% if "code" in request.GET %} value="{{ code|default:request.GET.code }}" {% else %} value="{{ code }}" {% endif %}>
                <input type="hidden"
                       name="ban_id"
                       {% if "ban_id" in request.GET %} value="{{ ban_id|default:request.GET.ban_id }}" {% else %} value="{{ ban_id }}" {% endif %}>
                <input type="hidden"
                       name="postcode"
                       {% if "postcode" in request.GET %} value="{{ postcode|default:request.GET.postcode }}" {% else %} value="{{ postcode }}" {% endif %}>
                <input type="hidden"
                       name="search_type"
                       {% if "search_type" in request.GET %} value="{{ search_type|default:request.GET.search_type }}" {% else %} value="{{ search_type }}" {% endif %}>
                <input type="hidden"
                       name="street_name"
                       {% if "street_name" in request.GET %} value="{{ street_name|default:request.GET.street_name }}" {% else %} value="{{ street_name }}" {% endif %}>
                <input type="hidden"
                       name="municipality"
                       {% if "municipality" in request.GET %} value="{{ municipality|default:request.GET.municipality }}" {% else %} value="{{ municipality }}" {% endif %}>
            </div>
        </div>
        <div>
            <div class="display--flex justify--self-end">
                <button type="submit"
                        class="fr-text--sm fr-btn fr-mt-2w"
                        title="{% translate "Rechercher" %}">{% translate "Rechercher" %}</button>
            </div>
            <button type="button" class="get-geoloc-btn">
                {% translate "Autoriser l'obtention de ma localisation géographique" %}
            </button>
        </div>
        {% if equipments_shortcuts or equipments %}
            <div class="fr-checkbox-group fr-row equipments">
                {% with request.GET|get_list:"equipments" as equipment_params %}
                    {% for label_slug, label in equipments.items %}
                        <input type="checkbox"
                               id="{{ label_slug }}"
                               name="equipments"
                               class="hidden"
                               value="{{ label_slug }}"
                               {% if label_slug in equipment_params %}checked{% endif %}>
                        <label class="fr-label invisible fr-ml-0" for="{{ label_slug }}"></label>
                        <button class="fr-tag a4a-label-tag fr-mb-1v"
                                aria-pressed="{% if label_slug in equipment_params %}true{% else %}false{% endif %}"
                                data-fr-js-toggle="true"
                                type="button">{{ label.name }}</button>
                    {% endfor %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
</form>
