{% load static %}
{% load i18n %}
{% load a4a %}
<form class="fr-col-12 a4a-search-form fr-search-bar fr-search-bar--lg"
      id="search-form"
      role="search"
      action="{% if search_action %}{{ search_action }}{% else %}{% url 'search' %}{% endif %}">
    <div class="fr-col-12 no-gutters">
        <div class="what-field py-1">
            <div class="fr-col-12 fr-col-sm-3 input-group input-form text-left">
                <label for="what-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Nom de l'établissement" %}</strong></span>
                    <br>
                </label>
                {% comment %}Translators: please do not translate "Le Louvre, Café de la gare" as we are searching into french contents{% endcomment %}
                <input type="search"
                       id="what-input"
                       name="what"
                       class="fr-input"
                       placeholder="Le Louvre, Café de la gare..."
                       aria-label='{% translate "Rechercher un établissement, une activité. Exemple : Le Louvre, Café de la gare" %}'
                       autocomplete="off"
                       {% if "what" in request.GET %} value="{{ what|default:request.GET.what }}" {% else %} value="{{ what }}" {% endif %}>
            </div>
            <div class="fr-col-12 fr-col-sm-4 input-group input-form text-left fr-select-group mb-0">
                <label for="activite">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Activité" %}</strong></span>
                    <br>
                    <span class="sr-only">{% translate "Sélectionner dans la liste" %}</span>
                </label>
                <input type="text"
                       class="fr-input hidden"
                       id="new_activity"
                       name="new_activity"
                       value="{{ request.GET.new_activity }}">
                <select class="fr-select fr-input" id="activite" name="activite">
                    <option value="" selected disabled hidden>{% translate "Selectionnez une activité" %}</option>
                    {% for activity in form.activite.field.queryset %}
                        <option value="{{ activity.nom }}"
                                {% if form.activite.value == activity.nom %}selected{% endif %}>
                            {{ activity.nom }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="fr-col-10 fr-col-sm-4 input-group input-form search-where-field text-left"
                 style="z-index:9999">
                <label for="where-input">
                    <span class="larger-font{% if dark %} text-light{% endif %}"><strong>{% translate "Adresse ou commune" %}</strong></span>
                    <br>
                    <span class="sr-only">{% translate "Commencer la saisie puis sélectionner dans la liste" %}</span>
                </label>
                <input id="where-input"
                       class="autocomplete-input fr-input"
                       type="search"
                       dir="ltr"
                       spellcheck="false"
                       autocomplete="off"
                       autocapitalize="off"
                       {% if "where" in request.GET %} value="{{ where|default:request.GET.where }}" {% else %} value="{{ where }}" {% endif %}
                       name="where"
                       placeholder="Lyon, 12 rue des prés Nantes">
                <ul class="list-group autocomplete-result-list rounded-only-bottom">
                </ul>
                <input type="hidden"
                       name="lat"
                       {% if "lat" in request.GET %} value="{{ lat|default:request.GET.lat }}" {% else %} value="{{ lat }}" {% endif %}>
                <input type="hidden"
                       name="lon"
                       {% if "lon" in request.GET %} value="{{ lon|default:request.GET.lon }}" {% else %} value="{{ lon }}" {% endif %}>
                <input type="hidden"
                       name="code"
                       {% if "code" in request.GET %} value="{{ code|default:request.GET.code }}" {% else %} value="{{ code }}" {% endif %}>
                <input type="hidden"
                       name="postcode"
                       {% if "postcode" in request.GET %} value="{{ postcode|default:request.GET.postcode }}" {% else %} value="{{ postcode }}" {% endif %}>
                <input type="hidden"
                       name="search_type"
                       {% if "search_type" in request.GET %} value="{{ search_type|default:request.GET.search_type }}" {% else %} value="{{ search_type }}" {% endif %}>
                <input type="hidden"
                       name="street_name"
                       {% if "street_name" in request.GET %} value="{{ street_name|default:request.GET.street_name }}" {% else %} value="{{ street_name }}" {% endif %}>
                <input type="hidden"
                       name="municipality"
                       {% if "municipality" in request.GET %} value="{{ municipality|default:request.GET.municipality }}" {% else %} value="{{ municipality }}" {% endif %}>
            </div>
            <button type="submit"
                    {% if 'contrib' in request.path %}disabled{% endif %}
                    class="fr-col-2 fr-col-sm-1 fr-text--sm fr-btn btn-search"
                    title="{% translate "Rechercher" %}">
                <span class="sr-only">{% translate "Rechercher" %}</span>
            </button>
            <button type="button" class="sr-only get-geoloc-btn" tabindex="-1">
                {% translate "Autoriser l'obtention de ma localisation géographique" %}
            </button>
            <div>
                <div class="fr-col-12 fr-col-sm-3 input-group input-form text-left">
                    {% if form.errors.what %}
                        <p id="text-input-error-desc-error" class="fr-error-text">{{ form.errors.what.0 }}</p>
                    {% endif %}
                </div>
                <div class="fr-col-12 fr-col-sm-3 input-group input-form text-left">
                    {% if form.errors.activite %}
                        <p id="select-error-desc-error" class="fr-error-text">{{ form.errors.activite.0 }}</p>
                    {% endif %}
                    <a href="#"
                       class="small ml-2 {% if request.GET.new_activity %}hidden{% endif %}"
                       id="no_activity">{% translate "Je ne trouve pas l'activité" %}</a>
                    <span class="small {% if not request.GET.new_activity %}hidden{% endif %}"
                          id="activity_suggested">{% translate "Votre suggestion :" %} <span>{{ request.GET.new_activity }}</span></span>
                </div>
                <div class="fr-col-12 fr-col-sm-4 input-group input-form text-left"></div>
            </div>
            <div class="fr-checkbox-group row equipments">
                {% with request.GET|get_list:"equipments" as equipment_params %}
                    {% for label_slug, label in equipments.items %}
                        <input type="checkbox"
                               id="{{ label_slug }}"
                               name="equipments"
                               class="hidden"
                               value="{{ label_slug }}"
                               {% if label_slug in equipment_params %}checked{% endif %}>
                        <label class="fr-label invisible ml-0" for="{{ label_slug }}"></label>
                        <button class="fr-tag a4a-label-tag mb-1"
                                aria-pressed="{% if label_slug in equipment_params %}true{% else %}false{% endif %}"
                                data-fr-js-toggle="true"
                                type="button"
                                data-for-input="{{ label_slug }}">{{ label.name }}</button>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
</form>
