{% load crispy_forms_tags %}

<form action="{% url "contrib_start" %}" method="post" class="card mb-4">
  <div class="card-header">
    <h3 class="h6 mb-0">Je connais <strong>le numéro SIRET</strong> de l'établissement</h4>
  </div>
  <div class="card-body">
    {% csrf_token %}
    {% if siret_error %}
      <div class="alert alert-danger">{{ siret_error }}</div>
    {% endif %}
    {{ form|crispy }}
    <button type="submit" name="search_type" value="by-siret" class="btn btn-primary w-100">
      <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
      Rechercher un numéro SIRET
    </button>
  </div>
</form>
