{% load crispy_forms_tags %}

<form action="{% url "contrib_start" %}" method="post" class="card mb-4">
  <div class="card-header">
    <h3 class="h6 mb-0">Je recherche <strong>une entreprise</strong></h3>
  </div>
  <div class="card-body">
    {% csrf_token %}
    {% if sirene_error %}
      <div class="alert alert-danger">{{ sirene_error }}</div>
    {% endif %}
    {{ sirene_form|crispy }}
    <button type="submit" name="search_type" value="by-sirene" class="btn btn-primary w-100">
      <i aria-hidden="true" class="icon icon-magnifying-glass"></i>
      Rechercher une entreprise
    </button>
    <script>
    $("#id_lieu").autocomplete({
      deferRequestBy: 100,
      minChars: 2,
      onSelect: function(suggestion) {
        $(this).val(suggestion.data.nom);
      },
      lookup: function (query, done) {
        const req = $.ajax({
          url: "https://geo.api.gouv.fr/communes",
          data: {
            nom: query,
            fields: "departement",
            boost: "population",
            limit: 5
          }
        })
          .then(function(results) {
            done({
              suggestions: results.map(function(result) {
                return {
                  value: result.nom + " (" + result.departement.code + ")",
                  data: {
                    nom: result.nom
                  }
                };
              })
            });
          })
          .fail(function (err) {
            console.error(err);
          });
      }
    });
    </script>
    <datalist id="nafs">
      {% for naf, label in nafs.items %}
      <option value="{{ naf }}">{{ label }}</option>
      {% endfor %}
    </datalist>
  </div>
</form>
