{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Accès restreint" %}
{% endblock page_title %}
{% block editorial_content %}
    <div class="text-center fr-my-4w">
        <h2>{% translate "Accès non autorisé" %}</h2>
        {% url 'contact_topic' topic='bug' as url_contact_bug %}
        <p class="fr-alert fr-alert--warning bg--white" role="alert">
            {% blocktranslate %}Vous n'avez pas accès à cette ressource. Si vous considérez que cela ne devrait pas être le cas,
    <a href="{{ url_contact_bug }}">contactez-nous</a>.{% endblocktranslate %}
        </p>
    </div>
{% endblock editorial_content %}
