{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Page manquante{% endblock%}

{% block editorial_content %}
  <div class="text-center">
    <h2 class="display-4">Page introuvable</h2>
    <div class="my-4">
      <img class="w-50" src="{% static "img/undraw_page_not_found.svg" %}" alt="Page non trouvée">
    </div>
    <p>Vous pouvez tenter de revenir à <a href="{% url "home" %}">l'accueil</a>
      ou de nous <a href="{% url "contact_form" %}">contacter à ce sujet</a> en prenant
      soin de préciser l'adresse utilisée.
    </p>
  </div>
{% endblock %}
