{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Maintenance" %}
{% endblock page_title %}
{% block editorial_content %}
    <div class="text-center">
        <h2 class="display-4">{% translate "Le serveur est en maintenance." %}</h2>
        <div class="fr-my-4v">
            <img class="w-50"
                 src="{% static "img/undraw_server_down.svg" %}"
                 aria-hidden="true"
                 alt="{% translate "Le serveur est en maintenance." %}">
        </div>
        <p>{% translate "Acceslibre est actuellement en maintenance et revient au plus vite." %}</p>
    </div>
{% endblock editorial_content %}
