{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block page_title %}{% endblock%} | Access4all</title>
    <meta name="description" content="{% block page_description %}La plateforme collaborative de l'accessibilité{% endblock %}">
    <link rel="canonical" href="https://access4all.beta.gouv.fr{{ request.path }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin=""
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol@0.70.0/dist/L.Control.Locate.min.css" crossorigin="">
    <link rel="stylesheet" href="{% static "icons/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block stylesheet_extras %}{% endblock %}
    <script src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js"
        integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.locatecontrol@0.70.0/dist/L.Control.Locate.min.js" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block javascript_extras %}{% endblock %}
  </head>

  <body>
    <a class="skippy sr-only sr-only-focusable" href="#content">
      <span class="skippy-text">Aller au contenu principal</span>
    </a>
    {% block content %}{% endblock %}
    {% include "common/matomo.html" %}
    <script>Sentry.init({ dsn: "https://ed89c4bb2914496dbb608cc348fedca2:9e9898f0ba714c2cb31941be9bca1082@sentry.data.gouv.fr/49" });</script>
  </body>
</html>
