{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots"
              content="{% block robots %}{% if STAGING %}noindex, nofollow{% else %}index, follow{% endif %}{% endblock robots %}">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords"
              content="accessibilité,handicap,accessible,accessibles,fauteuil roulant,handicapé(s),ad'ap,adap">
        <title>
            {% block page_title %}
                acceslibre, la plateforme collaborative de l'accessibilité
            {% endblock page_title %}
        </title>
        <meta name="description"
              content="{% block page_description %}Inventaire de l'accessibilité des Établissements Recevant du Public (ERP) en France{% endblock page_description %}">
        <meta name="theme-color" content="#075ea2">
        <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
        <script src="{% url 'javascript-catalog' %}?lang={{ request.LANGUAGE_CODE }}"></script>
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'img/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="canonical" href="{{ SITE_ROOT_URL }}{{ request.path }}">
        <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
        {% block stylesheet_extras %}
        {% endblock stylesheet_extras %}
        <script src="{% static 'dist/index.js' %}"></script>
        {% block javascript_extras %}
        {% endblock javascript_extras %}
        <meta name="google-site-verification"
              content="SPPq95ai4uSt5AL3H0POB1MjydYAMiBY6ReGBkC_ZFg">
    </head>
    <body class="a4a" tabindex="0">
        {% block skiplinks %}
        {% endblock skiplinks %}
        {% include "common/notifications.html" %}
        {% block content %}
        {% endblock content %}
        {% include "common/matomo.html" %}
        {% include "common/sentry.html" %}
        {% if STAGING %}
            <div class="a4a-staging-notice">
                {% translate "Vous consultez actuellement le serveur de recette acceslibre." %}
                <a href="https://acceslibre.beta.gouv.fr/">{% translate "Aller sur le site officiel" %}</a>
            </div>
        {% endif %}
        <!-- New window warning messages -->
        <div class="hidden">
            <span id="new_target">{% translate "Ouverture dans un nouvel onglet" %}</span>
        </div>
    </body>
</html>
