{% extends "editorial/base.html" %}
{% load i18n %}
{% load a4a %}
{% load static %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
{% block page_title %}
    {% translate "Communes et territoires pilotes" %} | {% translate "Acceslibre" %}
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Communes et territoires pilotes" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    {% cache 500 communes LANGUAGE_CODE %}
    <h1 class="fr-mb-3v">{% translate "Communes et territoires pilotes" %}</h1>
    <div class="fr-grid-row fr-grid-row-lg--gutters">
        <div class="fr-col-lg-6 fr-col-12">
            <h2 class="fr-sr-only">{% translate "Communes renseignées" %}</h2>
            <div id="home-communes-list">
                {% for commune in communes %}
                    <div class="col fr-mb-4v">
                        <div class="fr-card fr-enlarge-link fr-card--sm">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h5">
                                        <a class="fr-link" href="{{ commune.get_absolute_url }}">
                                            {% blocktranslate with nom=commune.nom dep=commune.departement_nom %}Voir les établissements de la commune de {{ nom }} dans le département {{ dep }}{% endblocktranslate %}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <div class="fr-card__header">
                                <div class="fr-card__img">
                                    <img class="fr-responsive-img d-none d-md-block"
                                         alt=""
                                         src="{% result_map_img commune.geom.coords style="light-v10" zoom=11 size="348x139" marker=False %}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="text-right">
                <a class="fr-link" href="{% url "annuaire_home" %}">{% translate "Toutes les communes, par département" %}&nbsp;»</a>
            </p>
        </div>
        <div class="fr-col-lg-6 fr-col-12">
            <ul class="fr-btns-group">
                <li>
                    <a class="fr-btn fr-btn--full-width" href="{% url 'contrib_start' %}">{% translate "Ajouter un établissement" %}</a>
                </li>
            </ul>
            <aside class="card">
                <div class="card-header">
                    <h2 class="h6 m-0 font-weight-normal">{% translate "Derniers établissements renseignés" %}</h2>
                </div>
                {# FIXME: list-group class should be needed here but adds a 2px top border on first element #}
                <div class="list-group-flush" id="home-latest-erps-list">
                    <ul>
                        {% for erp in latest %}
                            <li>
                                <a class="fr-link" href="{{ erp.get_absolute_url }}">
                                    <img alt=""
                                         class="act-icon act-icon-20 fr-mb-1v"
                                         src="{% static 'img/mapicons.svg' %}#{{ erp.get_activite_vector_icon }}">
                                    {% if erp.commune_ext %}
                                        {{ erp.commune_ext.nom }}
                                    {% else %}
                                        erp.commune
                                    {% endif %}
                                    {% if erp.activite %}» <span class="text-muted">{{ erp.activite.nom }}</span>{% endif %}
                                    <br>
                                    <strong>{{ erp.nom }}</strong>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>
    </div>
{% endcache %}
{% endblock editorial_content %}
