{% extends "editorial/base.html" %}

{% load static %}

{% block editorial_content %}
  <div class="mb-4">
    <form action="">
      <input type="search" name="q" class="form-control form-control-lg" placeholder="Rechercher un établissement"
        aria-label="Rechercher un établissement" autocomplete="off">
    </form>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {% if search_results %}
      <h2>Résultats</h2>
      {% for result in search_results %}
      <p>{{ result.nom }}</p>
      {% empty %}
      <p>Aucun résultat.</p>
      {% endfor %}
      {% else %}
      <div class="row row-cols-1 row-cols-md-2">
        {% for commune in communes %}
        <div class="col mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-0 d-flex justify-content-between">
                <a href="{% url 'commune' commune.slug %}">{{ commune.nom }}</a>
                <span class="badge badge-primary">{{ commune.erp_count}}</span>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Derniers établissements renseignés</div>
        <div class="list-group list-group-flush">
          {% for erp in latest %}
          <a href="{{ erp.get_absolute_url }}" class="list-group-item list-group-item-action">
            {{ erp.commune }} {% if erp.activite %}&raquo; <span class="text-muted">{{ erp.activite.nom}}</span>{% endif %}
            <br><strong>{{ erp.nom }}</strong>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
