{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block page_title %}
    {% translate "Map icons" %}
{% endblock page_title %}
{% block editorial_content %}
    <h2 class="mb-4">{% translate "Map icons" %}</h2>
    <h3 class="mb-4">{% translate "Démo" %}</h3>
    <div class="mb-4">
        <div id="map-demo"></div>
        <script>
  const map = a4a.geo.createMap("map-demo", {
    dragging: false,
    scrollWheelZoom: false
  }).setView([43.6580058, 3.911346], 16);

  function createIcon(iconName, highlight) {
    const size = highlight ? 48 : 32;
    const options = {
      iconUrl: "/static/img/mapicons.svg#" + iconName,
      iconSize: [size, size],
      iconAnchor: [size / 2, size],
      popupAnchor: [0, -size],
      tooltipAnchor: [size / 2, -28],
      className: "shadow-sm act-icon act-icon-rounded act-icon-" + size + (highlight && " act-icon-invert" || ""),
    };
    return L.icon(options);
  }

  // non-hightlighted custom SVG icon
  L.marker([43.6570046,3.9136314], {
    icon: createIcon("bakery", false)
  }).addTo(map)
      .bindPopup('Boulangerie - 4 grand rue jacou')
      .openPopup();

  // hightlighted custom SVG icon
  L.marker([43.6580058, 3.911346], {
    icon: createIcon("car-learn", true)
  }).addTo(map)
      .bindPopup('Auto-école')
      .openPopup();
        </script>
    </div>
    <h3 class="mb-4">
        {% translate "Icônes" %} <small class="text-muted">{{ mapicons|length }} {% translate "icônes" %}</small>
    </h3>
    <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list">
        {% for icon in mapicons %}
            <div class="text-center mb-4">
                <img class="act-icon"
                     alt=""
                     src="{% static 'img/mapicons.svg' %}#{{ icon }}">
                <img class="act-icon act-icon-32"
                     alt=""
                     src="{% static 'img/mapicons.svg' %}#{{ icon }}">
                <img class="act-icon act-icon-32 act-icon-rounded"
                     alt=""
                     src="{% static 'img/mapicons.svg' %}#{{ icon }}">
                <img class="act-icon act-icon-24"
                     alt=""
                     src="{% static 'img/mapicons.svg' %}#{{ icon }}">
                <img class="act-icon act-icon-16"
                     alt=""
                     src="{% static 'img/mapicons.svg' %}#{{ icon }}">
                <br>
                <small class="text-muted">{{ icon }}</small>
            </div>
        {% endfor %}
    </div>
{% endblock editorial_content %}
