{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    API acceslibre
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "API acceslibre" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block stylesheet_extras %}
    <link rel="stylesheet"
          type="text/css"
          href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css" />
    <style>
  .swagger-ui .wrapper {
    padding: 0;
  }

  .swagger-ui .opblock-description-wrapper,
  .swagger-ui .opblock-external-docs-wrapper,
  .swagger-ui .opblock-title_normal {
    font-size: 14px;
  }

    </style>
{% endblock stylesheet_extras %}
{% block editorial_content %}
    <h1>{% translate "API acceslibre" %}</h1>
    <form action="{% url 'set_api_key' %}" method="post">
        <label class="fr-label" for="api_key">
            {% translate "Pour tester l'API, veuillez fournir une clef API valide :" %}
        </label>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-10">
                <input class="fr-input" type="text" name="api_key" id="api_key" />
            </div>
            <div class="fr-col-2">
                <input type="submit" value='{% translate "OK" %}' class="fr-btn" />
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% if request.session.api_key %}
        <form action="{% url 'set_api_key' %}" method="post" class="pt-4">
            <input type="hidden" name="api_key" value="" />
            <input type="submit"
                   value='{% translate "Réinitialiser la clef API" %}'
                   class="fr-btn fr-btn--secondary" />
            {% csrf_token %}
        </form>
    {% else %}
        <p class="fr-pt-2v">
            {% blocktranslate %}
            Si vous n'avez pas encore de clef API, <a href="{{settings.SITE_ROOT_URL}}/contact/api_key" class="fr-link">contactez-nous</a>, nous
            n'avons, à priori, pas de raison de refuser :-)
            {% endblocktranslate %}
        </p>
    {% endif %}
    <div id="swagger-ui"></div>
    <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
    <script>
  const ui = SwaggerUIBundle({
    url: "{% url schema_url %}",
    dom_id: "#swagger-ui",
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIBundle.SwaggerUIStandalonePreset
    ],
    layout: "BaseLayout",
    display: {
      tryItOutEnabled: false,
    },
    requestInterceptor: request => {
      request.headers["X-CSRFToken"] = "{{ csrf_token }}";
      request.headers['Authorization'] = "Api-Key {{ request.session.api_key }}"
      return request;
    }
  });
    </script>
{% endblock editorial_content %}
