@use 'breakpoints' as *;

.contact-container {
  @media (min-width: $viewport-xl) {
    position: relative;
    background-image: url(/static/img/contact/contact-background.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 428px auto;

    &::after {
      z-index: -1;
      position: absolute;
      content: '';
      background-color: #f27189;
      height: 100%;
      width: 428px;
      right: 0;
      top: 0;
    }

    #contact-form-container {
      max-width: 700px;
    }
  }

  textarea {
    max-height: 100px;
  }
}
