@use 'breakpoints';

.erp-details-container {
  display: flex;
  flex-direction: column;

  .fr-collapse {
    ul {
      margin-left: 1rem;
    }
  }

  .address-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    address {
      width: 100%;
    }

    @media (min-width: breakpoints.$viewport-md) {
      flex-direction: row;
    }
  }
}
