@use 'breakpoints' as *;

.erp-details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $viewport-md) {
    gap: 3rem;
  }

  .fr-collapse {
    ul {
      margin-left: 1rem;
    }
  }

  .address-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    address {
      width: 100%;
    }

    @media (min-width: $viewport-md) {
      flex-direction: row;
    }
  }
}
