@use 'breakpoints' as *;

pnx-viewer,
pnx-photo-viewer {
  height: 500px;
  display: block;
}

pnx-widget-player {
  display: none;
}

pnx-photo-viewer .psv-virtual-tour-arrows .psv-virtual-tour-link {
  display: none;
}

.erp-details-container {
  @media screen and (max-width: $viewport-sm) {
    pnx-photo-viewer {
      height: 350px;
    }
  }
}

.panoramax-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.panoramax-add-photo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px;
  margin: 12px 0;
  background-color: var(--artwork-background-blue-france);

  [class^='fr-icon-']:before,
  [class^='fr-icon-']:after {
    --icon-size: 3.5rem;
  }
}

pnx-photo-viewer {
  overflow: hidden !important;
}
