@use 'breakpoints' as *;

pnx-viewer,
pnx-photo-viewer {
  height: 500px;
  display: block;
}

pnx-widget-legend,
pnx-widget-player {
  display: none;
}

pnx-photo-viewer .psv-virtual-tour-arrows .psv-virtual-tour-link {
  display: none;
}

.erp-details-container {
  @media screen and (max-width: $viewport-sm) {
    pnx-photo-viewer {
      height: 350px;
    }
  }
}
