@use 'breakpoints';

.partners-container {
  background-color: var(--artwork-background-grey);

  .partners-grid {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    padding: 0;
    margin: 16px 0 0 0;

    li {
      width: 240px;
      height: 240px;
      background-color: white;
      padding: 24px;
      border: 1px solid #ddd;
      overflow: hidden;
      position: relative;

      img {
        width: 200px;
        height: 167px;
      }
    }
  }

  @media screen and (min-width: breakpoints.$viewport-md) {
    .see-more-content {
      display: block !important;
    }
    .see-more-cta {
      display: none;
    }
  }
}
