@use 'breakpoints';

.partners-container {
  background-color: var(--artwork-background-grey);

  .partners-grid {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    padding: 0;
    margin: 16px 0 0 0;

    div.fr-card {
      width: 240px;
      background-color: white;
      overflow: hidden;
      position: relative;

      img {
        width: 200px;
        height: 167px;
      }

      &:has(button:focus-visible) {
        outline: 2px solid var(--focus-color, #0a76f6);
        outline-offset: -2px;
      }

      button:focus-visible {
        outline: none;
      }
    }

    .fr-card__title {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: breakpoints.$viewport-md) {
    .see-more-content {
      display: block !important;
    }
  }
}
