.text-center {
  text-align: center;
}

.text {
  &--ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.overflow {
  &--hidden {
    overflow: hidden;
  }
}

// SPACING
.mt-10,
.my-10 {
  margin-top: 9rem !important;
}

.mt-20,
.my-20 {
  margin-top: 15rem !important;
}

.display--block {
  display: block;
}

.justify {
  &--self {
    &-end {
      justify-self: flex-end;
    }
  }
}

.display {
  &--flex {
    display: flex;
  }
}

@mixin line-clamp($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
}

.text--clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &-2 {
    @extend .text--clamp;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  &-3 {
    @extend .text--clamp;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

.position {
  &--relative {
    position: relative;
  }
}

.direction {
  &--column {
    flex-direction: column;
  }
}

.justify {
  &-self {
    &--center {
      justify-self: center;
    }
  }
}

@mixin generate-gap-classes {
  @for $i from 1 through 10 {
    .gap-#{$i}w {
      gap: calc($i * 0.5rem);
    }

    .gap-#{$i}v {
      gap: calc($i * 0.25rem);
    }
  }
}

@include generate-gap-classes();
