progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 6px;
  accent-color: $blue-france;
  border: none;
}

::-webkit-progress-value {
  background-color: $blue-france;
}

::-moz-progress-bar {
  background-color: $blue-france;
}
