// Acceslibre styles

// Bootstrap
$white: #fff;
$primary: #075ea2;
$success: #167d2e;
$info: #097182;

$navbar-dark-color: rgba($white, 0.8);

// Redefine heading sizes using `em` instead of `rem` in order to
// allow scaling proportionnaly to body base size.
$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;

$text-muted: rgb(104, 104, 104);

$viewport-xs: 320px;
$viewport-sm: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;

@import "../vendor/bootstrap@4.5.3/scss/bootstrap.scss";

// App specific styles

.a4a {
  .btn {
    .icon {
      font-size: .9em;
    }
  }

  .act-icon {
    background: $primary;
    border-radius: 25%;
    color: currentColor;
    width: 48px;
    height: 48px;
    padding: 6px;

    &.invert {
      filter: invert(1) contrast(1.75);
    }
  }

  .act-icon-squared {
    border-radius: 0%;
  }

  .act-icon-rounded {
    border-radius: 50%;
  }

  .act-icon-16 {
    width: 16px;
    height: 16px;
    padding: 2px;
  }

  .act-icon-20 {
    width: 20px;
    height: 20px;
    padding: 3px;
  }

  .act-icon-24 {
    width: 24px;
    height: 24px;
    padding: 2px;
  }

  .act-icon-32 {
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  svg {
    fill: currentColor;
  }

  .cgu p, .cgu li {
    color: #444;
  }

  .navbar-brand {
    padding-bottom: 1px;
  }

  .nav-tabs .active {
    font-weight: bold;
  }

  &-notifications {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 0;
    z-index: 9999;

    @media screen and (max-width: $viewport-md) {
      left: 0;
      right: 0;
    }

    &-item {
      min-width: 320px;
      max-width: 600px;
      animation: fadeInOut 6s;
      animation-fill-mode: forwards;
      opacity: 1;
      margin: 10px;
      right: 0;
      height: auto;

      @media screen and (max-width: $viewport-md) {
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
      }

      @keyframes fadeInOut {
        0% {
          height: auto;
          opacity: 0;
          right: 0;
        }
        5% {
          height: auto;
          opacity: 1;
          right: 0;
        }
        90% {
          height: auto;
          opacity: 1;
          right: 0;
        }
        100% {
          height: 0px;
          opacity: 0;
          right: -1000px;
          z-index: -1;
        }
      }
    }
  }

  &-bg-primary-gradient {
    background: linear-gradient(15deg, #054a80, #3576a9);
  }

  &-cta-search {
    @media screen and (max-width: $viewport-sm) {
      padding: 0 0 1em 0 !important;
    }
  }

  &-cta-contribute {
    @media screen and (max-width: $viewport-sm) {
      padding: 1em !important;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-weight: 400;
  }

  .cursor-help {
    cursor: help;
  }

  .fs9em {
    font-style: 9em;
  }

  .no-outline {
    outline: none;
  }

  .text-overlay {
    overflow: overlay;
  }

  &-text-smaller {
    font-size: 0.9em;
  }

  hr[noshade] {
    border-top: 1px solid #ddd;
    margin: .5em 0;
  }

  .bl-highlight {
    border-left: 6px solid #ddd;
    margin-left: 2em;
    padding-left: 1em;
  }

  .form-group {
    > label {
      color: #444;
      font-weight: 500;
    }
  }

  .icon {
    vertical-align: middle;
  }

  &-icon-small-top {
    vertical-align: text-top;
    font-size: .9em;
  }

  &-tab-content-section {
    min-height: 100%;
    background: $white;
  }

  &-erp-details-link {
    font-size: .9em;
    padding-bottom: 1px;
    .icon {
      vertical-align: text-top;
    }
  }

  &-localisation-map {
    width: 100%;
    height: 400px;
  }

  &-map-activite-icon {
    box-shadow: 2px 2px 5px #777;

    &.highlighted {
      background-color: #fff;
      border-radius: 50px;
      border: 4px solid #fff;
    }
  }

  &-map-popup-content {
    font-size: 1.2em;
  }

  &-result-map {
    background-color: #eee;
    background-position: center;
    background-size: cover;
    min-height: 100px;
  }

  &-logo {
    font-size: 3.5em;
  }

  &-logo img {
    width: 90px;
  }

  &-marianne {
    background: $white;
    height: 30px;
    width: 50px;
  }

  &-home-map {
    width: 100%;
    height: 700px;
  }

  &-navbar {
    background-color: $primary;
  }

  &-app-nav,
  &-app-main {
    @media screen and (min-width: $viewport-md) {
      height: calc(100vh - 58px - 57px);
    }
  }

  &-app-map {
    @media screen and (min-width: $viewport-md) {
      height: calc(100vh - 58px - 57px);
    }
    @media screen and (max-width: $viewport-md) {
      height: calc(100vh - 148px);
      visibility: hidden;
      &.visible {
        visibility: visible;
      }
    }
  }

  &-erp-list-inner.loading {
    opacity: 0.65;
  }

  &-backlink {
    border-bottom: 1px solid #ddd;
    background: #fafafa;
  }

  &-slightly-smaller {
    font-size: .87em;
  }

  &-cluster-icon {
    background-color: #13629a;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    text-align: center;
    width: 32px;
  }

  &-large-breadcrumb {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (max-width: $viewport-sm) {
      font-size: 24px;
    }
  }

  &-handicap-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  &-accessibility-group {
    background: $white;
  }

  &-accessibility-label {
    text-align: center;
    margin-left: 2px;
  }

  &-accessibility-label-logo {
    border-radius: 8px;
    width: 80px;
    height: 80px;
  }

  &-app-title {
    @media screen and (min-width: $viewport-lg) {
      max-height: 58px;
    }
    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-icon-btn {
    display: inline;
    padding-bottom: 1px;
    padding-right: 8px;
  }

  &-locate-icon::before {
    line-height: inherit !important;
  }

  &-center-icon {
    color: red;
    font-size: 1rem;
    opacity: 0.5;
  }

  &-warn-icon {
    color: #aaa;
    display: inline-block;
  }

  /* Autocomplete */

  &-autocomplete {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 2000;
  }

  &-autocomplete-items {
    background: $white;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    left: 0;
    margin: 0; /* overrides bootstrap row margins */
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
  }

  /* Notifs */

  &-notifs {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 1999;
  }

  &-notif {
    max-width: 600px;
    min-width: 350px;
  }

  /* Loader from https://loading.io/css/ */
  .lds-ring {
    display: inline-block;
    height: 80px;
    position: relative;
    width: 80px;
  }

  .lds-ring div {
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 8px solid $white;
    border-color: #4493ce transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 64px;
    margin: 8px;
    position: absolute;
    width: 64px;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .autocomplete-suggestions {
    background: $white;
    border: 1px solid #4493ce;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
    cursor: pointer;
    overflow: auto;
    padding: 2px 0;
  }

  .autocomplete-suggestion {
    overflow: hidden;
    padding: 3px 12px;
    white-space: nowrap;
  }

  .autocomplete-selected {
    background: #f0f0f0;
  }

  .autocomplete-suggestions strong {
    color: #39f;
    font-weight: normal;
  }

  .autocomplete-group {
    padding: 2px 5px;
  }

  .autocomplete-group strong {
    border-bottom: 1px solid #000;
    display: block;
  }

  &-badge-group {
    white-space: nowrap;
  }

  &-badge {
    font-size: 13px;
    padding: 6px 8px 3px 6px;
  }

  &-badge-lg {
    font-size: 14px;
    padding: 6px 10px;
  }

  &-contact-btn-group .btn {
    white-space: nowrap;
    text-align: left;
  }

  /* Forms */

  .asteriskField {
    color: darkorange;
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    left: 5px;
  }

  input[type="checkbox"] + .form-check-label.requiredField {
    display: flex;
  }

  input[type="checkbox"] + .form-check-label.requiredField .asteriskField {
    left: -10px;
  }

  .indented1 {
    margin-left: 60px;
  }

  .indented2 {
    margin-left: 120px;
  }

  .hidden {
    display: none;
  }

  .form-text.text-muted {
    font-size: 0.8em;
  }

  &-form-choices {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &.inline {
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &-form-field {
    border-bottom: 1px solid #ddd;
  }

  &-form-input-number {
    width: 100px;
  }

  &-inline-submit-end {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  /* Steps progress */

  .StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
  }

  .StepProgress::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #ccc;
  }

  .StepProgress-item {
    position: relative;
    counter-increment: list;
    padding-top: 4px;
  }

  .StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .StepProgress-item::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }

  .StepProgress-item::after {
    background-color: $white;
    border-radius: 50%;
    border: 2px solid #ccc;
    color: #999;
    content: counter(list);
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    left: -45px;
    line-height: 28px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
  }

  .StepProgress-item.is-done::before {
    border-left: 2px solid $success;
  }

  .StepProgress-item.is-done::after {
    background-color: $success;
    border: 2px solid $success;
    color: $white;
    content: "\44";
    font-family: "access4all", sans-serif !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    text-align: center;
    text-transform: none !important;
    vertical-align: middle;
  }

  .StepProgress-item.current {
    font-weight: bold;
  }

  .StepProgress-item.current::before {
    border-left: 2px solid $success;
  }

  .StepProgress-item.current::after {
    color: $primary;
    border: 2px solid $primary;
  }

  .StepProgress strong {
    display: block;
  }

  /* Datepicker */
  .datepicker {
    padding: 5px 10px;

    th {
      text-align: center;

      &.clear,
      &.next,
      &.prev {
        cursor: pointer;
      }
    }

    td {
      padding: 3px 10px 1px;
      text-align: center;

      &.dow {
        font-variant: small-caps;
      }

      &.day {
        cursor: pointer;
        font-size: 14px;

        &.new,
        &.old {
          color: #575757;
        }

        &.active {
          background: $primary;
          border-radius: 3px;
          color: $white;
        }
      }
    }
  }

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: loader-animation 1.8s infinite ease-in-out;
    animation: loader-animation 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 10px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @keyframes loader-animation {
    0%,
    80%,
    100% {
      box-shadow: 0 1em 0 -1em;
    }
    40% {
      box-shadow: 0 1em 0 0;
    }
  }
}
