a {
  --link-underline: none;
}

p {
  font-size: 1.1rem !important;
}
.fr-btn:hover {
  color: var(--w-bf500);
}

.fr-btn--secondary:hover {
  color: var(--bf500);
}

.bg-alt-blue-france-975 {
  background-color: #f5f5fe !important;
}

.auto-height {
  height: auto !important;
}

.input-form {
  position: relative;
  display: inline-block;
}
