{% extends "base.html" %}

{% load static %}

{% block content %}
  <header class="container-fluid p-0 m-0">
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4" id="content">
          <a class="text-body text-decoration-none" href="{% url "home" %}">access4all</a>
        </h1>
        <p class="lead">La plateforme collaborative pour l’accessibilité</p>
      </div>
    </section>
  </header>
  <main class="container a4a-editorial mb-5">
    {% block editorial_content %}{% endblock%}
  </main>
  <footer class="container-fluid bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>
            <img class="a4a-marianne" src="{% static "img/logo-marianne.svg" %}" alt="République Française">
            <a class="text-white text-decoration-none" href="{% url "home" %}">access4all</a>
          </h2>
          <nav>
            <div><a class="text-white" href="{% url "home" %}">Accueil</a></div>
            <div><a class="text-white" href="{% url "donnees_personnelles" %}">Données personnelles</a></div>
            <div><a class="text-white" href="{% url "mentions_legales" %}">Mentions légales</a></div>
            <div><a class="text-white" href="{% url "accessibilite" %}">Accessibilité</a></div>
            <div><a class="text-white" href="{% url "contact" %}">Contact</a></div>
          </nav>
        </div>
        <div class="col">
          <h2>Communes</h2>
          <nav>
          {% for _, commune in communes.items %}
            <div><a class="text-white" href="{% url 'commune' commune.slug %}">{{ commune.nom }}</a></div>
          {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
