{% extends "editorial/base.html" %}


{% block editorial_content %}
  <h2>Éditeur</h2>

  <section>
    <p><strong>access4all</strong> est édité par la
      <a href="https://beta.gouv.fr/incubateurs/mtes.html">Fabrique Numérique</a> du Ministère de la
      Transition Écologique et Solidaire et du Ministère de la Cohésion des Territoires
      et des Relations avec les Collectivités Territoriales, sise
      <em>1 place Carpeaux, 92800 Puteaux</em>, avec l’appui de
      <a href="https://beta.gouv.fr/">l’incubateur de services numériques</a> de
      la direction interministérielle du numérique et du système d’information et de
      communication de l’État (DINSIC).
    </p>
  </section>

  <h2>Code source du site</h2>

  <section>
    <p>Le code source du site est <a href="https://github.com/MTES-MCT/access4all">disponible sur Github</a>.</p>
  </section>

  <h2>Propriété intellectuelle et liens vers <em>access4all.beta.gouv.fr</em></h2>

  <section>
    <p>Tout site public ou privé est autorisé à établir, sans autorisation préalable,
      un lien (y compris profond) vers les informations diffusées sur <em>access4all.beta.gouv.fr</em>
    </p>
    <p>Sauf mention de propriété intellectuelle détenue par des tiers (notamment
      un crédit sur certaines images), les contenus de ce site sont proposés sous
      licence ouverte.
    </p>
    <p>La mise en place de liens vers nos contenus et documents est cependant est à
      privilégier par rapport à la reproduction sur un site tiers. La mention explicite
      du site source <em>access4all.beta.gouv.fr</em> est recommandée.
    </p>
  </section>

  <h2>Hébergement</h2>

  <section>
    <address>
      <a href="https://scalingo.com/fr">Scalingo SAS</a>
      <br>15, avenue du Rhin
      <br>67100 Strasbourg
      <br>France
      <br>SIRET 80866548300018
    </address>
  </section>
{% endblock%}
