{% extends "editorial/base.html" %}
{% load a4a %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {{ challenge }}
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'challenges' %}">{% translate "Challenges" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ challenge.nom }}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <h1 class="main-title">{{ challenge }}</h1>
    <section class="picto-section">
        <div class="fr-tile fr-tile--horizontal">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <p class="fr-tile__title fr-h1 fr-mb-0">{{ total_contributions }}</p>
                    <p class="fr-tile__desc">{% translate "Informations d'accessibilité ajoutées" %}</p>
                </div>
            </div>
            <div class="fr-tile__header">
                <div class="fr-tile__pictogram">
                    <img src="{% static 'img/challenges/accessibility.svg' %}"
                         aria-hidden="true"
                         alt=""
                         width="64"
                         height="64" />
                </div>
            </div>
        </div>
        <div class="fr-tile fr-tile--horizontal">
            <div class="fr-tile__body">
                <div class="fr-tile__content">
                    <p class="fr-h1 fr-mb-0 fr-tile__title">{{ total_participants }}</p>
                    <p class="fr-tile__desc">{% translate "Participants au challenge" %}</p>
                </div>
            </div>
            <div class="fr-tile__header">
                <div class="fr-tile__pictogram">
                    <img src="{% static 'img/challenges/mental-disabilities.svg' %}"
                         aria-hidden="true"
                         alt=""
                         width="64"
                         height="64" />
                </div>
            </div>
        </div>
    </section>
    <section class="leaderboard">
        <div>
            {% if today < start_date %}
                <div class="fr-alert fr-alert--info">{% translate "Le concours n'a pas encore démarré" %}</div>
            {% elif today > stop_date %}
                <div class="fr-alert fr-alert--info">{% translate "Le concours est terminé" %}</div>
            {% elif not top_contribs %}
                <div class="fr-alert fr-alert--info">
                    {% translate "Le concours a démarré, mais aucun participant n'a encore ajouté ou complété d'établissement." %}
                </div>
            {% endif %}
            {% if top_contribs.0 %}
                <ul class="ranking-container">
                    <li class="ranking">
                        <div class="fr-badge fr-badge--purple-glycine fr-mb-1v">{% translate "Top" %} 1</div>
                        <p class="fr-mb-0 fr-text--bold">{{ top_contribs.0.username }}</p>
                        {% if top_contribs.0.erp_count_published > 0 %}
                            <p class="fr-text--bold">{{ top_contribs.0.erp_count_published }}</p>
                        {% endif %}
                    </li>
                    {% if top_contribs.1 %}
                        <li class="ranking">
                            <div class="fr-badge fr-badge--purple-glycine fr-mb-1v">{% translate "Top" %} 2</div>
                            <p class="fr-mb-0 fr-text--bold">{{ top_contribs.1.username }}</p>
                            {% if top_contribs.1.erp_count_published > 0 %}
                                <p class="fr-text--bold">{{ top_contribs.1.erp_count_published }}</p>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if top_contribs.2 %}
                        <li class="ranking">
                            <div class="fr-badge fr-badge--purple-glycine fr-mb-1v">{% translate "Top" %} 3</div>
                            <p class="fr-mb-0 fr-text--bold">{{ top_contribs.2.username }}</p>
                            {% if top_contribs.2.erp_count_published > 0 %}
                                <p class="fr-text--bold">{{ top_contribs.2.erp_count_published }}</p>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if not top_contribs %}
                <div class="fr-alert fr-alert--info">
                    {% translate "Aucun participant n'a ajouté ou complété d'établissement pour le moment" %}
                </div>
            {% else %}
                <div class="fr-table">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption class="text--title-blue-france">{% translate "Classement général" %}</caption>
                                    <thead>
                                        <tr>
                                            <th>{% translate "Classement" %}</th>
                                            <th>{% translate "Participant" %}</th>
                                            <th>{% translate "Nombre d'ajouts" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for top_contrib in top_contribs %}
                                            <tr data-row-key="{{ loop.index }}">
                                                <td>{{ forloop.counter }}.</td>
                                                <td>{{ top_contrib.username }}</td>
                                                <td>{{ top_contrib.erp_count_published }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if challenge.get_classement_team %}
                <div class="fr-table">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption class="text--title-blue-france">{% translate "Classement par équipe" %}</caption>
                                    <thead>
                                        <tr>
                                            <th>{% translate "Classement général" %}</th>
                                            <th>{% translate "Équipe" %}</th>
                                            <th>{% translate "Nombre d'ajouts" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for top_contrib in challenge.get_classement_team %}
                                            <tr data-row-key="{{ loop.index }}">
                                                <td>{{ forloop.counter }}.</td>
                                                <td>{{ top_contrib.team }}</td>
                                                <td>{{ top_contrib.erp_count_published }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <section class="goal">
        <div>
            {% if challenge.objectif %}
                <h2 class="text--title-blue-france fr-text--xl text--center">{% translate "Votre objectif" %}</h2>
            {% endif %}
            {% if challenge.accroche %}
                <div class="fr-highlight">
                    <p>{{ challenge.accroche|linebreaksbr }}</p>
                </div>
            {% endif %}
            {% if challenge.has_open_subscriptions and request.user not in challenge.players.all %}
                <div class="fr-my-2w text--center">
                    <a class="fr-btn"
                       href="{% url 'challenge-inscription' challenge_slug=challenge.slug %}">{% translate "S'inscrire au challenge" %}</a>
                </div>
            {% endif %}
            {% if challenge.text_reserve %}<p class="fr-mb-0">{{ challenge.text_reserve }}</p>{% endif %}
        </div>
        {% if challenge.objectif %}
            <div class="fr-callout fr-icon-info-line">
                <h3 class="fr-callout__title">{% translate "Règles du jeu" %}</h3>
                <p class="fr-callout__text">{{ challenge.objectif | safe }}</p>
            </div>
        {% endif %}
    </section>
{% endblock editorial_content %}
