{% extends "editorial/base.html" %}
{% load a4a %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Challenges" %}
{% endblock page_title %}
{% block editorial_content %}
    <div class="row">
        <div class="fr-col-12 fr-col-md-6 ">
            <section class="row fr-mt-4v">
                <div class="col-12">
                    <h1 class="text-center text-md-right">{% translate "Challenges" %}</h1>
                </div>
            </section>
            {% if challenges_en_cours %}
                <section class="row justify-content-start fr-mt-4v">
                    <div class="col-12">
                        <h2>
                            <strong>{% translate "Challenges en cours" %}</strong>
                        </h2>
                        {% include "common/challenge_item.html" with challenges=challenges_en_cours %}
                    </div>
                </section>
            {% endif %}
            {% if challenges_termines %}
                <section class="row justify-content-start fr-mt-4v">
                    <div class="col-12">
                        <h2>
                            <strong>{% translate "Challenges terminés" %}</strong>
                        </h2>
                        {% include "common/challenge_item.html" with challenges=challenges_termines %}
                    </div>
                </section>
            {% endif %}
            {% if challenges_a_venir %}
                <section class="row justify-content-start fr-mt-4v">
                    <div class="col-12">
                        <h2">
                            <strong>{% translate "Prochains challenges" %}</strong>
                        </h2>
                        {% include "common/challenge_item.html" with challenges=challenges_a_venir %}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="fr-col-5 fr-col-offset-1 fr-mt-2v0">
            <figure class="fr-content-media d-none d-sm-block">
                <div class="fr-content-media__img ">
                    <img class="auto-height"
                         src="{% static 'img/login.jpg' %}"
                         alt=""
                         aria-hidden="true">
                </div>
            </figure>
        </div>
    </div>
{% endblock editorial_content %}
