{% extends "editorial/base.html" %}
{% load a4a %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Challenge DDT février/mars 2022" %}
{% endblock page_title %}
{% block editorial_content %}
    <h1 class="text-center">{% translate "Challenge DDT (M)" %}</h1>
    <h2 class="text-center fr-py-4v">
        {% translate "Tous acceslibre" %}
        <br>
        <small class="text-muted">{% blocktranslate with start=start_date|date:"d F Y" end=stop_date|date:"d F Y" %}Du {{ start }} au {{ end }}.{% endblocktranslate %}</small>
        <br>
    </h2>
    <section class="row justify-content-center fr-mt-4v">
        <h3 class="fr-h1">
            <strong>{{ total_contributions }}
                {% if total_contributions > 1 %}
                    {% translate "ERPs ajoutés" %}
                {% else %}
                    {% translate "ERP ajouté" %}
                {% endif %}
            </strong>
        </h3>
    </section>
    <div class="row justify-content-center">
        <img src="{% static 'img/hands-challenge.png' %}"
             alt="{% translate "Merci" %}" />
    </div>
    <section class="row justify-content-center fr-mt-4v">
        <div>
            {% if today < start_date %}
                <div class="alert alert-info">{% translate "Le concours n'a pas encore démarré" %}</div>
            {% elif today > stop_date %}
                <div class="alert alert-info">{% translate "Le concours est terminé" %}</div>
            {% elif not top_contribs %}
                <div class="alert alert-info">
                    {% translate "Le concours a démarré, mais aucun participant n'a encore ajouté d'établissement." %}
                </div>
            {% endif %}
            <ul class="list-group">
                <li class="list-group-item font-weight-bold larger-font">
                    <span class="badge badge-primary badge-pill">1</span>
                    {% if top_contribs.0 %}
                        {{ top_contribs.0.username }}
                        <br>
                        <small class="text-muted">
                            {{ top_contribs.0.erp_count_published }}
                            {% if top_contribs.0.erp_count_published > 1 %}
                                {% translate "établissements renseignés" %}
                            {% else %}
                                {% translate "établissement renseigné" %}
                            {% endif %}
                        </small>
                    {% else %}
                        ???
                    {% endif %}
                </li>
                <li class="list-group-item larger-font">
                    <span class="badge badge-primary badge-pill">2</span>
                    {% if top_contribs.1 %}
                        {{ top_contribs.1.username }}
                        <br>
                        <small class="text-muted">
                            {{ top_contribs.1.erp_count_published }}
                            {% if top_contribs.1.erp_count_published > 1 %}
                                {% translate "établissements renseignés" %}
                            {% else %}
                                {% translate "établissement renseigné" %}
                            {% endif %}
                        </small>
                    {% else %}
                        ???
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <span class="badge badge-primary badge-pill">3</span>
                    {% if top_contribs.2 %}
                        {{ top_contribs.2.username }}
                        <br>
                        <small class="text-muted">
                            {{ top_contribs.2.erp_count_published }}
                            {% if top_contribs.2.erp_count_published > 1 %}
                                {% translate "établissements renseignés" %}
                            {% else %}
                                {% translate "établissement renseigné" %}
                            {% endif %}
                        </small>
                    {% else %}
                        ???
                    {% endif %}
                </li>
            </ul>
            <h3 class="mt-5 fr-mb-3v">{% translate "Classement général" %}</h3>
            {% if not top_contribs %}
                <div class="alert alert-info">{% translate "Aucun participant n'a ajouté d'établissement pour le moment" %}</div>
            {% endif %}
            <ol>
                {% for top_contrib in top_contribs %}
                    <li>{{ top_contrib.username }} ({{ top_contrib.erp_count_published }})</li>
                {% endfor %}
            </ol>
        </div>
    </section>
{% endblock editorial_content %}
