{% extends "editorial/base.html" %}
{% load a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Activer votre compte" %}
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Activation de compte" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <div class="fr-mb-3w">
        <h1 class="fr-h3">{% translate "Activer votre compte" %}</h1>
        {% if activation_error %}
            <div class="fr-alert fr-alert--error" role="alert">
                <strong>{% translate "Erreur d'activation" %}</strong>
                <br>
                {% if activation_error.key_invalid %}
                    {% translate "La clé d'activation est invalide ou expirée." %}
                {% elif activation_error.already_activated %}
                    {% translate "Ce compte a déjà été activé." %}
                {% endif %}
            </div>
        {% endif %}
        <form action="."
              method="post"
              novalidate
              class="activation-form fr-mb-4v"
              id="activation">
            {% csrf_token %}
            <input type="hidden"
                   name="activation_key"
                   value="{{ request.GET.activation_key }}">
            <button type="submit" class="fr-btn fr-btn-primary fr-btn-block">{% translate "Activer mon compte" %}</button>
        </form>
    </div>
{% endblock editorial_content %}
