{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Compte activé" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <div class="text-left fr-mt-5v">
        <div class="row">
            <div class="fr-col-6">
                <h1 role="status">{% translate "Bienvenue sur acceslibre !" %}</h1>
                <p class="mt-5 fr-mb-5v">
                    {% translate "Votre compte est désormais actif.<br>Vous pouvez dès à présent vous connecter." %}
                </p>
                <p>
                    <a href="{% url 'login' %}?next={{ next }}"
                       class="btn fr-btns-group--center btn-primary fr-btn btn-block">{% translate "Se connecter" %}</a>
                </p>
            </div>
            <div class="fr-col-5 fr-col-offset-1">
                <figure class="fr-content-media d-none d-sm-block">
                    <div class="fr-content-media__img ">
                        <img class="auto-height"
                             src="{% static 'img/login.jpg' %}"
                             alt=""
                             aria-hidden="true">
                    </div>
                </figure>
            </div>
        </div>
    </div>
{% endblock editorial_content %}
