{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Activation échouée{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
<main role="main" id="content">
  <h3>L'activation de votre compte a échoué</h3>
  {% if activation_error %}
    <div class="alert alert-warning" role="alert">
    {% if activation_error.code == "already_activated" %}
      Votre compte a déjà été activé.
      Vous pouvez donc <a href="{% url "login" %}?next={{ request.GET.next }}">vous authentifier</a>.
    {% elif activation_error.code == "bad_username" %}
      Nous n'avons pu retrouver le compte associé à cette demande d'activation.
      Merci de <a href="{% url "contact_topic" topic="connection" %}">nous contacter</a>.
    {% elif activation_error.code == "expired" %}
      Cette demande d'activation de compte a expiré.
      Vous pouvez <a href="{% url "django_registration_register" %}">créer un nouveau compte</a>.
    {% elif activation_error.code == "invalid_key" %}
      La clé d'activation est corrompue.
      Vous devez <a href="{% url "django_registration_register" %}">créer un nouveau compte</a>.
    {% endif %}
    </div>
  {% else %}
    <p>
      Nous sommes désolés, nous n'avons pas pu déterminer la cause technique de l'échec d'activation.
      Merci de <a href="{% url "contact_topic" topic="connection" %}">nous contacter</a>.
    </p>
  {% endif %}
</main>
{% endblock %}
