{% extends "editorial/base.html" %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {% translate "Activation échouée" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <h3>{% translate "L'activation de votre compte a échouée" %}</h3>
    {% if activation_error %}
        <div class="alert alert-warning" role="alert">
            {% url 'django_registration_register' as url_register %}
            {% url 'contact_topic' topic='connection' as url_contact_connection %}
            {% if activation_error.code == "already_activated" %}
                {% translate "Votre compte a déjà été activé." %}
                {% translate "Vous pouvez donc" %} <a href="{% url 'login' %}?next={{ request.GET.next }}">{% translate "vous authentifier" %}</a>.
            {% elif activation_error.code == "bad_username" %}
                {% blocktranslate %}
      Nous n'avons pu retrouver le compte associé à cette demande d'activation.
      Merci de <a href="{{ url_contact_connection }}">nous contacter</a>.
      {% endblocktranslate %}
            {% elif activation_error.code == "expired" %}
                {% blocktranslate %}
      Cette demande d'activation de compte a expiré.
      Vous pouvez <a href="{{ url_register }}">créer un nouveau compte</a>.
      {% endblocktranslate %}
            {% elif activation_error.code == "invalid_key" %}
                {% blocktranslate %}
      La clé d'activation est corrompue.
      Vous devez <a href="{{ url_register }}">créer un nouveau compte</a>.
      {% endblocktranslate %}
            {% endif %}
        </div>
    {% else %}
        <p>
            {% url "contact_topic" topic="connection" as url_contact_connection %}
            {% blocktranslate %}
      Nous sommes désolés, nous n'avons pas pu déterminer la cause technique de l'échec d'activation.
      Merci de <a href="{{ url_contact_connection }}">nous contacter</a>.
      {% endblocktranslate %}
        </p>
    {% endif %}
{% endblock editorial_content %}
