{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Compte activé{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block top_fluid_content %}{% endblock %}
{% block editorial_content %}
<div class="text-left mt-5">
  <div class="row">
    <div class="fr-col-6">
      <h1 role="status">Bienvenue sur acceslibre !</h1>
      <p class="mt-5 mb-5">Votre compte est désormais actif.<br>Vous pouvez dès à présent vous connecter.</p>
      <p><a href="{% url "login" %}?next={{ next }}" class="btn fr-btns-group--center btn-primary fr-btn btn-block">Se connecter</a></p>
    </div>
    <div class="fr-col-5 fr-col-offset-1">
      <figure class="fr-content-media d-none d-sm-block">
          <div class="fr-content-media__img ">
              <img class="auto-height" src="{% static "img/login.jpg" %}" alt="" aria-hidden="true">
          </div>
      </figure>
    </div>
  </div>

</div>
{% endblock %}
