{% extends "editorial/base.html" %}
{% load static a4a %}
{% load i18n %}
{% block page_title %}
    {% translate "Inscription en cours de finalisation" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block top_fluid_content %}
    {% if 'contrib/publication/' in request.GET.next %}
        <div class="fr-follow fr-p-3v bg-alt-blue-france-975">
            <div class="fr-container">
                <div class="fr-follow__newsletter">
                    <div>
                        <h5 class="fr-follow__title">{% retrieve_erp request.GET.next %}</h5>
                        <p class="fr-text--md">{% translate "Publication" %}</p>
                    </div>
                    <div>
                        <a href="javascript:history.back()"
                           class="fr-btn fr-text--heavy"
                           title="{% translate "Retour à la fiche" %}">
                            <i class="icon-arrow-left"></i>&nbsp;{% translate "Retour" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock top_fluid_content %}
{% block editorial_content %}
    <h3 role="status">{% translate "C'est presque fini" %}</h3>
    <p>
        {% blocktranslate %}Un email a été envoyé à {{ email }}. Il contient un lien qui permet d'activer votre compte{% endblocktranslate %}
        {% if 'contrib/publication/' in request.GET.next %}
            {% translate "et de publier la fiche" %}
        {% endif %}
        .
    </p>
    <p>
        <a href="{% url 'home' %}" class="fr-btn">{% translate "Retour à l'accueil" %}</a>
    </p>
{% endblock editorial_content %}
