{% extends "editorial/base.html" %}

{% load static %}
{% load a4a %}

{% block editorial_content %}
{% if user.is_authenticated %}
<p class="alert alert-warning">
  Vous êtes déjà authentifié en tant que <strong>{{ user.username }}</strong>,
  vous ne pouvez donc pas créer un nouveau compte.
  Veuillez <a href="{% url "logout" %}">vous déconnecter</a>
  ou revenir à la <a href="{% url "home" %}">page d'accueil</a>.
</p>
{% else %}
<h3 class="text-center mb-4">Créer un compte utilisateur</h3>
<div class="row justify-content-md-center">
  <form action="" method="POST" class="col-md-6 col-lg-5 mb-4" id="registration">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username|addclass:"form-control" }}
      {% for error in form.username.errors %}
        <div class="form-text text-danger">{{ error }}</div>
      {% endfor %}
      <span class="form-text text-muted">{{ form.username.help_text }}</span>
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email|addclass:"form-control" }}
      {% for error in form.email.errors %}
        <div class="form-text text-danger">{{ error }}</div>
      {% endfor %}
      <span class="form-text text-muted">{{ form.email.help_text }}</span>
    </div>

    <div class="form-group">
      {{ form.password1.label_tag }}
      {{ form.password1|addclass:"form-control" }}
      {% for error in form.password1.errors %}
        <div class="form-text text-danger">{{ error }}</div>
      {% endfor %}
      <span class="form-text text-muted">{{ form.password1.help_text }}</span>
    </div>

    <div class="form-group">
      {{ form.password2.label_tag }}
      {{ form.password2|addclass:"form-control" }}
      {% for error in form.password2.errors %}
        <div class="form-text text-danger">{{ error }}</div>
      {% endfor %}
      <span class="form-text text-muted">{{ form.password2.help_text }}</span>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Créer mon compte</button>
  </form>

  <div class="col-md-6 col-lg-5">
    <div class="alert alert-info">
      <i class="icon icon-info-circled"></i>
      Créer son compte ne prend que quelques minutes et vous permet de contribuer au site.
    </div>
    <div class="card p-4">
      <h5><i class="icon icon-exclamation-circle"></i> J'ai déjà créé mon compte</h5>
      <p>Si vous avez déjà créé un compte sur la plateforme, vous pouvez vous y connecter.</p>
      <p><a href="{% url "login" %}" class="btn btn-success btn-block">Je me connecte</a></p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
