{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Inscription fermées{% endblock%}
{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
<main role="main" id="content">
  <h3 role="status">Les inscriptions sont temporairement fermées</h3>
  <p>La possibilité de créer un compte a temporairement été désactivée. Pour plus d'information,
  vous pouvez <a href="{% url "contact_topic" topic="connection" %}">nous contacter</a>.</p>
</main>
{% endblock %}
