{% load i18n %}
<p>
  {% blocktranslate with nb_territoires=stats_territoires|length %}Liste des {{ nb_territoires }} communes de 5000 habitants ou plus, classées par{% endblocktranslate %}
  {% if stats_territoires_sort == "count" %} {% translate "nombre d'établissements renseignés décroissant." %}{% else %}{% trans "taux de complétude décroissant." %}{% endif %}
  {% if stats_territoires_sort == "count" %}
    <a href="./#territoires">{% translate "Classer par taux de couverture" %}</a>
  {% else %}
    <a href="./?sort=count#territoires">{% translate "Classer par nombre d'établissements renseignés" %}</a>
  {% endif %}
  <br>
  <small class="text-muted">
    <strong>{% translate "Note&nbsp;:" %}</strong> {% translate "La donnée étant à ce jour inexistante en France, l'estimation du nombre d'établissements recevant du public se fait sur la base d'1 établissement pour 45 habitants." %}
  </small>
</p>
<div class="table-responsive-sm">
  <table class="table table-striped .table-responsive-sm">
    <thead>
      <th scope="col">{% translate "Commune" %}</th>
      <th class="text-center" scope="col" >{% translate "Taux de complétude" %}</th>
      <th class="text-center" scope="col" >{% translate "Nombre d'ERP estimé" %}</th>
      <th class="text-center" scope="col" >{% translate "Nombre d'ERP renseignés" %}</th>
    </thead>
    <tbody>
    {% for row in stats_territoires %}
      <tr>
        <td>
          <strong><a href="{% url "search_commune" commune_slug=row.slug %}">{{ row.nom }}</a></strong> ({{ row.departement }})
        </td>
        {% if row.pourcentage_completude >= 100 %}
        <td class="text-center {% if stats_territoires_sort == "completude" %}font-weight-bold{% endif %}">100.00 %</td>
        {% else %}
        <td class="text-center {% if stats_territoires_sort == "completude" %}font-weight-bold{% endif %}">{{ row.pourcentage_completude|floatformat }}%</td>
        {% endif %}
        <td class="text-center">{{ row.total_erps_commune }}</td>
        <td class="text-center {% if stats_territoires_sort == "count" %}font-weight-bold{% endif %}">{{ row.erps_commune }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
