<p>
  Liste des {{ palmares|length }} communes de 5000 habitants ou plus, classées par taux de complétude décroissant.<br>
  <small class="text-muted">
    <strong>Note&nbsp;:</strong> La donnée étant à ce jour inexistante en France, l'estimation du nombre d'établissements recevant du public se fait sur la base d'1 établissement pour 45 habitants.
  </small>
</p>
<div class="table-responsive-sm">
  <table class="table table-striped .table-responsive-sm">
    <thead>
      <th>Commune</th>
      <th class="text-center">Taux de complétude</th>
      <th class="text-center">Nombre d'ERP estimé</th>
      <th class="text-center">Nombre d'ERP renseignés</th>
    </thead>
    <tbody>
    {% for row in palmares %}
      <tr>
        <td>
          <strong><a href="{% url "search_commune" commune_slug=row.slug %}">{{ row.nom }}</a></strong> ({{ row.departement }})
        </td>
        <td class="text-center font-weight-bold">{{ row.pourcentage_completude|floatformat }}%</td>
        <td class="text-center">{{ row.total_erps_commune }}</td>
        <td class="text-center">{{ row.erps_commune }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
