{% extends "editorial/base.html" %}

{% load a4a %}

{% block editorial_content %}
  <h2>Statistiques</h2>
  <div class="card-columns">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="display-2"><strong>{{ nb_filled_erps }}</strong></h3>
        <p class="card-text">fiche{{ nb_filled_erps|pluriel }} accessibilité renseignée{{ nb_filled_erps|pluriel }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="display-3">{{ nb_published_erps }}</h3>
        <p class="card-text">ERP publié{{ nb_published_erps|pluriel }} au total</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3 class="display-3">{{ nb_contributors }}</h3>
        <p class="card-text">contributeur{{ nb_contributors|pluriel }}</p>
      </div>
    </div>
    {% for commune in communes %}
    <div class="card">
      <div class="card-body text-center">
        <h3 class="display-4">{{ commune.erp_access_count }}<small> /{{ commune.erp_count }}</small></h3>
        <p class="card-text">fiche{{ commune.erp_access_count|pluriel }} renseignée{{ commune.erp_access_count|pluriel }} pour <strong>{{ commune.nom }}</strong></p>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
