{% extends "editorial/base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block page_title %}
    {% translate "Statistiques" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <h1>{% translate "Statistiques d'Acceslibre" %}</h1>
    <div>
        <h2 class="fr-h2 fr-mb-5w">{% translate "Contribution" %}</h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
            <div class="fr-col-12 fr-col-lg-6 text-center">
                <div class="fr-card">
                    <span class="fr-h1 fr-pt-3w">{{ nb_published_erps }}</span><span class="fr-h4 fr-ml-2v">{% translate "lieux référencés" %}</span>
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-6 text-center">
                <div class="fr-card">
                    <span class="fr-h1 fr-pt-3w">{{ nb_contributors }}</span><span class="fr-h4 fr-ml-2v">{% translate "contributeurs" %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <iframe src="https://metabase.acceslibre.info/public/dashboard/0cef84d8-a977-4d6e-8060-82c596a23173#bordered=false&titled=false"
                    frameborder="0"
                    width="100%"
                    height="600"
                    allowtransparency></iframe>
        </div>
    </div>
    <div class="fr-mt-4w">
        <h2 class="fr-h2">{% translate "Consultation des données" %}</h2>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
            <div class="fr-col-12 fr-col-lg-6 text-center">
                <div class="fr-card">
                    <span class="fr-h1 fr-pt-3w">{{ nb_unique_visitors }}</span><span class="fr-h4 fr-ml-2v">{% translate "visiteurs uniques sur les 30 derniers jours" %}</span>
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-6 text-center">
                <div class="fr-card">
                    <span class="fr-h1 fr-pt-3w">{{ nb_widget_open }}</span><span class="fr-h4 fr-ml-2v">{% translate "consultations sur des sites partenaires" %}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-6 fr-pr-4w">
            <iframe width="100%"
                    height="260"
                    src="https://stats.beta.gouv.fr/index.php?forceView=1&viewDataTable=graphEvolution&module=Widgetize&action=iframe&disableLink=1&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=3&period=day&date=yesterday"
                    scrolling="yes"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    class="fr-mb-2w"></iframe>
        </div>
        <div class="fr-col-12 fr-col-lg-6 fr-pl-4w">
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-8w">
                <div class="fr-col-12 fr-col-lg-6 flex justify-content-center flex align-items-center">
                    <img class="a4a-partenaire-logo-small"
                         alt="Logo d'Allociné"
                         src="{% static 'img/partenaires/allocine.png' %}">
                </div>
                <div class="fr-col-12 fr-col-lg-6 flex justify-content-center flex align-items-center">
                    <img class="a4a-partenaire-logo-small"
                         alt="Logo de sortir a Paris"
                         src="{% static 'img/partenaires/sortir-a-paris_avatar.png' %}">
                </div>
                <div class="fr-col-12 fr-col-lg-6 flex justify-content-center flex align-items-center">
                    <img class="a4a-partenaire-logo-small"
                         alt="Logo de Nestenn"
                         src="{% static 'img/partenaires/nestenn.png' %}">
                </div>
                <div class="fr-col-12 fr-col-lg-6 flex justify-content-center flex align-items-center">
                    <img class="a4a-partenaire-logo-small"
                         alt="Logo de solocal"
                         src="{% static 'img/partenaires/solocal.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
            <h2 class="fr-h2">{% translate "Qualité des données" %}</h2>
            <iframe src="https://metabase.acceslibre.info/public/dashboard/f7251584-a95f-493f-8dac-a3575caec3b2#bordered=false&titled=false"
                    frameborder="0"
                    width="100%"
                    height="600"
                    allowtransparency></iframe>
        </div>
    </div>
{% endblock editorial_content %}
