{% extends "editorial/base.html" %}

{% block page_title %}Statistiques{% endblock%}

{% block stylesheet_extras %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" crossorigin="">
{% endblock %}

{% block javascript_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
{% endblock %}

{% block editorial_content %}
  <h2 class="my-3">Statistiques</h2>

  <div class="card-deck">
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h3 class="display-3">
          <strong>{{ north_star.percent|floatformat }}<small class="text-muted">%</small></strong>
        </h3>
        <p class="card-text mb-0">
          d'évaluations positives de fiabilité<br>
          <small class="text-muted">
            <strong>{{ north_star.positive }}</strong>
            fiche{{ north_star.positive|pluralize:"s" }}
            évaluée{{ north_star.positive|pluralize:"s" }} positivement
            sur <strong>{{ north_star.total }}</strong>
          </small>
        </p>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h3 class="display-3"><strong>{{ nb_filled_erps }}</strong></h3>
        <p class="card-text mb-0">fiche{{ nb_filled_erps|pluralize:"s" }} accessibilité renseignée{{ nb_filled_erps|pluralize:"s" }}</p>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-body text-center">
        <h3 class="display-3"><strong>{{ nb_contributors }}</strong></h3>
        <p class="card-text mb-0">contributeur{{ nb_contributors|pluralize:"s" }}</p>
      </div>
    </div>
  </div>

  <div class="card shadow-sm my-3">
    <div class="card-header">
      Évolution du nombre d'évaluations <small class="text-muted">sur les 30 derniers jours</small>
    </div>
    <div class="card-body">
      <canvas id="voteChart" width="100%" height="250"></canvas>
      <script>
      var voteChart = new Chart("voteChart", {
        type: "line",
        data: {
          labels: {{ votes_histogram.labels|safe }},
          datasets: [
            {
              label: "Ensemble des évaluations",
              data: {{ votes_histogram.totals|escapejs }},
              fill: false,
              borderColor: "#075ea2",
              lineTension: 0.1
            },
            {
              label: "Évaluations positives",
              data: {{ votes_histogram.positives|escapejs }},
              fill: false,
              borderColor: "#167d2e",
              lineTension: 0.1
            }
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      });
      </script>
    </div>
  </div>

  <div class="card-group">
    <div class="card shadow-sm my-3">
      <div class="card-header">
        Évolution du nombre de contributeurs <small class="text-muted">sur les 30 derniers jours</small>
      </div>
      <div class="card-body p-2">
        <canvas id="contributorsChart" width="100%" height="250"></canvas>
        <script>
        var contributorsChart = new Chart("contributorsChart", {
          type: "bar",
          data: {
            labels: {{ contributors_histogram.labels|safe }},
            datasets: [
              {
                label: "Nombre de contributeurs",
                data: {{ contributors_histogram.totals|escapejs }},
                backgroundColor: "#075ea2",
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        });
        </script>
      </div>
    </div>

    <div class="card shadow-sm my-3">
      <div class="card-header">
        Évolution du nombre d'établissements renseignés <small class="text-muted">sur les 30 derniers jours</small>
      </div>
      <div class="card-body p-2">
        <canvas id="erpCountChart" width="100%" height="250"></canvas>
        <script>
        var erpCountChart = new Chart("erpCountChart", {
          type: "bar",
          data: {
            labels: {{ erp_counts_histogram.labels|safe }},
            datasets: [
              {
                label: "Nombre d'établissements renseignés et publiés",
                data: {{ erp_counts_histogram.totals|escapejs }},
                backgroundColor: "#075ea2",
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        });
        </script>
      </div>
    </div>
  </div>

  <div class="card-deck mt-3">
    <div class="card shadow-sm">
      <div class="card-header">Top évaluateurs</div>
      <div class="card-body">
        <ol class="mb-0">
        {% for voter in top_voters %}
          <li>
            <strong>{{ voter.username }}</strong>
            <small class="text-muted">({{ voter.vote_count }} évaluation{{ voter.vote_count|pluralize:"s" }})</small>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-header">Top communes</div>
      <div class="card-body">
        <ol class="mb-0">
        {% for commune in communes %}
          <li>
            <strong><a href="{% url "commune" commune=commune.slug %}">{{ commune.nom }}</a></strong>
            <small class="text-muted">({{ commune.erp_access_count }} fiche{{ commune.erp_access_count|pluralize:"s" }})</small>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
    <div class="card shadow-sm">
      <div class="card-header">Top contributeurs</div>
      <div class="card-body">
        <ol class="mb-0">
        {% for contributor in top_contributors %}
          <li>
            <strong>{{ contributor.username }}</strong>
            <small class="text-muted">({{ contributor.erp_count }} fiche{{ contributor.erp_count|pluralize:"s" }})</small>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
  </div>

  <h2 class="my-3">Fréquentation</h2>

  <div id="widgetIframe">
    <iframe width="100%" height="300" style="overflow:hidden" src="https://stats.data.gouv.fr/index.php?module=Widgetize&action=iframe&forceView=1&viewDataTable=graphEvolution&disableLink=0&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=118&period=day&date=yesterday&disableLink=1&widget=1"
      scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
  </div>
{% endblock %}
