{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Objectifs{% endblock%}

{% block robots %}noindex, nofollow{% endblock %}

{% block editorial_content %}
<main role="main" id="content">
  <p><a href="{% url "stats_home" %}">&laquo; Retour aux statistiques publiques</a></p>
  <h2 class="my-3">Objectifs</h2>
  <p>
    Liste des {{ stats_objectifs|length }} communes de 5000 habitants ou plus, classées par taux de complétude décroissant.<br>
    <strong>Note&nbsp;:</strong> La donnée étant à ce jour inexistante en France, l'estimation du nombre d'ERP se fait sur la base d'1 ERP pour 45 habitants.
  </p>
  <div class="table-responsive-sm">
    <table class="table table-striped .table-responsive-sm">
      <thead>
        <th>Commune</th>
        <th class="text-center">Taux de complétude</th>
        <th class="text-center">Nombre d'ERP estimé</th>
        <th class="text-center">Nombre d'ERP renseignés</th>
      </thead>
      <tbody>
      {% for row in stats_objectifs %}
        <tr>
          <td>
            <strong><a href="{% url "search" %}?q={{ row.nom }}">{{ row.nom }}</a></strong> ({{ row.departement }})
          </td>
          <td class="text-center font-weight-bold">{{ row.pourcentage_completude|floatformat }}%</td>
          <td class="text-center">{{ row.total_erps_commune }}</td>
          <td class="text-center">{{ row.erps_commune }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock  %}
