{% extends "editorial/base.html" %}
{% load i18n %}
{% block page_title %}
    {% translate "Principaux territoires couverts" %}
{% endblock page_title %}
{% block robots %}
    noindex, nofollow
{% endblock robots %}
{% block editorial_content %}
    <p>
        <a href="{% url "stats_home" %}">« {% translate "Retour aux statistiques générales" %}</a>
    </p>
    <h1 class="my-3">{% translate "Principaux territoires couverts" %}</h1>
    {% include "stats/includes/territoires_table.html" %}
{% endblock editorial_content %}
