{% extends "editorial/base.html" %}
{% load waffle_tags %}
{% load a4a %}
{% load static %}
{% load i18n %}
{% block page_title %}
    {{ erp.nom }},
    {% if activite %}{{ activite.nom }},{% endif %}
    {{ commune.nom }} | Acceslibre
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'home' %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url 'search' %}">{% translate "Nos établissements" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{ erp.nom }}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block page_description %}
    {% blocktranslate trimmed with erp_name=erp.nom city_name=commune.nom department_name=commune.departement_nom %}
        Découvrez l'accessibilité de l'établissement {{ erp_name }} à {{ city_name }} - {{ department_name }}
    {% endblocktranslate %}
{% endblock page_description %}
{% block additional_skip_links %}
    <li>
        <a class="fr-link" href="#app-map">{% translate "Aller à la carte" %}</a>
    </li>
    <li>
        <a class="fr-link" href="#a11y">{% translate "Aller aux informations d'accessibilité" %}</a>
    </li>
{% endblock additional_skip_links %}
{% block editorial_content %}
    <main role="main" id="content" class="erp-details-container" tabindex="-1">
        <section>
            <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-arrow-left-line fr-mb-2w"
               href="{{ previous_url }}">{% translate "Retour" %}</a>
            {% include "erp/includes/header.html" %}
        </section>
        <section>
            {% if 'success' in request.GET and messages %}
                <div class="fr-container fr-container-fluid alert alert-info mb-0 shadow-sm text-center fr-mb-5v">
                    <span class="h1 mb-0">{% translate "Merci !" %}</span>
                    <img src="{% static 'img/merci.png' %}"
                         height="60"
                         class="d-none d-md-inline-block fr-mb-2v"
                         alt=""
                         aria-hidden="true" />
                    <br>
                    {% translate "La fiche est publiée. Merci pour votre contribution." %}
                    <br>
                    <a class="fr-mt-2v fr-btn" href="{% url 'contrib_start' %}">{% translate "Ajoutez un nouvel établissement" %}</a>
                </div>
            {% endif %}
            {% if access.labels %}
                {% include "erp/includes/labels.html" %}
            {% endif %}
            <h2 class="text-center fr-mb-4w fr-mb-md-6w" id="a11y">{% translate "Informations sur l’accessibilité" %}</h2>
            <div class="fr-grid-row fr-col-12 fr-col-md-10 justify-self--center">
                {% include "erp/includes/filters.html" %}
                <div id="filter-controller"
                     class="fr-col fr-accordions-group  remove-section-if-empty"
                     data-fr-group="false">
                    <section class="fr-accordion">
                        {% include "erp/includes/access_parking.html" %}
                    </section>
                    <section class="fr-accordion">
                        {% include "erp/includes/access_outside_path.html" %}
                    </section>
                    <section class="fr-accordion">
                        {% include "erp/includes/access_entrance.html" %}
                    </section>
                    <section class="fr-accordion">
                        {% include "erp/includes/access_reception.html" %}
                    </section>
                    {% if erp.is_accommodation %}
                        <section class="fr-accordion">
                            {% include "erp/includes/access_accommodation.html" %}
                        </section>
                    {% endif %}
                    {% if access.registre_url or access.conformite %}
                        <section class="fr-accordion">
                            {% include "erp/includes/access_legal.html" %}
                        </section>
                    {% endif %}
                    {% if access.commentaire %}
                        <section class="fr-accordion">
                            {% include "erp/includes/access_comment.html" %}
                        </section>
                    {% endif %}
                </div>
            </div>
        </section>
        {% include "erp/includes/ctas.html" %}
        <section class="fr-grid-row">
            <div class="fr-col-12">{% include "erp/includes/widget_block.html" %}</div>
        </section>
        <section>
            {% include "common/map.html" with map_classes="a4a-app-erp-map rounded shadow-sm" %}
        </section>
        <section>
            {% include "erp/includes/versions_block.html" %}
        </section>
    </main>
{% endblock editorial_content %}
