{% load static %}
{% load i18n %}
<style id="compiled-css" type="text/css">
  .text-center {
    text-align: center;
  }

  .modal__subtitle.fr-text--lg {
    margin-bottom: 1rem !important;
  }

  .fr-modal__content {
    margin-bottom: 1rem;
  }

  .fr-link {
    color: var(--g700);
  }

  .fr-modal__body {
    border-radius: 12px;
  }

  .modal__icon {
    color: #7F7FC8;
    text-align: center;
    font-size: 2em;
    padding: 2vh;
    width: 5rem;
  }

  .modal__subtitle {
    /* Couleurs illustratives/G - blue-dark */
    color: #484D7A !important;
  }

  .modal__item {
    border: 1px solid var(--g300);
    list-style-type: none;
    padding: 0vh;
    margin-top: -1px;
  }

  .modal__hr {
    color: var(--g400);
    margin: 0px;
  }

  .modal__footer_link {
    text-align: right;
    color: var(--g700);
  }

  .modal__footer_link a {
    box-shadow: none;
    color: inherit;
  }

  .c-dialog {
    position: fixed;
    z-index: 100000;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.75);
    transition: .2s;
  }

  .c-dialog__box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 2.4rem;
    background-color: white;
  }

  .c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

  /* EOS */

  :root:not([data-fr-theme="dark"]) .fr-btn--secondary {
    --color-hover: var(--block-color-hover);
    --color-active: var(--block-color-active);
  }

  #dialog {
    --link-underline: 0 1px 0 0 currentColor;
    --link-blank-font: normal normal normal 1rem/1 dsfr-icons;
    --link-blank-content: "\00a0";
    --ul-type: "●\00a0\00a0";
    --ol-type: decimal;
    --ul-start: 1rem;
    --ol-start: 1.5rem;
    --xl-block: 0.5rem;
    --li-bottom: 0.25rem;
    --xl-base: 1em;
    --ol-content: counters(li-counter, ".") ".\00a0\00a0";
    --bf500: #000091;
    --bf500-plain: #000091;
    --w-bf500: #fff;
    --bf300-plain: #9a9aff;
    --bf200-bf300: #ececff;
    --bf100-g750: #f5f5ff;
    --t-plain: transparent;
    --t-w: transparent;
    --g800: #1e1e1e;
    --g700: #383838;
    --g600: #6a6a6a;
    --g500: #9c9c9c;
    --g400: #cecece;
    --g300: #e7e7e7;
    --g200: #f0f0f0;
    --g100: #f8f8f8;
    --w: #fff;
    --beige: #f9f8f6;
    --g800-plain: #1e1e1e;
    --g600-g400: #6a6a6a;
    --g400-t: #cecece;
    --g100-g800: #f8f8f8;
    --w-g750: #fff;
    --focus: #2a7ffe;
    --info: #0762c8;
    --success: #008941;
    --error: #e10600;
    --rm300: #f7bfc3;
    --rm500: #e1000f;
    --scroll-shadow: rgba(30, 30, 30, 0.16);
    --overlay: rgba(156, 156, 156, 0.32);
    font-family: "Marianne", arial, sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    --block-color-hover: rgba(224, 224, 224, 0.5);
    --block-color-active: rgba(194, 194, 194, 0.5);
    color: var(--g700);
    box-sizing: inherit;
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: var(--focus);
    position: fixed;
    z-index: 999999;
    top: 0vh;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.75);
    transition: .2s;
    outline-style: none;
  }

  .fr-h4,
  .modal__subtitle {
    color: var(--g700) !important;
    font-family: "Marianne", arial, sans-serif
  }

  .modal__text {
    padding: 1.5vh;
    max-width: 65%;
  }

  .modal__text p {
    font-size: 1rem !important;
    margin-bottom: 0;
  }

  .fr-btn {
    --link-underline: none;
    --link-blank-font: none;
    --link-blank-content: none;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
  }

  .fr-btn>span {
    padding: 0.5rem;
  }

  .fr-btn--secondary {
    background-color: var(--t-plain);
    color: var(--bf500);
    box-shadow: inset 0 0 0 1px var(--bf500);
  }

  #btn_acceslibre:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  #btn_acceslibre {
    box-shadow: none;
    padding: 0;
  }

</style>

<div class="js-document" data-fr-theme="dark">
  <div id="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-desc" aria-modal="true"
    aria-hidden="true" tabindex="-1" class="c-dialog">
    <div id="1" class="fr-grid-row fr-grid-row--center" style="width:100%">
      <div class="fr-col-12 fr-col-md-5">
        <div class="fr-modal__body">
          <div class="fr-modal__header text-right">
            <button id="btn_acceslibre_close" aria-label="Fermer" data-dismiss="dialog" class="fr-link fr-link--close " title="{% translate 'Fermer la fenêtre' %}"
              aria-controls="fr-modal-1">{% translate "Fermer" %}
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 class="fr-h4 fr-col-offset-1">
              {% translate "Accessibilité" %}
            </h1>
            <h2 class="fr-col-offset-1 modal__subtitle fr-text--lg"
              style="color: #484D7A !important;font-weight: bold;">{{ erp.nom }}</h2>
            {% if accessibilite_data %}
            <ul style="padding:0px">
              {% for item, data in accessibilite_data.items %}
              <li class="modal__item fr-grid-row">
                <div class="fr-col-md-2 modal__icon">
                  <img aria-hidden="true" src="{{ data.icon }}" style="width:40px"></img>
                </div>
                <div class="fr-col-md-10 modal__text">
                  <span class="fr-text--bold">{{ item|capfirst }}</span>
                  <br><span style="color: #3A3A3A;">{{ data.label|linebreaks }}</span>
                </div>
              </li>
              {% if not forloop.last %}
              <hr class="modal__hr">
              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
            <p class="modal__footer_link">
              <a id="btn_acceslibre" href="{{ erp.get_absolute_uri }}" target="_blank" rel="noopener"
                class="fr-btn fr-btn--secondary fr-text--md">
                <span>{% translate "Voir plus sur" %} </span>
                <img src="{{ base_url }}{% static 'img/logo-acceslibre-widget.png' %}" alt="acceslibre"
                  style="height:50px;vertical-align: text-bottom;">
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "common/sentry.html" %}
