{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}ACCESMETRIE accompagne les maîtres d’ouvrage dans leurs démarches d’amélioration de la qualité
  d’usage et de mise
  en conformité de leurs patrimoines et équipements, avec pour volonté de répondre aux attentes et besoins des
  utilisateurs.{% endblocktranslate %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "Nous écrire :" %} <a href="mailto:info@accesmetrie.fr">info@accesmetrie.fr</a>
    — {% translate "Nous appeler :" %} <a href="tel:04.42.90.43.60">04.42.90.43.60</a>
</p>
