{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}ADN Tourisme est le réseau professionnel représentant les offices de tourisme et les destinations françaises. Composé de plus de 1 200 offices de tourisme à travers la France, ce réseau œuvre pour la promotion des régions françaises et soutient le développement du tourisme local. ADN Tourisme joue un rôle clé dans la mise en valeur du patrimoine culturel et naturel de la France, tout en favorisant une gestion durable du tourisme. Il accompagne également les professionnels du secteur à travers des formations, des ressources et des événements.
    Pour plus d'informations, vous pouvez consulter le site officiel de l'organisation.{% endblocktranslate %}
</p>
