{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'Agglomération de Lorient regroupe plusieurs communes autour de la ville de Lorient, dans le Morbihan. Elle œuvre pour le développement économique, la gestion des services publics et la transition énergétique. L'agglomération soutient également la culture, le tourisme et le sport tout en favorisant l'attractivité du territoire. Elle est un acteur clé dans l'aménagement du territoire et l'amélioration des infrastructures locales.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
