{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Chaque mois, 15 millions de Français se rendent sur AlloCiné pour s’informer sur toutes les nouveautés cinéma, films et séries à découvrir en salle et à la maison. Une équipe de journalistes passionnés œuvre sans relâche pour vous faire vivre la passion du cinéma et de séries. AlloCiné offre également une large palette de services pour trouver et réserver une séance, accéder aux notes et critiques de la presse et des spectateurs.{% endblocktranslate %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur AlloCiné :" %} <a href="https://www.allocine.fr">https://www.allocine.fr</a>
</p>
