{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La société André de CABO est un bureau d’études pluridisciplinaires & d’Architecture.<br>
    Notre vocation est de conseiller et d’accompagner les collectivités, les professionnels et particuliers pour
    l’établissement des dossiers administratifs et dossiers spécifiques ERP (Accessibilité pour les personnes à mobilité
    réduite, Sécurité Incendie, divers projets architecturaux, mise en conformité et solutions des traitements des
    gestions d’eaux pluviales).{% endblocktranslate %}
</p>
