{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Acteur historique de l’aide aux personnes déficientes visuelles, l’association Valentin Haüy, créée en 1889 par
    Maurice de La Sizeranne et reconnue d’utilité publique en 1891, déploie depuis plus de 130 ans un grand nombre de
    services et d’actions à travers toute la France afin de défendre les droits des déficients visuels, assurer leur
    formation et l’accès à l’emploi, promouvoir l’accès à l’écrit, proposer des activités culturelles, sportives et de
    loisirs accessibles.{% endblocktranslate %}
</p>
