{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La Confédération Française pour la Promotion Sociale des Aveugles et Amblyopes est la confédération qui regroupe une
    vingtaine des principales associations de déficients visuels qui coopèrent pour parler d’une seule voix aux pouvoirs
    publics et militer en faveur des aveugles et des mal-voyants. Elle compte en son sein plusieurs commissions ou
    groupe de travail où les représentants des associations se retrouvent pour construire un plaidoyer commun et
    travailler de concert pour l’autonomie des déficients visuels. Les sujets abordés sont variés comme l’emploi,
    l’accessibilité physique ou numérique, l’accès au livre ou encore à l’audio-visuel.{% endblocktranslate %}
</p>
