{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La Base de données touristique régionale, départementale et locale normande est la seule base de données officielle du tourisme en Normandie. Elle est mise à jour en continu par le Comité Régional du Tourisme, les Comités Départementaux de Tourisme et les Offices de Tourisme. Hébergements, activités, lieux de visite, événements, restaurants… toutes les informations pour passer un bon séjour en Normandie y sont regroupées !{% endblocktranslate %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur le CRT Normandie :" %} <a href="https://pronormandietourisme.fr/outils/la-base-de-donnees/">https://pronormandietourisme.fr/outils/la-base-de-donnees/</a>
</p>
