{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Dans le cadre de l’action engagée par l’Organisation Mondiale du Tourisme (OMT) pour promouvoir
  l’accessibilité inclusive, la France s’engage en faveur d’un tourisme accessible pour tous avec
  les Marques Nationales du Tourisme (Tourisme & Handicap et Destination pour tous) portées par
  la Direction générale des entreprises (DGE) au sein du Ministère de l’Économie, des Finances et
  de la Relance.{% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>
        {% blocktranslate %}Tourisme & Handicap (T&H)&nbsp;: la marque distingue une offre qui garantit l’accessibilité
    des équipements touristiques aux personnes en situation de handicap. Avec T&H, les personnes
    handicapées peuvent choisir leurs vacances et leurs loisirs en toute liberté, sécurité et
    autonomie.{% endblocktranslate %}
    </li>
    <li>
        {% blocktranslate %}Un peu plus de 5 200 sites touristiques sont déjà labellisés dont 52% pour les 4 familles
    de handicap (auditif, mental, moteur et visuel).{% endblocktranslate %}
    </li>
    <li>
        {% blocktranslate %}Destination pour tous (DPT), dans la continuité de T&H, distingue des territoires (commune,
    communauté de communes, département, parc naturel...) garantissant une offre cohérente et globale
    accessible, intégrant à la fois l’accessibilité des sites et des activités touristiques
    (hébergements, restauration...), mais aussi l’accessibilité des autres services de la vie
    quotidienne (commerces, services médicaux...) et celle de l’ensemble de la chaîne de déplacement
    sur le territoire concerné (voirie, transports...).{% endblocktranslate %}
    </li>
</ul>
