{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La Délégation interministérielle aux Jeux Olympiques et Paralympiques (DIJOP) est un organisme français créé pour coordonner les efforts gouvernementaux lors de l’organisation des Jeux Olympiques et Paralympiques de Paris 2024. Elle a pour mission de garantir la bonne organisation des événements, de coordonner les différents ministères et partenaires institutionnels, et de favoriser l'impact social et économique des Jeux sur le territoire français. La DIJOP s’assure également du respect des engagements en matière d’accessibilité, de développement durable, et de promotion de l’inclusion, en lien avec les objectifs des Jeux Paralympiques.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
