{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Expedia Group est un leader mondial dans le domaine du voyage en ligne. Grâce à ses plateformes telles que Expedia, Hotels.com, Vrbo, et Orbitz, le groupe facilite la réservation d'hôtels, de vols, de locations de voitures et d’activités. Il offre une expérience utilisateur fluide et diversifiée, permettant aux voyageurs de planifier, réserver et profiter de leurs séjours en toute simplicité. Engagé dans l'innovation, Expedia Group continue de jouer un rôle clé dans la transformation du secteur du tourisme, en connectant millions de voyageurs à des expériences à travers le monde.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
