{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La Fédération des Offices de Tourisme de Bretagne est une organisation qui regroupe les offices de tourisme de la région Bretagne. Elle a pour mission de promouvoir le tourisme breton en valorisant ses atouts culturels, naturels et patrimoniaux. La Fédération soutient les offices de tourisme dans leur développement, en fournissant des outils et des formations, et en facilitant la mise en réseau entre les acteurs du secteur. Elle œuvre également à la création de synergies pour améliorer l'accueil des visiteurs et promouvoir des offres touristiques diversifiées et adaptées aux besoins des voyageurs.
    Pour plus d'informations sur les activités et les services offerts, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
