{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}France Relance est un plan de relance économique lancé par le gouvernement français pour soutenir la reprise après la crise du COVID-19. Avec un budget de 100 milliards d'euros, il se concentre sur trois axes principaux : la transition écologique, la compétitivité et la cohésion sociale. Le plan finance des projets visant à moderniser l'économie, soutenir les entreprises, et créer des emplois, tout en favorisant des initiatives durables et numériques.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
