{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le Groupe Bertrand est un acteur majeur dans le secteur de la restauration en France. Il possède et exploite plusieurs enseignes emblématiques telles que Burger King, Franprix, et Bistrot du Marché. Engagé dans un modèle de développement dynamique, le Groupe Bertrand se distingue par sa capacité à diversifier ses activités tout en maintenant un haut niveau d'exigence en matière de qualité et d'expérience client.{% endblocktranslate %}
</p>
