<p class="card-text a4a-text-smaller">
  Jaccede.com existe <strong>par</strong> et <strong>pour</strong> toutes les personnes ayant des besoins spécifiques lors de leurs déplacements, à travers une démarche solidaire et collaborative, pour améliorer les conditions de vie de chacun, avec un objectif d’inclusion universelle.
</p>
<p class="card-text a4a-text-smaller">
  Les informations sur jaccede.com proviennent de chacun et de chacune d’entre nous&nbsp;: chacun peut détailler l’accessibilité des lieux accueillant du public, dans le respect de la charte d’utilisation et des valeurs de Jaccede.com.
</p>
<p class="card-text a4a-text-smaller">
  Jaccede permet aussi l’organisation d’événements toute l’année, pour rassembler les Jaccedeurs, sensibiliser le grand public et alimenter la plateforme. Des centaines de rassemblements ont déjà eu lieu en France et à l’étranger&nbsp;!
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
  Nous écrire&nbsp;: <a href="mailto:contact@jaccede.com">contact@jaccede.com</a>
  — <a href="https://jaccede.com">www.jaccede.com</a>
</p>
