{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Je Veux Aider est une plateforme solidaire qui permet aux personnes souhaitant s'engager bénévolement de trouver des missions en lien avec leurs compétences et disponibilités. L'objectif est de favoriser la solidarité et l'entraide en mettant en relation les bénévoles avec des associations et des organisations qui ont besoin de soutien. Grâce à une interface simple et accessible, Je Veux Aider facilite l'accès à l'engagement citoyen, tout en permettant de répondre aux besoins concrets des structures solidaires.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
