{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Forte de ses 4 missions de service public : Service universel postal, Transport et distribution de la presse,
  Aménagement du territoire, Accessibilité bancaire, La Poste a défini sa raison d'être.{% endblocktranslate %}
</p>
<p>
    {% blocktranslate %}Au service de tous, utile à chacun, La Poste, entreprise de proximité humaine et territoriale, développe les échanges
  et tisse des liens essentiels en contribuant aux biens communs de la société tout entière et est devenue entreprise à
  mission avec 4 engagements :{% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>{% translate "Contribuer au développement et à la cohésion des territoires" %}</li>
    <li>{% translate "Favoriser l'inclusion sociale" %}</li>
    <li>{% translate "Promouvoir un numérique éthique, inclusif et frugal" %}</li>
    <li>{% translate "Œuvrer à l'accélération de la transition écologique pour tous" %}</li>
</ul>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur La Poste :" %} <a href="https://laposte.fr">https://laposte.fr</a>
</p>
