{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le Fooding est un guide culinaire unique qui célèbre la gastronomie contemporaine et l’art de vivre à la française. Fondé en 2000, il se distingue par sa sélection de restaurants innovants, allant des bistrots modernes aux tables gastronomiques, en mettant l'accent sur des expériences culinaires créatives et accessibles. Plus qu'un simple guide, Le Fooding propose des critiques décalées et une approche conviviale, reflétant la diversité et l'évolution de la scène gastronomique. Il offre également des événements et des recommandations pour découvrir la cuisine sous toutes ses formes.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
