{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le Petit Paumé est un guide de bonnes adresses créé en 1988 à Lyon, offrant des recommandations locales dans les domaines de la restauration, du shopping, et des loisirs. Connu pour sa sélection minutieuse et sa présentation décalée, le guide se distingue par ses critiques honnêtes et son approche conviviale. Chaque année, Le Petit Paumé publie une nouvelle édition, avec des conseils pour découvrir des endroits insolites et de qualité, en mettant l'accent sur l'authenticité et la proximité. Ce guide est apprécié pour sa touche personnelle et son ton accessible, ce qui en fait un incontournable pour ceux qui veulent explorer les meilleurs spots de la région lyonnaise et au-delà.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
