{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le Petit Futé est un acteur incontournable dans le domaine du guide touristique en France. Fondé en 1976, ce groupe publie une vaste gamme de guides qui couvrent une multitude de destinations, tant en France qu'à l'international. Avec un ton accessible et des informations pratiques, Le Petit Futé se distingue par sa capacité à fournir des conseils locaux, des bons plans et des recommandations adaptées à tous types de voyageurs. Que ce soit pour la restauration, les hébergements, ou les activités locales, Le Petit Futé aide les voyageurs à découvrir de manière authentique les destinations qu'ils visitent.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
