{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'<a href="https://agence-lucie.com/">Agence LUCIE</a> est un centre de solutions pour aider les organisations à devenir des acteurs de la transition
    (entreprises, collectivités, associations…). Notre conviction est que la RSE est un réel levier de performance
    et de pérennité pour les organisations, quand elle est intégrée au cœur de la stratégie. L'Agence LUCIE fait
    la promotion d'une RSE Positive, qui a un impact positif sur les hommes et le territoire. Depuis 2007, elle
    propose des solutions pour progresser en RSE, accessibles quels que soient le niveau, la taille ou les moyens
    des organisations. Nos outils sont construits à partir des grands référentiels internationaux (ISO 26000, ODD,
    ISO 14001, etc.) :{% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>{% translate "des labels qui s'appuient sur l'ISO 26000 : LUCIE 26000 et TOUMAï," %}</li>
    <li>
        {% translate "des labels thématiques : le Label Numérique Responsable, en partenariat avec l'Institut du Numérique Responsable, le label environnemental Envol, en partenariat avec CCI France, et le Label Biodiversity Progress, en partenariat avec Bureau Veritas Certification" %}
    </li>
    <li>{% translate "un Centre de formation 100% dédié à la RSE" %}</li>
    <li>
        {% translate "des outils : LUCIE Faire, une base de plus de 2000 bonnes pratiques RSE, et AD2R, un outil de mesure du retour sur investissement de la RSE" %}
    </li>
</ul>
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}LUCIE est ainsi la première communauté engagée et responsable d'Europe avec plus de 700 organisations engagées.
    Avec LUCIE, vivez la RSE Positive !{% endblocktranslate %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% blocktranslate %}Nous écrire : <a href="mailto:contact@agence-lucie.com">contact@agence-lucie.com</a>{% endblocktranslate %}
    — {% blocktranslate %}Nous appeler : <a href="tel:01.42.65.47.87">01.42.65.47.87</a>{% endblocktranslate %}
</p>
