{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}McDonald's est une chaîne de restauration rapide mondialement connue, fondée en 1955. Elle s'engage activement en faveur de l'accessibilité, tant pour ses clients que pour ses employés. L'entreprise met en place des initiatives pour adapter ses restaurants aux personnes en situation de handicap, en améliorant l'accès aux établissements et en formant son personnel à l'accueil inclusif. McDonald's soutient également des programmes pour favoriser l'inclusion sociale et l'emploi des personnes handicapées.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
