{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Fondée en 1889, Michelin est célèbre pour ses pneumatiques, son Guide Michelin, et son engagement en faveur d'une mobilité responsable.
    Michelin s'engage en faveur de l'accessibilité en encourageant les restaurateurs à rendre leurs établissements accessibles aux personnes en situation de handicap. Le Guide Michelin intègre également des critères d'accessibilité dans ses sélections, afin de mettre en avant des restaurants inclusifs et adaptés à tous les clients. Ce soutien à l'inclusion fait partie de l'engagement plus large de Michelin pour une expérience culinaire ouverte à tous.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
