{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}
    MOBALIB souhaite rendre l'expérience du monde accessible à toutes et tous.
    Pour y arriver nous avons trois missions&nbsp;:
    {% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>
        {% blocktranslate %}<strong>translate Innover</strong> et réaliser des outils numériques accessibles et adaptés pour faciliter l'entraide et la mobilité (1ère innovation&nbsp;: {% endblocktranslate %}<a href="https://mobalink.mobalib.com/">{% translate "site" %}</a>,
        <a href="https://apps.apple.com/us/app/mobalink/id1468084764">{% translate "application IOS" %}</a>,
        <a href="https://play.google.com/store/apps/details?id=com.mobalib.mobalink">{% translate "Android" %}</a>)
    </li>
    <li>
        {% blocktranslate %}<strong>Valoriser</strong> les acteurs publics, privés et associatifs ayant un service, un lieu, un dispositif accessible (Label d'usage MobaLINK){% endblocktranslate %}
    </li>
    <li>
        {% blocktranslate %}<strong>Accompagner</strong> les acteurs publics, privés vers une démarche inclusive pour adapter leurs services, leurs dispositifs, et leurs produits.{% endblocktranslate %}
    </li>
</ul>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% blocktranslate %}Nous écrire : <a href="mailto:contact@mobalib.com">contact@mobalib.com</a>{% endblocktranslate %}
    — {% blocktranslate %}Nous appeler : <a href="tel:06.09.81.93.71">06.09.81.93.71</a>{% endblocktranslate %}
</p>
