{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le groupe d’agences immobilières Nestenn a été créé en 2017. Olivier Alonso en est le président-fondateur.
  Aujourd’hui, Nestenn est un groupe national et international disposant d’un réseau de plus de 450 agences immobilières
  ouvertes ou en cours d’ouverture en France et à l’international (Miami Etats-Unis, Nouvelle-Calédonie, Île Maurice,
  Portugal,…) et plus de 2 500 collaborateurs. Son ambition : l’ouverture de 600 agences d’ici fin 2023.{% endblocktranslate %}
</p>
<p>
    {% blocktranslate %}Nestenn est également membre de la Fédération Française de la Franchise et du Fichier AMEPI, dont Olivier ALONSO a
  assuré la vice-présidence et la présidence durant deux années consécutives.{% endblocktranslate %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur le groupe immobilier Nestenn :" %} <a href="https://nestenn.com/groupe-immobilier-nestenn">https://nestenn.com/groupe-immobilier-nestenn</a>
</p>
