{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le CRT Nouvelle-Aquitaine (Comité Régional du Tourisme) est l’organisme responsable de la promotion du tourisme dans la région Nouvelle-Aquitaine. Il met en valeur les attractions locales, du littoral atlantique aux montagnes pyrénéennes, en passant par les vignobles et les villes historiques. Le CRT soutient les initiatives touristiques, aide à la création de stratégies d'attractivité, et encourage un tourisme responsable et durable.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
