{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'Office de Tourisme Avre Luce Noye est dédié à la promotion du territoire de la Communauté de Communes Avre Luce Noye. Il propose une large gamme de services pour aider les visiteurs à organiser leur séjour : informations touristiques, billetterie, recommandations pour les loisirs, et conseils pour découvrir le patrimoine local. Que vous soyez intéressé par des visites culturelles, des activités en plein air ou des événements spéciaux, l'Office de Tourisme vous accompagne dans la découverte de cette belle région de la Somme.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
