{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'Office de Tourisme Dieppe-Normandie est l'organisme qui valorise le tourisme à Dieppe et dans ses environs. Il propose des informations pratiques sur les sites à visiter, les activités à faire et les événements locaux. Les visiteurs peuvent y trouver des conseils pour découvrir le patrimoine, les plages, et la gastronomie de la région normande.
    Elle joue également un rôle de sensibilisation et de conseil auprès des acteurs du tourisme, pour encourager la création d'un environnement inclusif.
    Pour plus d'informations, consultez leur site officiel.{% endblocktranslate %}
</p>
