{% load i18n %}
<p class="card-text a4a-text-smaller">
  {% blocktranslate %}One Compagnon est un assistant personnel du quotidien qui réalise à votre place toutes les tâches chronophages que
  vous devez gérer. Grâce à notre application, tous les services deviennent accessibles simplement !
  Qu'est-ce que je peux lui demander ?{% endblocktranslate %}
</p>
<p>
  {% translate "Il passe des appels à votre place (contacte votre médecin, un service client, un prestataire...)." %}<br>
  {% translate "Il réalise toutes vos recherches pour vous faire gagner du temps : une activité, un lieu où séjourner, des informations, un produit..." %}<br>
  {% translate "Il vous fait des suggestions personnalisées selon vos critères, vos préférences et vos habitudes de vie." %}<br>
  {% translate "Il est également là pour organiser tous vos déplacements, vérifier l'accessibilité d'un lieu, le réserver..." %}
</p>
<p class="card-text text-right a4a-text-smaller mb-0">
  {% translate "Nous écrire :" %} <a href="mailto:contact@onecompagnon.com">contact@onecompagnon.com</a>
  — <a href="https://www.onecompagnon.com">www.onecompagnon.com</a>
</p>
