{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Le Pass Culture est une initiative du gouvernement français destinée à promouvoir la culture auprès des jeunes. Il offre un crédit culturel de 300 euros aux jeunes de 18 ans, qu'ils peuvent utiliser pour accéder à des activités culturelles variées : livres, concerts, musées, théâtres, formations artistiques, et plus encore. Ce dispositif vise à rendre la culture plus accessible, en encourageant la découverte et la participation à la vie culturelle dès le plus jeune âge.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
