{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Pathé est un leader du cinéma français, actif depuis 1896 dans la production, la distribution et l'exploitation de films. L'entreprise possède un réseau de cinémas modernes à travers la France et soutient l'accès à la culture cinématographique pour tous. Elle est également impliquée dans la production de films français et internationaux, offrant une large gamme de films allant du grand public aux œuvres d'auteur.{% endblocktranslate %}
</p>
