{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}1er acteur français du marketing digital qui révèle le potentiel de toutes les entreprises en les connectant à leurs clients grâce à des services digitaux innovants (Présence relationnelle avec une gamme d’offres Connect, Site Internet et sites de e-commerces, Publicité digitale), accompagne depuis plus de 2 ans le Secteur Public dans sa transformation numérique. Plus de 1500 mairies, collectivités et administrations nous font déjà confiance. Solocal simplifie et facilite la relation citoyen à travers des solutions sur-mesure référencées à l’UGAP et au catalogue GouvTech DINUM :{% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>
        {% translate "la prise de rendez-vous en ligne afin d’optimiser les agendas et simplifier les démarches des usagers. Partenaire du Ministère de l’Intérieur et des Outre-Mer, notre solution est raccordée à la plateforme nationale « RDV Passeport » de l’Agence Nationalité des Titres Sécurisés (ANTS) afin d'accélérer la délivrance des titres d’identité," %}
    </li>
    <li>
        {% translate "la présence en ligne harmonisée des informations de contact pour les établissements publics et les points d’accueil à la population" %}
    </li>
    <li>
        {% translate "la communication permettant d’informer les citoyens et les entreprises en temps réel via Email et SMS." %}
    </li>
</ul>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur Solocal :" %} <a href="https://www.solocal.com">https://www.solocal.com</a>
</p>
