{% load i18n %}
<p class="card-text a4a-text-smaller">L'annuaire de l'administration française référence les services publics :</p>
<ul class="a4a-text-smaller">
    <li>nationaux et déconcentrés : ministères, ambassades, établissements publics…</li>
    <li>de proximité : mairies, caisse d'allocation familiales (CAF), gendarmeries, services des impôts...</li>
</ul>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "En savoir plus sur Service-Public.fr :" %} <a href="https://lannuaire.service-public.fr/">https://lannuaire.service-public.fr/</a>
</p>
