{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}TheFork est une plateforme leader dans la réservation de restaurants en ligne, offrant un accès à une large sélection d'établissements pour tous les goûts et budgets. Avec des fonctionnalités pratiques comme les avis clients et les offres exclusives, TheFork simplifie vos expériences gastronomiques tout en favorisant l'accessibilité et l'inclusion.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
