{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'Association Tourisme & Handicap est une organisation qui œuvre pour l'accès du tourisme à toutes les personnes en situation de handicap. Depuis sa création, l’association a pour mission de favoriser l'intégration des personnes handicapées dans les activités touristiques, en veillant à ce que les lieux, équipements et services touristiques soient adaptés à leurs besoins spécifiques. Grâce à des labels et des partenariats avec les professionnels du secteur, Tourisme & Handicap garantit que les destinations et les infrastructures répondent à des critères d’accessibilité pour tous.
    Elle joue également un rôle de sensibilisation et de conseil auprès des acteurs du tourisme, pour encourager la création d'un environnement inclusif.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
