{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}L'UMIH (Union des Métiers et des Industries de l'Hôtellerie) est la principale organisation professionnelle française représentant les métiers de l'hôtellerie, de la restauration, et des cafés. Fondée en 1947, elle défend les intérêts des professionnels du secteur et agit pour leur développement en matière de législation, de formation, et de conseil. L'UMIH est également impliquée dans l'organisation d'événements et la promotion de l'industrie, tout en soutenant les efforts pour améliorer les conditions de travail et l'innovation au sein de l'hôtellerie et de la restauration.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
