{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}La Ville de Paris est l'administration municipale en charge de la gestion et du développement de la capitale. Elle pilote les services publics locaux, l'aménagement urbain, la culture, et les politiques sociales, sous la direction du Maire de Paris. Son objectif est d'améliorer la qualité de vie des habitants, de promouvoir le tourisme, et de soutenir l'économie locale. Paris joue également un rôle majeur en tant que centre culturel et économique international.
    Pour plus d'informations, vous pouvez consulter leur site officiel.{% endblocktranslate %}
</p>
