{% load i18n %}
<p class="card-text a4a-text-smaller">
    {% blocktranslate %}Wegoto accompagne les collectivités dans la modélisation de leurs bases de données d'accessibilité.
    Notre accompagnement vous permettra&nbsp;:{% endblocktranslate %}
</p>
<ul class="a4a-text-smaller">
    <li>{% translate "d'être interopérable avec les modèles standardisés, CNIG (Cerema), NeTEx accessibilité (DMA)" %}</li>
    <li>{% translate "de développer des outils métiers pour les systèmes d'information géographique (SIG)," %}</li>
    <li>{% translate "de faire évoluer les calculateurs d'itinéraires et proposer des parcours accessibles," %}</li>
    <li>{% translate "d'ouvrir les données pour des plateformes collaboratives comme acceslibre." %}</li>
</ul>
<p class="card-text text-right a4a-text-smaller mb-0">
    {% translate "Contacter Wegoto :" %} <a href="mailto:contact@wegoto.eu">contact@wegoto.eu</a>
    — {% translate "Site Internet" %} : <a href="https://www.wegoto.eu">www.wegoto.eu</a>
</p>
