{% extends "editorial/base.html" %}
{% block page_title %}
    Accessibilité
{% endblock page_title %}
{% block editorial_content %}
    <div class="cgu row justify-content-center mt-5">
        <div class="col-md-9">
            <h1 class="mb-3">Accessibilité</h1>
            <p>
                <strong>Le <span class="basic-information organization-name">Ministère de l'Écologie et de la Transition Solidaire</span> s’engage à rendre son service accessible, conformément à <a class="bold"
    href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000809647">l’article 47 de la loi n° 2005-102 du 11 février 2005</a>.</strong>
            </p>
            <h2 class="my-4">Déclaration d'accessibilité</h2>
            <h3 class="my-4">État de conformité</h3>
            <p>
                <span class="basic-information website-name">Acceslibre</span> est
                <b><span class="basic-information conformance-status"
      data-printfilter="lowercase">partiellement conforme</span></b> avec le RGAA 4.0.
                <span><span class="basic-information conformance-status">Partiellement conforme</span> veut dire que <span class="basic-information conformance-meaning">certaines sections du contenu ne sont pas entièrement conformes aux standards d'accessibilité</span>.</span>
            </p>
            <h3 class="my-4">Résultats des tests</h3>
            <p>
                L’audit de conformité réalisé le 09 Juin 2022 par la société Access42 révèle que le site est conforme à 79,59% du RGAA version 4.0.
            </p>
            <table class="table table-striped table-responsive">
                <caption>
                    Tableau 1 : Échantillon de test
                </caption>
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Titre</th>
                        <th>Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>P01</td>
                        <td>Accueil</td>
                        <td>https://acceslibre.beta.gouv.fr/</td>
                    </tr>
                    <tr>
                        <td>P02</td>
                        <td>Contact</td>
                        <td>https://acceslibre.beta.gouv.fr/contact/</td>
                    </tr>
                    <tr>
                        <td>P03</td>
                        <td>Mention légales</td>
                        <td>https://acceslibre.beta.gouv.fr/conditions-generales-d-utilisation</td>
                    </tr>
                    <tr>
                        <td>P04</td>
                        <td>Accessibilité</td>
                        <td>https://acceslibre.beta.gouv.fr/accessibilite</td>
                    </tr>
                    <tr>
                        <td>P05</td>
                        <td>Partenaires</td>
                        <td>https://acceslibre.beta.gouv.fr/partenaires</td>
                    </tr>
                    <tr>
                        <td>P06</td>
                        <td>Authentification</td>
                        <td>https://acceslibre.beta.gouv.fr/compte/login/?next=/</td>
                    </tr>
                    <tr>
                        <td>P07</td>
                        <td>Création de compte</td>
                        <td>https://acceslibre.beta.gouv.fr/compte/register/?next=/</td>
                    </tr>
                    <tr>
                        <td>P08</td>
                        <td>Statistiques</td>
                        <td>https://acceslibre.beta.gouv.fr/stats/</td>
                    </tr>
                    <tr>
                        <td>P09</td>
                        <td>Résultats de recherche</td>
                        <td>https://acceslibre.beta.gouv.fr/recherche/?what=&where=Poitiers+(86)&lat=46.586616&lon=0.356849&code=86194</td>
                    </tr>
                    <tr>
                        <td>P10</td>
                        <td>Détails d'un ERP</td>
                        <td>
                            https://acceslibre.beta.gouv.fr/app/86-poitiers/a/gendarmerie/erp/gendarmerie-centre-dinformation-et-de-recrutement-de-poitiers/
                        </td>
                    </tr>
                    <tr>
                        <td>P11</td>
                        <td>Page introuvable</td>
                        <td>https://acceslibre.beta.gouv.fr/404/</td>
                    </tr>
                    <tr>
                        <td>P12</td>
                        <td>Territoires pilotes</td>
                        <td>https://acceslibre.beta.gouv.fr/communes/</td>
                    </tr>
                    <tr>
                        <td>P13</td>
                        <td>Ajout d'un établissement</td>
                        <td>https://acceslibre.beta.gouv.fr/contrib/start/</td>
                    </tr>
                    <tr>
                        <td>P14</td>
                        <td>Modification d'un établissement</td>
                        <td>https://acceslibre.beta.gouv.fr/contrib/localisation/gendarmerie-brigade-de-soultz-sous-forets/</td>
                    </tr>
                    <tr>
                        <td>P15</td>
                        <td>Signaler une malveillance sur un établissement</td>
                        <td>https://acceslibre.beta.gouv.fr/contact/signalement/patisserie-salon-de-the-meyer/</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="my-4">Contenus inaccessibles</h3>
            <h4>Non conformité</h4>
            <ul>
                <li class="elt-bigger">Absence d’aide et de contrôle des saisies dans certains formulaires ;</li>
                <li class="elt-bigger">Des champs de formulaire dont la nature de saisie n’est pas indiquée ;</li>
                <li class="elt-bigger">
                    Un rapport de contraste entre la couleur du texte et de l’arrière-plan insuffisant pour certains composants ;
                </li>
                <li class="elt-bigger">Des liens signalisés uniquement par la couleur avec un rapport de contraste insuffisant ;</li>
                <li class="elt-bigger">Des champs de formulaires qui nécessitent d’être regroupés ;</li>
            </ul>
            <h3 class="my-4">Dérogation</h3>
            <h4>Contenu tiers</h4>
            <p>
                La dérogation est un moyen d’exclure du champ d’application du référentiel des contenus particuliers. Les cas de dérogations sont très encadrés, vous en trouverez le détail dans <a title="Guide des dérogations RGAA (ouverture dans une nouvelle fenêtre)"
    href="https://github.com/DISIC/guide-derogations/blob/master/guide_derogations.pdf"
    target="_blank"
    rel="noopener noreferrer">le guide des dérogations</a>.
            </p>
            <p>Les contenus suivants n’entrent pas dans le périmètre des éléments à rendre accessible, ils sont dérogés :</p>
            <ul>
                <li class="elt-bigger">Cartes OpenStreetMap (motif : service externe) ;</li>
                <li class="elt-bigger">Autocomplétion « Autocomplete JS » (motif : service externe) ;</li>
                <li class="elt-bigger">Graphique des fréquentations dans la page « Statistiques » (motif : service externe) ;</li>
            </ul>
            <h3>Technologies utilisées pour la réalisation du site</h3>
            <ul class="technical-information technologies-used">
                <li class="elt-bigger">
                    <a title="HTML (ouverture dans une nouvelle fenêtre)"
                       href="https://developer.mozilla.org/fr/docs/Web/HTML"
                       target="_blank"
                       rel="noopener noreferrer">HTML4 et HTML5</a>
                </li>
                <li class="elt-bigger">
                    <a title="CSS (ouverture dans une nouvelle fenêtre)"
                       href="https://developer.mozilla.org/fr/docs/Glossaire/CSS"
                       target="_blank"
                       rel="noopener noreferrer">CSS</a>
                </li>
                <li class="elt-bigger">
                    <a title="JavaScript (ouverture dans une nouvelle fenêtre)"
                       href="https://developer.mozilla.org/fr/docs/Glossaire/JavaScript"
                       target="_blank"
                       rel="noopener noreferrer">JavaScript</a>
                </li>
                <li class="elt-bigger">
                    <a title="Django (ouverture dans une nouvelle fenêtre)"
                       href="https://www.djangoproject.com/"
                       target="_blank"
                       rel="noopener noreferrer">Outil de gestion de contenu : Django</a>
                </li>
            </ul>
            <h3>Agents utilisateurs et technologies d’assistance utilisées pour vérifier l’accessibilité des contenus</h3>
            <p>
                La vérification de l’accessibilité est le résultat de tests manuels, assistés par des outils (feuilles CSS dédiés, extensions HeadingsMaps et WebDeveloper Toolbar, Color Contrast Analyser).
            </p>
            <p>
                Les vérifications de restitution de contenus ont été réalisées sur la base de la combinaison fournie par la base de référence du RGAA, avec les versions suivantes :
            </p>
            <table class="table table-striped table-responsive">
                <caption>
                    Tableau 2 : Base de référence utilisée pour vérifier la compatibilité avec l'accessibilité
                </caption>
                <thead>
                    <tr>
                        <th>Technologie d'assistance</th>
                        <th>Navigateur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NVDA 2020.1</td>
                        <td>Firefox 90</td>
                    </tr>
                    <tr>
                        <td>JAWS 2019</td>
                        <td>Firefox 90</td>
                    </tr>
                    <tr>
                        <td>VoiceOver (OSX 11.4)</td>
                        <td>Safari 14.1</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="my-4">Amélioration et contact</h3>
            <p>
                Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter l'équipe en charge de la gestion du site <a href="mailto:support@acceslibre.beta.gouv.fr">(support@acceslibre.beta.gouv.fr)</a> pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
                <br>
                Nous essayons de répondre dans les <span class="feedback responsetime">cinq jours ouvrés</span>.
            </p>
            <h3 class="my-4">Voie de recours</h3>
            <p>
                Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.
            </p>
            <p>Vous pouvez&nbsp;:</p>
            <ul>
                <li class="elt-bigger">
                    Écrire un message au <a class="bold" href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a>
                </li>
                <li class="elt-bigger">
                    Contacter <a class="bold" href="https://www.defenseurdesdroits.fr/saisir/delegues">le délégué du Défenseur des droits dans votre région</a>
                </li>
                <li class="elt-bigger">
                    Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)&nbsp;:
                    <br>
                    <address>
                        Défenseur des droits
                        <br>
                        Libre réponse 71120
                        <br>
                        75342 Paris CEDEX 07
                    </address>
                </li>
            </ul>
        </div>
    </div>
{% endblock editorial_content %}
