{% extends "editorial/base.html" %}

{% block page_title %}Accessibilité{% endblock%}

{% block editorial_content %}
  <h2>Accessibilité</h2>

  <section>
    <p>Malgré tout le soin que nous avons essayé d'apporter à la mise en oeuvre des
      meilleures pratiques d'accessibilité numérique sur ce site, il se peut qu'il
      subsiste des problèmes vous empêchant de bénéficier pleinement de ses fonctionnalités.
    </p>
    <p>En pareil cas, vous pouvez <a href="{% url "contact_form" %}">nous contacter</a>
      pour nous faire part des problèmes que vous rencontrez.
    </p>
  </section>
{% endblock%}
