{% load static %}
{% if active %}
<aside class="container-fluid alert alert-warning mb-0 shadow-sm text-center">
  <div class="container">
    <img src="{% static 'img/lapin-paques.png' %}" height="60" class="d-none d-md-inline-block" alt="chocolatier accessible lapin"/>
    Pâques et sa dégustation de chocolats approchent !
    <img src="{% static 'img/oeuf-paques.png' %}" height="60" class="d-none d-md-inline-block mb-2" alt="chocolatier accessible oeuf"/>
    <br>
    Partagez vos bons plans gourmands en créant la fiche de <strong><a href="{% url "search" %}?what=chocolatier">
    votre chocolatier préféré.</a></strong>
  </div>
</aside>
{% endif %}
