{% extends "base.html" %}

{% load static %}

{% block content %}
  <header class="container-fluid p-0 m-0">
    <section class="jumbotron jumbotron-fluid p-4">
      <div class="container">
        <div>
          <p class="text-right">
            {% if user.is_authenticated %}
              <span class="d-none d-sm-inline">Connecté en tant que </span><strong>{{ user.username }}</strong> ·
              <a href="{% url "mon_compte" %}">Mon compte</a> ·
              {% if user.is_staff %}
              <a href="{% url "admin:index" %}">Admin</a> ·
              {% endif %}
              <a href="{% url "logout" %}">Déconnexion</a>
            {% else %}
              <a href="{% url "login" %}?next={{ request.path }}">Identifiez-vous</a>
              ou
              <a href="{% url "django_registration_register" %}">créez un compte</a>
            {% endif %}
          </p>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-4 a4a-logo" id="content">
              <a class="text-body text-decoration-none" href="{% url "home" %}">
                <img src="{% static "img/logo-marianne.svg" %}" alt="République Française" width="80" class="d-none d-sm-inline">
                access4all
              </a>
            </h1>
            <p class="lead">
              La plateforme collaborative pour l’accessibilité
              <small class="text-muted"><a href="https://beta.gouv.fr/startups/access4all.html">(en savoir plus)</a></small>
            </p>
          </div>
          <div class="col-4 d-none d-md-block a4a-jumbotron"></div>
        </div>
      </div>
    </section>
  </header>
  <main class="container a4a-editorial mb-4">
    {% block editorial_content %}{% endblock%}
  </main>
  <footer class="container-fluid bg-dark text-light pt-4 pb-5">
    <div class="container">
      <div class="row mt-4">
        <div class="col-sm">
          <h2><a class="text-white text-decoration-none" href="{% url "home" %}">access4all</a></h2>
          <nav>
            <div><a class="text-white" href="{% url "home" %}">Accueil</a></div>
            <div><a class="text-white" href="https://beta.gouv.fr/startups/access4all.html">À propos</a></div>
            <div><a class="text-white" href="{% url "accessibilite" %}">Accessibilité</a></div>
            <div><a class="text-white" href="{% url "donnees_personnelles" %}">Données personnelles</a></div>
            <div><a class="text-white" href="{% url "mentions_legales" %}">Mentions légales</a></div>
          </nav>
        </div>
        <div class="col-sm">
          <h2>Services</h2>
          <nav>
            <div><a class="text-white" href="{% url "apidocs" %}">API</a></div>
            <div><a class="text-white" href="{% url "stats_home" %}">Statistiques</a></div>
            <div><a class="text-white" href="https://updown.io/bosm" target="_blank">Statut du serveur</a></div>
            <div><a class="text-white" href="{% url "contact_form" %}">Contact</a></div>
            <div><a class="text-white" href="https://github.com/MTES-MCT/access4all" target="_blank">Code source</a></div>
          </nav>
        </div>
        <div class="col-sm d-inline-flex justify-content-center align-items-center">
          <a href="https://www.ecologique-solidaire.gouv.fr/fabrique-numerique" target="_blank">
            <img width="180" height="180" alt="Logo : la Fabrique Numérique" src="{% static "img/logo-fabriquenumerique.svg" %}">
          </a>
          &nbsp;
          <a href="https://www.ecologique-solidaire.gouv.fr/" target="_blank">
            <img width="80" height="180" alt="Logo : Ministère de la transition écologique et solidaire, Ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales" src="{% static "img/MTES_MCTRCT.svg" %}">
          </a>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
