{% extends "editorial/base.html" %}
{% block page_title %}
    Conditions générales d'utilisation
{% endblock page_title %}
{% block editorial_content %}
    <div class="cgu row justify-content-center mt-5">
        <div class="col-md-9">
            <h1 class="mb-3">Conditions générales d'utilisation</h1>
            <p>
                <strong>{{ SITE_NAME.title }} est un service numérique du Ministère de la transition écologique et Ministère de la cohésion des territoires et des relations avec les collectivités territoriales.</strong>
            </p>
            <hr class="my-5">
            <h2 class="h4 my-4">Présentation du service</h2>
            <p>
                {{ SITE_NAME.title }} est un service numérique du Ministère de la Transition écologique et solidaire. Ce service est destiné aux gestionnaires d’établissements recevant du public (ERP), publics ou privés, ainsi qu’aux particuliers en situation de handicap ou non. {{ SITE_NAME.title }} a pour objectif principal de permettre à l’usager en situation de handicap d’avoir accès aux informations indispensables pour savoir s’il pourra accéder à tel ou tel établissement.
            </p>
            <p>
                Le présent document a pour objet de régler les relations entre les différents intervenants sur le service. Il définit les conditions et modalités d’utilisation des services.
                Le service est développé et opéré par le Ministère de la Transition Écologique et Solidaire et le Ministère de la Cohésion des Territoires et des Relations avec les Collectivités Territoriales.
            </p>
            <p>
                L’utilisation du service est libre, facultative et gratuite.
                Toute utilisation du service est subordonnée à l’acceptation préalable et au respect intégral des présentes conditions générales d’utilisation (CGU) par l’utilisateur.
            </p>
            <h3 class="h5 my-4">Vocabulaire&nbsp;:</h3>
            <ul>
                <li>
                    <q>Nous</q> se réfère à l’éditeur du service.
                </li>
                <li>
                    <q>Vous</q> se réfère à un utilisateur du service.
                </li>
                <li>
                    <q>Le service</q> se réfère indistinctement à l’application Web et à l’interface de programmation applicative (API).
                </li>
                <li>
                    <q>ERP</q> se réfère aux Établissements Recevant du Public.
                </li>
            </ul>
            <hr class="my-5">
            <h2 class="h4 my-4">Objet</h2>
            <p>
                Le service est composé, d’une part, d’une <a class="bold" href="{% url "home" %}">application Web</a> qui vous permet de&nbsp;:
            </p>
            <ol>
                <li>Renseigner un formulaire décrivant l’accessibilité d’un ERP via l’interface dédiée aux contributeurs</li>
                <li>Consulter ces informations d’accessibilité via l’interface utilisateur</li>
            </ol>
            <p>
                D’autre part, une <a class="bold" href="{% url "apidocs" %}">interface de programmation applicative (API)</a> qui vous permet de&nbsp;:
            </p>
            <ol>
                <li>Obtenir une liste des ERP et leurs informations d’accessibilité à partir de différents critères de recherche.</li>
                <li>Contribuer de la données ERP et d’accessibilité.</li>
            </ol>
            <hr class="my-5">
            <h2 class="h4 my-4">Qualité des données publiées</h2>
            <p>
                Nous publions sur {{ SITE_NAME.title }} des données publiques à titre informatif. Seules les publications légales font foi, notamment au Journal officiel de la République française ou aux recueils des actes administratifs des préfectures.
            </p>
            <p>
                Par conséquent, les informations publiées sur {{ SITE_NAME.title }} ne sauraient engager la responsabilité de leur éditeur ou d’un quelconque service de l’État, l’utilisateur y ayant recours en ayant conscience des potentielles erreurs ou omissions qu’elles peuvent comporter.
            </p>
            <p>
                Nous nous efforçons de livrer des données de la meilleure qualité possible. Toutefois, malgré toute notre attention, elles peuvent encore comporter des erreurs ou omissions. Si vous constatez une erreur ou omission parmi ces données, nous vous invitons à nous la signaler à l’aide du <a class="bold" href="{% url "contact_topic" topic="signalement" %}">formulaire de contact</a> ou à l’adresse <a class="bold" href="mailto:support@acceslibre.beta.gouv.fr">support@acceslibre.beta.gouv.fr</a> disponible sur le site.
            </p>
            <hr class="my-5">
            <h2 class="h4 my-4">Propriété intellectuelle</h2>
            <p>
                Ce site est la propriété exclusive du ministère de la transition écologique et solidaire et ministère de la cohésion des territoires et des relations avec les collectivités territoriales. Toute reproduction ou représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de son propriétaire est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 du Code de la propriété intellectuelle.
            </p>
            <p>En particulier, les contenus suivants ne sont pas réutilisables&nbsp;:</p>
            <ol>
                <li>Le design et la conception graphique du site Internet</li>
            </ol>
            <p>
                Si vous souhaitez reproduire ou réutiliser des contenus présents sur ce site, veuillez contacter le webmestre par le biais du <a class="bold" href="{% url "contact_topic" topic="contact" %}">formulaire de contact</a> disponible sur le site ou à l’adresse <a class="bold" href="mailto:support@acceslibre.beta.gouv.fr">support@acceslibre.beta.gouv.fr</a> pour connaître les conditions de réutilisation applicables.
            </p>
            <p>
                Les marques dont est titulaire le ministère de la transition écologique et solidaire et ministère de la cohésion des territoires et des relations avec les collectivités territoriales, ainsi que ses logos figurant sur le site sont des marques régulièrement déposées auprès de l’Institut national de la propriété industrielle (INPI). Toute reproduction totale ou partielle de ces marques ou de ces logos effectuées à partir des éléments du site sans l’autorisation expresse du propriétaire de ce site est prohibée au sens des articles L. 713-2 et suivants du Code de la propriété intellectuelle. Tout contrefacteur s’expose aux sanctions prévues aux articles L. 716-1 et suivants du code de la propriété intellectuelle.
            </p>
            <p>
                Les bases de données figurant, le cas échéant, sur ce site Internet sont reproductibles, copiables, adaptables et communicables sous réserve de mentionner la paternité de celles-ci et la date de dernière mise à jour de l’information utilisée. Par exemple, sur la forme <q>Ministère de la Transition écologique et solidaire et Ministère de la cohésion des territoires et des relations avec les collectivités territoriales – Téléchargées sur acceslibre.beta.gouv.fr mise à jour du &lt;date&gt;</q>.
            </p>
            <h3 class="h5 my-4">Code source</h3>
            <p>
                Le code source de l’application Web et de l’interface de programmation applicative (API) sont libres et peuvent donc être vérifiés et améliorés par chacun dans les conditions précisées par la <a class="bold" href="https://spdx.org/licenses/MIT.html">licence MIT</a>. Ils sont disponibles sur Github à l'adresse <a class="bold" href="https://github.com/MTES-MCT/acceslibre">github.com/MTES-MCT/acceslibre</a>.
            </p>
            <h3 class="h5 my-4">Données administratives publiques relatives</h3>
            <p>
                Les informations publiques délivrées par le service le sont sous Licence Ouverte V 2.0. Vous êtes donc libres de réutiliser ces informations sous réserve de mentionner la paternité de l’information et la date de dernière mise à jour de l’information utilisée. Par exemple, sur la forme <q>Ministère de la Transition écologique et solidaire et Ministère de la cohésion des territoires et des relations avec les collectivités territoriales – Téléchargées sur acceslibre.beta.gouv.fr mise à jour du &lt;date&gt;</q>.
            </p>
            <hr class="my-5">
            <h2 class="h4 my-4">Vie privée</h2>
            <h3 class="h5 my-4">Données à caractère personnel</h3>
            <p>
                Nous nous engageons à ce que la collecte et le traitement de vos données, effectués à partir du site soient conformes au règlement général sur la protection des données du 27 avril 2016, applicable depuis le 25 mai 2018, et à la loi Informatique et Libertés dans sa dernière version modifiée du 20 juin 2018.
            </p>
            <p>
                Ces dispositions fixent des règles strictes de confidentialité et de sécurité à toute organisation, publique et privée, dans le cadre du traitement des données à caractère personnel de leurs utilisateurs, et ce afin de protéger la vie privée de ceux-ci.
            </p>
            <h3 class="h5 my-4">Responsable du traitement</h3>
            <p>Le responsable du traitement de vos données à caractère personnel est&nbsp;:</p>
            <div class="bl-highlight">
                <address>
                    Le Ministère de la Transition écologique et solidaire - Ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales
                    <br>
                    Délégation ministérielle à l’accessibilité
                    <br>
                    {{ SITE_NAME.title }}
                    <br>
                    Julia ZUCKER
                    <br>
                    Grande Arche
                    <br>
                    92055 La Défense Cedex
                </address>
            </div>
            <h3 class="h5 my-4">Traitement des données et utilisation</h3>
            <p>
                Nous ne pouvons utiliser vos données à caractère personnel qu’à des fins à la fois légitimes et  nécessaires. Cela signifie concrètement que nous traitons vos données à caractère personnel pour les finalités suivantes&nbsp;:
            </p>
            <ul>
                <li>
                    Identification et authentification des utilisateurs disposant d’un compte sur la plateforme, et uniquement sur celle-ci,
                </li>
                <li>Suivi statistiques de la fréquentation du site,</li>
                <li>Identification du contexte informatique dans lequel surviennent des erreurs applicatives.</li>
            </ul>
            <p>Les données à caractère personnel traitées sont&nbsp;:</p>
            <ul>
                <li>
                    Nom d’utilisateur (ou identifiant) et adresse email, nécessaires pour l’authentification et la communication avec l’utilisateur.
                </li>
                <li>Nom et prénom (optionnel)</li>
                <li>
                    Adresse IP (collectée automatiquement lors de la navigation et stockée temporairement dans les journaux d’accès)
                </li>
            </ul>
            <h3 class="h5 my-4">Vos droits</h3>
            <p>
                Nous nous engageons à prendre les mesures techniques et organisationnelles appropriées afin de garantir la sécurité du traitement des données à caractère personnel de chacun.
            </p>
            <p>
                En application du règlement général sur la protection des données et de la loi informatique et aux libertés, vous disposez d’un droit d’accès, de rectification, de suppression et d’opposition.
            </p>
            <ul>
                <li>
                    Par mail&nbsp;: <a class="bold" href="mailto:support@acceslibre.beta.gouv.fr">support@acceslibre.beta.gouv.fr</a>
                </li>
                <li>
                    Par voie postale&nbsp;:
                    <div class="bl-highlight">
                        Ministère de la Transition écologique et solidaire
                        <br>
                        Délégation ministérielle à l’accessibilité
                        <br>
                        {{ SITE_NAME.title }}
                        <br>
                        Grande Arche
                        <br>
                        92055 La Défense Cedex
                    </div>
                </li>
            </ul>
            <p>
                Cette demande écrite est accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
                Le délégué à la protection des données du ministère de la transition écologique et solidaire peut également être contacté à l’adresse suivante&nbsp;:
            </p>
            <div class="bl-highlight">dpd.daj.sg@developpement-durable.gouv.fr.</div>
            <p>
                Conformément au règlement général sur la protection des données, vous disposez du droit d’introduire une réclamation auprès de la <a class="bold" href="https://www.cnil.fr">CNIL</a>&nbsp;:
            </p>
            <div class="bl-highlight">
                <address>
                    CNIL
                    <br>
                    3 place de Fontenoy
                    <br>
                    TSA 80715
                    <br>
                    75334 PARIS CEDEX 07
                </address>
            </div>
            <p>
                Les modalités de réclamation sont précisées sur le site de la CNIL&nbsp;: <a class="bold" href="https://www.cnil.fr">www.cnil.fr</a>.
            </p>
            <h3 class="h5 my-4">Procédure en cas de violations de données à caractère personnel</h3>
            <p>
                En cas de destruction, de perte, d'altération, de divulgation non autorisée de données à caractère personnel transmises, conservées ou traitées d'une autre manière, ou d'accès non autorisé à de telles données, de manière accidentelle ou illicite, susceptible d'engendrer un risque élevé pour les droits et libertés de l’utilisateur, nous vous en informerons des faits et des mesures prises, dans les meilleurs délais.
            </p>
            <p>
                Nous nous assurerons également que le nécessaire soit fait quant à la notification de la violation en question à la CNIL dans les 72 heures après en avoir pris connaissance, à moins que la violation ne présente pas un risque élevé pour vos droits et libertés.
            </p>
            <h3 class="h5 my-4">Cookies</h3>
            <p>
                Nous déposons des cookies de mesure d’audience (nombre de visites, pages consultées), respectant les conditions d’exemption du consentement de l’internaute définies par la recommandation <q>Cookies</q> de la <a class="bold" href="https://www.cnil.fr/">Commission nationale informatique et libertés (CNIL)</a>. Cela signifie, notamment, que ces cookies ne servent qu’à la production de statistiques anonymes et ne permettent pas de suivre votre navigation sur d’autres sites.
            </p>
            <p>
                Nous déposons également des cookies de navigation, aux fins strictement techniques, qui ne sont pas conservés (mémorisation, pendant la durée de la session, des paramètres de filtrage et de préférence de fond cartographique). La consultation de la plateforme n’est pas affectée lorsque les utilisateurs utilisent des navigateurs désactivant les cookies.
            </p>
            <p>Les adresses IP sont collectées et conservées pour une durée de six (6) mois.</p>
            <hr class="my-5">
            <h2 class="h4 my-4">Évolution du service</h2>
            <p>
                Nous pouvons faire évoluer {{ SITE_NAME.title }} sans information préalable ou préavis. Nous ajoutons régulièrement des données, retravaillons l’interface et modifions les formulations sur la base de vos retours et des évolutions réglementaires et législatives.
            </p>
            <hr class="my-5">
            <h2 class="h4 my-4">Disponibilité du service</h2>
            <p>
                Nous pouvons suspendre l’accès à {{ SITE_NAME.title }} sans information préalable ni préavis, notamment pour des raisons de maintenance. Nous mettons l’application à jour régulièrement. L’indisponibilité ne dépasse généralement pas une dizaine de secondes.
            </p>
            <p>
                Nous mettons {{ SITE_NAME.title }} à disposition sans garantie sur sa disponibilité. Même si nous nous faisons en sorte que le service soit toujours opérationnel, cela signifie que d’éventuelles indisponibilités n’ouvriront pas droit à compensation financière.
            </p>
            <p>
                Nous nous réservons également le droit de bloquer, sans information préalable ni compensation financière, les usages mettant en péril l’utilisation du logiciel par d’autres usagers. Cela nous permet d’anticiper d’éventuelles attaques par déni de service.
            </p>
            <hr class="my-5">
            <h2 class="h4 mb-3">Hébergement du service</h2>
            <p>
                {{ SITE_NAME.title }} est hébergé en France sur l'infrastructure <a class="bold" href="https://scalingo.com/fr">Scalingo</a>.
            </p>
            <div class="bl-highlight">
                <address>
                    Scalingo SAS
                    <br>
                    15, avenue du Rhin
                    <br>
                    67100 Strasbourg
                    <br>
                    France
                    <br>
                    SIRET 80866548300018
                </address>
            </div>
            <hr class="my-5">
            <h2 class="h4 my-4">Évolution des conditions d’utilisation</h2>
            <p>
                Les termes des présentes conditions d’utilisation peuvent être modifiés ou complétés à tout moment, sans préavis, en fonction des modifications apportées au service, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Ces modifications et mises à jour s’imposent à l’utilisateur qui doit, en conséquence, se référer régulièrement à cette rubrique pour vérifier les conditions générales en vigueur.
            </p>
            <p>
                Nous rendons librement accessible <a class="bold"
    href="https://github.com/MTES-MCT/acceslibre/commits/master/templates/editorial/cgu.html">l’historique de ces conditions</a>.
            </p>
        </div>
    </div>
{% endblock editorial_content %}
