{% extends "editorial/base.html" %}

{% block page_title %}Contact{% endblock%}

{% block editorial_content %}
  <h2>Contact</h2>

  <section>
    <p>En attendant la mise en place d'un outil plus adapté, le plus simple est de nous contacter par email&nbsp;:</p>
    <ul>
      <li><a href="mailto:julia.zucker@developpement-durable.gouv.fr?Subject=access4all">Julia Zucker</a></li>
      <li><a href="mailto:sophie.tcheng@developpement-durable.gouv.fr?Subject=access4all">Sophie Tcheng</a></li>
    </ul>
  </section>

  <h3>Problèmes techniques & rapport de bug</h3>

  <section>
    <p>Le code source de l'application est open source et
      <a href="https://github.com/MTES-MCT/access4all">intégralement publié sur Github</a>,
      vous pouvez donc si vous le souhaitez remonter les problèmes techniques que vous
      rencontrez à l'utilisation du service sur
      <a href="https://github.com/MTES-MCT/access4all/issues/new">l'outil de rapport de bug dédié</a>.
    </p>
  </section>
{% endblock%}
