{% load static %}
{% load i18n %}
<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a class="d-flex align-items-center text-decoration-none"
                   href="{% url "home" %}">
                    <img src="{% static 'img/logo-acceslibre.svg' %}"
                         alt="{% translate "acceslibre, République Française" %}"
                         height="75">
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">
                    {% translate "<b>acceslibre</b> a pour objectif de recenser l'accessibilité de tous les lieux recevant du public et de partager ces informations le plus largement possible." %}
                </p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="www.ecologie.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://www.ecologie.gouv.fr">www.ecologie.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="cohesion-territoires.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://www.cohesion-territoires.gouv.fr/">cohesion-territoires.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="beta.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://beta.gouv.fr">beta.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="data.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'accessibilite' %}">{% translate "Accessibilité : partiellement conforme" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'stats_home' %}">{% translate "Statistiques" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://www.data.gouv.fr/fr/datasets/accessibilite-des-etablissements-recevant-du-public-erp-pour-les-personnes-en-situation-de-handicap/">{% translate "Jeu de données" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://schema.data.gouv.fr/MTES-MCT/acceslibre-schema/latest.html">{% translate "Schéma" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'apidocs' %}">{% translate "API" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://fabrique-numerique.gitbook.io/acceslibre-technique/">{% translate "Documentation technique" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://github.com/MTES-MCT/acceslibre">{% translate "Code source" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'mentions-legales' %}">{% translate "Mentions légales" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'contact_form' %}">{% translate "Contactez nous" %}</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>
                    {% translate "Sauf mention contraire, tous les contenus de ce site sont sous" %} <a title="licence etalab-2.0 {% translate "(ouverture dans une nouvelle fenêtre)" %}"
    href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
    target="_blank">{% translate "licence etalab-2.0" %}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
