{% load static %}
{% load i18n %}
<footer class="fr-footer" role="contentinfo" id="footer" tabindex="-1">
    <div class="fr-footer__top">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
                    <p class="fr-footer__top-cat">{% translate "Liens du site" %}</p>
                    <ul class="fr-footer__top-list">
                        <li>
                            <a href="{% url 'search' %}" class="fr-footer__top-link">{% translate "Nos établissements" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'partenaires' %}" class="fr-footer__top-link">{% translate "Partenaires" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link" href="{% url 'faq' %}">{% translate "Une question ?" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link" href="{% url "challenges" %}">{% translate "Challenges" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
                    <p class="fr-footer__top-cat">{% translate "Données ouvertes" %}</p>
                    <ul class="fr-footer__top-list">
                        <li>
                            <a class="fr-footer__top-link" href="{% url 'apidocs' %}">{% translate "API" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link"
                               href="https://schema.data.gouv.fr/MTES-MCT/acceslibre-schema/latest.html"
                               target="_blank">{% translate "Schéma" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link"
                               href="https://www.data.gouv.fr/fr/datasets/accessibilite-des-etablissements-recevant-du-public-erp-pour-les-personnes-en-situation-de-handicap/"
                               target="_blank">{% translate "Jeu de données" %}</a>
                        </li>
                    </ul>
                </div>
                <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
                    <p class="fr-footer__top-cat">{% translate "En savoir plus" %}</p>
                    <ul class="fr-footer__top-list">
                        <li>
                            <a href="{% url 'about-us' %}" class="fr-footer__top-link">{% translate "Qui sommes-nous ?" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link" href="{% url 'stats_home' %}">{% translate "Statistiques" %}</a>
                        </li>
                        <li>
                            <a class="fr-footer__top-link" href="{% url 'contact_form' %}">{% translate "Contactez-nous" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="{% url "home" %}"
                   title="{% translate "Retour à l'accueil du site - AccesLibre" %}">
                    <p class="fr-logo">
                        <span class="display--block">République</span>
                        <span class="display--block">Française</span>
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">
                    {% translate "<b>acceslibre</b> a pour objectif de recenser l'accessibilité de tous les lieux recevant du public et de partager ces informations le plus largement possible." %}
                </p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="www.ecologie.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://www.ecologie.gouv.fr">www.ecologie.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="cohesion-territoires.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://www.cohesion-territoires.gouv.fr/">cohesion-territoires.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="beta.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://beta.gouv.fr">beta.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                           title="data.gouv.fr {% translate "(ouverture dans une nouvelle fenêtre)" %}"
                           target="_blank"
                           href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__partners">
            <h1 class="fr-footer__partners-title">{% translate "Nos investisseurs" %}</h1>
            <div class="fr-footer__partners-logos">
                <div class="fr-footer__partners-sub">
                    <ul>
                        <li>
                            <a class="fr-footer__partners-link"
                               href="https://www.economie.gouv.fr/plan-de-relance"
                               aria-label="{% translate "Ouvrir une nouvelle fenêtre vers France relance" %}"
                               target="_blank">
                                <img class="fr-responsive-img"
                                     src="{% static 'img/investors/france_relance.png' %}"
                                     alt="France relance" />
                            </a>
                        </li>
                        <li>
                            <a class="fr-footer__partners-link"
                               href="https://next-generation-eu.europa.eu/index_en"
                               aria-label="{% translate "Ouvrir une nouvelle fenêtre vers Next generation european union" %}"
                               target="_blank">
                                <img class="fr-responsive-img"
                                     src="{% static 'img/investors/ue.png' %}"
                                     alt="Next Generation European Union" />
                            </a>
                        </li>
                        <li>
                            <a class="fr-footer__partners-link"
                               href="https://www.info.gouv.fr/ministere/ministere-de-lamenagement-du-territoire-et-de-la-decentralisation"
                               aria-label="{% translate "Ouvrir une nouvelle fenêtre vers le Ministère de l'Aménagement du territoire et de la Décentralisation" %}"
                               target="_blank">
                                <img class="fr-responsive-img"
                                     src="{% static 'img/investors/ministere.png' %}"
                                     alt="Ministère de l'Aménagement du territoire et de la Décentralisation" />
                            </a>
                        </li>
                        <li>
                            <a class="fr-footer__partners-link"
                               href="https://www.numerique.gouv.fr/numerique-etat/"
                               aria-label="{% translate "Ouvrir une nouvelle fenêtre vers la direction interministérielle du numérique" %}"
                               target="_blank">
                                <img class="fr-responsive-img"
                                     src="{% static 'img/investors/dinum.png' %}"
                                     alt="direction interministérielle du numérique" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'html_sitemap' %}">{% translate "Plan du site" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'accessibilite' %}">{% translate "Accessibilité : partiellement conforme" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://schema.data.gouv.fr/MTES-MCT/acceslibre-schema/latest.html"
                       target="_blank">{% translate "Schéma" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://fabrique-numerique.gitbook.io/acceslibre-technique/"
                       target="_blank">{% translate "Documentation technique" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="https://github.com/MTES-MCT/acceslibre"
                       target="_blank">{% translate "Code source" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'mentions-legales' %}">{% translate "Mentions légales" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                       href="{% url 'politique-confidentialite' %}">{% translate "Politique de confidentialité" %}</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'cgu' %}">{% translate "CGU" %}</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>
                    {% translate "Sauf mention contraire, tous les contenus de ce site sont sous" %} <a title="licence etalab-2.0 {% translate "(ouverture dans une nouvelle fenêtre)" %}"
    href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
    target="_blank">{% translate "licence etalab-2.0" %}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
