{% load i18n %}
<div class="fr-select-group{% if margin %} m-4{% endif %}">
    <form class="fr-grid-row" action="{% url 'set_language' %}" method="post">
        <label class="fr-label sr-only" for="{{ id }}">{% translate "Langue" %}</label>
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select class="fr-select fr-col" id="{{ id }}" name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ language.name_local|capfirst }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input class="fr-col" type="submit" value="Go">
    </form>
</div>
