{% load static %}

<header role="banner" class="container-fluid p-0 m-0" style="border-bottom: 1px solid #ccc">
  <div class="container py-3">
    <nav class="row" aria-label="Menu principal" role="navigation">
      <div class="col-md-5 col-lg-6 col-xl-7 my-1">
        <h1 class="h3 m-0 p-0">
          <a class="d-flex align-items-center text-decoration-none" href="{% url "home" %}">
            <img src="{% static "img/logo-acceslibre.svg" %}" alt="Accès Libre, République Française" height="75">
          </a>
        </h1>
      </div>
      <div class="col-md-7 col-lg-6 col-xl-5 my-1 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
          <span>
            <span class="d-none d-sm-inline-block">Bonjour</span>
            <strong>{{ user.username }}</strong>
          </span>
          <a class="btn btn-link mx-1" href="{% url "mon_compte" %}">
            Mon compte
          </a>
          <a class="btn btn-light" href="{% url "logout" %}">Déconnexion</a>
        {% else %}
          <div class="text-right">
            <a class="btn btn-link" href="{% url "login" %}?next={{ request.path }}">Identifiez-vous</a>
            <a class="btn btn-primary" href="{% url "django_registration_register" %}">Créez un compte</a>
          </div>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
