{% load static %}
{% load i18n %}
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>
                                Française
                            </p>
                        </div>
                        <div class="fr-header__operator">
                            <img class="fr-responsive-img"
                                 src="{% static 'img/logo-acceslibre-solo.svg' %}"
                                 alt="">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn"
                                    data-fr-opened="false"
                                    aria-controls="menu-modal-controls"
                                    aria-haspopup="menu"
                                    aria-label="{% translate "Menu de navigation" %}"
                                    id="menu-controls-label"
                                    title="{% translate "Menu" %}">{% translate "Menu" %}</button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{% url 'home' %}"
                           title="{% translate "Retourner sur la page d'accueil de Acceslibre" %}">
                            <p class="fr-header__service-title">Acceslibre</p>
                        </a>
                        <p class="fr-header__service-tagline">{% translate "La plateforme collaborative de l’accessibilité" %}</p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn fr-btn--tertiary fr-icon-add-line"
                                   href="{% url 'contrib_start' %}"
                                   target="_self">{% translate "Ajouter un établissement" %}</a>
                            </li>
                            <li>
                                {% if user.is_authenticated %}
                                    <a class="fr-btn fr-icon-user-line fr-btn--tertiary"
                                       href="{% url 'my_profile' %}?next={{ request.path }}">{% translate "Mon profil et préférences" %}
                                    </a>
                                {% else %}
                                    <a class="fr-btn fr-icon-user-line fr-btn--tertiary"
                                       href="{% url 'login' %}?next={{ request.path }}">
                                        {% translate "Se connecter" %}
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                        <nav role="navigation" class="fr-translate fr-nav">
                            <div class="fr-nav__item">{% include "editorial/language_picker.html" %}</div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal"
         id="menu-modal-controls"
         aria-labelledby="menu-controls-label">
        <div class="fr-container">
            <button class="fr-btn--close fr-btn"
                    aria-controls="menu-modal-controls"
                    aria-label="{% translate "Fermer le menu de navigation" %}">{% translate "Fermer" %}</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav"
                 role="navigation"
                 aria-label="{% translate "Menu principal" %}">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{% url 'home' %}" target="_self">
                            <span class="fr-pr-1w fr-icon-home-4-line" aria-hidden="true"></span>{% translate "Accueil" %}</a>
                    </li>
                    <li class="fr-nav__item">
                        <div class="fr-nav__item-spacer">
                            <span aria-hidden="true"></span>
                        </div>
                        <a href="{% url 'search' %}" class="fr-nav__link" target="_self">{% translate "Rechercher un lieu" %}</a>
                    </li>
                    <li class="fr-mav__item">
                        <div class="fr-nav__item-spacer">
                            <span aria-hidden="true"></span>
                        </div>
                        <a href="{% url 'about-us' %}" class="fr-nav__link" target="_self">{% translate "Qui sommes-nous ?" %}</a>
                    </li>
                    <li class="fr-mav__item">
                        <a href="{% url 'partenaires' %}" class="fr-nav__link" target="_self">{% translate "Partenaires" %}</a>
                    </li>
                    <li class="fr-mav__item">
                        <a href="{% url 'faq' %}" class="fr-nav__link" target="_self">{% translate "Une question ?" %}</a>
                    </li>
                    <li class="fr-mav__item">
                        <div class="fr-nav__item-spacer">
                            <span aria-hidden="true"></span>
                        </div>
                        <a href="{% url 'challenges' %}" class="fr-nav__link" target="_self">{% translate "Challenges" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
