{% extends "editorial/base.html" %}

{% load static %}

{% block page_title %}Nos partenaires{% endblock%}

{% block editorial_content %}
<main id="content" class="mt-5">
  <h2 class="text-center mb-5">Nos partenaires</h2>

  {% for pid, partenaire in partenaires.items %}
    <div class="card mb-3" id="{{ pid }}">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex align-items-center">
        <a href="{{ partenaire.url }}">
          <img src="{% static partenaire.logo %}" class="card-img"
            alt="{{ partenaire.short_description }}">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ partenaire.url }}">{{ partenaire.name }}</a></h5>
          {% include partenaire.template %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <p><a href="{% url "home" %}">&laquo; Retour à l'accueil</a></p>
</main>
{% endblock %}
