{% extends "editorial/base.html" %}
{% load i18n %}
{% block page_title %}
    Politique de confidentialité
{% endblock page_title %}
{% block breadcrumb %}
    <div class="fr-container">
        <nav role="navigation"
             class="fr-breadcrumb fr-mt-3w fr-mt-md-2w"
             aria-label="{% translate "Vous êtes ici :" %}">
            <button class="fr-breadcrumb__button"
                    aria-expanded="false"
                    aria-controls="breadcrumb-navigation">{% translate "Voir le fil d'Ariane" %}</button>
            <div class="fr-collapse" id="breadcrumb-navigation">
                <ol class="fr-breadcrumb__list">
                    <li>
                        <a class="fr-breadcrumb__link" href="{% url "home" %}">{% translate "Accueil" %}</a>
                    </li>
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{% translate "Politique de confidentialité" %}</a>
                    </li>
                </ol>
            </div>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block editorial_content %}
    <div>
        <h1 class="fr-mb-3v">Politique de confidentialité</h1>
        <h2 class="h4 fr-my-4v">Quelles sont les finalités d’Acceslibre ?</h2>
        <p>
            Acceslibre est un service numérique mis en œuvre sous la responsabilité du Ministère de la Transition écologique...
        </p>
        <h2 class="h4 fr-my-4v">Pourquoi traitons-nous des données à caractère personnel ?</h2>
        <p>Basé sur le collaboratif, Acceslibre permet à tout un chacun de collecter les informations d’accessibilité...</p>
        <h2 class="h4 fr-my-4v">Quelles sont les données à caractère personnel que nous traitons ?</h2>
        <ul class="fr-pl-4w fr-mb-4w">
            <li>Nom d’utilisateur (ou identifiant) et adresse email</li>
            <li>Nom et prénom (optionnel)</li>
            <li>Adresse IP</li>
        </ul>
        <h2 class="h4 fr-my-4v">Pendant combien de temps conservons-nous vos données ?</h2>
        <p>Les adresses IP sont conservées pour une durée de six (6) mois...</p>
        <h2 class="h4 fr-my-4v">Quels sont vos droits ?</h2>
        <ul class="fr-pl-4w fr-mb-4w">
            <li>Droit d’information et droit d’accès aux données</li>
            <li>Droit de rectification</li>
            <li>Droit d’opposition</li>
            <li>Droit à la limitation du traitement</li>
        </ul>
        <p>
            Vous pouvez exercer ces droits auprès du responsable de traitement par email : <a href="mailto:contact@acceslibre.beta.gouv.fr">contact@acceslibre.beta.gouv.fr</a>
        </p>
        <h2 class="h4 fr-my-4v">Qui va avoir accès à vos données ?</h2>
        <p>
            Le responsable de traitement s‘engage à ce que les données soient traitées par les seules personnes autorisées...
        </p>
        <h2 class="h4 fr-my-4v">Qui nous aide à traiter vos données ?</h2>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Partenaire</th>
                    <th>Pays</th>
                    <th>Traitement réalisé</th>
                    <th>Garanties</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Scalingo</td>
                    <td>France</td>
                    <td>Hébergeur</td>
                    <td>
                        <a target="_blank"
                           aria-label="Ouvrir une nouvelle fenêtre vers la page données personnelles de Scalingo"
                           href="https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles">https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles</a>
                    </td>
                </tr>
                <tr>
                    <td>Crisp</td>
                    <td>France</td>
                    <td>Messagerie et chatbot</td>
                    <td>
                        <a target="_blank"
                           aria-label="Ouvrir une nouvelle fenêtre vers la page RGPD (en anglais) de Crisp"
                           href="https://help.crisp.chat/en/article/how-to-sign-my-gdpr-data-processing-agreement-dpa-1wfmngo">https://help.crisp.chat/en/article/how-to-sign-my-gdpr-data-processing-agreement-dpa-1wfmngo</a>
                    </td>
                </tr>
                <tr>
                    <td>Pipedrive</td>
                    <td>Multinationale</td>
                    <td>Envoi automatique de mails</td>
                    <td>
                        <a target="_blank"
                           aria-label="Ouvrir une nouvelle fenêtre vers la page Terms of Service (en anglais) de Pipedrive"
                           href="https://www.pipedrive.com/en/terms-of-service">https://www.pipedrive.com/en/terms-of-service</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="h4 fr-my-4v">Cookies et traceurs</h2>
        <p>Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site...</p>
        <p>Nous utilisons l’outil de mesure d’audience Matomo, configuré en mode “exempté”.</p>
    </div>
{% endblock editorial_content %}
